<div class="print" ng-if="isPrint">
    <div ng-repeat="productChunk in chunkedProducts track by $index"
         ng-class="{'print-page item_table_print no-page-break': $index === 0, 'print-page item_table_print': $index !== 0}">
        <div class="print-header print-only">
            <div class="info"
                 style="margin-top: 0px; margin-bottom: 0px; font-weight: 700; text-align:center;">
                <p>{{COMPANY_NAME}}</p>
                <p>{{COMPANY_ADDRESS}}</p>
            </div>

            <div class="right-side" style="float:left; width:50%;">
                <table class="print_table consignee" style="margin-bottom:10px;">
                    <tbody>
                        <tr>
                            <td style="text-align:left;">PAN No</td>
                            <td style="text-align:left;">: {{PAN_NO}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:left; word-wrap:break-word;">Party Name</td>
                            <td style="text-align: left; word-wrap: break-word; white-space: normal;">: {{PARTY_NAME}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:left;">Address</td>
                            <td style="text-align:left;">: {{ADDRESS}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:left;">Contact No</td>
                            <td style="text-align:left;">: {{CONTACT_NO}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:left;">Email</td>
                            <td style="text-align:left;">: {{EMAIL}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:left;">Delivery Date</td>
                            <td style="text-align:left;">: {{DELIVERY_DATE}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="left-side" style="float:right; width:48%;">
                <table class="print_table meta">
                    <tbody>
                        <tr>
                            <td style="width:35%;text-align:right;">Quotation No:</td>
                            <td style="width:20%;text-align:left;">{{QUOTATION_NO}}</td>
                        </tr>
                        <tr>
                            <td style="width:35%;text-align:right;">To be Delivered Date:</td>
                            <td style="width:20%;text-align:left;">{{VALID_DATE}}</td>
                        </tr>
                        <tr>
                            <td style="width:35%;text-align:right;">Created date:</td>
                            <td style="width:20%;text-align:left;">{{ISSUE_DATE}}</td>
                        </tr>
                        <tr>
                            <td style="width:35%;text-align:right;">Currency:</td>
                            <td style="width:20%;text-align:left;">{{CURRENCY}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <table class="table print_table fnce print_item_table">
            <thead>
                <tr>
                    <th style="width:48.5%;">Description of Items</th>
                    <th style="width:5%;">Specification</th>
                    <th style="width:7%;">Per</th>
                    <th style="width:10%;">Quantity</th>
                    <th style="width:10%;">Rate</th>
                    <th style="width:15%;">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in productChunk" class="ng-scope items_table">
                    <td>{{product.ItemDescription}}</td>
                    <td>{{product.SPECIFICATION}}</td>
                    <td style="text-align:center;">{{product.UNIT}}</td>
                    <td style="text-align:center;">{{product.QUANTITY}}</td>
                    <td style="text-align:center;">{{product.RATE}}</td>
                    <td style="text-align:center;">{{product.AMOUNT}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="print-page no-break" style="display: flex; flex-direction: column;">
        <div style="margin-top: 20px; width: 100%; max-width: 400px; font-size: 10px; align-self: end;">
            <div style="display: flex; justify-content: space-between; padding: 4px 0;">
                <strong>Total:</strong><span>{{TOTAL_AMOUNT}}</span>
            </div>
            <div style="display: flex; justify-content: space-between; padding: 4px 0;">
                <strong>Discount:</strong><span>{{TOTAL_DISCOUNT}}</span>
            </div>
            <div style="display: flex; justify-content: space-between; padding: 4px 0;">
                <strong>Excise:</strong><span>{{TOTAL_EXCISE}}</span>
            </div>
            <div style="display: flex; justify-content: space-between; padding: 4px 0;">
                <strong>
                    Taxable
                    Amount:
                </strong><span>{{TOTAL_TAXABLE_AMOUNT}}</span>
            </div>
            <div style="display: flex; justify-content: space-between; padding: 4px 0;">
                <strong>
                    VAT
                    (13%):
                </strong><span>{{TOTAL_VAT}}</span>
            </div>
            <div style="display: flex; justify-content: space-between; padding: 6px 0; border-top: 1px solid #ccc; margin-top: 10px;">
                <strong>Grand Total:</strong><span>{{TOTAL_NET_AMOUNT}}</span>
            </div>
        </div>

        <p style="font-weight:700; text-align:left; margin-top: 20px;" class="ng-binding">
            Grand Total (In Words): Rs.
            {{amountinword}} Only.
        </p>

        <div class="footer-space" style="text-align:right; margin-top: 20px;display: flex;gap:2rem;justify-content: space-between;">
            <div class="signature">
                <p style="text-align: center; font-weight: 900; word-wrap:break-word;">Digital Signature</p>
            </div>
            <div class="signature" style="text-align: left; display: flex; gap: 2em; flex-wrap: wrap;">
                <p class="ng-binding" ng-if="CREATED_BY != null" style="display: flex;flex-direction: column-reverse;"><span>Created By</span><span>{{CREATED_BY}}</span></p>
                <p class="ng-binding" ng-if="CHECKED_BY != null" style="display: flex;flex-direction: column-reverse;"><span>Checked By</span><span>{{CHECKED_BY}}</span></p>
                <p class="ng-binding" ng-if="VERIFIED_BY != null" style="display: flex;flex-direction: column-reverse;"><span>Verified By</span><span>{{VERIFIED_BY}}</span></p>
                <p class="ng-binding" ng-if="RECOMMEND_BY != null" style="display: flex;flex-direction: column-reverse;"><span>Recommended By</span><span>{{RECOMMEND_BY}}</span></p>
                <p class="ng-binding" ng-if="APPROVED_BY != null" style="display: flex;flex-direction: column-reverse;"><span>Approved By</span><span>{{APPROVED_BY}}</span></p>
                <p class="ng-binding" ng-if="POSTED_BY != null" style="display: flex;flex-direction: column-reverse;"><span>Posted By</span><span>{{POSTED_BY}}</span></p>
            </div>
        </div>
    </div>
</div>
<div ng-if="!isPrint">
    <div class="print-header print-only">
        <div class="info"
             style="margin-top: 5px; margin-bottom: 20px; font-weight: 700; text-align:center;">
            <p>{{COMPANY_NAME}}</p>
            <p>{{COMPANY_ADDRESS}}</p>
        </div>

        <div class="right-side" style="float:left; width:49%;">
            <table class="print_table consignee" style="margin-bottom:10px;">
                <tbody>
                    <tr>
                        <td style="text-align:left;">PAN No</td>
                        <td style="text-align:left;">: {{PAN_NO}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Party Name</td>
                        <td style="text-align: left; word-wrap: break-word; white-space: normal;">: {{PARTY_NAME}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Address</td>
                        <td style="text-align:left;">: {{ADDRESS}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Contact No</td>
                        <td style="text-align:left;">: {{CONTACT_NO}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Email</td>
                        <td style="text-align:left;">: {{EMAIL}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Delivery Date</td>
                        <td style="text-align:left;">: {{DELIVERY_DATE}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="left-side" style="float:right; width:48%;">
            <table class="print_table meta">
                <tbody>
                    <tr>
                        <td style="width:35%;text-align:right;">Tender No:</td>
                        <td style="width:20%;text-align:left;">{{QUOTATION_NO}}</td>
                    </tr>
                    <tr>
                        <td style="width:35%;text-align:right;">To be Delivered Date:</td>
                        <td style="width:20%;text-align:left;">{{VALID_DATE}}</td>
                    </tr>
                    <tr>
                        <td style="width:35%;text-align:right;">Created date:</td>
                        <td style="width:20%;text-align:left;">{{ISSUE_DATE}}</td>
                    </tr>
                    <tr>
                        <td style="width:35%;text-align:right;">Currency:</td>
                        <td style="width:20%;text-align:left;">{{CURRENCY}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <table class="table print_table fnce print_item_table">
        <thead>
            <tr>
                <th style="width:48.5%;">Description of Items</th>
                <th style="width:5%;">Specification</th>
                <th style="width:7%;">Per</th>
                <th style="width:10%;">Quantity</th>
                <th style="width:10%;">Rate</th>
                <th style="width:15%;">Amount</th>
            </tr>
        </thead>
        <tbody ng-repeat="productChunk in chunkedProducts track by $index">
            <tr ng-repeat="product in productChunk" class="ng-scope items_table">
                <td>{{product.ItemDescription}}</td>
                <td>{{product.SPECIFICATION}}</td>
                <td style="text-align:center;">{{product.UNIT}}</td>
                <td style="text-align:center;">{{product.QUANTITY}}</td>
                <td style="text-align:center;">{{product.RATE}}</td>
                <td style="text-align:center;">{{product.AMOUNT}}</td>
            </tr>
        </tbody>
    </table>
    <div class="print-page no-break" style="display: flex; flex-direction: column;">
        <div style="margin-top: 20px; width: 100%; max-width: 400px; font-size: 10px; align-self: end;">
            <div style="display: flex; justify-content: space-between; padding: 4px 0;">
                <strong>Total:</strong><span>{{TOTAL_AMOUNT}}</span>
            </div>
            <div style="display: flex; justify-content: space-between; padding: 4px 0;">
                <strong>Discount:</strong><span>{{TOTAL_DISCOUNT}}</span>
            </div>
            <div style="display: flex; justify-content: space-between; padding: 4px 0;">
                <strong>Excise:</strong><span>{{TOTAL_EXCISE}}</span>
            </div>
            <div style="display: flex; justify-content: space-between; padding: 4px 0;">
                <strong>
                    Taxable
                    Amount:
                </strong><span>{{TOTAL_TAXABLE_AMOUNT}}</span>
            </div>
            <div style="display: flex; justify-content: space-between; padding: 4px 0;">
                <strong>
                    VAT
                    (13%):
                </strong><span>{{TOTAL_VAT}}</span>
            </div>
            <div style="display: flex; justify-content: space-between; padding: 6px 0; border-top: 1px solid #ccc; margin-top: 10px;">
                <strong>Grand Total:</strong><span>{{TOTAL_NET_AMOUNT}}</span>
            </div>
        </div>

        <p style="font-weight:700; text-align:left; margin-top: 20px;" class="ng-binding">
            Grand Total (In Words): Rs.
            {{amountinword}} Only.
        </p>

        <div class="footer-space" style="text-align:right; margin-top: 20px;display: flex;gap:2rem;justify-content: space-between;">
            <div class="signature">
                <p style="text-align: center; font-weight: 900; word-wrap:break-word;">Digital Signature</p>
            </div>
            <div class="signature" style="text-align: left;display: flex;gap: 2em; flex-wrap: wrap;">
                <p class="ng-binding" ng-hide="CREATED_BY == null" style="display: flex;flex-direction: column-reverse;"><span>Created By</span><span>{{CREATED_BY}}</span></p>
                <p class="ng-binding" ng-hide="CHECKED_BY == null" style="display: flex;flex-direction: column-reverse;"><span>Checked By</span><span>{{CHECKED_BY}}</span></p>
                <p class="ng-binding" ng-hide="VERIFIED_BY == null" style="display: flex;flex-direction: column-reverse;"><span>Verified By</span><span>{{VERIFIED_BY}}</span></p>
                <p class="ng-binding" ng-hide="RECOMMEND_BY == null" style="display: flex;flex-direction: column-reverse;"><span>Recommended By</span><span>{{RECOMMEND_BY}}</span></p>
                <p class="ng-binding" ng-hide="APPROVED_BY == null" style="display: flex;flex-direction: column-reverse;"><span>Approved By</span><span>{{APPROVED_BY}}</span></p>
                <p class="ng-binding" ng-hide="POSTED_BY == null" style="display: flex;flex-direction: column-reverse;"><span>Posted By</span><span>{{POSTED_BY}}</span></p>
            </div>
        </div>
    </div>
</div>