@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
    Layout = null;
    var workingContent = EngineContext.Current.Resolve<IWorkContext>();
    var myAreaName = string.Empty;
    object areaObj;
    if (ViewContext.RouteData.Values.TryGetValue("area", out areaObj))
    {
        myAreaName = areaObj.ToString();
    }
}
<style>
    .form_tree {
        margin-top: 30px;
    }

        .form_tree .k-group.k-treeview-lines, .form_tree #formTreeView {
            max-height: 1500px !important;
            height: auto !important;
            overflow-x: hidden;
        }

    .page-sidebar.navbar-collapse {
        margin-top: 2px;
    }

    .page-sidebar .form_tree .k-treeview-lines li span {
        font-size: 12px !important;
    }


    .container-2 {
        width: 300px;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
    }

        .container-2 input.Tree_search {
            width: 17px;
            height: 24px;
            border: none;
            font-size: 12px;
            float: left;
            color: #262626;
            padding-left: 26px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            color: #fff;
            border: solid #ddd 1px;
            margin-left: 10px;
            color: #2e2e2e;
            -webkit-transition: width .55s ease;
            -moz-transition: width .55s ease;
            -ms-transition: width .55s ease;
            -o-transition: width .55s ease;
            transition: width .55s ease;
        }

            .container-2 input.Tree_search::-webkit-input-placeholder {
                color: #65737e;
            }

            .container-2 input.Tree_search:-moz-placeholder { /* Firefox 18- */
                color: #65737e;
            }

            .container-2 input.Tree_search::-moz-placeholder { /* Firefox 19+ */
                color: #65737e;
            }

            .container-2 input.Tree_search:-ms-input-placeholder {
                color: #65737e;
            }

        .container-2 .icon {
            position: absolute;
            top: 50%;
            margin-left: 18px;
            margin-top: 7px;
            z-index: 1;
            color: #999;
        }

        .container-2 input.Tree_search:focus, .container-2 input.Tree_search:active {
            outline: none;
            width: 300px;
        }

        .container-2:hover input.Tree_search {
            width: 222px;
        }

        .container-2:hover .icon {
            color: #93a2ad;
        }

    #formContextMenu {
        font-size: 11px !important;
    }
</style>

<input type="hidden" value="normal" class="menudraf" />
<div>
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu page-sidebar-menu-light" data-keep-expanded="true" data-auto-scroll="true" data-slide-speed="200">
            <li class="sidebar-search-wrapper">
                <form class="sidebar-search" action="" method="POST">
                    <a href="javascript:;" class="remove">
                        <i class="icon-close"></i>
                    </a>
                    <div class="input-group search-input">
                        <a href="#search">
                            <input type="text" class="form-control swith" placeholder="Search..." ng-model="searchText1">
                            <span class="input-group-btn search-icon">
                                <i class="icon-magnifier"></i>
                            </span>
                        </a>
                    </div>
                </form>
            </li>
            <li class="nav-item">
                <a href="/QuotationManagement/Home/Index#!QM/TenderNoSetup" class="nav-link nav-toggle">
                    <i class="fa fa-building" aria-hidden="true"></i>
                    <span class="title ng-binding">Quotation Number Setup</span>
                </a>
            </li>
            <li class="start ng-scope">
                <a href="/QuotationManagement/Home/Index#!QM/QuotationSetup" class="nav-link nav-toggle ng-scope">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <span class="title ng-binding">Quotation Setup</span>
                </a>
            </li>
            @*<li class="start ng-scope" >
                    <a href="/QuotationManagement/Home/Index#!QM/QuotationDetail" class="nav-link nav-toggle ng-scope">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        <span class="title ng-binding">Quotation Detail</span>
                    </a>
                </li>*@
            <li class="start ng-scope">
                <a href="/QuotationManagement/Home/Index#!QM/QuotationApproval" class="nav-link nav-toggle ng-scope">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span class="title ng-binding">Quotation Approval</span>
                </a>
            </li>
            <li class="start ng-scope">
                <a href="/QuotationManagement/Home/Index#!QM/SummaryReport" class="nav-link nav-toggle ng-scope">
                    <i class="fa fa-registered" aria-hidden="true"></i>
                    <span class="title ng-binding">Summary Report</span>
                </a>
            </li>
            <li id="userValueAssign" class="start ng-scope" style="display: none;">
                <a href="/QuotationManagement/Home/Index#!QM/ValueAssign" class="nav-link nav-toggle ng-scope">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span class="title ng-binding">User Value Assign</span>
                </a>
            </li>
            <li id="userAccess" class="start ng-scope" style="display: none;">
                <a href="/QuotationManagement/Home/Index#!QM/UserPermission" class="nav-link nav-toggle ng-scope">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span class="title ng-binding">User Access</span>
                </a>
            </li>
            <li id="quotationLogs" class="start ng-scope" style="display: none;">
                <a href="/QuotationManagement/Home/Index#!QM/QuotationLogs" class="nav-link nav-toggle ng-scope">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span class="title ng-binding">Quotation Logs</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    fetch("/api/QuotationApi/getUserType")
        .then(response => response.json())
        .then(data => {
            if (data && data.toUpperCase() == "ADMIN") {
                document.getElementById("userValueAssign").style.display = "block";
                document.getElementById("userAccess").style.display = "block";
                document.getElementById("quotationLogs").style.display = "block";
            }
        })
        .catch(error => {
            console.error("Error fetching user type:", error);
        });
});
</script>

