@model bool
<style>
    .selectbox {
        cursor: pointer;
        color: #337ab7;
    }

    div#ndp-nepali-box {
        z-index: 10076 !important;
    }

    .ui-datepicker {
        z-index: 10076 !important;
    }


    .input-medium {
        width: 100% !important;
    }

    .form-horizontal .control-label {
        padding-top: 0px !important;
        margin-bottom: 5px;
        text-align: right;
    }

    .gapline {
        margin-bottom: 10px;
    }
</style>
@*<link href="~/Areas/NeoErp.Planning/Content/nepali.datepicker.v2.1.min.css" rel="stylesheet" />*@
@*@if (NeoErp.Core.Integration._Settings._S.setting.PrimaryDateType == HRM.Enums.PrimaryDateType.EnglishDate)*@
@{
    {
        
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">Date Filter</label>
                    <select class="form-control" id="ddlDateFilterVoucher" name="dateFilter" ng-model="dateFilter"
                            ng-options="option.value as option.label for option in dateFilterOptions"
                            ng-change="setDateFilter(dateFilter === 'custom')" style="width: 100%;">
                    </select>
                </div>

            </div>
            <!--<div class="form-group">
                <div class="col-md-12">

                    <label class="control-label">Date Filter--> @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Date Filter"></i>*@
                    <!--&nbsp;&nbsp;</label>
                            <select class="dateFilterSelect form-control" id="ddlDateFilterVoucher" name="DateStep" ngSelected="onDateChange()"></select>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <div class="col-md-12">

                            <label class="control-label">BS Date Range @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="BS Date Range"></i>*@</label>
                            <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                <input type="text" id="fromInputDateVoucher" ng-click="dateFilter='custom'" ng-model="startdate" name="startdate" class="frmDataInput form-control" placeholder="From Date" autocomplete="off" />
                                <span class="input-group-addon"> to </span>
                                <input type="text" class="frmDataInput form-control" ng-click="dateFilter='custom'" ng-model="enddate" id="toInputDateVoucher" placeholder="To Date" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">

                            <label class="control-label">AD Date Range @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="AD Date Range"></i>*@</label>
                            <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                <input type="text" name="FromDateVoucher" id="FromDateVoucher" ng-model="FROM_DATE" class="form-control frmDataInput" readonly="readonly" placeholder="From Date" />
                                <span class="input-group-addon"> to </span>
                                <input type="text" name="ToDateVoucher" class="form-control frmDataInput" ng-model="TO_DATE" readonly="readonly" id="ToDateVoucher" placeholder="To Date">
                            </div>

                        </div>
                    </div>
                }
}




<script>
    $('#myModal').on('show.bs.modal', function () {
        $(this).find('.modal-body').css({
            'max-height': '100%'
        });
    });
</script>
