@using NeoErp.Core.Models;
@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
    var workingContent = EngineContext.Current.Resolve<IWorkContext>();
    ViewBag.Title = "Scheme User Setup";
    Layout = null;
}
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Areas/NeoErp.Distribution/js/Controller/scheme/Schemectrl.js"></script>



<div ng-controller="Schemectrl" ng-app="distributionModule" class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
        </ul>
    </div>
    <div id="grid"></div>
    <div>
        <div class="row collapse in" id="demo">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row kendo_table">
                            <div id="grid"></div>
                            @Html.Partial("~/Views/Shared/Controls/_GridToolbar.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="@Scripts.Url("~/Areas/NeoErp.Distribution/js/MenuNavigation.js?V2")"></script>
</div>



@*<style>
        div.k-grid-header th.k-header, tr.k-filter-row > th {
            text-align: center;
        }

        .k-grid tbody tr {
            cursor: move;
        }


        .k-grid table {
            table-layout: fixed;
        }

        .no-data {
            background-color: red;
        }

        .k-grid td {
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .k-grid-content {
            font-size: 10px;
        }

        .k-grid-footer {
            font-size: 10px;
        }

        .floatright {
            float: right;
            margin-top: 2px !important;
        }

        a.k-button.k-button-icontext.k-grid-excel {
            float: right;
        }

        .distributor-map-fullscreen {
            display: none;
            background-color: #fff;
            text-align: center;
            height: 35px;
            width: 24px;
            cursor: pointer;
            background: url() -52px -86px no-repeat;
            background-image: url('../../Content/map/asset/img/sv5.png');
            margin-top: 12px;
            margin-left: 20px;
        }

        #map-canvas {
            height: 100%;
            width: 100%;
            background: #fff;
        }

        #distributor-map-panel {
            width: 100%;
            height: 430px;
            margin: 0 auto;
            /*border: solid #e1e1e1 1px;*/
            padding: 10px;
        }

        .number {
            text-align: right;
        }

        .text {
            text-align: left;
        }

        .date {
            text-align: center;
        }

        .custom-combobox {
            position: relative;
            display: inline-block;
        }

        .custom-combobox-toggle {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;
        }

        .custom-combobox-input {
            margin: 0;
            padding: 5px 10px;
            width: 200px;
        }

        #DistAdd {
            display: none;
        }

        .controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        #mapSearchBox {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 300px;
        }

            #mapSearchBox:focus {
                border-color: #4d90fe;
            }


        .material-switch > input[type="checkbox"] {
            display: none;
        }

        .material-switch > label {
            cursor: pointer;
            height: 0px;
            position: relative;
            width: 40px;
        }

            .material-switch > label::before {
                background: rgb(0, 0, 0);
                box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
                border-radius: 8px;
                content: '';
                height: 16px;
                margin-top: -8px;
                position: absolute;
                opacity: 0.3;
                transition: all 0.4s ease-in-out;
                width: 40px;
            }

            .material-switch > label::after {
                background: rgb(255, 255, 255);
                border-radius: 16px;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                content: '';
                height: 24px;
                left: -4px;
                margin-top: -8px;
                position: absolute;
                top: -4px;
                transition: all 0.3s ease-in-out;
                width: 24px;
            }

        .material-switch > input[type="checkbox"]:checked + label::before {
            background: inherit;
            opacity: 0.5;
        }

        .material-switch > input[type="checkbox"]:checked + label::after {
            background: inherit;
            left: 20px;
        }

        #mapReset {
            padding: 1px 5px 1px 5px;
            color: white;
            background-color: #1a9492;
            border: 1px;
            margin-top: 4px;
        }

        #DistributorCreateForm .k-multiselect-wrap.k-floatwrap {
            height: auto !important;
        }


        .k-grid tbody tr {
            cursor: move;
        }

        .k-grid k-widget {
            outline-style: dashed;
            outline-width: 1px;
            outline-color: red;
        }
    </style>*@