# Ignore Visual Studio user-specific project settings
*.csproj.user

# Ignore Visual Studio .vs folder
.vs/

# Ignore Visual Studio / .NET build output
**/bin/
**/obj/

# Ignore all publish profile folders (e.g., *.pubxml and *.pubxml.user files)
**/Properties/PublishProfiles/


# Ignore specific build artifacts
Core/NeoErp.Core.Models/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Core/NeoErp.Core.Models/obj/Debug/NeoErp.Core.Models.csproj.FileListAbsolute.txt
Core/NeoErp.Core/obj/Debug/NeoErp.Core.csproj.FileListAbsolute.txt
Core/NeoErp.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Core/NeoErp.Data/obj/Debug/NeoErp.Data.csproj.FileListAbsolute.txt

NeoErp.Web/Areas/NeoERP.LOC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NeoErp.Web/Areas/NeoERP.LOC/obj/Debug/NeoERP.LOC.csproj.FileListAbsolute.txt

NeoErp.Web/Areas/NeoERP.Planning/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NeoErp.Web/Areas/NeoERP.Planning/obj/Debug/NeoERP.Planning.csproj.FileListAbsolute.txt

NeoErp.Web/Areas/NeoERP.ProjectManagement/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NeoErp.Web/Areas/NeoERP.ProjectManagement/obj/Debug/NeoERP.ProjectManagement.csproj.FileListAbsolute.txt

NeoErp.Web/Areas/NeoERP.QuotationManagement/obj/Debug/NeoERP.QuotationManagement.csproj.FileListAbsolute.txt

NeoErp.Web/Areas/NeoErp.Distribution/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NeoErp.Web/Areas/NeoErp.Distribution/obj/Debug/NeoErp.Distribution.csproj.FileListAbsolute.txt

NeoErp.Web/Areas/NeoErp.Pos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NeoErp.Web/Areas/NeoErp.Pos/obj/Debug/NeoErp.Pos.csproj.FileListAbsolute.txt

NeoErp.Web/Areas/NeoErp.Transaction/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NeoErp.Web/Areas/NeoErp.Transaction/obj/Debug/NeoErp.Transaction.csproj.FileListAbsolute.txt

# Ignore Debug build artifacts in Services
Services/NeoERP.DocumentTemplate.Service/obj/Debug/NeoERP.DocumentTemplate.Service.csproj.FileListAbsolute.txt
Services/NeoERP.ProjectManagement.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Services/NeoERP.ProjectManagement.Service/obj/Debug/NeoERP.ProjectManagement.Service.csproj.FileListAbsolute.txt
Services/NeoERP.QCQAManagement.Service/obj/Debug/NeoERP.QCQAManagement.Service.csproj.FileListAbsolute.txt
Services/NeoERP.QuotationManagement.Service/obj/Debug/NeoERP.QuotationManagement.Service.csproj.FileListAbsolute.txt
Services/NeoErp.LOC.Services/obj/Debug/NeoErp.LOC.Services.csproj.FileListAbsolute.txt
Services/NeoErp.Planning.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Services/NeoErp.Planning.Service/obj/Debug/NeoErp.Planning.Service.csproj.FileListAbsolute.txt
Services/NeoErp.Pos.Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Services/NeoErp.Pos.Services/obj/Debug/NeoErp.Pos.Services.csproj.FileListAbsolute.txt
Services/NeoErp.Transaction.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Services/NeoErp.Transaction.Service/obj/Debug/NeoErp.Transaction.Service.csproj.FileListAbsolute.txt


# Auto-generated build files
NeoErp.Web/Areas/NeoERP.QCQAManagement/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NeoErp.Web/Areas/NeoERP.QCQAManagement/obj/Debug/NeoERP.QCQAManagement.csproj.FileListAbsolute.txt

# Application log file
NeoErp.Web/log4netOwnLog.txt


# Ignore specific Release build artifacts for NeoErp.Core.Models
Core/NeoErp.Core.Models/obj/Release/NeoErp.Core.Models.csproj.CoreCompileInputs.cache
Core/NeoErp.Core.Models/obj/Release/NeoErp.Core.Models.csproj.FileListAbsolute.txt
Core/NeoErp.Core.Models/obj/Release/NeoErp.Core.Models.pdb


# Ignore specific Release build artifacts for NeoErp.Data
Core/NeoErp.Data/bin/Release/NeoErp.Data.dll
Core/NeoErp.Data/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Core/NeoErp.Data/obj/Release/NeoErp.Data.csproj.CoreCompileInputs.cache
Core/NeoErp.Data/obj/Release/NeoErp.Data.csproj.FileListAbsolute.txt
Core/NeoErp.Data/obj/Release/NeoErp.Data.dll
Core/NeoErp.Data/obj/Release/NeoErp.Data.pdb

/NeoErp.Web/bb0aca72-1300-4b4e-bc3d-050a8faec44alog4netOwnLog.txt
/NeoErp.Web/Log4NetLog
/NeoErp.Web/Log
/.vscode/launch.json


*.zip