<style>
    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* .k-grid-content {
            height: 285px !important;
        }*/
    /* .k-grid-content {
            height: 280px !important;
        }*/

    .k-grid-content {
        height: 310px !important;
    }

    #kGrid {
        height: 427px !important;
    }

    .addcolor {
        color: #ffffff;
    }

    .k-list.k-reset {
        overflow: auto;
    }

    #pane1 {
        position: absolute !important;
        top: 0px !important;
        width: 302px !important;
        /*height: 510px !important;*/
        left: 0px !important;
    }

    .k-animation-container {
        max-height: 250px;
        overflow-y: auto !important;
    }

    .bordered-radio-group {
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 2px 5px;
    }

    div#ndp-nepali-box {
        z-index: 10076 !important;
    }

    #reportModal {
        display: none !important;
    }

    /* Desktop alignment styling to mimic legacy app (neutral colors per request) */
    .desktop-strip {
        padding: 8px 12px;
        margin-bottom: 8px;
        border: 0;
    }
    .desktop-strip label { font-weight: normal; }
    .ledger-panel {
        padding: 12px 10px 6px 10px;
        border: 0;
        border-radius: 2px;
        margin-bottom: 8px;
    }
    .ledger-panel .control-label { font-weight: normal; }
    .ledger-panel .form-control, .ledger-panel .k-dropdown { height: 26px; padding: 2px 6px; }
    .ledger-panel .bordered-radio-group { background: rgba(255,255,255,0.6); }

        /* Remove grey border from Under Group PL/BS dropdown (Kendo renders a widget after the select) */
        /* Handle multiple Kendo structures and states */
        .ledger-panel select#masteraccountcode1 + span.k-dropdown > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode1 + span.k-widget.k-dropdown > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode1 + span.k-combobox > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode1 ~ span.k-dropdown > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode1 ~ span.k-widget.k-dropdown > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode1 ~ span.k-combobox > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode1 + span.k-dropdown > span.k-picker-wrap,
        .ledger-panel select#masteraccountcode1 ~ span.k-dropdown > span.k-picker-wrap,
        .ledger-panel select#masteraccountcode_bs + span.k-dropdown > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode_bs + span.k-widget.k-dropdown > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode_bs + span.k-combobox > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode_bs ~ span.k-dropdown > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode_bs ~ span.k-widget.k-dropdown > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode_bs ~ span.k-combobox > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode_bs + span.k-dropdown > span.k-picker-wrap,
        .ledger-panel select#masteraccountcode_bs ~ span.k-dropdown > span.k-picker-wrap,
        .ledger-panel select#masteraccountcode_pl + span.k-dropdown > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode_pl + span.k-widget.k-dropdown > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode_pl + span.k-combobox > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode_pl ~ span.k-dropdown > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode_pl ~ span.k-widget.k-dropdown > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode_pl ~ span.k-combobox > span.k-dropdown-wrap,
        .ledger-panel select#masteraccountcode_pl + span.k-dropdown > span.k-picker-wrap,
        .ledger-panel select#masteraccountcode_pl ~ span.k-dropdown > span.k-picker-wrap {
            border: 0 !important;
            box-shadow: none !important;
            background: transparent !important;
        }
        /* If Kendo transfers the class from the <select> to the generated wrapper */
        .ledger-panel span.borderless-kendo.k-dropdown > span.k-dropdown-wrap,
        .ledger-panel span.borderless-kendo.k-combobox > span.k-dropdown-wrap,
        .ledger-panel span.borderless-kendo .k-dropdown-wrap,
        .ledger-panel .borderless-kendo .k-dropdown-wrap {
            border: 0 !important;
            box-shadow: none !important;
            background: transparent !important;
        }
        /* Also ensure inner parts don't re-introduce a frame */
        .ledger-panel .borderless-kendo + span.k-dropdown .k-input,
        .ledger-panel .borderless-kendo + span.k-dropdown .k-select,
        .ledger-panel .borderless-kendo + span.k-dropdown .k-picker-wrap,
        .ledger-panel .borderless-kendo + span.k-dropdown .k-dropdown-wrap,
        .ledger-panel span.borderless-kendo .k-input,
        .ledger-panel span.borderless-kendo .k-select {
            border: 0 !important;
            box-shadow: none !important;
            background: transparent !important;
        }
            /* Disabled variants */
            .ledger-panel .borderless-kendo + span.k-dropdown .k-dropdown-wrap.k-state-disabled,
            .ledger-panel .borderless-kendo + span.k-dropdown .k-picker-wrap.k-state-disabled,
            .ledger-panel span.borderless-kendo .k-dropdown-wrap.k-state-disabled,
            .ledger-panel span.borderless-kendo .k-picker-wrap.k-state-disabled {
                border: 0 !important;
                box-shadow: none !important;
                background: transparent !important;
            }

        /* Also override hover/focus states */
        .ledger-panel select#masteraccountcode1 + span.k-dropdown > span.k-dropdown-wrap.k-state-hover,
        .ledger-panel select#masteraccountcode1 + span.k-dropdown > span.k-dropdown-wrap.k-state-focused,
        .ledger-panel select#masteraccountcode1 ~ span.k-dropdown > span.k-dropdown-wrap.k-state-hover,
        .ledger-panel select#masteraccountcode1 ~ span.k-dropdown > span.k-dropdown-wrap.k-state-focused,
        .ledger-panel select#masteraccountcode_bs + span.k-dropdown > span.k-dropdown-wrap.k-state-hover,
        .ledger-panel select#masteraccountcode_bs + span.k-dropdown > span.k-dropdown-wrap.k-state-focused,
        .ledger-panel select#masteraccountcode_bs ~ span.k-dropdown > span.k-dropdown-wrap.k-state-hover,
        .ledger-panel select#masteraccountcode_bs ~ span.k-dropdown > span.k-dropdown-wrap.k-state-focused,
        .ledger-panel select#masteraccountcode_pl + span.k-dropdown > span.k-dropdown-wrap.k-state-hover,
        .ledger-panel select#masteraccountcode_pl + span.k-dropdown > span.k-dropdown-wrap.k-state-focused,
        .ledger-panel select#masteraccountcode_pl ~ span.k-dropdown > span.k-dropdown-wrap.k-state-hover,
        .ledger-panel select#masteraccountcode_pl ~ span.k-dropdown > span.k-dropdown-wrap.k-state-focused {
            border: 0 !important;
            box-shadow: none !important;
        }

    /* Align Nature of Ledger to the far right – remove right gutter on the right column */
    .strip-right { padding-right: 15px !important; display: flex; justify-content: flex-end; align-items: center; }
    .strip-right > span { margin-right: 0 !important; }
    .strip-right .k-dropdown, .strip-right .k-picker-wrap, .strip-right .k-dropdown-wrap { margin-right: 0 !important; }

    /* div#ndp-nepali-box {
            display: block !important;
        }*/
    /**/
    /*div#ndp-nepali-box {
            font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
            border: 1px solid #CCC;
            background-color: #FFF;
            position: absolute;
            z-index: 9999;
            padding: 1px;
            margin-top: 1px;
        }*/

    .btn-help-custom {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #4caf50;
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;
        
    }

        .btn-help-custom:hover {
           
            transform: scale(1.15);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
            border-color: white;
        }

        .btn-help-custom i {
            font-size: 17px;
        }
</style>
<div class="portlet box green-box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list-alt"></i>
            <span class="caption-subject bold uppercase"> CHART OF ACCOUNT</span>
            <a class="btn-help-custom" onclick="HelpPopup.showByKey('chartOfAccount')" title="Help">
                <i class="fa fa-question-circle"></i>
            </a>
        </div>
        <div class="actions">
            <div class="btn-group">
                @Html.Partial("~/Views/Shared/Controls/_SetupConfig.cshtml", "_accountSetupPartial")
            </div>

            <a class="btn dark-green btn-sm addcolor" id="createbtn" ng-click="showModalForNew(event)" ng-disabled="treenodeselected!= 'Y'">
                <i class="fa fa-plus"></i> NEW
            </a>
        </div>
    </div>
    <div class="row collapse in" id="demoChartofAccountGrid">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body form">
                    <div class="row">
                        <div class="col-md-offset-8 col-md-4 search_box">
                            <div class="topsearch" style="display:block;">
                                <a class="btn-linkicon fa fa-search" style="margin-right: -26px;" ng-click="BindGrid('All')"></a>
                                <input class="k-textbox txtSearchString" type="text" id="acctxtSearchString" ng-model="txtSearchString" name="search" placeholder="enter search text..." style="margin-left: 26px;" />
                            </div>
                        </div>
                    </div>
                    <div class="row kendo_table">
                        <kendo-grid options="accoutnChildGridOptions" id="kGrid" k-rebind="accoutnChildGridOptions"></kendo-grid>
                        @*@Html.Partial("~/Views/Shared/Controls/_Search.cshtml")*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="portlet-body">
            <kendo-grid id="kGrid" options="accoutnChildGridOptions" k-rebind="accoutnChildGridOptions">
            </kendo-grid>
        </div>*@
    
    @Html.Partial("~/Views/Shared/Helper/GlobalHelper.cshtml")
</div>
<div class="modal fade-out" id="accountModal" data-backdrop="static" tabindex="-1" data-width="760" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-box popup main">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab ng-click="onCloseInit()">&times;</button>
                <h4 class="modal-title">
                    <span class="fa fa-file"></span>
                    Chart of Account Model
                </h4>
            </div>
            <div class="modal-body">
                <form name="accountsArrform" class="form-horizontal" data-ng-init="init()">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3">Under Group:</label>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <select id="masteraccountcode" kendo-drop-down-list
                                            k-options="accountGroupOptions"
                                            style="width: 100%" disabled></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 strip-right">
                            <label class="control-label" style="margin-right:8px;">*Nature of Ledger :</label>
                            <span style="display:inline-block; min-width:220px;">
                                <select id="natureaccount" name="natureaccount" kendo-drop-down-list ng-model="accountsArr.ACC_NATURE" k-rebind="natureaccountOptions"
                                        k-options="natureaccountOptions" k-on-change="NatureAccCodeOnChange(kendoEvent)"
                                        style="width: 100%" required></select>
                            </span>
                        </div>
                    </div>
                    <div class="row" style="scrollbar-base-color:yellow; display:none;">
                        <!-- Top row now hidden; fields moved into ledger panel to match desktop layout -->
                    </div>
                    <!-- rendering master elements -->
                    @*<ul id="myTab" class="nav nav-tabs responsive_tab">
                            <li class="active">
                                <a href="#tab_1" data-toggle="tab">
                                    Ledger Info
                                </a>
                            </li>
                            <li ng-show="result">
                                <a href="#tab_2" data-toggle="tab">
                                    Bank Details
                                </a>
                            </li>
                        </ul>*@

                    <ul id="myTab" class="nav nav-tabs responsive_tab">
                        <li class="active" id="li_tab_1">
                            <a href="#tab_1" data-toggle="tab">
                                Ledger Info
                            </a>
                        </li>
                        <li ng-show="BankTabResult" id="li_tab_2">
                            <a href="#tab_2" data-toggle="tab">
                                Bank Details
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content responsive_tab_content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="ledger-panel">
                                <!-- Row 1: Account Code -->
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                        <label class="control-label col-sm-2 col-md-2 col-lg-2">*Account Code</label>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input type="text" id="accname" name="ACC_CODE" ng-model="accountsArr.ACC_CODE" class="form-control" ng-readonly="true" required />
                                        </div>
                                    </div>
                                </div>
                                <!-- Row 2: In English + A/c Prefix -->
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                        <label class="control-label col-sm-2 col-md-2 col-lg-2">*In English</label>
                                        <div class="col-sm-7 col-md-7 col-lg-7">
                                            <input type="text" id="accenglishname" name="accenglishname" ng-model="accountsArr.ACC_EDESC" class="form-control" required />
                                        </div>
                                        <label class="control-label col-sm-1 col-md-1 col-lg-1">A/c Prefix</label>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input type="text" id="prefix" name="PREFIX_TEXT" ng-model="accountsArr.PREFIX_TEXT" class="form-control" maxlength="3" />
                                        </div>
                                    </div>
                                </div>
                                <!-- Row 3: In Nepali + A/c Short Name + Accounts ID -->
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                        <label class="control-label col-sm-2 col-md-2 col-lg-2">*In Nepali</label>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <input type="text" id="accnepaliname" name="ACC_NDESC" ng-model="accountsArr.ACC_NDESC" class="UnicodeNepali form-control" />
                                        </div>
                                        <label class="control-label col-sm-2 col-md-2 col-lg-2">A/c Short Name</label>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input type="text" id="shortname" name="SHORT_NAME" ng-model="accountsArr.ACC_SNAME" class="form-control" />
                                        </div>
                                        <label class="control-label col-sm-1 col-md-1 col-lg-1">A/c Id</label>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input type="text" id="accountid" name="accountid" ng-model="accountsArr.ACC_ID" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!-- Hide old group start/end row to keep bindings intact if referenced -->
                                <div class="row" style="display:none;">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                        <label class="control-label col-sm-2 col-md-2 col-lg-2">A/c Start ID:</label>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input type="text" id="startid" name="startid" ng-model="accountsArr.GROUP_START_CODE" class="form-control" />
                                        </div>
                                        <label class="control-label col-sm-2 col-md-2 col-lg-2">A/c End ID:</label>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input type="text" id="endid" name="endid" ng-model="accountsArr.GROUP_END_CODE" class="form-control" />
                                        </div>
                                    </div>
                                </div>


                                @*<div class="col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label col-sm-6 col-md-6 col-lg-6"></label>
                                            <div class="col-sm-7 col-md-7 col-lg-6">
                                            </div>
                                        </div>
                                    </div>*@
                                <!--<div class="col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 col-md-4 col-lg-4">A/c Start ID:</label>
                                            <div class="col-sm-7 col-md-7 col-lg-7">
                                                <input type="text" id="startid" name="startid" ng-model="accountsArr.GROUP_START_CODE" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-8">
                                        <div class="form-group">

                                        </div>
                                    </div>-->
                                @*<div class="col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label col-sm-6 col-md-6 col-lg-6"></label>
                                            <div class="col-sm-7 col-md-7 col-lg-6">
                                            </div>
                                        </div>
                                    </div>*@
                                <!--<div class="col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 col-md-4">A/c End ID:</label>
                                            <div class="col-sm-7 col-md-7 col-lg-7">
                                                <input type="text" id="endid" name="endid" ng-model="accountsArr.GROUP_END_CODE" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                        <label class="control-label col-sm-2 col-md-2">Account Type flag:</label>
                                        <div class="col-sm-4 col-md-4 col-lg-4 radiobox">
                                            <div class="bordered-radio-group">
                                                <span class="radio_btn">
                                                    <input type="radio" id="groupId" name="accountType" disabled ng-model="accountsArr.ACC_TYPE_FLAG" value="N"> Group
                                                </span>
                                                <span> <input type="radio" id="generalLedgerId" name="accountType" disabled ng-model="accountsArr.ACC_TYPE_FLAG" value="T"> General Ledger</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row enable-input-on-edit">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                        <label class="control-label col-md-2 col-lg-2">
                                            DR / CR Type:<span style="color:red" @*ng-show="accountsArrform.transactionType.$invalid" *@>
                                                @*<span ng-show="accountsArrform.transactionType.$error.required">*</span>*@
                                            </span>
                                        </label>
                                        <div class="col-sm-4 col-md-4 col-lg-4 radiobox">
                                            <div class="bordered-radio-group">
                                                <span class="radio_btn">
                                                    <input type="radio" id="debitId" name="transactionType" disabled ng-model="accountsArr.TRANSACTION_TYPE" value="DR"> Debit
                                                </span>
                                                <span><input type="radio" id="creditId" name="transactionType" disabled ng-model="accountsArr.TRANSACTION_TYPE" value="CR"> Credit</span>
                                            </div>
                                        </div>
                                        <label class="control-label col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-2 col-md-2 col-lg-2" ng-show="BankTabResult">
                                            Bank Account No:
                                        </label>
                                        <div class="col-sm-2 col-md-2 col-lg-2" ng-show="BankTabResult">
                                            <input type="text" id="accountno" name="accountno" ng-model="accountsArr.BANK_ACCOUNT_NO" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row enable-input-on-edit">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                        <label class="control-label col-sm-2 col-md-2 col-lg-2">
                                            Belongs To:@*<span style="color:red" ng-show="accountsArrform.tpbflag.$invalid">
                                                    <span ng-show="accountsArrform.tpbflag.$error.required">*</span>
                                                </span>*@
                                        </label>
                                        <div class="col-sm-4 col-md-4 col-lg-4 radiobox">
                                            <div class="bordered-radio-group">
                                                <span class="radio_btn">
                                                    <input type="radio" id="profloss" name="tpbflag" disabled ng-model="accountsArr.TPB_FLAG" value="P" ng-change='newValue()'> Profit & Loss
                                                </span>
                                                <span> <input type="radio" id="balancesheet" name="tpbflag" disabled ng-model="accountsArr.TPB_FLAG" value="B" ng-change='newValue(value)'> Balance Sheet</span>

                                            </div>
                                        </div>
                                        <label class="control-label col-sm-1 col-md-1 col-lg-1" ng-show="share">
                                            Share %:
                                        </label>
                                        <div class="col-sm-1 col-md-1 col-lg-1" ng-show="share">
                                            <input type="text" id="share" name="share" ng-model="accountsArr.SHARE_VALUE" class="form-control" />
                                        </div>
                                        <label class="control-label col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-2 col-md-2 col-lg-2" ng-show="BankTabResult">
                                            Bank Loan A/c Limit:
                                        </label>
                                        <div class="col-sm-2 col-md-2 col-lg-2" ng-show="BankTabResult">
                                            <input type="text" id="limit" name="limit" ng-model="accountsArr.LIMIT" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                        <label class="control-label col-sm-2 col-md-2 col-lg-2">
                                            Under Group PL/BS:
                                        </label>
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <select id="masteraccountcode_bs" class="borderless-kendo" kendo-drop-down-list
                                                    ng-show="accountsArr.TPB_FLAG == 'B'"
                                                    k-options="bsdropdownlist" k-on-change="onChangeGroupPLBS(kendoEvent)"
                                                    ng-model="accountsArr.BS_CODE" k-value-primitive="true"
                                                    style="width: 100%; background-color: white !important; border: 1px solid lightgray"></select>
                                            
                                            <select id="masteraccountcode_pl" class="borderless-kendo" kendo-drop-down-list
                                                    ng-show="accountsArr.TPB_FLAG == 'P'"
                                                    k-options="pldropdownlist" k-on-change="onChangeGroupPLBS(kendoEvent)"
                                                    ng-model="accountsArr.PL_CODE" k-value-primitive="true"
                                                    style="width: 100%; background-color: white !important; border: 1px solid lightgray"></select>
                                        </div>
                                        <label class="control-label col-sm-2 col-md-2 col-lg-2">Opening Balance:</label>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <input type="text" id="openingbalance" name="openingbalance" ng-model="accountsArr.OPENING_AMOUNT" class="form-control" disabled/>
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <select id="openingbalancedropdown" class="form-control" ng-model="accountsArr.OPENING_AMOUNT_TRANSACTION_TYPE" disabled>
                                                <option></option>
                                                <option value="DR">DR</option>
                                                <option value="CR">CR</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px;">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-12 radio-box">
                                        <span class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 radio_btn col-sm-3 col-md-3 col-lg-3" style="font-size: 11px;">
                                            <input id="Ntroflgr" type="checkbox" ng-model="accountsArr.DEFAULT_COGS_VALUE" ng-true-value="'Y'" ng-false-value="'N'" style="margin-right: 5px;">Update Nature of Ledger, Transaction Type, Belongs to under this group
                                        </span>
                                    </div>
                                </div>
                                <!--<div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">

                                    <div class="form-group">
                                    </div>
                                    <div class="form-group">

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-lg-4 col-md-offset-2">
                                    <div class="row">-->
                                @*<div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                                Under Group:<span style="color:red" ng-show="accountsArrform.tpbflag.$invalid">
                                                    <span ng-show="accountsArrform.tpbflag.$error.required">*</span>
                                                </span>
                                            </label>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <select id="tpbFlag" name="tpbFlag" k-ng-model="accountsArr.TPB_FLAG" ng-model="accountsArr.TPB_FLAG" style="width: 100%" required>
                                                    <option value="" selected>--Select Group--</option>
                                                    <option value="P">P</option>
                                                    <option value="B">B</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>*@
                                <!--</div>
                                    </div>
                                </div>-->
                                <hr />
                                <div class="row" style="font-size: 12px;">
                                    <div class="col-md-offset-1 col-sm-offset-1 col-sm-2 col-md-2">
                                        <div class="form-group">
                                            <span>
                                                <input id="freezeflag" type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-checked="accountsArr.FREEZE_FLAG=='Y'" ng-model="accountsArr.FREEZE_FLAG">
                                                Freeze Account
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-md-2">
                                        <div class="form-group">
                                            <span>
                                                <input id="printingflag" type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-checked="accountsArr.PRINTING_FLAG=='Y'" ng-model="accountsArr.PRINTING_FLAG">
                                                Freeze Printing
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-md-2">
                                        <div class="form-group">
                                            <span>
                                                <input id="vatflag" type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-checked="accountsArr.IND_VAT_FLAG=='Y'" ng-model="accountsArr.IND_VAT_FLAG">
                                                VAT Transaction
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-md-2">
                                        <div class="form-group">
                                            <span>
                                                <input id="tdsflag" type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-checked="accountsArr.IND_TDS_FLAG=='Y'" ng-model="accountsArr.IND_TDS_FLAG">
                                                TDS Transaction:
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-md-2">
                                        <div class="form-group">
                                            <span>
                                                <input id="dealerflag" type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-checked="accountsArr.IND_MDF_FLAG=='Y'" ng-model="accountsArr.IND_MDF_FLAG">
                                                MDF transaction
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_2" ng-show="BankTabResult">
                                <div class="row">
                                    @*<div class="col-sm-3 col-md-3">
                                            <div class="form-group">
                                            </div>
                                        </div>*@
                                    <div class="col-sm-6 col-md-6">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">Opening Date</label>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 english_date">
                                                        <input style="width:100%;" id="englishdatedocument5" name="englishdatedocument5" class="englishdate" kendo-date-picker
                                                               ng-model="accountsArr.ACC_OPENING_DATE"
                                                               k-options="monthSelectorOptions" ng-change="OnOpeningDateChange()"/>

                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 nepali_date">
                                                        <input type="text" id="nepaliDate5" name="nepaliDate5" data-checkfor="englishdatedocument5" class="nepali-calendar5 nepalidate form-control" next-on-tab />
                                                        <i class="fa fa-calendar form-control-feedback calendar-icon-2"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">Maturity Date</label>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 english_date">
                                                        <input style="width:100%;" type="text" id="englishdatedocument6" class="englishdate" name="englishdatedocument6" ng-model="accountsArr.MATURITY_DATE" kendo-date-picker k-options="monthSelectorOptions" ng-change="OnMaturityDateChange()"/>
                                                    </div>

                                                    <div class="col-sm-4 col-md-4 col-lg-4 nepali_date">
                                                        <input type="text" id="nepaliDate6" data-checkfor="englishdatedocument6" name="nepaliDate6" class="nepali-calendar6 nepalidate form-control" />
                                                        <i class="fa fa-calendar form-control-feedback calendar-icon-2"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">Total # Days:</label>
                                                    <div class="col-sm-4 col-md-4">
                                                        <input type="text" id="totalDays" name="TOTAL_DAYS" ng-model="accountsArr.MATURITY_DAYS" class="form-control" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-offset-6 col-md-offset-6 col-sm-4 col-md-4">Alert prior maturity Days:</label>
                                                    <div class="col-sm-2 col-md-2">
                                                        <select id="maturityDays"
                                                                name="MATURITY_DAYS"
                                                                ng-model="accountsArr.PRIOR_ALERT_DAYS"
                                                                class="form-control"
                                                                ng-options="n for n in [] | range:1:100">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7 col-md-7 col-lg-7" id="accountInterestTableContainer">
                                        @*<table class="document_child_table dynamic-table table-fixed dynamic_child_table">
                                                <thead class="child-table-head">
                                                    <tr>
                                                        <th>S.N.</th>
                                                        <th>Date</th>
                                                        <th>Interest Rate</th>
                                                        <th class="btn-action">
                                                            &nbsp;
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table_body">
                                                    <tr ng-repeat="accInt in accountsArr.accountInterestSetup track by $index" ng-init="accInt.datePickerId = 'nepaliDate' + $index">
                                                        <td>
                                                            <div>
                                                                <input type="text" value="{{$index + 1}}" class="form-control" readonly />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div style="position: relative">
                                                                <input type="hidden"
                                                                       id="englishCalendarAccInterest"
                                                                       name="englishCalendarAccInterest"
                                                                       style="width:100%;"
                                                                       class="englishdate"
                                                                       ng-model="accInt.INT_DATE" />

                                                                <div class="nepali_date">
                                                                    <input type="text"
                                                                           data-checkfor="englishCalendarAccInterest"
                                                                           class="nepaliCalendarAccInterest nepalidate form-control"
                                                                           next-on-tab />
                                                                    <i style="position: absolute; right: 0;" class="fa fa-calendar calendar-icon-2"></i>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <input type="text" ng-model="accInt.INT_RATE" class="form-control" />
                                                            </div>
                                                        </td>
                                                        <td class="btn-action">
                                                            <a href="" class="buttonadd" ng-click="add_acc_int_setup_row($index)"><i class="fa fa-plus"></i></a>
                                                            <a href="javascript:void(0)" class="buttondelete">
                                                                <i class="fa fa-trash text-danger" data-tooltip="Remove other info" ng-click="remove_acc_int_setup_row($index)"></i>
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr ng-if="!accountsArr.accountInterestSetup || accountsArr.accountInterestSetup.length === 0">
                                                        <td colspan="3" class="text-center">
                                                            No interest setup entries.
                                                        </td>
                                                        <td class="btn-action">
                                                            <a href="" class="buttonadd" ng-click="add_acc_int_setup_row()"><i class="fa fa-plus"></i></a>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>*@
                                    </div>
                                    <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-4 col-md-4 col-lg-4">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <fieldset class="fieldset-box">
                                                    <legend class="planOption">Interest Payment/Receive</legend>
                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <input type="radio" id="contactChoice1" ng-model="accountsArr.LOAN_TERMS" name="contact" value="M" checked>
                                                            <label for="contactChoice1">Monthly Basis</label> <br />
                                                            <input type="radio" id="contactChoice2" ng-model="accountsArr.LOAN_TERMS" name="contact" value="Q">
                                                            <label for="contactChoice2">Quarterly Basis</label><br />
                                                            <input type="radio" id="contactChoice3" ng-model="accountsArr.LOAN_TERMS" name="contact" value="Y">
                                                            <label for="contactChoice3">Yearly Basis</label><br />
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="row">
                                                    <label class="control-label col-sm-6 col-md-6 col-lg-6">Web link ID</label>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                                        <input type="text" id="weblinkid" name="WEB_LINK_ID" ng-model="accountsArr.LINK_ID" class="form-control" />
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <a class="fa fa-share" target="_blank" href="#" ng-href="https://{{accountsArr.LINK_ID}}/"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<hr />
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <table id="tablegrid" class="table table-bordered table-responsive popuptbl">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Contact Person</th>
                                                    <th>Address</th>
                                                    <th>Designation</th>
                                                    <th>Department</th>
                                                    <th>Mobile No</th>
                                                    <th>Phone No</th>
                                                    <th>Email Id</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{1}}</td>
                                                    <td><input id="item.CONTACT_PERSON" type="text" ng-model="bankdetailArr.CONTACT_PERSON" class="form-control" /></td>
                                                    <td><input id="item.ADDRESS" type="text" class="form-control" ng-model="bankdetailArr.ADDRESS" /></td>
                                                    <td><input id="item.DESIGNATION" type="text" class="form-control" ng-model="bankdetailArr.DESIGNATION" /></td>
                                                    <td><input id="item.DEPARTMENT" type="text" class="form-control" ng-model="bankdetailArr.DEPARTMENT" /></td>
                                                    <td><input id="item.MOBILE_NO" type="text" class="form-control" ng-model="bankdetailArr.MOBILE_NO" /></td>
                                                    <td><input id="item.PHONE_NO" type="text" class="form-control" ng-model="bankdetailArr.TEL_NO" /></td>
                                                    <td><input id="item.EMAIL_ID" type="text" class="form-control" ng-model="bankdetailArr.EMAIL_ID" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    @*<div class="col-sm-3 col-md-3">
                            <div class="form-group">
                                <label for="element">Account Nature:</label>
                                <input type="text" id="endid" name="endid" ng-model="accountsArr.GROUP_END_CODE" class="form-control" />
                            </div>

                        </div>*@

                </form>
                <div class="modal-footer" style="background-color: #fff">
                    <div class="row">
                        <div class="form-group col-sm-6 col-md-6 col-lg-6">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                Master Code :
                            </label>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <input type="text" id="master_acc_code" name="master_acc_code" ng-model="accountsArr.MASTER_ACC_CODE" class="form-control" readonly />
                            </div>
                            <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                Pre Code :
                            </label>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <input type="text" id="pre_acc_code" name="pre_acc_code" ng-model="accountsArr.PRE_ACC_CODE" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-6 col-lg-6">
                            <button type="button" class="btn btn-sm btn-green" id="savedocumentformdata" ng-click="saveNewAccount(accountsArrform.$valid)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                            </button>
                            <button type="button" class="btn btn-sm btn-default" ng-click="cancelOperation()" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@*<div class="col-md-12">
    <div class="portlet light portletspace bordered main">
        <div class="portlet mingap">
            @*<div class="portlet-title">
                <div class="caption ng-binding">
                    <i class="fa fa-list-alt font-green-haze"></i>
                    <span class="caption-subject font-green-haze bold uppercase">
                        Chart Of Account
                    </span>
                </div>
                <div class="actions">
                    @*<a class="btn blue-hoki btn-sm" id="createbtn" ng-disabled="treenodeselected!= 'Y'" ng-click="showModalForNew(event)">
                        <i class="fa fa-floppy-o"></i> NEW
                    </a>
                </div>
            </div>*@
@*<div class="portlet-body">
                </div>
            </div>
        </div>
    </div>*@
<script src="@Scripts.Url(" ~/JS/reportFilter.js")"></script>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.k-list').slimScroll({
                height: '250px'
            });
        }, 100)
        $('.nav-tabs a').on('click', function (e) {
            e.preventDefault();
            //if ($(this).attr('href') == '#tab_1') {
            //    $('#tab_1').tab('show')
            //}
            if ($(this).attr('href') == '#tab_2') {
                $('#tab_2').tab('show')
            }
        });
    });
    var natureObj = {
        "AA": "Fixed Assets",
        "AB": "Cash In Hand",
        "AC": "Bank Account",
        "AD": "Current Assets",
        "AE": "Sundry Debtors",
        "AF": "Advance",
        "EA": "Manufacturing Ex",
        "EB": "Direct Expenses",
        "EC": "InDirect Expense",
        "ED": "Depreciation",
        "SA": "Opening Stock",
        "SB": "Purchase Accoun",
        "SC": "Stock Transfer",
        "SD": "Closing Stock",
        "SE": "Inventory",
        "LA": "Capital Account",
        "LB": "Current Liabilities",
        "LC": "Loan (Liability)",
        "LD": "Sundry Creditors",
        "PL": "Profit & Loss",
        "PV": "Provision",
        "IA": "Sales Accounts",
        "IB": "Direct Income",
        "IC": "Indirect Income"
    }
    var bindNature = function (nature) {
        return natureObj[nature];
    }
</script>
@*
    <script type="text/javascript">
                $(document).ready(function () {
                    $(".topsearch").hide();
                    $("#acctxtSearchString").keyup(function () {
                        var val = $('#acctxtSearchString').val();
                        $("#kGrid").data("kendoGrid").dataSource.filter({
                            logic: "or",
                            filters: [
                                {
                                    field: "ACC_EDESC",
                                    operator: "contains",
                                    value: val
                                },
                                {
                                    field: "ACC_CODE",
                                    operator: "contains",
                                    value: val
                                },
                                {
                                    field: "ACC_TYPE_FLAG",
                                    operator: "contains",
                                    value: val
                                },

                            ]
                        });
                    });
                });
    </script>*@

<script>
    // Prem Prakash Dhakal 01-05-2025

    let sortDirection = "asc";
    $("#acctxtSearchString").on("keyup", function () {
        var searchTerm = $(this).val().toLowerCase().trim();
        filterAndSortGrid(searchTerm, sortDirection);
    });

    $(".fa-search").on("click", function () {
        sortDirection = (sortDirection === "asc") ? "desc" : "asc";
        var searchTerm = $("#acctxtSearchString").val().toLowerCase().trim();
        filterAndSortGrid(searchTerm, sortDirection);
    });

    function filterAndSortGrid(searchTerm, direction) {
        var grid = $("#kGrid").data("kendoGrid");
        var dataSource = grid.dataSource;
        dataSource.filter({});
        if (searchTerm) {
            dataSource.filter({
                logic: "or",
                filters: grid.columns
                    .filter(col => col.field)
                    .map(col => ({
                        field: col.field,
                        operator: function (value) {
                            return value && value.toString().toLowerCase().includes(searchTerm);
                        }
                    }))
            });
        }
        const firstField = grid.columns.find(col => col.field)?.field;
        if (firstField) {
            dataSource.sort({
                field: firstField,
                dir: direction
            });
        }
    }
</script>
<script>
    $(document).ready(function () {
        function createDateFromString(dateString) {
            const regex = /^\d{4}-\d{2}-\d{2}$/;
            if (!regex.test(dateString)) {
                console.error("Invalid date format. Expected YYYY-MM-DD.");
                return null;
            }

            const parts = dateString.split('-');
            const year = parseInt(parts[0], 10);
            const month = parseInt(parts[1], 10) - 1;
            const day = parseInt(parts[2], 10);

            const date = new Date(year, month, day);

            if (date.getFullYear() !== year || date.getMonth() !== month || date.getDate() !== day) {
                console.error("Invalid date components. Date created does not match input.");
                return null;
            }

            return date;
        }

        $(".nepali-calendar5").nepaliDatePicker({

            npdMonth: true,
            onFocus: true,
            npdYear: true,
            npdYearCount: 10,
            altFormat: "dd-MMM-YYYY",
            dateFormat: "dd-MMM-YYYY",
            onChange: function (evt) {
                debugger
                var nepalidate = $("#nepaliDate5").val();
                var Engdate = BS2AD(nepalidate);

                $("#englishdatedocument5").val(Engdate);

                var openingDate = $('#nepaliDate5').val();
                var maturityDate = $('#nepaliDate6').val();
                var oDate = moment(openingDate).format("MM-DD-YYYY");
                var mDate = moment(maturityDate).format("MM-DD-YYYY");
                if (maturityDate != "") {
                    if (mDate < oDate) {
                        $('#nepaliDate5').val("");
                        $('#englishdatedocument5').val("");
                        $("#savedocumentformdata").prop("disabled", true);
                        displayPopupNotification("Start date must be less than End Date!", "warning");
                        return;
                    }
                    else {
                        let maturityMomentDate = moment(maturityDate)
                        let openingMomentDate = moment(openingDate)
                        let dateDifference = maturityMomentDate.diff(openingMomentDate, 'days');
                        $("#totalDays").val(dateDifference)
                        $("#savedocumentformdata").prop("disabled", false);
                    }

                }
            }
        });

        $(".nepali-calendar6").nepaliDatePicker({
            ndpEnglishInput: 'englishdatedocument6',
            npdMonth: true,
            onFocus: true,
            npdYear: true,
            npdYearCount: 10,
            altFormat: "dd-MMM-YYYY",
            dateFormat: "dd-MMM-YYYY",
            onChange: function (evt) {
                var nepalidate = $("#nepaliDate6").val();
                var Engdate = BS2AD(nepalidate);

                $("#englishdatedocument6").val(Engdate);

                var openingDate = $('#nepaliDate5').val();
                var maturityDate = $('#nepaliDate6').val();

                var oDate = moment(openingDate).format("MM-DD-YYYY");
                var mDate = moment(maturityDate).format("MM-DD-YYYY");
                if (mDate < oDate) {
                    $('#nepaliDate6').val("");
                    $('#englishdatedocument6').val("");
                    $("#savedocumentformdata").prop("disabled", true);
                    displayPopupNotification("End  date must be greater than Start Date!", "warning");
                    return;
                }
                else {
                    let maturityMomentDate = moment(maturityDate)
                    let openingMomentDate = moment(openingDate)
                    let dateDifference = maturityMomentDate.diff(openingMomentDate, 'days');
                    $("#totalDays").val(dateDifference)
                    $("#savedocumentformdata").prop("disabled", false);
                }


            }
        });

        //$("#nepaliCalendarAccInterest").nepaliDatePicker({
        //    npdMonth: true,
        //    npdYear: true,
        //    npdYearCount: 10,
        //    altFormat: "DD-MMM-YYYY",
        //    dateFormat: "DD-MMM-YYYY",
        //    onChange: function (evt) {

        //    }
        //});

        //$(document).on("focus", "#nepaliCalendarAccInterest", function () {
        //    $(this).nepaliDatePicker({
        //        npdMonth: true,
        //        //onFocus: true,
        //        npdYear: true,
        //        npdYearCount: 10,
        //        altFormat: "DD-MMM-YYYY",
        //        dateFormat: "DD-MMM-YYYY",
        //    });
        //});

        //$(document).on("input", ".nepaliCalendarAccInterest", function () {
        //    var currentInput = $(this);
        //    var nepalidate = $(currentInput).val();

        //    if (nepalidate && nepalidate.trim() !== '') {
        //        let englishInput = $(this).closest(".nepali_date").closest("div").find("englishCalendarAccInterest");
        //        var englishDateResult = BS2AD(nepalidate);
        //        $(englishInput).val(englishDateResult);
        //        var momentDate = moment(englishDateResult);
        //        if (momentDate.isValid()) {
        //            accIntObject.INT_DATE = momentDate.toDate();
        //            accIntObject.nepaliDateString = nepalidate;
        //        } else {
        //            accIntObject.INT_DATE = null;
        //        }
        //    } else {
        //        accIntObject.INT_DATE = null;
        //        accIntObject.nepaliDateString = '';
        //    }
        //    scope.$apply();
        //})
    })


</script>

<script>
    // Register help content for Chart of Account page with pagination
    HelpPopup.register(
        'chartOfAccount',
        'Chart of Account Help',
        [
            // Page 1 - Overview and Basic Features
            `
                <h4>Chart of Account - Overview</h4>
                <p>This page allows you to manage your chart of accounts in the accounting system.</p>

                <h5>Main Features:</h5>
                <ul>
                    <li><strong>Create New Account:</strong> Click the "NEW" button to add a new account to the system</li>
                    <li><strong>View Accounts:</strong> Browse through the hierarchical account tree structure</li>
                    <li><strong>Edit Accounts:</strong> Select any account from the tree to modify its details</li>
                    <li><strong>Delete Accounts:</strong> Remove unused or obsolete accounts from the system</li>
                    <li><strong>Search Accounts:</strong> Use the search function to quickly locate specific accounts</li>
                </ul>

                <h5>Account Tree Structure:</h5>
                <p>Accounts are organized in a hierarchical tree format, allowing you to create parent-child relationships for better organization and reporting.</p>
            `,

            // Page 2 - Creating and Managing Accounts
            `
                <h4>Creating and Managing Accounts</h4>

                <h5>How to Create a New Account:</h5>
                <ol>
                    <li>Select a parent node from the account tree (this is required)</li>
                    <li>Click the "+ NEW" button in the top right corner</li>
                    <li>Fill in the account details in the form</li>
                    <li>Assign a unique account code</li>
                    <li>Save the account to add it to the system</li>
                </ol>

                <h5>Editing Existing Accounts:</h5>
                <ul>
                    <li>Click on any account in the tree to view its details</li>
                    <li>Modify the necessary fields in the form</li>
                    <li>Save your changes to update the account</li>
                </ul>

                <h5>Account Codes:</h5>
                <p>Each account must have a unique code. Use a systematic numbering scheme that makes sense for your organization (e.g., 1000-1999 for Assets, 2000-2999 for Liabilities).</p>
            `,

            // Page 3 - Important Rules and Restrictions
            `
                <h4>Important Notes and Restrictions</h4>

                <h5>Critical Requirements:</h5>
                <ul>
                    <li><strong>Tree Node Selection:</strong> You must select a parent tree node before creating a new account. The "NEW" button will be disabled until a node is selected.</li>
                    <li><strong>Unique Account Codes:</strong> Account codes must be unique within the entire system. Duplicate codes will be rejected.</li>
                    <li><strong>Parent Account Deletion:</strong> Parent accounts that have child accounts cannot be deleted. You must first delete or move all child accounts.</li>
                    <li><strong>Active Accounts:</strong> Accounts with existing transactions cannot be deleted. They must be marked as inactive instead.</li>
                </ul>

                <h5>Data Validation:</h5>
                <p>The system will validate your input to ensure data integrity. Make sure all required fields are filled correctly before saving.</p>
            `,

            // Page 4 - Best Practices and Tips
            `
                <h4>Best Practices and Tips</h4>

                <h5>Organization Tips:</h5>
                <ul>
                    <li><strong>Logical Structure:</strong> Organize accounts in a logical hierarchy that matches your business structure</li>
                    <li><strong>Naming Conventions:</strong> Use clear, consistent naming conventions for easy identification</li>
                    <li><strong>Code System:</strong> Implement a systematic account code numbering scheme and document it</li>
                    <li><strong>Regular Reviews:</strong> Periodically review your chart of accounts to remove unused accounts</li>
                </ul>

                <h5>Search and Navigation:</h5>
                <ul>
                    <li>Use the search box to quickly find accounts by name or code</li>
                    <li>Expand/collapse tree nodes to navigate through account categories</li>
                    <li>Use filters if available to narrow down account lists</li>
                </ul>

                <h5>Helpful Tips:</h5>
                <ul>
                    <li>Leave gaps in your numbering system for future account additions</li>
                    <li>Group similar accounts under parent categories for better reporting</li>
                    <li>Document the purpose of each account for future reference</li>
                    <li>Maintain consistency with industry-standard account classifications</li>
                </ul>
            `,

            // Page 5 - Common Issues and Support
            `
                <h4>Common Issues and Troubleshooting</h4>

                <h5>Common Problems:</h5>
                <ul>
                    <li><strong>"NEW button is disabled":</strong> Make sure you have selected a tree node first</li>
                    <li><strong>"Account code already exists":</strong> Choose a different unique code</li>
                    <li><strong>"Cannot delete account":</strong> Check if the account has child accounts or transactions</li>
                    <li><strong>"Changes not saving":</strong> Verify all required fields are completed correctly</li>
                </ul>

                <h5>Getting Help:</h5>
                <p>If you encounter issues not covered in this help guide:</p>
                <ul>
                    <li>Contact your system administrator</li>
                    <li>Check with your accounting department for account structure guidelines</li>
                    <li>Refer to your organization's accounting manual</li>
                    <li>Contact technical support for system-related issues</li>
                </ul>

                <h5>Additional Resources:</h5>
                <p>Consult your organization's financial policies and procedures for specific guidelines on account management and classification.</p>
            `
        ]
    );
</script>