<style>
    .mb-0 {
        margin-bottom: 0px !important;
    }

    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .addcolor {
        color: #ffffff;
    }
</style>
<div class="portlet box green-box main">

    <div class="portlet-title">
        <div class="caption ng-binding">
            <i class="fa fa-list-alt"></i>
            <span class="caption-subject bold uppercase">
                Attribute  List
            </span>
        </div>
        <div class="actions">
            <a class="btn dark-green btn-sm addcolor" id="createbtn" ng-click="showModalForNew(event)" ng-disabled="treenodeselected!= 'Y'">
                <i class="fa fa-plus"></i> NEW
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-offset-8 col-md-4 search_box">
                <div class="topsearch" style="display:block;">
                    <a class="btn-linkicon fa fa-search" style="margin-right: -13px;" ng-click="BindGrid('All')"></a>
                    <input class="k-textbox txtSearchString" type="text" id="regtxtSearchString" ng-model="txtSearchString" name="search" placeholder="enter search text..." style="margin-left: 13px;" />

                </div>
            </div>
        </div>
        <kendo-grid id="kGrid" options="attributeChildGridOptions" k-rebind="attributeChildGridOptions">
        </kendo-grid>
    </div>
    <div class="modal fade" id="attributeModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog modal-dialog-box popup">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <span class="fa fa-file"></span> Attribute Setup
                    </h4>
                </div>

                <div class="modal-body">
                    <form id="attributesArrform" name="attributesArrform" class="form-horizontal" novalidate>
                        <div class="row">
                            <!-- Under Group -->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Under Group:</label>
                                    <div class="col-sm-9">
                                        <select id="masterattributecode" kendo-drop-down-list
                                                k-options="attributeGroupOptions"
                                                style="width: 100%" disabled
                                                ng-model="attributesArr.MASTER_ATTRIBUTE_CODE">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- Type flag -->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <fieldset class="fieldset-box">
                                            <legend>Type flag:</legend>
                                            <div class="col-sm-7 radiobox">
                                                <label class="radio_btn">
                                                    <input type="radio" name="attributeType" ng-model="attributesArr.GROUP_SKU_FLAG" value="G" ng-disabled="groupschilddisabled"> Group
                                                </label>
                                                <label>
                                                    <input type="radio" name="attributeType" ng-model="attributesArr.GROUP_SKU_FLAG" value="I" ng-disabled="groupschilddisabled"> Individual
                                                </label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Shortcut & English Name -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Shortcut:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="shortcut" name="shortcut"
                                               ng-model="attributesArr.ATTRIBUTE_CODE"
                                               class="form-control" readonly />
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">
                                        English Name:
                                        <span style="color:red"
                                              ng-show="(attributesArrform.$submitted || attributesArrform.attributeEnglishName.$touched)
                                                   && attributesArrform.attributeEnglishName.$error.required">
                                            *
                                        </span>
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="text" id="attributeEnglishName" name="attributeEnglishName"
                                               ng-model="attributesArr.ATTRIBUTE_EDESC"
                                               class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Nepali Name & Remarks -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Nepali Name:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="attributeNepaliName" name="ATTRIBUTE_NDESC"
                                               ng-model="attributesArr.ATTRIBUTE_NDESC"
                                               class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group mb-0">
                                    <label class="control-label col-sm-3">Remarks:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="remarks" name="REMARKS"
                                               ng-model="attributesArr.REMARKS"
                                               class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"
                                    ng-click="SubLedger_Cancel($index)">
                                Cancel
                            </button>

                            <button type="button" class="btn btn-sm btn-green" id="savedocumentformdata"
                                    ng-click="saveNewAttribute(attributesArrform)"
                                    data-loading-text="<i class='fa fa-spinner fa-spin'></i> Processing...">
                                <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $(".topsearch").hide();
        $("#regtxtSearchString").keyup(function () {
            var val = $('#regtxtSearchString').val();
            $("#kGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    {
                        field: "ATTRIBUTE_CODE",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "ATTRIBUTE_EDESC",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "REMARKS",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "CREATED_BY",
                        operator: "contains",
                        value: val
                    }
                ]
            });
        });
        setTimeout(function () {
            $('.k-list').slimScroll({
                height: '250px'
            });
        }, 100);
        $('.nav-tabs a').on('click', function (e) {
            e.preventDefault();
            //if ($(this).attr('href') == '#tab_1') {
            //    $('#tab_1').tab('show')
            //}
            if ($(this).attr('href') == '#tab_2') {
                $('#tab_2').tab('show')
            }
        });
    });
</script>
<script src="@Scripts.Url(" ~/JS/reportFilter.js")"></script>
