<style>
    .mb-0 {
        margin-bottom: 0px !important;
    }

    .ta-c {
        text-align: center !important;
    }

    .mb--8 {
        margin-bottom: -8px !important;
    }

    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .k-grid-content {
        height: 285px !important
    }

    #kGrid {
        height: 427px !important;
    }

    .addcolor {
        color: #ffffff;
    }

    .btn-help-custom {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #4caf50;
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;
    }

        .btn-help-custom:hover {
            transform: scale(1.15);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
            border-color: white;
        }

        .btn-help-custom i {
            font-size: 17px;
        }
</style>
<div class="portlet box green-box main">

    <div class="portlet-title">
        <div class="caption caption-title ng-binding">
            <i class="fa fa-list-alt"></i><span class="caption-subject bold uppercase">Branch Setup</span>
            <a class="btn-help-custom" onclick="HelpPopup.showByKey('branchManagement')" title="Help">
                <i class="fa fa-question-circle"></i>
            </a>
        </div>
        <div class="actions">
            <a class="btn dark-green btn-sm addcolor" id="createbtn" ng-disabled="treenodeselected!= 'Y'" ng-click="showModalForNew(event)">
                <i class="fa fa-plus"></i> NEW
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-offset-8 col-md-4 search_box">
                <div class="topsearch" style="display:block;">
                    <a class="btn-linkicon fa fa-search" style="margin-right: -13px;" ng-click="BindGrid('All')"></a>
                    <input class="k-textbox txtSearchString" type="text" id="bchtxtSearchString" ng-model="txtSearchString" name="search" placeholder="enter search text..." style="margin-left: 13px;" />
                </div>
            </div>
        </div>
        <kendo-grid id="kGrid" options="branchCenterChildGridOptions" k-rebind="branchCenterChildGridOptions">
        </kendo-grid>
    </div>

    <div class="modal fade-out" id="branchSetupModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog modal-medium-large">
            <div class="modal-content">
                <div class="modal-header">
                    <div type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</div>
                    <h4 class="modal-title">
                        <span class="fa fa-file"></span>
                        Branch Setup Model
                    </h4>
                </div>
                <div class="modal-body">

                    <form name="branchArrform" class="form-horizontal" novalidate>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">Under Group:</label>
                                    <div class="col-sm-9 col-md-9 col-lg-9">
                                        <select id="masterbranchcode" kendo-drop-down-list
                                                ng-disabled="true"
                                                k-options="branchGroupOptions"
                                                style="width: 100%"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <fieldset class="fieldset-box">
                                        <legend class="mb-0 ta-c">Record type</legend>

                                        @*<label class="control-label col-md-3 col-lg-3"></label>*@
                                        <div class=" radio_select">

                                            <span>
                                                <input type="radio" name="locationType" ng-model="branchgArr.GROUP_SKU_FLAG" value="G" ng-disabled="true" /> Group
                                            </span>
                                            <span>
                                                <input type="radio" name="locationType" ng-model="branchgArr.GROUP_SKU_FLAG" value="I" ng-disabled="true" /> Individual
                                            </span>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3" for="branchcode">
                                        Shortcut:
                                    </label>
                                    <div class="col-sm-9 col-md-9 col-lg-9">
                                        <input type="text" id="branchcode" name="branchcode" ng-model="branchgArr.BRANCH_CODE" class="form-control" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @*<input type="hidden" id="branchcode" name="branchcode" ng-model="branchgArr.BRANCH_CODE" class="form-control" />*@
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3" for="branchengname">
                                        In English:<span style="color:red" ng-show="branchArrform.branchengname.$invalid">
                                            <span ng-show="branchArrform.branchengname.$error.required">*</span>
                                        </span>
                                    </label>
                                    <div class="col-sm-9 col-md-9 col-lg-9">
                                        <input type="text" id="branchengname" name="branchengname" ng-model="branchgArr.BRANCH_EDESC" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3" for="branchnepname">In Nepali:</label>
                                    <div class="col-sm-9 col-md-9 col-lg-9">
                                        <input type="text" id="branchnepname" name="branchnepname" ng-model="branchgArr.BRANCH_NDESC" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3" for="telephone">
                                        Tel No:<span class="error" style="color:red" ng-show="branchArrform.telephone.$error.pattern">*</span>
                                    </label>
                                    <div class="col-sm-9 col-md-9 col-lg-9">
                                        <input type="text" id="telephone" ng-pattern="phoneNumbr" name="telephone" placeholder="eg: 9841234567, 014457567" maxlength="10" ng-model="branchgArr.TELEPHONE_NO" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3" for="email">
                                        Email:
                                    </label>
                                    <div class="col-sm-9 col-md-9 col-lg-9">
                                        <input type="text" id="email" name="email" ng-model="branchgArr.EMAIL" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group mb-0">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3" for="remarks">Remarks:</label>
                                    <div class="col-sm-9 col-md-9 col-lg-9">
                                        <input type="text" id="remarks" name="REMARKS" ng-model="branchgArr.REMARKS" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3" for="address">
                                        Address:
                                    </label>
                                    <div class="col-sm-9 col-md-9 col-lg-9">
                                        <input type="text" id="address" name="address" ng-model="branchgArr.ADDRESS" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-sm btn-green" id="savedocumentformdata" ng-click="saveNewBranchCenter()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                    </button>

                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="SubLedger_Cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Helper/GlobalHelper.cshtml")
</div>

<script>
    $(document).ready(function () {
        $('.k-list').slimScroll({
            height: '250px'
        });
        $(".topsearch").hide();
        $("#bchtxtSearchString").keyup(function () {
            var val = $('#bchtxtSearchString').val();
            $("#kGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    {
                        field: "BRANCH_EDESC",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "ADDRESS",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "EMAIL",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "REMARKS",
                        operator: "contains",
                        value: val
                    }
                ]
            });
        });
    });
</script>
<script>
    // Register help content for Branch Setup page with pagination
    HelpPopup.register(
        'branchManagement',
        'Branch Setup Help',
        [
            // Page 1 - Overview and Navigation
            `
                <h4>Branch Setup - Overview</h4>
                <p>The Branch Setup page allows you to define the organizational structure of your company by creating branch groups and individual branch locations.</p>

                <h5>Main Interface Features:</h5>
                <ul>
                    <li><strong>Tree View (Left):</strong> Displays your branches in a hierarchy. You can see the relationship between parent groups and individual branches.</li>
                    <li><strong>Data Grid (Right):</strong> Shows a detailed list of branches including Address, Email, and Remarks.</li>
                    <li><strong>Grouping:</strong> You can drag any column header to the top bar to group the list by that specific field (e.g., grouping by Address).</li>
                    <li><strong>Action Icons:</strong> Use the "Edit" (pencil) icon to modify branch details or the "Delete" (trash) icon to remove a record.</li>
                </ul>
            `,

            // Page 2 - Branch Setup Model (Creation)
            `
                <h4>Creating and Managing Branches</h4>
                <p>Use the "Branch Setup Model" window to add new entries to your organizational tree.</p>

                <h5>Record Types:</h5>
                <ul>
                    <li><strong>Group:</strong> Use this to create a category or a parent entity (e.g., "Western Region") that will contain multiple branches.</li>
                    <li><strong>Individual:</strong> Use this for an actual operational branch location.</li>
                </ul>

                <h5>Hierarchy Selection:</h5>
                <ul>
                    <li><strong>Under Group:</strong> Select the parent group where this branch belongs. Use <em>&lt;PRIMARY&gt;</em> for top-level groups or select an existing group like "Neoverse Branch" to create a sub-branch.</li>
                </ul>
            `,

            // Page 3 - Field Definitions
            `
                <h4>Branch Information Fields</h4>
                <p>Fill in the following details to ensure accurate branch reporting and communication:</p>

                <ul>
                    <li><strong>In English (*):</strong> The official name of the branch in English. This is a required field.</li>
                    <li><strong>In Nepali:</strong> The branch name in Devanagari script for local documentation.</li>
                    <li><strong>Shortcut:</strong> A brief code or alias for the branch to speed up data entry in other modules.</li>
                    <li><strong>Tel No:</strong> Primary contact numbers (e.g., landline or mobile).</li>
                    <li><strong>Email & Address:</strong> The specific contact email and physical location of the branch.</li>
                    <li><strong>Remarks:</strong> Any additional notes regarding the branch's operations or status.</li>
                </ul>

                <h5>Best Practices:</h5>
                <p>Always double-check the <strong>Under Group</strong> selection. Placing an 'Individual' branch under the wrong 'Group' will affect how your financial and inventory reports are consolidated.</p>
            `
        ]
    );
</script>
<script src="@Scripts.Url(" ~/JS/reportFilter.js")"></script>
