<style>
    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget *:before, .k-animation-container *:after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #customerType_listbox {
        height: 80px !important;
    }

    .fieldset-box {
        margin-bottom: 8px;
    }

    .document_child_table tbody.table_body {
        min-height: 86px !important;
    }

    div#ndp-nepali-box {
        z-index: 10076 !important;
    }

    div#ndp-nepali-box {
        font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
        border: 1px solid #CCC;
        background-color: #FFF;
        position: absolute;
        z-index: 9999;
        padding: 1px;
        margin-top: 1px;
    }

    .k-select {
        display: none;
    }

    .requiredAsterik {
        position: absolute;
        top: 0px;
        right: 5px;
    }

    .k-list-container {
        width: 250px !important;
    }

    table {
        table-layout: fixed;
    }

        table th, table td {
            overflow: hidden;
        }

    .k-grid-content {
        height: 285px !important
    }

    #kGrid {
        height: 427px !important;
    }

    .borderRed {
        border: solid red 1px !important;
    }

    .addcolor {
        color: #ffffff;
    }


    .btn-help-custom {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #4caf50;
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;
    }

        .btn-help-custom:hover {
            transform: scale(1.15);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
            border-color: white;
        }

        .btn-help-custom i {
            font-size: 17px;
        }
</style>
<div id="CompanySetupCtrl" class="portlet box green-box main">
    <div class="portlet-title">
        <div class="caption ng-binding">
            <i class="fa fa-list-alt"></i>
            <span class="caption-subject bold uppercase">
                Company
            </span>
            <a class="btn-help-custom" onclick="HelpPopup.showByKey('companyManagement')" title="Help">
                <i class="fa fa-question-circle"></i>
            </a>
        </div>
        <div class="actions">
            <a class="btn dark-green btn-sm addcolor" id="createbtn" ng-click="showModalForNew(event)">
                <i class="fa fa-plus"></i> New
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-offset-8 col-md-4 search_box">
                <div class="topsearch" style="display:block;">
                    <a class="btn-linkicon fa fa-search" ng-click="BindSearchGrid()"></a>
                    <input class="k-textbox txtSearchString" type="text" id="comtxtSearchString" ng-model="txtSearchString" name="search" placeholder="enter search text..." />
                </div>
            </div>
        </div>
        <kendo-grid id="kGrid" options="companyCenterChildGridOptions" k-rebind="companyCenterChildGridOptions">
        </kendo-grid>
    </div>
    <div class="modal fade-out" id="CompanyModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog modal-medium-large popup">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</button>
                    <h4 class="modal-title">
                        <span class="fa fa-file"></span>
                        Company Model
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="customersArrform" class="form-horizontal" novalidate>
                        <div class="row" style="scrollbar-base-color:yellow">
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">Shortcut:</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="shortcut" name="shortcut" ng-model="companyArr.COMPANY_CODE" class="form-control" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label class="control-label col-sm-9 col-md-9 col-lg-9">Consolidation</label>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <span> <input type="checkbox" id="chkColidation" name="chkColidation" ng-model="companyArr.CONSOLIDATE_FLAG" value="B" ng-change='newValue(value)'></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label col-sm-6 col-md-6 col-lg-6">Abbreviation Code</label>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <input type="text" id="abbreviationCode" name="abbreviationCode" ng-model="companyArr.ABBR_CODE" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                        Address:@*<span style="color:red" ng-show="companyform.address.$invalid">
                                                <span ng-show="companyform.address.$error.required">*</span>
                                            </span>*@
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="companyAddress" name="companyAddress" ng-model="companyArr.ADDRESS" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                        In English:@*<span style="color:red" ng-show="companyform.companyengname.$invalid">
                                                <span ng-show="companyform.companyengname.$error.required">*</span>
                                            </span>*@
                                    </label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="comEnglishName" name="comEnglishName" ng-model="companyArr.COMPANY_EDESC" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">Address Nepali:</label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="companyNepaliAddress" name="companyNepaliAddress" ng-model="companyArr.ADDRESS_NEPALI" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">In Nepali:</label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="companyNepaliName" name="companyNepaliName" ng-model="companyArr.COMPANY_NDESC" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">Telephone:</label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="companyTelephone" name="companyTelephone" ng-model="companyArr.TELEPHONE" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">VAT/PAN</label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="companyVatPan" name="companyVatPan" ng-model="companyArr.TPIN_VAT_NO" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">Registration No.</label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="companyVat" name="companyTelephone" ng-model="companyArr.REGISTRATION_NO" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">Fax:</label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="companyFax" name="companyFax" ng-model="companyArr.FAX" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">Email:</label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="companyEmailAddress" name="companyEmailAddress" ng-model="companyArr.EMAIL" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">Web:</label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="companyWeb" name="companyWeb" ng-model="companyArr.WEB" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">Verified On:</label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="companyVerified" name="companyVerified" ng-model="companyArr.VERIFIED_ON" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">Remarks:</label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <textarea style="height:80px" type="text" id="companyRemarks" name="companyRemarks" ng-model="companyArr.REMARKS" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">Company Logo:</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="file" id="companyLogo" name="companyLogo" accept="image/*"
                                               file-model="companyArr.LOGO_FILE_NAME" class="form-control" onchange="angular.element(this).scope().previewImage(this)" />
                                        <div style="margin-top:10px;">
                                            <img ng-if="companyArr.LOGO_PREVIEW" ng-src="{{companyArr.LOGO_PREVIEW}}"
                                                 alt="Company Logo" class="img-thumbnail" style="max-width: 120px; max-height: 120px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">Footer Logo:</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="file" id="footerLogo" name="footerLogo" accept="image/*"
                                               file-model="companyArr.FOOTER_LOGO_FILE_NAME" class="form-control" onchange="angular.element(this).scope().previewFooterImage(this)" />
                                        <div style="margin-top:10px;">
                                            <img ng-if="companyArr.LOGO_FOOTER_PREVIEW" ng-src="{{companyArr.LOGO_FOOTER_PREVIEW}}"
                                                 alt="footer Logo" class="img-thumbnail" style="max-width: 120px; max-height: 120px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-green" id="savedocumentformdata" ng-click="saveNewCompany(companyArr.$valid)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                    </button>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="SubLedger_Cancel($index)">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Helper/GlobalHelper.cshtml")
</div>
<script>
    $(document).ready(function () {
        //$("#nepaliDate5").val(AD2BS(kendo.toString(new Date(), 'yyyy-MM-dd')));
        //$("#nepaliDate6").val(AD2BS(kendo.toString(new Date(), 'yyyy-MM-dd')));
        //$("#nepaliDate7").val(AD2BS(kendo.toString(new Date(), 'yyyy-MM-dd')));
        function ConvertNepToEng(e) {
            var date = BS2AD($("#nepaliDate5").val());
            var FormattedEngDate = moment(date).format('DD-MMM-YYYY');
            $("#englishdatedocument").val(FormattedEngDate);
        }
        $('.k-list').slimScroll({
            height: '250px'
        });
        $('#companyModal').on('shown.bs.modal', function () {
            $(document).off('focusin.modal');
        });
        $('#groupcompanyModal').on('shown.bs.modal', function () {
            $(document).off('focusin.modal');
        });
        //setTimeout(function () {
        //    $('.k-list').slimScroll({
        //        height: '250px'
        //    });
        //}, 100)

        $('.nav-tabs a').on('click', function (e) {
            var text = angular.element("#companySetupTreeCtrl").scope().immediateStopPropogation;
            if (text == "disableTab") {
                e.preventDefault();
                e.stopImmediatePropagation();
            }
            else {
                e.preventDefault();
            }
        });
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#comtxtSearchString").keyup(function () {
            var val = $('#comtxtSearchString').val();
            $("#kGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    {
                        field: "COMPANY_EDESC",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "ADDRESS",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "TELEPHONE",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "EMAIL",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "FAX",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "WEB",
                        operator: "contains",
                        value: val
                    },
                ]
            });
        });
    });
</script>
<script>
    // Register help content for Company Model page with pagination
    HelpPopup.register(
        'companyManagement',
        'Company Model Help',
        [
            // Page 1 - Overview and Basic Identity
            `
                <h4>Company Model - Overview</h4>
                <p>The Company Model is the central configuration for your business entity. The information entered here appears on official documents, invoices, and tax filings.</p>

                <h5>Key Identification Fields:</h5>
                <ul>
                    <li><strong>Shortcut:</strong> A unique short name or code used for internal navigation and quick reference.</li>
                    <li><strong>Abbreviation Code:</strong> A 2-3 letter code used in document numbering prefixes (e.g., "NV" for Neo Verse).</li>
                    <li><strong>In English:</strong> The official registered name of the company in English.</li>
                    <li><strong>In Nepali:</strong> The official registered name in Devanagari script for local compliance.</li>
                    <li><strong>Consolidation:</strong> Check this box if this entity is a parent company used for consolidating financial reports from multiple branches.</li>
                </ul>
            `,

            // Page 2 - Contact & Address Details
            `
                <h4>Contact & Address Details</h4>
                <p>Ensure these details are accurate as they are used for the header of your printed reports and VAT invoices.</p>

                <h5>Location Information:</h5>
                <ul>
                    <li><strong>Address:</strong> The primary physical or registered office address in English.</li>
                    <li><strong>Address Nepali:</strong> The local script version of your office address.</li>
                    <li><strong>Telephone:</strong> The primary landline or mobile contact number.</li>
                    <li><strong>Fax:</strong> The company's fax number (if applicable).</li>
                    <li><strong>Web:</strong> Your official website URL (e.g., www.neoverse.com).</li>
                    <li><strong>Email:</strong> The primary contact email for corporate correspondence.</li>
                </ul>
            `,

            // Page 3 - Legal & Compliance
            `
                <h4>Legal & Compliance</h4>
                <p>This section handles the regulatory tracking for your business entity.</p>

                <h5>Registration Details:</h5>
                <ul>
                    <li><strong>VAT/PAN:</strong> Your 9-digit Permanent Account Number or Value Added Tax registration number. This is mandatory for legal billing.</li>
                    <li><strong>Registration No.:</strong> The company incorporation number provided by the Office of the Company Registrar (OCR).</li>
                    <li><strong>Verified On:</strong> The date your last legal verification or audit was completed.</li>
                    <li><strong>Remarks:</strong> Use this area for internal notes regarding company status, licensing nuances, or special instructions.</li>
                </ul>

                <h5>Saving Changes:</h5>
                <p>Click the <strong>Save</strong> button to commit your changes. Note that changing the VAT/PAN or Company Name may require administrative privileges as it affects historical records.</p>
            `
        ]
    );
</script>