<style>
    #example .demo-section {
        max-width: none;
        width: 515px;
    }

    #example .k-listbox {
        width: 236px;
        height: 310px;
    }

        #example .k-listbox:first-of-type {
            width: 270px;
            margin-right: 1px;
        }

    .tree-dropdown-panel {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        border: 1px solid #ccc;
        z-index: 1060; /* Higher than modal */
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        padding: 10px;
        border-radius: 4px;
    }

    .search-input-wrapper {
        position: relative;
        display: inline-block;
        width: 250px;
    }

        .search-input-wrapper .form-control {
            padding-right: 30px;
            width: 100%;
            box-sizing: border-box;
        }

        .search-input-wrapper::after {
            font-family: "WebComponentsIcons";
            content: "\25BC";
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            color: #666;
            font-size: 14px;
            pointer-events: none;
            z-index: 1;
        }
</style>

<style>
    .demo-section label {
        margin-bottom: 5px;
        font-weight: bold;
        display: inline-block;
    }

    #employees {
        width: 270px;
    }

    #example .demo-section {
        max-width: none;
        width: 515px;
    }

    #example .k-listbox {
        width: 236px;
        height: 310px;
    }

        #example .k-listbox:first-of-type {
            width: 270px;
            margin-right: 1px;
        }

    div#example {
        position: relative;
    }

    .k-widget.k-listbox.k-listbox-toolbar-right {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .k-listbox {
        width: 12.4em;
        height: 200px;
        vertical-align: top;
        background-color: transparent;
        border-width: 0;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }

    .k-widget {
        border-width: 1px;
        border-style: solid;
        box-sizing: border-box;
        outline: 0;
        font-size: 14px;
        line-height: 1.42857143;
        display: block;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
    }

    .k-block, .k-panel, .k-widget {
        border-color: rgba(0,0,0,.08);
        color: #656565;
        background-color: #fff;
    }

    .k-widget {
        border-width: 1px;
        border-style: solid;
        box-sizing: border-box;
        outline: 0;
        font-size: 14px;
        line-height: 1.42857143;
        display: block;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
    }

    .k-listbox.k-listbox-toolbar-left .k-listbox-toolbar ul, .k-listbox.k-listbox-toolbar-right .k-listbox-toolbar ul {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .k-listbox .k-listbox-toolbar ul {
        display: -ms-flexbox;
        display: flex;
    }

    .k-reset {
        margin: 0;
        padding: 0;
        border-width: 0;
        outline: 0;
        font: inherit;
        text-decoration: none;
        list-style: none;
    }

    .k-list .k-item, .k-list-optionlabel {
        transition-property: color,background-color,outline-color,box-shadow;
        transition-duration: .2s;
        transition-timing-function: ease;
    }

    .k-list .k-item, .k-list-optionlabel {
        padding: 4px 8px;
        min-height: 1.42857143em;
        line-height: 1.42857143em;
        white-space: normal;
    }

    .k-list > .k-item {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        -ms-flex-line-pack: center !important;
        align-content: center !important;
    }


    .k-widget.k-listbox.k-listbox-toolbar-right {
        position: relative;
        margin-right: 45px !important;
    }


    .k-listbox-toolbar {
        position: absolute;
        right: -38px;
    }

    ul.k-reset.k-list {
        height: 305px !important;
    }

    #CustomermapModal .modal-dialog {
        min-width: 1100px !important
    }
</style>

<style>
    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget *:before, .k-animation-container *:after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #customerType_listbox {
        height: 80px !important;
    }

    .fieldset-box {
        margin-bottom: 8px;
    }

    /*.englishdate {
        width: 117px !important;
    }

    .k-i-warning {
        display: none;
    }*/
    .document_child_table tbody.table_body {
        min-height: 86px !important;
    }

    div#ndp-nepali-box {
        z-index: 10076 !important;
    }

    div#ndp-nepali-box {
        font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
        border: 1px solid #CCC;
        background-color: #FFF;
        position: absolute;
        z-index: 9999;
        padding: 1px;
        margin-top: 1px;
    }

    .k-select {
        display: none;
    }

    .requiredAsterik {
        position: absolute;
        top: 0px;
        right: 5px;
    }

    .k-list-container {
        width: 250px !important;
    }

    table {
        table-layout: fixed;
    }

        table th, table td {
            overflow: hidden;
        }

    .k-grid-content {
        /* height: 367px !important */;
    }

    #kGrid {
        height: 427px !important;
    }

    .borderRed {
        border: solid red 1px !important;
    }

    .addcolor {
        color: #ffffff;
    }
</style>

<style>
    .pickList_sourceListContainer, .pickList_controlsContainer, .pickList_targetListContainer {
        float: left;
        margin: 0.25em;
    }

    .pickList_controlsContainer {
        text-align: center;
    }

        .pickList_controlsContainer button {
            display: block;
            width: 100%;
            text-align: center;
        }

    .pickList_list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: left;
        width: 150px;
        height: 75px;
        border: 1px inset #eee;
        overflow-y: auto;
        cursor: default;
    }

    .pickList_selectedListItem {
        background-color: #a3c8f5;
    }

    .pickList_listLabel {
        font-size: 0.9em;
        font-weight: bold;
        text-align: center;
    }

    .pickList_clear {
        clear: both;
    }
</style>


<div class="portlet box green-box main">
    <div class="portlet-title">
        <div class="caption ng-binding">
            <i class="fa fa-list-alt"></i>
            <span class="caption-subject bold uppercase">
                Dealer
            </span>
        </div>
        <div class="actions">
            <a class="btn dark-green btn-sm addcolor" id="createbtn" ng-click="AddChildDealer(event)" ng-disabled="treenodeselected!= 'Y'">
                <i class="fa fa-plus"></i> New
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-offset-8 col-md-4 search_box">
                <div class="topsearch">
                    <a class="btn-linkicon fa fa-search" @*ng-click="BindSearchGrid()" *@></a>
                    <input class="k-textbox txtSearchString" type="text" id="custtxtSearchString" ng-model="txtSearchString" name="search" placeholder="enter search text..." />
                </div>
            </div>
        </div>
        <kendo-grid id="kGrid" options="dealerChildGridOptions" k-rebind="dealerChildGridOptions">
        </kendo-grid>
    </div>
    <div class="modal fade-out" id="dealerModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog  modal-dialog-box popup">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="resetFormValidation()" aria-hidden="true" next-on-tab>&times;</button>
                    <h4 class="modal-title">
                        <span class="fa fa-file"></span>
                        Dealer Information
                    </h4>
                </div>
                <div class="modal-body">
                    <fieldset class="fieldset-box">
                        <legend style="text-align: right;">
                            <label>
                                <input type="checkbox" ng-model="dealerArr.IS_ACTIVE" /> InActive Dealer
                            </label>
                        </legend>
                        <form name="dealerform" class="form-horizontal" novalidate>

                            <div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Dealer Code</label>
                                            <div class="col-md-8">
                                                <input type="text" id="customerChildAutoGenerated" name="CHILD_AUTOGENERATED" ng-model="dealerArr.PARTY_TYPE_CODE" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-8">Master Code</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <input type="text" id="masterPartyCode" name="MASTER_PARTY_CODE" ng-model="dealerArr.MASTER_PARTY_CODE" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-offset-2 col-md-6">Pre Code</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <input type="text" id="prePartyCode" name="PRE_PARTY_CODE" ng-model="dealerArr.PRE_PARTY_CODE" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Dealer Type(G/I):</label>
                                            <div class="col-md-8" style="display: flex; align-items: center; justify-content: space-between;">
                                                <label class="radio-inline">
                                                    <input ng-model="dealerArr.GROUP_SKU_FLAG" type="radio" name="groupSkuFlag" value="G" /> Group
                                                </label>
                                                <label class="radio-inline">
                                                    <input ng-model="dealerArr.GROUP_SKU_FLAG" type="radio" name="groupSkuFlag" value="I" /> Individual
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Parent:</label>
                                            <div class="col-md-8">
                                                <select id="dealerparentundergroup" kendo-drop-down-list
                                                        ng-disabled="true"
                                                        k-options="dealerGroupOptions"
                                                        style="width: 100%"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-offset-4 col-md-8" style="display: flex; align-items: center; justify-content: space-between;">
                                                <label>
                                                    <input type="checkbox" checked="checked" disabled /> Dealer Type
                                                </label>
                                                <label>
                                                    <input ng-model="dealerArr.PARTY_TYPE_FLAG" type="checkbox" /> CR Limit Control
                                                </label>
                                                @*<div class="checkbox">

                                                    </div>
                                                    <div class="checkbox">

                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Remarks</label>
                                            <div class="col-md-8">
                                                <textarea id="remarks" name="REMARKS" ng-model="dealerArr.REMARKS" class="form-control" rows="2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Dealer Company
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" id="dealerCompany" name="dealerCompany" ng-model="dealerArr.PARTY_TYPE_EDESC" class="form-control" required />
                                                <span class="text-danger"
                                                      style="font-style: italic; font-size: 12px;"
                                                      ng-show="dealerform.dealerCompany.$invalid && dealerform.dealerCompany.$touched">
                                                    Dealer Company is required
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Address</label>
                                            <div class="col-md-8">
                                                <input type="text" id="address" name="address" ng-model="dealerArr.ADDRESS" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Owner Name</label>
                                            <div class="col-md-8">
                                                <input type="text" id="ownername" name="ownername" ng-model="dealerArr.OWNER_NAME" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Pan No.
                                            </label>

                                            <div class="col-md-8">
                                                <input type="text"
                                                       id="panNo"
                                                       name="panNo"
                                                       ng-model="dealerArr.PAN_NO"
                                                       class="form-control"
                                                       maxlength="9"
                                                       ng-pattern="/^[0-9]{1,9}$/">

                                                <!-- Pattern validation message -->
                                                <span class="text-danger"
                                                      style="font-style: italic; font-size: 12px;"
                                                      ng-show="dealerform.panNo.$touched && dealerform.panNo.$error.pattern">
                                                    PAN No. must contain only digits (max 9)
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-4">Credit Limit</label>
                                            <div class="col-md-8">
                                                <input type="text" id="creditLimit" name="creditLimit" ng-model="dealerArr.CREDIT_LIMIT" class="form-control" ng-disabled="!dealerArr.PARTY_TYPE_FLAG" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Bank Guarantee</label>
                                            <div class="col-md-8">
                                                <input type="text" id="bankguarantee" name="bankguarantee" ng-model="dealerArr.BG_AMOUNT" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Credit Days</label>
                                            <div class="col-md-8">
                                                <input type="text" id="creditdays" name="creditdays" ng-model="dealerArr.CREDIT_DAYS" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Mobile No.
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text"
                                                       id="mobileNo"
                                                       name="mobileNo"
                                                       maxlength="10"
                                                       ng-model="dealerArr.TEL_NO"
                                                       ng-pattern="phoneNumbr"
                                                       class="form-control" />

                                                <!-- Pattern validation message -->
                                                <span class="text-danger"
                                                      style="font-style: italic; font-size: 12px;"
                                                      ng-show="dealerform.mobileNo.$touched && dealerform.mobileNo.$error.pattern">
                                                    Mobile No. is invalid
                                                </span>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label col-md-4">Email</label>
                                            <div class="col-md-8">
                                                <input type="email" id="email" name="email" ng-model="dealerArr.EMAIL" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border">Location Map</legend>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Link Account</label>
                                                <div class="col-md-8">
                                                    <div class="input-group col-md-12">
                                                        <select id="linkacc" k-value-primitive="true" ng-model="dealerArr.ACC_CODE" kendo-drop-down-list
                                                                k-options="accountsOptions"
                                                                style="width: 100%"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Branch Name</label>
                                                <div class="col-md-8">
                                                    <div class="input-group col-md-12">
                                                        <select id="childBranchName" ng-model="dealerArr.LINK_BRANCH_CODE" kendo-drop-down-list
                                                                k-options="branchOptions"
                                                                style="width: 100%"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Area Name</label>
                                                <div class="col-md-8">
                                                    <div class="input-group col-md-12">
                                                        <select id="childRegion" k-value-primitive="true" ng-model="dealerArr.AREA_CODE" kendo-drop-down-list
                                                                k-options="regionOptions"
                                                                style="width: 100%"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Zone</label>
                                                <div class="col-md-8">
                                                    <div class="input-group col-md-12">
                                                        <select id="childZone" k-value-primitive="true" ng-model="dealerArr.ZONE_CODE" kendo-drop-down-list
                                                                k-options="zoneOptions"
                                                                style="width: 100%"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <div class="form-group" style="margin-top: 10px !important;">
                                            <label class="control-label col-md-4">Credit Exceed ( %eg )</label>
                                            <div class="col-md-8">
                                                <input type="text" id="credexceed" name="credexceed" ng-model="dealerArr.EXCEED_LIMIT_PERCENTAGE" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Tel/Mobile</span>
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" maxlength="10" ng-pattern="phoneNumbr" id="telephone" name="telephone" ng-model="dealerArr.TEL_NO2" class="form-control" />
                                                <span class="text-danger"
                                                      style="font-style: italic; font-size: 12px;"
                                                      ng-show="dealerform.telephone.$touched && dealerform.telephone.$error.pattern">
                                                    Tel/Mobile No. is invalid
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">PDC Check Amount</label>
                                            <div class="col-md-8">
                                                <input type="text" id="pdcCheckamt" name="pdcCheckamt" ng-model="dealerArr.PDC_CHEQUE_AMT" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Sales Target Amount</label>
                                            <div class="col-md-8">
                                                <input type="text" id="salesTargetamt" name="salesTargetamt" ng-model="dealerArr.SALES_TARGET" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Trade Discount</label>
                                            <div class="col-md-6">
                                                <input type="text" id="tradeDiscount" name="tradeDiscount" ng-model="dealerArr.TRADE_DISCOUNT" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">BG/Unit Rate</label>
                                            <div class="col-md-6">
                                                <input type="text" id="bgunitRate" name="bgunitRate" ng-model="dealerArr.BG_PER_UNIT" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">PDC Check Amount</label>
                                            <div class="col-md-6">
                                                <input type="text" id="pdcCheckamt_bottom" name="pdcCheckamt_bottom" ng-model="dealerArr.PDC_CHEQUE_AMT" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Annual Bonus</label>
                                            <div class="col-md-6">
                                                <input type="text" id="anualBonus" name="anualBonus" ng-model="dealerArr.ANNUAL_BONUS" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">CD/Unit Rate</label>
                                            <div class="col-md-6">
                                                <input type="text" id="cdunitrate" name="cdunitrate" ng-model="dealerArr.CD_PER_UNIT" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Sales Target Amt</label>
                                            <div class="col-md-6">
                                                <input type="text" id="salesTargetamt_bottom" name="salesTargetamt_bottom" ng-model="dealerArr.SALES_TARGET" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">Terms & Condition</label>
                                            <div class="col-md-10">
                                                <textarea id="termsConditions" name="termsConditions" ng-model="dealerArr.TERMS_CONDITIONS" class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <fieldset class="fieldset-box">
                                <legend>Dealer/Customer Map Information</legend>
                                <div class="text-right" style="margin-bottom: 10px !important;">
                                    <button class="btn btn-success" id="createbtncustomer" ng-click="showModalForCustomer(event)">
                                        <i class="fa fa-plus"></i> Customer MAP
                                    </button>
                                </div>
                                <kendo-grid id="kGrid2" options="dealerChildGridOptions2" k-rebind="dealerChildGridOptions2">
                                </kendo-grid>
                            </fieldset>
                        </form>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-green" id="savedocumentformdatachild" ng-click="saveNewDealer()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                    </button>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="SubLedger_Cancel($index)">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade-out" id="CustomermapModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog modal-medium-large">
            <div class="modal-content">
                <div class="modal-header">
                    <div type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</div>
                    <h4 class="modal-title">
                        <span class="fa fa-file"></span> Dealer Mapping
                    </h4>
                </div>

                <div class="form-group">
                    <div class="row" style="margin: 10px 0;">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-sm-5 col-md-5 col-sm-5">
                                <div id="customerDropdown" role="application">
                                    @*<input type='text' class='k-textbox' ng-model="searchtest" placeholder='search' ng-keyup="searchcustomerlist()" />
                <button class="btn btn-sm btn-success" ng-click="searchcustomerlist()">Search</button>*@
                                    <!-- Custom Dropdown with TreeView -->
                                    <div class="dropdown-tree-container">
                                        <label>Group: </label>
                                        <div class="search-input-wrapper">
                                            <input type="text"
                                                   class="form-control"
                                                   ng-model="txtMainGroupSearchString"
                                                   ng-change="filterTreeView()"
                                                   placeholder="Select Customer"
                                                   ng-click="toggleTreeDropdown()" />
                                        </div>

                                        <div class="tree-dropdown-panel" ng-show="showTreeDropdown">
                                            <div id="customertree"
                                                 class="disableLeftClickOnTree"
                                                 kendo-tree-view="tree"
                                                 k-data-source="customertreeData"
                                                 k-options="customerOptions"
                                                 k-data-bound="customeronDataBound" 
                                                 style="max-height: 300px; overflow-y: auto;">
                                                <span k-template ng-click="BindGrid(dataItem.masterCustomerCode)">
                                                    {{dataItem.customerName}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1 col-md-1 col-lg-1">
                                <button class="btn btn-primary" ng-click="addSelectedCustomers()" id="btnAddSelectedCustomers">Add</button>
                            </div>

                            <div class="col-sm-5 col-md-5 col-lg-5" style="display: flex; align-items: center; justify-content: flex-end">
                                <label class="control-label col-sm-5 col-md-5 col-lg-5">Dealer Name: </label>
                                <input type="text"
                                       id="dealerCompany"
                                       name="dealerCompany"
                                       ng-model="dealerArr.PARTY_TYPE_EDESC"
                                       class="form-control col-sm-7 col-7 col-7" readonly />
                            </div>

                            <div class="col-sm-1 col-md-1 col-lg-1">
                                <button class="btn btn-danger" ng-click="removeSelectedCustomers()" id="btnRemoveSelectedCustomers">Remove</button>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding: 0 10px ">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <input style="margin-bottom: 5px;" type="text" ng-model="searchQuery" ng-change="filterGrid()" ng-keypress="onCustomerSearchKeypress($event)" placeholder="Search by Customer Name" class="form-control" id="btnSearchCustomerGrid">
                                <kendo-grid style="margin-bottom: 10px;" id="CustomerGrid" options="customerChildGridOptions" k-rebind="customerChildGridOptions">
                                </kendo-grid>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <input style="margin-bottom: 5px;" type="text" ng-model="searchSelectedCustomerQuery" ng-change="filterSelectedCustomerGrid()" placeholder="Search by Customer Name" class="form-control" id="btnSearchSelectedCustomerGrid">
                                <kendo-grid id="SelectedCustomerGrid" options="selectedCustomerGridOptions" k-rebind="selectedCustomerGridOptions"></kendo-grid>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-green" id="savedocumentformdata" ng-click="saveNewCustomers(companyform.$valid)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                            <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                        </button>
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="SubLedger_Cancel($index)">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            //$("#nepaliDate5").val(AD2BS(kendo.toString(new Date(), 'yyyy-MM-dd')));
            //$("#nepaliDate6").val(AD2BS(kendo.toString(new Date(), 'yyyy-MM-dd')));
            //$("#nepaliDate7").val(AD2BS(kendo.toString(new Date(), 'yyyy-MM-dd')));
            function ConvertNepToEng(e) {
                var date = BS2AD($("#nepaliDate5").val());
                var FormattedEngDate = moment(date).format('DD-MMM-YYYY');
                $("#englishdatedocument").val(FormattedEngDate);
            }

            $('.k-list').slimScroll({
                height: '250px'
            });
            $('#dealerModal').on('shown.bs.modal', function () {
                $(document).off('focusin.modal');
            });
            $('#groupCustomerModal').on('shown.bs.modal', function () {
                $(document).off('focusin.modal');
            });

            //setTimeout(function () {

            //    $('.k-list').slimScroll({
            //        height: '250px'
            //    });
            //}, 100)

            $('.nav-tabs a').on('click', function (e) {


                var text = angular.element("#customerSetupTreeCtrl").scope().immediateStopPropogation;
                if (text == "disableTab") {
                    e.preventDefault();
                    e.stopImmediatePropagation();
                }
                else {
                    e.preventDefault();
                }

            });
            $('[data-toggle="tooltip"]').tooltip();
        });


    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#custtxtSearchString").keyup(function () {
                var val = $('#custtxtSearchString').val();
                $("#kGrid").data("kendoGrid").dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "CUSTOMER_EDESC",
                            operator: "contains",
                            value: val
                        },
                        {
                            field: "REGD_OFFICE_EADDRESS",
                            operator: "contains",
                            value: val
                        },
                        {
                            field: "TELEPHONE",
                            operator: "contains",
                            value: val
                        },
                        {
                            field: "EMAIL",
                            operator: "contains",
                            value: val
                        },
                        {
                            field: "PARTY_TYPE_EDESC",
                            operator: "contains",
                            value: val
                        },
                        {
                            field: "ACC_EDESC",
                            operator: "contains",
                            value: val
                        },
                    ]
                });


            });
        });

    </script>
    <script src="@Scripts.Url(" ~/JS/reportFilter.js")"></script>
