
<style>
    .heightforfile {
        height: 14px;
    }

    .modal-dialogbox-body {
        min-height: 450px !important;
    }

    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .document_child_table td {
        /*border: 1px solid #ddd;*/
        font-size: 9px !important;
        border-top: none !important;
    }

    .document_child_table th {
        padding: 5px;
    }

    .buttonadd {
        padding-right: 3px;
        padding-left: 2px;
        /* padding-top: 2px; */
        margin-left: 3px !important;
        background-color: #ddd !important;
        color: forestgreen;
        border: solid #ccc 1px;
    }

    .buttonadd, .buttondelete {
        font-size: 11px;
    }

    .buttondelete {
        padding-right: 2px;
        padding-left: 3px;
        /* padding-top: 2px; */
        margin-left: 2px !important;
        background-color: #ddd !important;
        color: forestgreen;
        border: solid #ccc 1px;
    }

    .dynamic-table input {
        border: none !important;
        /* text-align: right; */
    }

    .dynamic-table input {
        font-size: 10px !important;
        height: 21px !important;
        padding: 0px 3px;
    }

    .document_child_table .table_body.min-body {
        max-height: 69px !important;
        display: block !important;
        overflow-y: auto;
        /* overflow: auto !important; */
    }

    .top-gap {
        margin-top: 5px;
    }

    .document_child_table td {
        /*border: 1px solid #ddd;*/
        font-size: 9px !important;
        border-top: none !important;
    }

    .dynamic-table input {
        border: none !important;
    }

    .k-grid-content {
        height: 280px !important;
    }

    #kGrid {
        height: 427px !important;
    }

    .main input.form-control, .main select {
        /*font-size:10px !important;*/
    }

    .chargerequiredAsterik {
        padding-left: 4px;
    }

    .borderRed {
        border: solid red 1px !important;
    }

    .addcolor {
        color: #ffffff;
    }

    div[id^="CHARGE_CHARGE_"][id$="-list"].k-list-container,
    div[id^="CHARGE_ACC_CODE_"][id$="-list"].k-list-container,
    div[id^="CHARGE_SUB_CODE_"][id$="-list"].k-list-container,
    #charge_document-list.k-list-container {
        width: 300px !important;
        min-width: 300px !important;
    }
</style>



<div class="portlet box green-box main">

    <div class="portlet-title">
        <div class="caption ng-binding">
            <i class="fa fa-list-alt"></i>
            <span class="caption-subject bold uppercase">
                Terms And Condition
            </span>
        </div>
        <div class="actions">
            <a class="btn dark-green btn-sm addcolor" id="createbtn" ng-disabled="treenodeselected" ng-click="showModalForNewTNC(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                <i class="fa fa-plus"></i> NEW
            </a>
        </div>
    </div>

    <div class="portlet-body">
        <div class="row">
            <div class="col-md-offset-8 col-md-4 search_box">
                <div class="topsearch" style="display:block;">
                    <a class="btn-linkicon fa fa-search" style="margin-right: -13px;" ng-click="BindGrid('All')"></a>
                    <input class="k-textbox txtSearchString" type="text" id="tnctxtSearchString" ng-model="txtSearchString" name="search" placeholder="enter search text..." style="margin-left: 13px;" />
                </div>
            </div>
        </div>
        <kendo-grid id="kGrid" options="TNCChildGridOptions" k-rebind="TNCChildGridOptions">
        </kendo-grid>
    </div>


    <div class="modal fade-out" id="tncModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog modal-medium-large popup">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</button>
                    <h4 class="modal-title">
                        <span class="fa fa-file"></span>
                        Terms And Condition Model
                    </h4>
                </div>

                <div class="modal-body">

                    <form name="tncArrform" class="form-horizontal" novalidate>
                        <div class="row" style="scrollbar-base-color:yellow">


                        </div>
                        <!-- rendering master elements -->

                        <div class="row">


                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">

                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                        In English:<span style="color:red" ng-show="tncArrform.tncEnglishName.$invalid">
                                            <span ng-show="tncArrform.tncEnglishName.$error.required">*</span>
                                        </span>
                                    </label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="tncEnglishName" name="tncEnglishName" ng-model="tncArr.TNC_EDESC" class="form-control" required />

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">

                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">In Nepali:</label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="tncNepaliName" name="TNC_NDESC" ng-model="tncArr.TNC_NDESC" class="form-control" />

                                    </div>
                                </div>
                            </div>

                        </div>


                    </form>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-sm btn-green" id="savedocumentformdata" ng-click="saveNewTNC(tncArrform.$valid)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                    </button>

                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="SubLedger_Cancel($index)">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade-out" id="tncChildModal" data-backdrop="static" tabindex="-1" data-width="760" style="width: 130rem !important">
        <div class="modal-dialog  modal-dialog-box">
            <div class="modal-content">
                <div class="modal-header">
                    <div type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</div>
                    <h4 class="modal-title">
                        <span class="fa fa-file"></span>
                        Terms And Condition Model
                    </h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/_tncSetupChildModalPartial.cshtml")
                </div>
                <div class="modal-footer">

                    <a class="btn btn-sm btn-green" id="savedocumentformdata" ng-disabled="!itemsetupform.$valid" ng-click="saveNewTNC(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                    </a>

                    <a href="" type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="ItemCancel()">Cancel</a>

                </div>
            </div>
        </div>
    </div>



</div>

<script>
    $(document).ready(function () {
        $("#createnewitems").on('click', function () {
            $("#itemModal").modal();
        });

        $('#itemGroupModal, #itemModal').on('shown.bs.modal', function () {
            $(document).off('focusin.modal');
        });

        setTimeout(function () {
            $('.k-list').slimScroll({
                height: '250px'
            });
        }, 100);

        $('.nav-tabs a').on('click', function (e) {
            e.preventDefault();


        });
    })
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".topsearch").hide();
        $("#itemtxtSearchString").keyup(function () {
            var val = $('#itemtxtSearchString').val();
            $("#kGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    {
                        field: "ITEM_EDESC",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "MU_EDESC",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "CATEGORY_EDESC",
                        operator: "contains",
                        value: val
                    },

                ]
            });


        });
    });

</script>
<script src="@Scripts.Url(" ~/JS/reportFilter.js")"></script>