<style>
    /*.document_child_table tbody.table_body {
        min-height: 85px !important;
    }*/

    .controlflag .form-group {
        margin-bottom: 5px !important;
    }

    .fieldsetbox-batch {
        min-height: 100px;
    }

    .requiredAsterik {
        position: absolute;
        top: 0px;
        right: 5px;
    }

    .chargerequiredAsterik {
        padding-left: 4px;
    }

    .k-multiselect.k-header {
        position: relative;
    }

        .k-multiselect.k-header::after {
            font-family: "WebComponentsIcons";
            content: "\25BC";
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            color: #666;
            font-size: 14px;
            pointer-events: none;
            z-index: 1;
        }

    .k-multiselect-wrap .k-input {
        padding-right: 25px;
    }

    .k-multiselect-wrap .k-clear-value {
        right: 28px;
    }
</style>


<form name="itemsetupform" class="form-horizontal" novalidate>
    <div class="row">

        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-3">Parent</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <select id="childmastertnccode" kendo-drop-down-list
                            k-options="tncGroupOptions"
                            ng-scope="tncsetup.TNC_CODE"
                            ng-disabled="true"
                            style="width: 100%"></select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label col-sm-1 col-md-3 col-lg-3" for="itemengname">
                    In English:
                    <span style="color:red" ng-show="tncsetupform.itemengname.$invalid">
                        <span ng-show="!tncsetupform.itemengname.$valid">*</span>
                    </span>
                </label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <input type="text" id="itemengname" name="itemengname" ng-model="tncArr.TNC_EDESC" class="form-control" required />
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-3" for="itemnname">In Nepali :</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <input type="text" id="itemnname" name="ITEM_NDESC" ng-model="tncArr.TNC_NDESC" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</form>

