@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
    var workingContent = EngineContext.Current.Resolve<IWorkContext>
    ();
    Layout = null;
}
@*<link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/salesinvoice.css")" rel="stylesheet" media="print" />
<link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/salesinvoice.css")" rel="stylesheet" />*@

<meta http-equiv="Content-Security-Policy" content="require-trusted-types-for 'script';">


@* sujal vai new code *@



<style>
    body {
        font-family: Arial, sans-serif;
        font-size: 12px;
    }

    .modal-dialog {
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
        margin: 30px auto;
    }

    .heade, .footer {
        width: 100%;
        text-align: center;
    }

    .heade-logo {
        width: 10%;
        float: left;
    }

    .heade-middle {
        width: 60%;
        float: left;
        text-align: center;
        font-weight: bold;
    }

    .heade-right {
        width: 20%;
        float: right;
        text-align: right;
        font-weight: bold;
    }
    .heade-rightInvoice {
        float: left;
        text-align: center;
        font-weight: bold;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;
    }

    th, td {
        border: 1px solid #000;
        padding: 6px;
        text-align: center;
    }

    .footer {
        position: relative;
        margin-top: 20px;
    }

    .rules {
        font-size: 10px;
        text-align: left;
        margin-top: 10px;
    }

    .signature {
        width: 33%;
        float: left;
        text-align: center;
        margin-top: 50px;
    }

    .clear {
        clear: both;
    }

    .totals-table td {
        text-align: right;
    }

        .totals-table td:first-child {
            text-align: left;
        }

    .info-section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .left-info, .right-info, .center-info {
        width: 20.33%;
    }

    /* Ensuring colons (:) align properly */
    .info-item {
        display: flex;
        color: black;
        width: 130%;
    }

        .info-item strong {
            width: 100px; /* Set a fixed width for labels to keep alignment */
            text-align: left;
            white-space: nowrap;
        }

        .info-item span {
            flex-grow: 1;
            text-align: left; /* Align values properly */
            white-space: nowrap;
        }

    p {
        margin: 0 0 2px;
    }

    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .logo-defaultJewel {
        width: 200px;

    }
/*    #salesInvoiceJewelleryPrintViewDiv{
        height: 200%;
    }*/

    .heade-middle{
        margin-left: 90px;
    }
</style>

<div id="salesInvoiceJewelleryPrintViewDiv">
    <div class="heade">
        <div class="heade-logo" style="font-weight: bold;">
            <img src="/Images/logo.png" alt="neo erp" title="neo erp" class="logo-defaultJewel">

            @*<img src="/Images/hulasLogo.png" alt="neo erp" title="neo erp" class="logo-defaultJewel">*@

        </div>

        <style>
            h3 {
                font-size: 20px;
                color: black;
                font-weight: bold;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            h5 {
                color: black !important;
                margin-top: 2px;
                margin-bottom: 2px;
            }
        </style>
        <div class="heade-middle">
            <h3>{{companyAndBranchDataModel.COMPANY_EDESC}}</h3>
            <h5>  (The DNA of Business)</h5>
            <h5>{{companyAndBranchDataModel.ADDRESS}}</h5>
            <h5>Email: {{companyAndBranchDataModel.EMAIL}}</h5>



        </div>

        @*<h4 style="font-weight:700;margin:0 auto" id="TaxINvoiceTest">{{taxinvoice}}</h4>
            <h5 style="font-weight:700;margin:0 auto" id="TaxInvoiceCopy">{{taxinvoice1}}</h5>*@

        <div class="heade-right">

            <div class="heade-rightInvoice">Invoice<br /></div>
            {{companyAndBranchDataModel.BRANCH_ADDRESS}}<br />
            Tel.: {{companyAndBranchDataModel.TELEPHONE}}<br />
            Mob.: +977-9888383920<br />
            PAN No.: {{companyAndBranchDataModel.TPIN_VAT_NO}}
        </div>

        <div class="clear"></div>
    </div>

    <hr>



    <style>
    </style>

    <!-- Updated Info Section -->
    <div class="info-section">
        <div class="left-info">
            <p class="info-item"><strong class="marginRight">Customer</strong> <span>:  {{masterModels.CUSTOMER_CODE}}</span></p>
            <p class="info-item"><strong>Address</strong> <span>: {{masterModels.REGD_OFFICE_EADDRESS}}</span></p>
            <p class="info-item"><strong>Contact No.</strong> <span>: {{masterModels.TEL_MOBILE_NO1}}</span></p>
            <p class="info-item"><strong>PAN/VAT No</strong> <span>: {{masterModels.PAN_NO}}</span></p>
        </div>

        <div class="center-info">
            <p class="info-item"><strong>Sales Person</strong> <span>: {{masterModels.EMPLOYEE_CODE}}</span></p>
            @*<p class="info-item"><strong>Counter</strong> <span>: 23</span></p>*@
            <p class="info-item"><strong>Payment Mode</strong> <span>: {{masterModels.PAYMENT_MODE}}</span></p>
        </div>

        <div class="right-info">
            <p class="info-item"><strong class="marginRightInvoice">Invoice No</strong> <span>: {{voucher_no}}</span></p>

            <p class="info-item" ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_HEADER.indexOf('Date') != -1">
                <strong>Invoice Date</strong> <span>: {{masterModels[element.COLUMN_NAME]|date:'yyyy-MM-dd'}}</span>
            </p>

            <p class="info-item" ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_HEADER.indexOf('Date') != -1">
                <strong>Invoice Miti</strong> <span>: {{getNepaliDate(masterModels[element.COLUMN_NAME])}}</span>
            </p>


        </div>
    </div>

    <table id="main-table" ng-if="!isPrintAble">
        <thead>
            <tr>
                <th>SN</th>
                <th>Code</th>
                <th>Type</th>
                <th>Particular</th>
                <th>Purity</th>
                <th>Qty</th>
                <th>Gross Wt.</th>
                <th>Less Stone</th>
                <th>Net Wt.</th>
                <th>Wastage</th>
                <th>Total Wt.</th>
                <th>Rate</th>
                <th>Amount</th>
                <th>Making Charge</th>
                <th>Stone Wt.</th>
                <th>Stone Amount</th>
                <th>Diamond Ct.</th>
                <th>Diamond Amount</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'">
                <td>{{$index + 1}}</td>
                <td style="text-align:left">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='ITEM_CODE'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                    </div>
                </td>
                <td></td>
                @*<td style="text-align:left">
                        <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                            <div ng-if="item.COLUMN_NAME==='MU_CODE'">
                                <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                            </div>
                        </div>
                    </td>*@

                <td style="text-align:left">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='REMARKS'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                    </div>
                </td>
                <td style="text-align:right">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='PURITY'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                    </div>
                </td>
                <td style="text-align:right">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='QUANTITY'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                    </div>
                </td>
                <td style="text-align:right">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='GROSS_WEIGHT'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                    </div>
                </td>
                <td style="text-align:right">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='LESS_STONE'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                    </div>
                </td>
                <td style="text-align:right">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='NET_WEIGHT'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                    </div>
                </td>
                <td style="text-align:right">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='WASTAGE'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                    </div>
                </td>
                <td style="text-align:right">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='TOTAL_WEIGHT'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                    </div>
                </td>
                <td style="text-align:right">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='UNIT_PRICE'">
                            <span>{{childModels[key][item.COLUMN_NAME]| number:2}}</span>
                        </div>
                    </div>
                </td>

                <td style="text-align:right">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='AMOUNT'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                    </div>
                </td>
                <td style="text-align:right">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='MAKING'">
                            <span>{{childModels[key][item.COLUMN_NAME]| number:2}}</span>
                        </div>
                    </div>
                </td>

                <td style="text-align:right">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='STONE_WEIGHT'">
                            <span>{{childModels[key][item.COLUMN_NAME]| number:2}}</span>
                        </div>
                    </div>
                </td>
                <td style="text-align:right">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='STONE_AMOUNT'">
                            <span>{{childModels[key][item.COLUMN_NAME]| number:2}}</span>
                        </div>
                    </div>
                </td>

                <td style="text-align:right">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='DIAMOND_CARAT'">
                            <span>{{childModels[key][item.COLUMN_NAME]| number:2}}</span>
                        </div>
                    </div>
                </td>
                <td style="text-align:right">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='DIAMOND_AMOUNT'">
                            <span>{{childModels[key][item.COLUMN_NAME]| number:2}}</span>
                        </div>
                    </div>
                </td>
                <td style="text-align:right">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='TOTAL_PRICE'">
                            <span>{{childModels[key][item.COLUMN_NAME]| number:2}}</span>
                        </div>
                    </div>
                </td>
            </tr>


            @*<tr>
                    <td>item.Serial</td>
                    <td>
                        <div ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:auto;">
                            <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                                <div ng-if="item.COLUMN_NAME==='ITEM_CODE'">
                                    <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        Item_description
                    </td>
                    <td></td>
                    <td>
                        <div ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:auto;">
                            <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                                <div ng-if="item.COLUMN_NAME==='QUANTITY'">
                                    <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                            <div ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:auto;">
                                <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                                    <div ng-if="item.COLUMN_NAME==='UNIT_PRICE'">
                                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                                    </div>
                                </div>
                            </div>
                    </td>
                    <td>
                        <div ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:auto;">
                            <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                                <div ng-if="item.COLUMN_NAME==='TOTAL_PRICE'">
                                    <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:auto;">
                            <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                                <div ng-if="item.COLUMN_NAME==='TOTAL_PRICE'">
                                    <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>*@
        </tbody>
    </table>

    <table ng-if="isPrintAble" id="main-table" 
        ng-repeat="productChunk in chunkedProducts track by $index"
        ng-class="{'print-page item_table_print no-page-break': $index === 0, 'print-page item_table_print': $index !== 0}">

        <thead>
            <tr>
                <th>SN</th>
                <th>Code</th>
                <th>Type</th>
                <th>Particular</th>
                <th>Purity</th>
                <th>Qty</th>
                <th>Gross Wt.</th>
                <th>Less Stone</th>
                <th>Net Wt.</th>
                <th>Wastage</th>
                <th>Total Wt.</th>
                <th>Rate</th>
                <th>Amount</th>
                <th>Making Charge</th>
                <th>Stone Wt.</th>
                <th>Stone Amount</th>
                <th>Diamond Ct.</th>
                <th>Diamond Amount</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in productChunk" class="ng-scope items_table">
                <td> <span>{{item.SN}}</span></td>
                <td style="text-align:left">

                    <span>{{item.ITEM_CODE}}</span>
                </td>
                <td></td>
                @*<td style="text-align:left">
            <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                <div ng-if="item.COLUMN_NAME==='MU_CODE'">
                    <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                </div>
            </div>
        </td>*@


                <td style="text-align:left">

                    <span>{{item.REMARKS}}</span>
                </td>
                <td style="text-align:right">
                    <span>{{item.PURITY}}</span>
                </td>
                <td style="text-align:right">

                    <span>{{item.QUANTITY}}</span>
                </td>
                <td style="text-align:right">


                    <span>{{item.GROSS_WEIGHT}}</span>
                </td>
                <td style="text-align:right">


                    <span>{{item.LESS_STONE}}</span>
                </td>
                <td style="text-align:right">
                    <span>{{item.NET_WEIGHT}}</span>
                </td>
                <td style="text-align:right">

                    <span>{{item.WASTAGE}}</span>
                </td>
                <td style="text-align:right">

                    <span>{{item.TOTAL_WEIGHT}}</span>
                </td>
                <td style="text-align:right">
                    <span>{{item.UNIT_PRICE}}</span>
                </td>

                <td style="text-align:right">

                    <span>{{item.AMOUNT}}</span>
                </td>
                <td style="text-align:right">

                    <span>{{item.MAKING}}</span>
                </td>

                <td style="text-align:right">

                    <span>{{item.STONE_WEIGHT}}</span>
                </td>
                <td style="text-align:right">


                    <span>{{item.STONE_AMOUNT}}</span>
                </td>

                <td style="text-align:right">


                    <span>{{item.DIAMOND_CARAT}}</span>
                </td>
                <td style="text-align:right">



                    <span>{{item.DIAMOND_AMOUNT}}</span>
                </td>
                <td style="text-align:right">

                    <span>{{item.TOTAL_PRICE}}</span>
                </td>
            </tr>


            @*<tr>
            <td>item.Serial</td>
            <td>
                <div ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:auto;">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='ITEM_CODE'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
            <td>
                Item_description
            </td>
            <td></td>
            <td>
                <div ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:auto;">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='QUANTITY'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                    <div ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:auto;">
                        <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                            <div ng-if="item.COLUMN_NAME==='UNIT_PRICE'">
                                <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                            </div>
                        </div>
                    </div>
            </td>
            <td>
                <div ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:auto;">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='TOTAL_PRICE'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:auto;">
                    <div ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='TOTAL_PRICE'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>*@
        </tbody>
    </table>




    <table class="totals-table">
        <tr>
            <td style="width:70%;border-bottom:none">Gold Rate :</td>
            <td>Total</td>
            <td>{{SUB_TOTAL| number:2}}</td>
        </tr>





        <tr ng-repeat="(key, value) in ChargeList">
            <td style="width: 70%; border-top: none; border-bottom: none" ng-if="$index == 0"></td>
            @*<td style="width: 70%; border-top: none; border-bottom: none" ng-if="$index == 0">Remarks :</td>*@
            <td style="width: 70%; border-top: none; border-bottom: none" ng-if="$index != 0"></td>

            <td>{{value.CHARGE_EDESC}}</td>
            <td>{{value.CHARGE_AMOUNT| number:2}}</td>
        </tr>



        @*<tr>
                <td style="width: 70%; border-top: none; border-bottom: none"></td>
                <td>Luxury Tax</td>
                <td></td>
            </tr>*@


        <tr>
            <td style="width:70%;border-top:none"></td>
            <td>Net Total</td>
            <td>{{adtotal| number:2}}</td>
        </tr>

    </table>




    <p><strong>In Words:</strong>Rs. {{amountinword}} Only. </p>

    <div class="rules">

        <p>Terms & Condition: </p>

    </div>

    <footer>
        <div style="display: flex; justify-content: space-between; text-align: center;">
            <div style="width: 33.33%;">
                <p>-----------------------------</p>
                <p>Prepared By</p>
            </div>
            <div style="width: 33.33%;">
                <p>-----------------------------</p>
                <p>Received By</p>
            </div>
            <div style="width: 33.33%;">
                <p>-----------------------------</p>
                <p>Authorized Signature</p>
            </div>
        </div>
    </footer>

</div>