@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
    var workingContent = EngineContext.Current.Resolve<IWorkContext>
    ();
    Layout = null;
}
@*<link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/salesinvoice.css")" rel="stylesheet" media="print" />
    <link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/salesinvoice.css")" rel="stylesheet" />*@
<link href="~/Areas/NeoERP.DocumentTemplate/Content/salesinvoice.css" rel="stylesheet" />
<link href="~/Areas/NeoERP.DocumentTemplate/Content/salesinvoice.css" rel="stylesheet" media="print" />
<style>
    .header, .header-space,
    .footers, .footer-spaces {
        height: 205px;
    }

    .header {
        position: fixed;
        top: 0;
    }

    .footer {
        /*position: fixed;*/
        position: relative;
        bottom: 0;
    }

    /* .page {
        page-break-after: always;
    }*/

    #background {
        position: fixed;
        top: 30%;
        z-index: 0;
        display: block;
        min-height: 50%;
        min-width: 50%;
    }

    .fontsizedesign {
        font-size: 10px;
    }

    .large-font-table {
        font-size: 11px;
    }

        .large-font-table th,
        .large-font-table td {
            font-size: inherit;
        }

    #content {
        position: absolute;
        left: 75%;
        z-index: 1;
    }

    #bg-text {
        color: lightgrey;
        font-size: 60px;
        opacity: .4;
        transform: rotate(300deg);
        -webkit-transform: rotate(300deg);
    }

    .companylogo img {
        /*width: 89px !important;*/
        /*height: 100px !important;
        max-height: 105px;*/
        max-width: 115% !important;
        max-height: 70px !important;
        margin-right: 20px !important;
    }
    /*.companylogo {
        margin-right:30px;
    }

    .right-side {
        padding-top: 184px;
    }*/

    .left-side {
        padding-top: 25PX !important;
    }
</style>


<div class="printable-modal">

    <table>

        <thead>
            @*<tr>
                   <td style="width:20px;height:90px;">
                        <div class="companylogo">
                            <img alt="" src="~/Images/hyatt logo.jpg">
                        </div>
                        <br />
                       </td>
                    </tr>

                <tr>*@
        <td>
            <div class="header-space">
                @*@<div class="header">
                    <header class="p_header">*@
                <div class="companylogo">
                    <img alt="" src="~/Images/HyattRegency.JPEG">
                    @*<img alt="" src="~/Images/Radisson logo.jpeg">*@
                </div>

                <div class="right-side">

                    <table class="print_table consignee" style="margin-bottom:10px;">




                        @*<tr>
                                <td style=" text-align:left;"></td>
                            </tr>*@
                        <tr>
                            <td style=" text-align:left;">

                                <h4 style="font-weight:700;margin:0 auto" id="TaxINvoiceTest">{{taxinvoice}}</h4>
                                <h5 style="font-weight:700;margin:0 auto" id="TaxInvoiceCopy">{{taxinvoice1}}</h5>

                            </td>
                        <tr>
                            <td style=" text-align:left;">
                                Buyer Name
                            </td>
                            <td style="text-align: left;">
                                : {{masterModels.CUSTOMER_CODE}}
                            </td>

                        </tr>
                        <tr>
                            <td style=" text-align: left; font-size: 11px;">
                                Address
                            </td>
                            <td style="text-align: left; font-size: 11px;">
                                : {{masterModels.REGD_OFFICE_EADDRESS}}
                            </td>

                        </tr>



                        <tr>
                            <td style="text-align: left; font-size: 11px;">
                                Buyer PAN
                            </td>
                            <td style="text-align: left; font-size: 11px;">
                                : {{masterModels.TPIN_VAT_NO
                                }}
                            </td>
                        </tr>
                        <tr>
                            <td style=" text-align: left; font-size: 11px;">
                                Guest Name
                            </td>
                            <td style="text-align: left; font-size: 11px;">
                                : {{masterModels.GuestName}}
                            </td>
                        </tr>
                        <tr>
                            <td style=" text-align: left; font-size: 11px;">
                                Room No.
                            </td>
                            <td style="text-align: left; font-size: 11px;">
                                : {{RoomNumber}}
                            </td>
                        </tr>

                        </tr>

                    </table>

                </div>

                <div class="left-side">
                    <table class="print_table meta">

                        <tr>
                            @*<td style="width:35%;text-align:right;">
                                        <label>PAN:</label>
                                    </td>
                                    <td style="width:20%;text-align:left;">
                                        <label>601091593</label>
                                    </td>
                                </tr>*@
                        <tr>
                            <td style="width: 35%; text-align: right; font-size: 11px;">Invoice Number:</td>
                            <td style="width:20%;text-align:left;">
                                <div ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_NAME.indexOf('REMARKS') == -1">
                                    <div ng-if="element.COLUMN_NAME.indexOf('NO') !== -1">
                                        <div ng-if="element.COLUMN_NAME.indexOf('CHALAN_NO') !== -1">
                                            @*<label for="element">{{element.COLUMN_HEADER}}</label>*@
                                            <div><span>{{masterModels[element.COLUMN_NAME]}}</span></div>
                                        </div>
                                        <div ng-if="element.COLUMN_NAME.indexOf('ORDER_NO') !== -1">
                                            @*<label for="element">{{element.COLUMN_HEADER}}</label>*@
                                            <div><span>{{masterModels[element.COLUMN_NAME]}}</span></div>
                                        </div>
                                        <div ng-if="element.COLUMN_NAME.indexOf('RETURN_NO') !== -1">
                                            @*<label for="element">{{element.COLUMN_HEADER}}</label>*@
                                            <div><span>{{masterModels[element.COLUMN_NAME]}}</span></div>
                                        </div>
                                        <div ng-if="element.COLUMN_NAME.indexOf('SALES_NO') !== -1">
                                            @*<label for="element">{{element.COLUMN_HEADER}}</label>*@
                                            <div><span>{{masterModels[element.COLUMN_NAME]}}</span></div>
                                        </div>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 35%; text-align: right; font-size: 11px; ">
                                <label>Transaction Date:</label>
                            </td>
                            <td style="text-align: left;">
                                <div ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_HEADER.indexOf('Date') != -1">
                                    <div>
                                        <span>{{masterModels[element.COLUMN_NAME]|date:'yyyy-MM-dd'}}</span>
                                        <br />
                                        <span>[{{getNepaliDate(masterModels[element.COLUMN_NAME])}}]</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; font-size: 11px; ">
                                <label>Invoice Issue date:</label>
                            </td>
                            <td style="text-align: left; font-size: 11px;">
                                <div>{{todayDateOpera|date:'dd-MM-yy'}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; font-size: 11px; ">
                                Arrival
                            </td>
                            <td style="text-align: left; font-size: 11px;">
                                : {{ArrivalDate | date:'dd-MM-yy'}}
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; font-size: 11px; ">
                                Departure
                            </td>
                            <td style="text-align: left; font-size: 11px;">
                                : {{DepartuteDate | date:'dd-MM-yy'}}
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; font-size: 11px; ">
                                <label>Currency:</label>
                            </td>
                            <td style="text-align: left; font-size: 11px;">
                                <label>NPR</label>
                            </td>
                        </tr>



                    </table>
                </div>
                </header>


            </div>
</div>
                </td>
            </tr>
<tr>
    <td>
        <div id="background">
            <p id="bg-text">{{printcounttext}}</p>
        </div>
    </td>
</tr>
        </thead>
<tbody>
    <tr>
        <td class="page" style="width:1000px !important; padding-top:40px !important;">
                    @*<div class="table-responsive">*@
            <table class="table print_table fnce">
                <thead>
                    <tr>
                                <th style="width: 20%; font-size: 11px; text-align: left;">Date</th>
                                <th style="width: 30%; font-size: 11px; text-align: left;">HSN Code</th>
                                <th style="width: 90%; font-size: 11px; text-align: left;">Description of Goods</th>
                                <th style="width: 48%; font-size: 11px; text-align: left;">Reference</th>
                                <th style="width: 10%; font-size: 11px; text-align: center; ">Quantity</th>
                                <th style="width: 10%; font-size: 11px; text-align: center; ">Rate</th>
                                <th style="width: 15%; font-size: 11px; text-align: center; ">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-top-bottom"
                                ng-repeat="(key, row) in print_body_col | orderBy: 'SERIAL_NO'"
                                style="height:auto;">
                                <!-- Ensure the order of columns matches the <thead> -->
                                <td style="text-align: center; font-size: 11px;">
                                    <div ng-if="row.element | filter:{COLUMN_NAME:'ACTIVITY_DATE'}">
                                        <span>{{childModels[key]['ACTIVITY_DATE'] | date:'dd-MM-yy'}}</span>
                                    </div>
                                </td>
                                <td style="text-align: center; font-size: 11px;">
                                    <div ng-if="row.element | filter:{COLUMN_NAME:'HS_CODE'}">
                                        <span>{{childModels[key]['HS_CODE']}}</span>
                                    </div>
                                </td>
                                <td style="text-align: center; font-size: 11px;">
                                    <div ng-if="row.element | filter:{COLUMN_NAME:'ITEM_CODE'}">
                                        <span>{{childModels[key]['ITEM_CODE']}}</span>
                                    </div>
                                </td>
                                @*<td style="font-size: 11px;">
                                        <div ng-if="row.element | filter:{COLUMN_NAME:'REFERENCE'}">
                                            <span>{{childModels[key]['REFERENCE']}}</span>
                                        </div>
                                    </td>*@
                                <td style="font-size: 11px;">
                                    <div ng-if="row.element | filter:{COLUMN_NAME:'REFERENCE'}" style="max-width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" title="{{childModels[key]['REFERENCE']}}">
                                        <span>{{childModels[key]['REFERENCE']}}</span>
                                    </div>
                                </td>
                                <td style="text-align: center; font-size: 11px;">
                                    <div ng-if="row.element | filter:{COLUMN_NAME:'QUANTITY'}">
                                        <span>{{childModels[key]['QUANTITY']}}</span>
                                    </div>
                                </td>
                                <td style="text-align: center; font-size: 11px;">
                                    <div ng-if="row.element | filter:{COLUMN_NAME:'UNIT_PRICE'}">
                                        <span>{{childModels[key]['UNIT_PRICE']}}</span>
                                    </div>
                                </td>
                                <td style="text-align: right; font-size: 11px;">
                                    <div ng-if="row.element | filter:{COLUMN_NAME:'TOTAL_PRICE'}">
                                        <span>{{childModels[key]['TOTAL_PRICE']}}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr style="height:auto;"></tr>
                            <tr class="border-top-bottom">
                                <td class="page" style="text-align:right"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="width: 50px; font-size: 11px;">Total</td>
                                <td></td>
                                <td style="text-align: right; font-size: 11px;">{{SUB_TOTAL}}</td>
                            </tr>
                            <tr ng-repeat="(key, value) in ChargeList">
                                <td></td>
                                <td></td>
                                <td style="text-align:right;border-right:0px;" colspan="2"></td>
                                <td style="border-right: 0px; width: 150px; white-space: nowrap; font-size: 11px;">
                                    <div ng-if="value.CHARGE_EDESC !== '' ||value.CHARGE_EDESC!=='Service Charge'">
                                        <div><span>{{value.CHARGE_EDESC}}</span></div>
                                    </div>
                                </td>
                                <td style="border-right:0px;"></td>
                                <td style="width: 100px; text-align: right; border-right: 0px; font-size: 11px;">
                                    <div ng-if="value.CHARGE_AMOUNT !== ''">
                                        <div><span>{{value.CHARGE_AMOUNT}}</span></div>
                                    </div>
                                    <div ng-if="value.CHARGE_AMOUNT === 0 || value.CHARGE_AMOUNT < 0">
                                        <div><span>0.00</span></div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td style="text-align:right;border-right:0px;" colspan="2"></td>
                                <td style="border-right:0px;width:150px;white-space:nowrap;" font-size:11px;>Grand Total</td>
                                <td style="border-right:0px;"></td>
                                <td style="width: 100px; text-align: right; border-right: 0px; font-size: 11px;">{{adtotal}}</td>
                            </tr>
                            <tr>
                                <td style="text-align:right;border-right:0px;" colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>





                    <!--<table class="table print_table fnce">
                    <thead>
                        <tr>-->
                        @**@
                    <!--<th style="width:48.5%;">Date</th>-->
                        @**@
                    <!--<th style="width:48.5%;">Description of Goods</th>-->
                        @**@
                    <!--<th style="width:48.5%;">Reference</th>-->
                        @**@
                    <!--<th style="width:10%;">Quantity</th>-->
                        @**@
                    <!--<th style="width:10%;">Rate</th>-->
                    @**@
                    <!--<th style="width:15%;">Amount</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="border-top-bottom" ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:auto;">
                            <td ng-repeat="item in row.element | orderBy: 'SERIAL_No':true">
                                <div ng-if="item.COLUMN_NAME==='SALES_DATE'" style="text-align:center;">
                                    <span>{{childModels[key][item.COLUMN_NAME] |date:'dd-MM-yy'}}</span>
                                </div>
                                <div ng-if="item.COLUMN_NAME==='ITEM_CODE'" style="text-align: center;">
                                <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                            </div>
                                <div ng-if="item.COLUMN_NAME==='E_REFERENCE'">
                                <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                            </div>
                                <div ng-if="item.COLUMN_NAME==='QUANTITY'" style="text-align: center;">
                                <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                            </div>
                                <div ng-if="item.COLUMN_NAME==='UNIT_PRICE'" style="text-align: center">
                                <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                            </div>

                            <div ng-if="item.COLUMN_NAME==='TOTAL_PRICE'" style="text-align:right;">
                                <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                            </div>

                        </td>
                    </tr>
                    <tr style="height:auto;"></tr>
                    <tr class="border-top-bottom">


                        <td class="page" style="text-align:right"></td>

                        <td></td>
                            <td></td>
                        <td style="width:50px" ;>Total</td>

                        <td></td>
                            <td style="text-align:right">{{SUB_TOTAL}}</td>-->
                    @*Previously it was {{summary.grandTotal}}*@
                    <!--</tr>
                    <tr ng-repeat="(key, value) in ChargeList">
                                <td>
                                </td>
                        <td style="text-align:right;border-right:0px;" colspan="2"></td>

                        <td style="border-right:0px;width:150px; white-space:nowrap;">
                            <div ng-if="ChargeList[key]['CHARGE_EDESC']!=''">
                                <div><span>{{value.CHARGE_EDESC}}</span></div>
                            </div>
                        </td>


                        <td style="border-right:0px;"></td>
                        <td style="width:100px;text-align:right;border-right:0px;">
                            <div ng-if="ChargeList[key]['CHARGE_AMOUNT']!=''">
                                <div><span>{{value.CHARGE_AMOUNT}}</span></div>
                            </div>
                            <div ng-if="ChargeList[key]['CHARGE_AMOUNT']===0 || ChargeList[key]['CHARGE_AMOUNT']<0">
                                <div><span>0.00</span></div>
                            </div>
                                </td>
                                <td>
                        </td>
                        <td></td>

                    </tr>
                    <tr>
                                <td>
                                </td>
                        <td style="text-align:right;border-right:0px;" colspan="2"></td>



                        <td style="border-right:0px;width:150px;white-space:nowrap;">Grand Total</td>
                        <td style="border-right:0px;"></td>
                        <td style="width:100px; text-align:right;border-right:0px;">{{adtotal}}</td>
                       
                    </tr>
                    <tr>
                        <td style="text-align:right;border-right:0px;" colspan="2"></td>
                    </tr>


                </tbody>
                    </table>-->
                    @*</div>*@
        </td>
    </tr>
    <tr>
        <td>
                    <div><p style="font-weight: 700; font-size: 11px; font-size: 11px;">Rs. {{amountinword}} Only.</p></div>
        </td>
    </tr>
</tbody>
<tfoot>
    <tr>
        <td>
            <div class="footer-space">
                &nbsp;

                <div class="footer">
                    <div class="invoice_footer">
                        <div class="narration">

                            <p></p>
                        </div>

                        <div class="invoice_footer_details">
                                    <div style="text-align: right; margin-right: 40px; font-size: 11px;">
                                <div class="signature">
                                    <span>------------------------------</span>
                                            @*<p>Authorized Signature</p>*@
                                            <p>Guest Signature</p>
                                </div>

                            </div>

                        </div>
                        <div>
                                    <p style="font-size:11px;font-weight:600;" class="ff">I agree that I am personally liable for the payment of this statement, and  that if any third party authorized for payment of the same does not do so, that my liability for payment shall be joint with said third party. All dispute subject to City Jurisdiction. </p>
                        </div>

                        <div class="bottom-footer">
                            <div class="printed_date">


                                <div class="info" style="margin-top:20px; font-weight:400;">
                                                <h5 style="font-weight: 700; font-size: 11px;">HYATT REGENCY KATHMANDU</h5>
                                                <p>(A Unit of City Hotel Limited)</p>
                                                <p>P O Box 8801, Tahachal, Kathmandu, Nepal, 44600</p>
                                                <p>Tel +977 15381234 | Fax: +977 15381235 | Email:kathmandu.place@hyatt.com</p>
                                                <p>PAN: 302738784</p>
                                        </div>
                                        @*<div class="info" style="margin-top:20px; font-weight:400;">
                                            <h5 style="font-weight:700;">Radisson Hotel, Kathmandu</h5>
                                            <P>Oriental Hotels Limited </P>
                                            <P>
                                                P.O Box 2269, 141 Hotel Marg, Lazimpat, Kathmandu.
                                            </P>
                                            <P>Tel +977-1-4523888 | Fax: +977-1-4511720 | Email: reservation@radkat.com.np | Web: www.radisson.com/kathmandune </P>
                                            <P> PAN: 300048719 </P>
                                    </div>*@
                                <div class="f1">
                                            <span style="float: left; display: inline-block; font-size: 11px;">
                                        User Name: @workingContent.CurrentUserinformation.login_code
                                    </span>
                                            <span style="float: right; display: inline-block; font-size: 11px;">
                                                Print Date and Time: {{printTodayDateTime | date:'yyyy-MM-dd HH:mm:ss'}}
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </td>
    </tr>


</tfoot>
    </table>
</div>



