@*Tab here:*@

<style>
    .document-tab {
        width: 100% !important;
    }



    .d-tab-content {
        border: solid #ddd 1px;
        border-top: none !important;
        margin-top: -10px !important;
    }



    .no_gap input {
        margin-top: 1px !important;
    }


    .document-tab li {
        float: left !important;
        border-right: solid #ddd 1px;
        margin-right: 0px !important;
    }

    .document-tab {
        background-color: #eee;
        border-bottom: solid #ddd 1px;
    }

        .document-tab li a {
            color: #333;
            font-size: 11px;
            margin-right: 0px !important;
        }


        .document-tab li.active a {
            color: forestgreen;
            Background-color: #fff;
            margin-right: 0px !important;
            border-top: solid #43A12E 2px;
            border-bottom: none !important;
            border-right: none;
        }

        .document-tab li:first-child.active a {
            border-left: solid #ddd 1px;
            border-right: none;
        }

        .document-tab li a:hover {
            background-color: #fff;
            border-top: solid #43A12E 2px;
            border-bottom: none !important;
            border-right: none;
        }

        .document-tab li.active a:hover {
            background-color: #fff;
            border-top: solid #43A12E 2px;
            border-right: none !important;
        }



    .form-control.ng-pristine {
        /*text-align:left !important;*/
    }

    .dynamicform .k-dropdown-wrap.k-state-default input {
        border: none !important;
    }

    .dynamic-table .k-dropdown-wrap, .dynamic-table .k-input.products {
        border: none !important;
        box-shadow: none !important;
    }

        .dynamic-table .k-dropdown-wrap .k-state-focused, .dynamic-table .k-dropdown-wrap.k-state-default.k-state-focused {
            border: solid green 1px;
        }

    .dynamic-table .k-icon, .dynamicform .k-icon {
        display: none;
    }

    .autocomplete-text, .mutextbox {
        text-align: left !important;
    }

    .textbox {
        text-align: right !important;
    }

    .texttextbox {
        text-align: left !important;
    }
    /*.d-tab-content .tab-pane.active
    {
        max-height:171px;
        overflow-y:auto;
    }*/
    .documentform .tabbable {
        width: 101.5%;
    }

    .dynamic-table tbody {
        /*display: block !important;
        max-height: 140px !important;
        overflow: auto !important;*/
    }

    /*.dynamic-table thead, .dynamic-table tbody tr {
            display: table !important;
            width: 100% !important;
            table-layout: fixed !important;
        }*/

    .autocomplete-text, .mutextbox {
        width: 100%;
    }

    .dynamic-table td {
        border-top: none;
    }

    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .dropzone {
        width: 100%;
        height: 300px;
        max-height: 500px !important;
    }
</style>

<style>
    .table-responsive.position-relative {
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.7);
        z-index: 10;
        display: none; /* Hidden by default */
        justify-content: center;
        align-items: center;
    }

        .overlay.active {
            display: flex; /* Show when active class is added */
        }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px solid #ccc;
        border-top-color: #007bff;
        border-radius: 50%;
        animation: spin 0.8s linear infinite;
    }

    @@keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }


    .btn-custom-small {
        padding: 1px 8px;
        font-size: 12px;
        /*line-height: 1.5;*/
        border-radius: 3px;
        background-color: #5bc0de;
        border: 1px solid #46b8da;
        color: white;
    }

        .btn-custom-small:hover {
            background-color: #31b0d5;
            border-color: #269abc;
        }
</style>

<div class="tabbable-line1 tabbox1 content-section-prod-issue-items" style="margin-top:7px;">


    <ul id="myTab" class="document-tab nav nav-tabs ">
        <li class="active">
            <a href="#tab_15_1" data-toggle="tab">
                Transaction
            </a>
        </li>
        <li>
            <a href="#tab_15_2" data-toggle="tab">
                Reference
            </a>
        </li>
        <li>
            <a href="#tab_15_3" data-toggle="tab">
                Custom
            </a>
        </li>
        <li>
            <a href="#tab_15_4" data-toggle="tab">
                Document
            </a>
        </li>
        <li>
            <a href="#tab_15_5" data-toggle="tab">
                Charge
            </a>
        </li>
        @*<li>
                <a href="#tab_15_6" data-toggle="tab">
                    Shipping Details
                </a>
            </li>*@
        <li>
            <a href="#tab_15_6" data-toggle="tab" ng-click="getResourceEntryListEdit()">
                Resource
            </a>
        </li>
    </ul>
    <div class="tab-content d-tab-content">
        <div class="tab-pane active" id="tab_15_1">

            <div class="table-responsive position-relative">

                @Html.Partial("~/Areas/NeoErp.DocumentTemplate/Views/Shared/PartialView/_Inventory_childFieldPartial.cshtml")
            </div>

        </div>
        <div class="tab-pane" id="tab_15_2">
            <div class="table-responsive">
                @Html.Partial("~/Areas/NeoErp.DocumentTemplate/Views/Shared/PartialView/_financeVoucherReferencePartial.cshtml")
            </div>
        </div>
        <div class="tab-pane" id="tab_15_3">
            @Html.Partial("~/Areas/NeoErp.DocumentTemplate/Views/Shared/PartialView/_customTabPartial.cshtml")
        </div>
        <div class="tab-pane" id="tab_15_4">
            <div id="dZInventoryUploads" class="dropzone">
                <div class="dz-default dz-message"></div>
            </div>
        </div>
        <div class="tab-pane" id="tab_15_5">
            <div class="portlet light bordered1">
                @* change here*@
            </div>
        </div>
        <div class="tab-pane" id="tab_15_6">
            <div class="portlet light bordered1">
                <span style="display:none;"> Resource Tab Body here; </span>
                <div class="row">

                    <div>
                        <div class="panel-group" id="accordion">

                            <!-- Panel 1 -->
                            <div class="panel panel-default">
                                <div class="panel-heading" style="padding: 3px 9px">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle-resource" href="#collapse1">Resource</a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">

                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Resource Description</th>
                                                    <th>REQUIRED Quantity</th>
                                                    <th>Actual Quantity</th>
                                                    <th>MU Code</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="item in resourceEntryList track by $index">

                                                    <td>{{ item.RESOURCE_EDESC }}</td>
                                                    <td>{{ item.REQUIRED_INPUT_QTY }}</td>

                                                    <!-- If item has serials  span full row -->
                                                    <td colspan="3" ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='TRUE'">
                                                        <table class="table table-bordered table-condensed nested-serial-table">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width: 51%;">SerialNo</th>
                                                                    <th style="width: 30%;">QTY</th>
                                                                    <th style="width: 30%;">UNIT</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-if="item.SERIALS.length"><a ng-click="addSerialObj($index)" style="cursor:pointer;">Add</a> </tr>
                                                                <tr ng-repeat="sitem in item.SERIALS  track by $index">
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control" ng-model="sitem.SerialNo" placeholder="serial no" style="width:133px;">
                                                                            <i style="width: 10px; padding-left: 3px; height: 34px; padding-top: 9px;" class="fa fa-search btn btn-default" aria-hidden="true" ng-click="searchSerialNo(item,$parent.$index,$index)"></i>
                                                                        </div>
                                                                    </td>
                                                                    <td><input type="text" class="form-control" ng-model="sitem.Qty" placeholder="Qty"></td>
                                                                    <td>{{sitem.Unit}}</td>
                                                                    <td>
                                                                        <a href="" id="remove_child_element" name="remove_child_element" class="buttondelete" ng-click="removeParticularSerial($parent.$index, $index)"><i class="fa fa-trash" data-toggle="tooltip" title="Delete row"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='FALSE'">
                                                        <input type="number" class="form-control" ng-model="item.ACTUAL_QTY" placeholder="Enter Actual Quantity" />
                                                    </td>
                                                    <td ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='FALSE'">{{ item.MU_CODE }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Panel 2 -->
                            <div class="panel panel-default">
                                <div class="panel-heading" style="padding: 3px 9px">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle-resource" href="#collapse2" ng-click="resourceLoadOnEdit('M');">Human Resource</a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        @* <button type="button" class="btn-custom-small" style="float:right" data-toggle="modal" data-target="#ResourceEntryModel" ng-click="addResource('M');" ng-if="masterModels.TO_LOCATION_CODE && masterModels.PRODUCTION_QTY">Add/Update Resource</button>*@
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Resource Description</th>
                                                    <th>REQUIRED Quantity</th>
                                                    <th>Actual Quantity</th>
                                                    <th>MU Code</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="item in humanResourceEntryList track by $index">

                                                    <td>{{ item.RESOURCE_EDESC }}</td>
                                                    <td>{{ item.REQUIRED_INPUT_QTY }}</td>

                                                    <!-- If item has serials  span full row -->
                                                    <td colspan="3" ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='TRUE'">
                                                        <table class="table table-bordered table-condensed nested-serial-table">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width: 51%;">SerialNo</th>
                                                                    <th style="width: 30%;">QTY</th>
                                                                    <th style="width: 30%;">UNIT</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-if="item.SERIALS.length"><a ng-click="addSerialObj($index)" style="cursor:pointer;">Add</a> </tr>
                                                                <tr ng-repeat="sitem in item.SERIALS  track by $index">
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control" ng-model="sitem.SerialNo" placeholder="serial no" style="width:139px;">
                                                                            <i style="width: 10px; padding-left: 3px; height: 21px; padding-top: 3px;" class="fa fa-search btn btn-default" aria-hidden="true" ng-click="searchSerialNo(item,$parent.$index,$index)"></i>
                                                                        </div>
                                                                    </td>
                                                                    <td><input type="text" class="form-control" ng-model="sitem.Qty" placeholder="Qty"></td>
                                                                    <td>{{sitem.Unit}}</td>
                                                                    <td>
                                                                        <a href="" id="remove_child_element" name="remove_child_element" class="buttondelete" ng-click="removeParticularSerial($parent.$index, $index)"><i class="fa fa-trash" data-toggle="tooltip" title="Delete row"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='FALSE'">
                                                        <input type="number" class="form-control" ng-model="item.ACTUAL_QTY" placeholder="Enter Actual Quantity" />
                                                    </td>
                                                    <td ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='FALSE'">{{ item.MU_CODE }}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Panel 3 -->
                            <div class="panel panel-default">
                                <div class="panel-heading" style="padding: 3px 9px">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle-resource" href="#collapse3" ng-click="resourceLoadOnEdit('C');">Consumables</a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        @*  <button type="button" class="btn-custom-small" style="float:right" data-toggle="modal" data-target="#ResourceEntryModel" ng-click="addResource('C')" ng-if="masterModels.TO_LOCATION_CODE && masterModels.PRODUCTION_QTY">Add/Update Resource</button>*@
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Resource Description</th>
                                                    <th>REQUIRED Quantity</th>
                                                    <th>Actual Quantity</th>
                                                    <th>MU Code</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="item in consumablePowerResourceEntryList track by $index">

                                                    <td>{{ item.RESOURCE_EDESC }}</td>
                                                    <td>{{ item.REQUIRED_INPUT_QTY }}</td>

                                                    <!-- If item has serials  span full row -->
                                                    <td colspan="3" ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='TRUE'">
                                                        <table class="table table-bordered table-condensed nested-serial-table">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width: 51%;">SerialNo</th>
                                                                    <th style="width: 30%;">QTY</th>
                                                                    <th style="width: 30%;">UNIT</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-if="item.SERIALS.length"><a ng-click="addSerialObj($index)" style="cursor:pointer;">Add</a> </tr>
                                                                <tr ng-repeat="sitem in item.SERIALS  track by $index">
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control" ng-model="sitem.SerialNo" placeholder="serial no" style="width:139px;">
                                                                            <i style="width: 10px; padding-left: 3px; height: 21px; padding-top: 3px;" class="fa fa-search btn btn-default" aria-hidden="true" ng-click="searchSerialNo(item,$parent.$index,$index)"></i>
                                                                        </div>
                                                                    </td>
                                                                    <td><input type="text" class="form-control" ng-model="sitem.Qty" placeholder="Qty"></td>
                                                                    <td>{{sitem.Unit}}</td>
                                                                    <td>
                                                                        <a href="" id="remove_child_element" name="remove_child_element" class="buttondelete" ng-click="removeParticularSerial($parent.$index, $index)"><i class="fa fa-trash" data-toggle="tooltip" title="Delete row"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='FALSE'">
                                                        <input type="number" class="form-control" ng-model="item.ACTUAL_QTY" placeholder="Enter Actual Quantity" />
                                                    </td>
                                                    <td ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='FALSE'">{{ item.MU_CODE }}</td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab_15_6">
            <div class="portlet light bordered1">

            </div>
        </div>

    </div>



</div>


@*Resource Model Here;*@
<div>

    <!-- Modal -->
    <div id="ResourceEntryModel" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Resource</h4>
                </div>
                <div class="modal-body">
                    <h4>Resource Entry</h4>
                    <form name="resourceForm">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    @* <th>Resource Code</th>*@
                                    <th>Resource Description</th>
                                    <th>Required Quantity</th>
                                    <th>Actual Quantity</th>
                                    <th>MU Code</th>
                                </tr>
                            </thead>
                            <tbody>


                                <tr ng-repeat="item in resourceEntryList track by $index" ng-if="currentResourceCategoryType=='R'">
                                    <td>{{ item.RESOURCE_EDESC }}</td>
                                    <td>{{ item.REQUIRED_INPUT_QTY }}</td>
                                    <!-- If item has serials (like Motor-BTS), span full row -->
                                    <td colspan="3" ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='TRUE'">
                                        <a ng-click="addSerialObj($index)" style="cursor:pointer;">Add</a>

                                        <table class="table table-bordered table-condensed nested-serial-table">
                                            <thead>
                                                <tr>
                                                    <th style="width: 51%;">SerialNo</th>
                                                    <th style="width: 30%;">QTY</th>
                                                    <th style="width: 30%;">UNIT</th>
                                                    <th style="width: 30%;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="sitem in item.SERIALS  track by $index">
                                                    <td>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" ng-model="sitem.SerialNo" placeholder="serial no" style="width:139px;">
                                                            <i style="width: 10px; padding-left: 3px; height: 21px; padding-top: 3px;" class="fa fa-search btn btn-default" aria-hidden="true" ng-click="searchSerialNo(item,$parent.$index,$index)"></i>
                                                        </div>
                                                    </td>
                                                    <td><input type="text" class="form-control" ng-model="sitem.Qty" placeholder="Qty"></td>
                                                    <td>{{sitem.Unit}}</td>
                                                    <td>
                                                        <a href="" id="remove_child_element" name="remove_child_element" class="buttondelete" ng-click="removeParticularSerial($parent.$index, $index)"><i class="fa fa-trash" data-toggle="tooltip" title="Delete row"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='FALSE'">
                                        <input type="number" class="form-control" ng-model="item.ACTUAL_QTY" placeholder="Enter Actual Quantity" />
                                    </td>
                                    <td ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='FALSE'">{{ item.MU_CODE }}</td>
                                </tr>



                                <tr ng-repeat="item in humanResourceEntryList track by $index" ng-if="currentResourceCategoryType=='M'">
                                    <td>{{ item.RESOURCE_EDESC }}</td>
                                    <td>{{ item.REQUIRED_INPUT_QTY }}</td>
                                    <!-- If item has serials (like Motor-BTS), span full row -->
                                    <td colspan="3" ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='TRUE'">
                                        <a ng-click="addSerialObj($index)" style="cursor:pointer;">Add</a>
                                        <table class="table table-bordered table-condensed nested-serial-table">
                                            <thead>
                                                <tr>
                                                    <th style="width: 51%;">SerialNo</th>
                                                    <th style="width: 30%;">QTY</th>
                                                    <th style="width: 30%;">UNIT</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="sitem in item.SERIALS  track by $index">
                                                    <td>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" ng-model="sitem.SerialNo" placeholder="serial no" style="width:139px;">
                                                            <i style="width: 10px; padding-left: 3px; height: 21px; padding-top: 3px;" class="fa fa-search btn btn-default" aria-hidden="true" ng-click="searchSerialNo(item,$parent.$index,$index)"></i>
                                                        </div>
                                                    </td>
                                                    <td><input type="text" class="form-control" ng-model="sitem.Qty" placeholder="Qty"></td>
                                                    <td>{{sitem.Unit}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='FALSE'">
                                        <input type="number" class="form-control" ng-model="item.ACTUAL_QTY" placeholder="Enter Actual Quantity" />
                                    </td>
                                    <td ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='FALSE'">{{ item.MU_CODE }}</td>
                                </tr>
























































































































                                <tr ng-repeat="item in consumablePowerResourceEntryList track by $index" ng-if="currentResourceCategoryType=='C'">
                                    <td>{{ item.RESOURCE_EDESC }}</td>
                                    <td>{{ item.REQUIRED_INPUT_QTY }}</td>
                                    <!-- If item has serials (like Motor-BTS), span full row -->
                                    <td colspan="3" ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='TRUE'">
                                        <a ng-click="addSerialObj($index)" style="cursor:pointer;">Add</a>
                                        <table class="table table-bordered table-condensed nested-serial-table">
                                            <thead>
                                                <tr>
                                                    <th style="width: 51%;">SerialNo</th>
                                                    <th style="width: 30%;">QTY</th>
                                                    <th style="width: 30%;">UNIT</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="sitem in item.SERIALS  track by $index">
                                                    <td>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" ng-model="sitem.SerialNo" placeholder="serial no" style="width:139px;">
                                                            <i style="width: 10px; padding-left: 3px; height: 21px; padding-top: 3px;" class="fa fa-search btn btn-default" aria-hidden="true" ng-click="searchSerialNo(item,$parent.$index,$index)"></i>
                                                        </div>
                                                    </td>
                                                    <td><input type="text" class="form-control" ng-model="sitem.Qty" placeholder="Qty"></td>
                                                    <td>{{sitem.Unit}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='FALSE'">
                                        <input type="number" class="form-control" ng-model="item.ACTUAL_QTY" placeholder="Enter Actual Quantity" />
                                    </td>
                                    <td ng-if="item.HAS_SERIAL && item.HAS_SERIAL=='FALSE'">{{ item.MU_CODE }}</td>
                                </tr>




                            </tbody>
                        </table>
                        <button style="text-align:center;" type="button" class="btn btn-primary" ng-click="resourceSave()">OK</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>




    </div>


    <div class="modal fade" id="serialsLookupModal" tabindex="-1" role="dialog" aria-labelledby="serialsLookupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content resource-lookup-modal">
                <div class="modal-header">
                    <!-- Icon in title to match the image -->
                    <h4 class="modal-title" id="serialsLookupModalLabel">
                        <i class="fa fa-cubes" aria-hidden="true"></i> Select Serials
                    </h4>
                    <!-- Optional: Bootstrap's default close button, uncomment if needed -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form name="lookupForm" novalidate>
                        <!-- Find Input with Search Icon -->
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       placeholder="Find" ng-model="searchSerialText" ng-change="filterSerials()">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="filterSerials()">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>

                        <!-- Resource List Table -->
                        <div class="serial-table" style=" max-height: 70vh; overflow-y: auto;">
                            <table class="table table-condensed">
                                <!-- table-condensed for compact rows -->
                                <thead>
                                    <tr>
                                        <th>Unique Name</th>
                                        <th>SERIAL NO</th>
                                        <th>Total Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="itemSerial in currentSerialItems"
                                        ng-click="selectSerial(itemSerial)"
                                        ng-dblclick="doubleClickSelectSerial(itemSerial)"
                                        @*ng-class="{selected: selectedResource === resource}"*@>
                                        <td>{{ itemSerial.RESOURCE_UNIQUE_NAME }}</td>
                                        <td>{{ itemSerial.SERIAL_NO }}</td>
                                        <td>{{itemSerial.OUTPUT_CAPACITY }} {{itemSerial.UNIT}}</td>
                                    </tr>
                                    <tr ng-if="currentSerialItems.length === 0">
                                        <td colspan="2" class="text-center">No resources found.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <!-- Buttons as seen in the image -->
                    <button type="button" class="btn btn-default" ng-click="serialOk()">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    var myInventoryDropzone;
    $(document).ready(function () {


        $(".accordion-toggle-resource").click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr("href"));
            $(".panel-collapse").not($target).slideUp().removeClass("in");
            $target.stop(true, true).slideToggle().toggleClass("in");
        });



        $('.nav-tabs a').on('click', function (e) {
            e.preventDefault();
            if ($(this).attr('href') == '#tab_15_2') {
                $('#tab_15_2').tab('show')
            }
            if ($(this).attr('href') == '#tab_15_3') {
                $('#tab_15_3').tab('show')
            }
            if ($(this).attr('href') == '#tab_15_4') {
                $('#tab_15_4').tab('show')
            }
            if ($(this).attr('href') == '#tab_15_5') {
                $('#tab_15_5').tab('show')
            }
            if ($(this).attr('href') == '#tab_15_6') {
                $('#tab_15_6').tab('show')
            }
            //if ($(this).attr('href') == '#tab_15_7') {
            //    $('#tab_15_7').tab('show')
            //}

        });
        myInventoryDropzone = new Dropzone('#dZInventoryUploads', { // Make the whole body a dropzone
            url: "/Inventory/InventoryFileUpload/",
            thumbnailWidth: 200,
            thumbnailHeight: 75,
            autoDiscover: false,
            autoProcessQueue: false,
            addRemoveLinks: true,
            paramName: "inputFiles",
            uploadMultiple: true,
            parallelUploads: 100,
            maxFiles: 100,
            maxFileSize: 10,
        });
        myInventoryDropzone.on('sending', function (file, xhr, formData) {

            var voucherno = angular.element('#InventoryCtrl').scope().dzvouchernumber;
            var voucherdate = angular.element('#InventoryCtrl').scope().dzvoucherdate;
            var formcode = angular.element('#InventoryCtrl').scope().dzformcode;

            formData.append('VoucherNo', voucherno);
            formData.append('VoucherDate', voucherdate);
            formData.append('FormCode', formcode);

        });
        myInventoryDropzone.on("success", function (file, responseText) {

            if (responseText.status == "Error") {
                displayPopupNotification("File upload does not success. Please update.", "error");
            }
            else {
                myInventoryDropzone.removeFile(file);
            }
        });
        myInventoryDropzone.on("removedfile", function (file, xhr, formData) {

            //alert('File will be permanently deleted.');
            var filename = file.name;
            var voucherno = angular.element('#InventoryCtrl').scope().OrderNo;
            var formcode = angular.element('#InventoryCtrl').scope().formcode;
            var model = {
                FILE_NAME: filename,
                FORM_CODE: formcode,
                VOUCHER_NO: voucherno
            };
            var staturl = window.location.protocol + "//" + window.location.host + "/api/TemplateApi/deleteUploadedFile";
            $.ajax({
                type: 'POST',
                url: staturl,
                data: model,
                dataType: "json",
                success: function (data) {


                }
            });

        });
        $('#shippingterms').on('change', function () {
            // if (this.value == '1'); { No semicolon and I used === instead of ==
            if (this.value === 'FOB') {
                $("#freghtrate").show();
                $("#freghtamount").show();
            } else {
                $("#freghtrate").hide();
                $("#freghtamount").hide();
                $("#FreightRatetxt").val("");
                $("#FreightAmounttxt").val("");
            }
        });

        $("#CNNo").keyup(function (e) {
            if (/\D/g.test(this.value)) {
                // Filter non-digits from input value.
                this.value = this.value.replace(/\D/g, '');
            }
        });
    });
</script>



