@{
    ViewBag.Title = "View Target";
}
<style>
    .target-details {
        margin-top: 20px;
    }

        .target-details table {
            width: 100%;
            border-collapse: collapse;
        }

        .target-details th, .target-details td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
            font-size: 13px;
        }

        .target-details th {
            background-color: #f2f2f2;
        }
</style>

<div class="row" ng-controller="ViewTarget">
    <div class="col-md-12">
        <h3>Target Details</h3>
        <table class="table table-bordered target-details">
            <tr><th>Target ID</th><td>{{targetData.TARGET_ID}}</td></tr>
            <tr><th>Target Name</th><td>{{targetData.TARGET_NAME}}</td></tr>
            <tr><th>Target Type</th><td>{{targetData.TARGET_TYPE}}</td></tr>
            <tr><th>Target Quantity</th><td>{{targetData.TARGET_QUANTITY}}</td></tr>
            <tr><th>Target Amount</th><td>{{targetData.TARGET_AMOUNT}}</td></tr>
            <tr><th>Target Setup Type</th><td>{{targetData.TARGET_SETUP_TYPE}}</td></tr>
            <tr><th>Sub Target Type</th><td>{{targetData.SUB_TARGET_TYPE}}</td></tr>
            <tr><th>Date Filter</th><td>{{targetData.DATE_FILTER}}</td></tr>
            <tr><th>From Date</th><td>{{targetData.FROM_DATE}}</td></tr>
            <tr><th>End Date</th><td>{{targetData.END_DATE}}</td></tr>
            <tr><th>Master</th><td>{{targetData.MASTER_NAME}} ({{targetData.MASTER_CODE}})</td></tr>
            <tr><th>Employee Group</th><td>{{targetData.EMP_GROUP}}</td></tr>
            <tr><th>Assigned Employees</th><td>{{targetData.ASSIGN_EMPLOYEE}}</td></tr>
            <tr><th>Customer Group</th><td>{{targetData.CUSTOMER_GROUP}}</td></tr>
            <tr><th>Item Group</th><td>{{targetData.ITEM_GROUP}}</td></tr>
            <tr><th>Items</th><td>{{targetData.ITEMS}}</td></tr>
        </table>
    </div>
</div>

<script src="@Scripts.Url("~/JS/ReportFilter.js")" type="text/javascript"></script>
