<div ng-controller="tncCtrl" id="tncCtrl">
    <div ng-if="tncData && tncData.length > 0">
        <h4>Terms & Conditions:</h4>

        <div ng-repeat="item in tncData">
            <!-- Header for GROUP_SKU_FLAG = G -->
            <div ng-if="item.GROUP_SKU_FLAG === 'G'"
                 style="font-weight: bold; margin-top: 10px; margin-bottom: 10px; padding-left: 10px;">

                <span>{{item.TNC_EDESC}}</span>

                <span>
                    <button class="btn btn-sm btn-primary" ng-click="addchildtncInOrder(item.TNC_CODE)">Add</button>
                </span>
            </div>

            <!-- Normal items -->
            <div ng-if="item.GROUP_SKU_FLAG !== 'G'"
                 style="padding-left: 20px; text-align: left; margin-bottom: 10px; display:flex; align-items:center; justify-content:space-between;">

                <span>{{item.TNC_EDESC}}</span>

                <span>

                    <a class="fa fa-pencil-square-o editAction"
                       title="Edit"
                       ng-click="editchildtncInOrder(item.TNC_CODE)"
                       style="cursor: pointer;"
                       aria-label="Edit Child TNC">
                    </a>

                    <a class="fa fa-trash deleteAction"
                       title="Delete"
                       ng-click="deletechildtncInOrder(item.TNC_CODE)"
                       style="cursor: pointer;"
                       aria-label="Delete Child TNC">
                    </a>

                </span>
            </div>
        </div>


        <div class="modal fade-out" id="tncChildModal" data-backdrop="static" tabindex="-1" data-width="760" style="width: 130rem !important">
            <div class="modal-dialog  modal-dialog-box">
                <div class="modal-content">
                    <div class="modal-header">
                        <div type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</div>
                        <h4 class="modal-title">
                            <span class="fa fa-file"></span>
                            Terms And Condition Model
                        </h4>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/_tncSetupChildInOrderModalPartial.cshtml")
                    </div>
                    <div class="modal-footer">

                        <a class="btn btn-sm btn-green" id="savedocumentformdata" ng-disabled="!itemsetupform.$valid" ng-click="saveNewTNC(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                            <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                        </a>

                        <a href="" type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="ItemCancel()">Cancel</a>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

    @*<table class="document_child_table dynamic-table  table-fixed dynamic_child_table">
        <thead class="child-table-head">
            <tr>
                <th>Field Name</th>
                <th>Value</th>
                <th class="btn-action">
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody class="table_body">
            <tr ng-repeat="element in CustomFormElement track by $index">
                <td>
                    <div style="padding: 2px 5px">
                        <input type="text" value="{{element.FIELD_NAME}}" ng-model="element.FIELD_NAME" class="form-control" style="border: 1px solid darkgrey" />
                    </div>
                </td>
                <td>
                    <div style="padding: 2px 5px">
                        <input type="text" id="element__{{element.FIELD_NAME}}" ng-model="element.FIELD_VALUE" class="form-control" style="border: 1px solid darkgrey" />
                    </div>
                </td>
                <td class="btn-action">
                    <a href="" id="add_child_element" name="add_supllier_supply_other_info" class="buttonadd" ng-click="add_custom_transaction_row($index)"><i class="fa fa-plus"></i></a>

                    <a href="javascript:void(0)" class="buttondelete">
                        <i class="fa fa-trash text-danger" data-tooltip="Remove other info" ng-click="remove_custom_transaction_row($index)"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>*@
