<div ng-controller="purchaseTypeCtrl" id="purchaseTypeCtrl">
    
        <label for="element">{{element.COLUMN_HEADER}} <i class="fa fa-info-circle font-green" data-toggle="tooltip" title="{{element.HELP_DESCRIPTION}}"></i><span style="color:red">{{ptypeerror}}</span></label>
    
        <input id="ptype"
               ng-model="masterModels[element.COLUMN_NAME]"
               name="ptype"
               class="ptype mptype c w-100"
               kendo-drop-down-list
               k-option-label="'Select Purchase Type'"
               k-data-text-field="'P_TYPE_EDESC'"
               k-data-value-field="'P_TYPE'"
               k-filter="'contains'"
               k-suggest="true"
               k-on-change="PurchaseTypeOnChange(kendoEvent)"
               k-on-select="PurchaseTypeOnSelect(kendoEvent)"
               k-data-source="purchaseTypeDataSource" />
</div>


