<div ng-controller="tncCtrl" id="tncCtrl">

    <label for="element">{{element.COLUMN_HEADER}} <i class="fa fa-info-circle font-green" data-toggle="tooltip" title="{{element.HELP_DESCRIPTION}}"></i><span style="color:red">{{tncerror}}</span></label>

    <input id="tnc" ng-model="masterModels[element.COLUMN_NAME]" name="tnc" class="tnc mtnc w-100" kendo-drop-down-list
           k-placeholder="'Select TNC Code'"
           k-data-text-field="'TNC_EDESC'"
           k-data-value-field="'TNC_CODE'"
           @*k-filter="'contains'"*@
           k-auto-bind="false"
           k-options="TNCCodeOption"
           k-suggest="false"
           k-on-change="tncCodeOnChange(kendoEvent)"
           k-option-label="'Select TNC'"
           @*k-min-length="3"*@
           @*k-data-source="prorityDataSource"*@ />
</div>

