@{
    Layout = null;
}

<link href="@Styles.Url("~/Areas/NeoERP.QuotationManagement/Content/quotationSetup.css")" rel="stylesheet" />
<style>
    .k-grid .k-hierarchy-cell > .k-icon {
        width: 10;
    }

    .topsearch,
    .btn-group {
        display: inline-block;
        vertical-align: middle;
    }
</style>
<div class="col-md-12 bodyController" ng-controller="summaryReport">
    <div class="portlet light form-fit bordered bottomspance">
        <div class="portlet box green-box main">
            <div class="portlet-title">
                <div class="caption">
                    <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back" href="javascript:history.back();">
                        <i class="fa fa-arrow-circle-left"></i>
                    </a>
                    <i class="fa fa-gift font-white-haze"></i>
                    <span class="caption-subject font-white-haze bold uppercase">Summary Details</span>
                </div>
            </div>

            <div class="portlet-body light bg-inverse">
                <div class="row" style="margin-top: 2rem; margin-bottom: 0.3rem;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="topsearch">
                                    <input class="k-textbox txtSearchString"
                                           type="text"
                                           id="itemtxtSearchString"
                                           ng-model="txtSearchString"
                                           name="search"
                                           placeholder="Search...." />
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="btn-group text-left">
                                    @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", false)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="kGrid"></div>
                <script type="text/x-kendo-template" id="detail-template">
                    <div class="detail-grid-wrapper">
                        <div class="tender-detail-grid"></div>
                    </div>
                </script>
            </div>

        </div>
    </div>
</div>
<script src="@Scripts.Url("~/JS/reportFilter.js?V1")"></script>
<script src="@Scripts.Url("~/JS/DateFilter.js?v5")" type="text/javascript"></script>