@{
    Layout = null;
}

<link href="@Styles.Url("~/Areas/NeoERP.QuotationManagement/Content/quotationSetup.css")" rel="stylesheet" />
<div class="col-md-12 bodyController" ng-controller="valueSetup">
    <div class="portlet light form-fit bordered bottomspance">
        <div class="portlet box green-box main">
            <div class="portlet-title">
                <div class="caption">
                    <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back" href="javascript:history.back();">
                        <i class="fa fa-arrow-circle-left"></i>
                    </a>
                    <i class="fa fa-gift font-white-haze"></i>
                    <span class="caption-subject font-white-haze bold uppercase">Quotation Approval Value Setup</span>
                </div>
            </div>

            <div class="portlet-body light bg-inverse">
                <div class="row" style="display: flex; justify-content: space-between; align-items: center; margin-top: 2rem; margin-bottom: 0.3rem;">
                    <div class="col-md-3" style="flex: 1;">
                        <div class="topsearch" style="display: block;">
                            <input class="k-textbox txtSearchString" type="text" id="itemtxtSearchString" ng-model="txtSearchString" name="search" placeholder="Search...." style="width: 35%;" />
                        </div>
                    </div>
                </div>
                <div id="kGrid"></div>
            </div>
        </div>
    </div>
</div>
