@{
    Layout = null;
}

<div id="idrDataSyncCtrl" ng-controller="idrDataSyncCtrl">
    <div class="col-md-12" style="padding-top:10px !important;">
        <span>{{startedMessage}} </span>
    </div>


    <div class="col-md-12" style="padding-top:5px !important;">

        <kendo-grid id="kGridIRDList" options="mainGridOptionsIRDList">
        </kendo-grid>

        <script type="text/x-kendo-template" id="toolbar-template">
                          <a class="k-button k-button-icontext" ng-click="SyncData()">
                              <span class="k-icon k-i-check"></span>
                              Sync to IRD
                          </a>



                         <a class="k-button k-button-icontext" ng-click="RefreshList()">
                             <span class="fa fa-list"></span>
                             Refresh List
                         </a>
            <span>|</span>
                        <a class="k-button k-button-icontext" ng-click="ShowLogList()">
                            <span class="fa fa-list"></span>
                            Log Report
                        </a>

                          <span class="k-textbox k-grid-search k-display-flex" style="float:right;">
                              <input type="text" ng-model="searchText" ng-change="applySearch()" placeholder="Search Document No..." class="k-input" style="width: 200px;" />
                          </span>
                      </div>
        </script>
        <div id="logModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Log Report</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-md-3">
                                <label>From Date</label>
                                <input kendo-date-picker ng-model="logFromDate" k-format="'yyyy-MMM-dd'" style="width: 100%;" />
                            </div>
                            <div class="col-md-3">
                                <label>To Date</label>
                                <input kendo-date-picker ng-model="logToDate" k-format="'yyyy-MMM-dd'" style="width: 100%;" />
                            </div>
                            <div class="col-md-3">
                                <label>Voucher No</label>
                                <input type="text" class="form-control input-sm" ng-model="logVoucherNo" placeholder="Voucher No..." />
                            </div>
                            <div class="col-md-3" style="padding-top: 25px;">
                                <button class="btn btn-primary btn-sm" ng-click="FilterLogData()">Filter</button>
                                <button class="btn btn-default btn-sm" ng-click="ResetLogData()">Reset</button>
                            </div>
                        </div>
                        <kendo-grid id="kGridLogList" options="logGridOptions" style="height:400px; overflow:scroll;"></kendo-grid>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
