
.print_table {
    border-spacing: 0px !important;
}

.company_div {
    width: 35%;
    float: left;
    margin-right: 2px;
}

.modal_customized {
    width: 595px;
}

.print_document_title {
    display: flex;
}

    .print_document_title h3 {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin: 8px auto 9px;
        padding-bottom: 5px;
        letter-spacing: 10px;
        text-transform: uppercase;
    }


.print_table.meta div {
    font-weight: 600;
}


.print_table.meta td div label {
    font-weight: 600 !important;
    font-size: 11px !important;
}

.fnce thead th {
    text-align: left !important;
}

.invoice_footer_details {
    /*border: solid #000 1px;*/
    padding-top: 40px;
}

.print_table.meta {
    width: 100%;
}


#printTemplateModal h1 {
    font: bold 100% sans-serif;
    letter-spacing: 0.5em;
    text-align: center;
    text-transform: uppercase;
}

.print_table th, .print_table td {
    padding: 4px;
    text-align: left;
    /*border: solid #000 1px;*/
    font-weight: 600;
}




#printTemplateModal td div {
    font-weight: normal !important;
}

#printTemplateModal html {
    font: 16px/1 "Open Sans", sans-serif;
    overflow: auto;
    padding: 0.5in;
}

#printTemplateModal html {
    background: #999;
    cursor: default;
}

#printTemplateModal body {
    box-sizing: border-box;
    height: 11in;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.5in;
    width: 8.5in;
}

#printTemplateModal body {
    background: #FFF;
    border-radius: 1px;
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
}



#printTemplateModal header {
    margin: 0 0 15px;
}

    #printTemplateModal header:after {
        clear: both;
        content: "";
        display: table;
    }

    #printTemplateModal header h1 {
        background: #000;
        border-radius: 0.25em;
        color: #FFF;
        margin: 0 0 1em;
        padding: 0.5em 0;
    }

    #printTemplateModal header address {
        float: left;
        font-size: 75%;
        font-style: normal;
        line-height: 1.25;
        margin: 0 1em 1em 0;
    }

        #printTemplateModal header address p {
            margin: 0 0 0.25em;
        }



    #printTemplateModal header span {
        margin: 0 0 1em 1em;
        max-height: 25%;
        max-width: 60%;
        position: relative;
    }



    #printTemplateModal header input {
        cursor: pointer;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

/* article */

#printTemplateModal article, #printTemplateModal article address, #printTemplateModal table.meta, #printTemplateModal table.inventory {
    margin: 0 0 15px;
}

    #printTemplateModal article:after {
        clear: both;
        content: "";
        display: table;
    }

    #printTemplateModal article h1 {
        clip: rect(0 0 0 0);
        position: absolute;
    }

    #printTemplateModal article address {
        float: left;
        font-size: 125%;
        font-weight: bold;
    }



    #printTemplateModal table.meta:after, #printTemplateModal table.balance:after {
        clear: both;
        content: "";
        display: table;
    }



    #printTemplateModal table.meta th {
        width: 40%;
    }

    #printTemplateModal table.meta td {
        /*width: 60%;*/
        font-size: 11px !important;
    }



#printTemplateModal table.inventory {
    clear: both;
    width: 100%;
}

    #printTemplateModal table.inventory th {
        font-weight: bold;
        text-align: center;
    }

    #printTemplateModal table.inventory td:nth-child(1) {
        width: 26%;
    }

    #printTemplateModal table.inventory td:nth-child(2) {
        width: 38%;
    }

    #printTemplateModal table.inventory td:nth-child(3) {
        text-align: right;
        width: 12%;
    }

    #printTemplateModal table.inventory td:nth-child(4) {
        text-align: right;
        width: 12%;
    }

    #printTemplateModal table.inventory td:nth-child(5) {
        text-align: right;
        width: 12%;
    }

/* table balance */

#printTemplateModal table.balance th, #printTemplateModal table.balance td {
    width: 50%;
}

#printTemplateModal table.balance td {
    /*text-align: right;*/
}

/* aside */

#printTemplateModal aside h1 {
    border: none;
    border-width: 0 0 1px;
    margin: 0 0 1em;
}

#printTemplateModal aside h1 {
    border-color: #999;
    border-bottom-style: solid;
}

#printTemplateModal fieldset legend {
    width: auto !important;
    font-size: 13px;
    border-bottom: none;
    margin-bottom: 5px !important;
    font-weight: 600;
}

.printable-modal .print_table th, .printable-modal .print_table td {
    padding: 5px;
    font-size: 11px !important;
}

.print_table {
    margin-bottom: -1px;
}

.printable-modal address {
    font-weight: 900;
    text-align: center;
}


address {
    width: 500px;
}

.info {
    text-align: center;
    margin-right: 10px;
}

    .info h4 {
        margin-top: 0px !important;
        font-weight: 600;
        font-size: 21px !important;
        line-height: 15px;
        padding-top: 10px;
    }

    .info p {
        margin: 0 0 3px !important;
        font-size: 13px;
        /*font-weight: bold;*/
    }

.companylogo {
    width: 57%;
    float: left;
    margin-right: 10px;
    margin-top: 1px;
    margin-bottom: 13px;
}

    .companylogo img {
        max-width: 100%;
        max-height: 50px;
        margin-right: 20px;
    }

.p_header {
    min-height: 80px;
}

.condition_fieldset {
    border: solid #ddd 1px;
}

    .condition_fieldset legend {
        width: auto !important;
        font-size: 14px;
        font-weight: 600;
        padding: 5px;
        margin-bottom: 0px;
        border-bottom: none;
    }

.invoice_title h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.invoice_footer_details ul {
    text-align: center;
    padding-left: 0px;
}


    .invoice_footer_details ul li {
        display: inline-block;
        font-weight: 600;
        padding-top: 40px;
        padding-right: 29px;
        font-size: 12px;
    }

        .invoice_footer_details ul li:last-child {
            padding-right: 0px;
        }

/*.narration {
    padding-top: 20px;
}*/

.narration p {
    font-size: 12px;
}


.narration strong {
    color: #333;
}

.condition_fieldset ol {
    padding-left: 20px;
}

    .condition_fieldset ol li {
        padding-bottom: 7px;
        font-size: 13px;
    }

.print_table.fnce td {
    /*border-width: 0 1px 0 !important;*/
    vertical-align: top;
}


.meta {
    margin-bottom: 0px;
}

.by {
    font-weight: normal !important;
    padding-bottom: 5px;
}




print_table.fnce {
    margin-bottom: 0px !important;
    height: auto;
    background-color: #ff0000;
}

.print_table.fnce th {
    /*background-color: #ddd;*/
}



.print_table.fnce td {
    /*border-width: 0 1px 0 !important;*/
    /* vertical-align: top;*/
}





.meta {
    margin-bottom: 0px;
}

.by {
    font-weight: normal !important;
    padding-bottom: 5px;
}

.narration {
    margin-bottom: 10px;
}

.print_table {
    /*border: solid #000 1px;*/
    border-collapse: collapse;
}

    .print_table > tr:first-child > td,
    .print_table > tr:first-child > th,
    .print_table thead > tr:first-child > td,
    .print_table thead > tr:first-child > th,
    .print_table > thead:first-child > tr:first-child > td,
    .print_table > thead:first-child > tr:first-child > th {
        border-top: 0;
    }

    .print_table > thead > tr > td, .print_table > thead > tr > th {
        border-bottom-width: 1px;
    }

.fnce > thead {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}


.print_table > tbody > tr > td,
.print_table > tbody > tr > th,
.print_table > tfoot > tr > td,
.print_table > tfoot > tr > th,
.print_table > thead > tr > td,
.print_table > thead > tr > th {
    border-width: 0px 1px 0px 0px !important;
    /*border:solid 1px;*/
}


.print_document_title h3 {
    text-align: center;
}

.left-side {
    width: 50%;
    float: left;
    font-size:12px;
        
}

.right-side {
    width: 50%;
    float: left;
    font-size: 12px;
}

.footerleft-side {
    width: 50%;
    float: left;
    font-size: 12px;
}

.footerright-side {
    width: 50%;
    float: left;
    font-size: 12px;
    text-align:right;
}


.print_table.consignee th, .print_table.consignee td {
    border: none !important;
}

.print_table.consignee, .print_table.meta, .print_table.meta th, .print_table.meta td {
    border: none !important;
}

.border-top-bottom {
    /*border-top:solid #000 1px !important;
 border-bottom:solid #000 1px !important;*/
}

.border-top-bottom-tbody {
    /*border-top:solid #000 1px !important;
 border-bottom:solid #000 1px !important;*/
}

strong {
    color: #000 !important;
}

.bottom-footer {
    /*border-top: solid #ddd 1px;*/
    padding-top: 10px;
}

/*commented because the format was inccorect after print*/
/*.page {
    page-break-after: always;
}
*/

@page {
    margin: 5mm;
    height: 650px;
}

/*@page {
    margin-top: 240px;
    margin-bottom: 170px;
    margin-left: 20mm;
    margin-right: 20mm;
    size: A4;*/ /* Set to A4, or adjust for different paper sizes */
/*}*/

/**/
#background {
    position: fixed;
    top: 30%;
    z-index: 0;
    display: block;
    min-height: 50%;
    min-width: 50%;
}

#content {
    position: absolute;
    left: 75%;
    z-index: 1;
}

#bg-text {
    color: lightgrey;
    font-size: 60px;
    opacity: .4;
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
}
/**/

@media print {


    /**/
    #background {
        position: fixed;
        top: 30%;
        z-index: 0;
        display: block;
        min-height: 50%;
        min-width: 50%;
    }

    #content {
        position: absolute;
        left: 75%;
        z-index: 1;
    }

    #bg-text {
        color: lightgrey;
        font-size: 60px;
        opacity: .4;
        transform: rotate(300deg);
        -webkit-transform: rotate(300deg);
    }
    /**/



    .header, .header-space,
    .footer, .footer-space {
        /*height: 295.5px;*/
        /*height: 305.5px;*/
        height: 200px;
    }

    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }


    html, body {
        min-height: 20mm;
        max-height: 290mm;
        width: 210mm;
    }


    .header, header-space {
        position: fixed;
        display: block;
        top: 0;
    }

    .footer, footer-space {
        /*position: fixed !important;
        display: block;
        bottom: 0;*/
        position: fixed;
        bottom: 0;
        width: 100%;
        /*border-top: 1px solid black; for demo
        background: yellow;  for demo */
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }

    .footer, .footer-space {
        padding-right: 20px;
    }

    .signature {
        margin-right: 60px;
    }

    .f1 {
        margin-right: 80px;
    }

    .ff {
        margin-right: 60px;
    }











    strong {
        color: #000 !important;
    }

    .print_table {
        border-spacing: 0px !important;
    }

    .company_div {
        width: 35%;
        float: left;
        margin-right: 2px;
    }

    .modal_customized {
        width: 595px;
    }

    .print_document_title {
        display: flex;
    }

        .print_document_title h3 {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            margin: 8px auto 9px;
            padding-bottom: 5px;
            letter-spacing: 10px;
            text-transform: uppercase;
        }


    .print_table.meta div {
        font-weight: 600;
    }


    .print_table.meta td div label {
        font-weight: 600 !important;
        font-size: 11px !important;
    }

    .fnce thead th {
        text-align: left !important;
    }

    .invoice_footer_details {
        /*border: solid #000 1px;*/
        padding-top: 40px;
    }

    .print_table.meta {
        width: 100%;
    }


    #printTemplateModal h1 {
        font: bold 100% sans-serif;
        letter-spacing: 0.5em;
        text-align: center;
        text-transform: uppercase;
    }

    .print_table th, .print_table td {
        padding: 4px;
        text-align: left;
        /*border: solid #000 1px;*/
        font-weight: 600;
    }




    #printTemplateModal td div {
        font-weight: normal !important;
    }

    #printTemplateModal html {
        font: 16px/1 "Open Sans", sans-serif;
        overflow: auto;
        padding: 0.5in;
    }

    #printTemplateModal html {
        background: #999;
        cursor: default;
    }

    #printTemplateModal body {
        box-sizing: border-box;
        height: 11in;
        margin: 0 auto;
        overflow: hidden;
        padding: 0.5in;
        width: 8.5in;
    }

    #printTemplateModal body {
        background: #FFF;
        border-radius: 1px;
        box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    }



    #printTemplateModal header {
        margin: 0 0 15px;
    }

        #printTemplateModal header:after {
            clear: both;
            content: "";
            display: table;
        }

        #printTemplateModal header h1 {
            background: #000;
            border-radius: 0.25em;
            color: #FFF;
            margin: 0 0 1em;
            padding: 0.5em 0;
        }

        #printTemplateModal header address {
            float: left;
            font-size: 75%;
            font-style: normal;
            line-height: 1.25;
            margin: 0 1em 1em 0;
        }

            #printTemplateModal header address p {
                margin: 0 0 0.25em;
            }



        #printTemplateModal header span {
            margin: 0 0 1em 1em;
            max-height: 25%;
            max-width: 60%;
            position: relative;
        }



        #printTemplateModal header input {
            cursor: pointer;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

    /* article */

    #printTemplateModal article, #printTemplateModal article address, #printTemplateModal table.meta, #printTemplateModal table.inventory {
        margin: 0 0 15px;
    }

        #printTemplateModal article:after {
            clear: both;
            content: "";
            display: table;
        }

        #printTemplateModal article h1 {
            clip: rect(0 0 0 0);
            position: absolute;
        }

        #printTemplateModal article address {
            float: left;
            font-size: 125%;
            font-weight: bold;
        }



        #printTemplateModal table.meta:after, #printTemplateModal table.balance:after {
            clear: both;
            content: "";
            display: table;
        }



        #printTemplateModal table.meta th {
            width: 40%;
        }

        #printTemplateModal table.meta td {
            /*width: 60%;*/
            font-size: 11px !important;
        }



    #printTemplateModal table.inventory {
        clear: both;
        width: 100%;
    }

        #printTemplateModal table.inventory th {
            font-weight: bold;
            text-align: center;
        }

        #printTemplateModal table.inventory td:nth-child(1) {
            width: 26%;
        }

        #printTemplateModal table.inventory td:nth-child(2) {
            width: 38%;
        }

        #printTemplateModal table.inventory td:nth-child(3) {
            text-align: right;
            width: 12%;
        }

        #printTemplateModal table.inventory td:nth-child(4) {
            text-align: right;
            width: 12%;
        }

        #printTemplateModal table.inventory td:nth-child(5) {
            text-align: right;
            width: 12%;
        }

    /* table balance */

    #printTemplateModal table.balance th, #printTemplateModal table.balance td {
        width: 50%;
    }

    #printTemplateModal table.balance td {
        /*text-align: right;*/
    }

    /* aside */

    #printTemplateModal aside h1 {
        border: none;
        border-width: 0 0 1px;
        margin: 0 0 1em;
    }

    #printTemplateModal aside h1 {
        border-color: #999;
        border-bottom-style: solid;
    }

    #printTemplateModal fieldset legend {
        width: auto !important;
        font-size: 13px;
        border-bottom: none;
        margin-bottom: 5px !important;
        font-weight: 600;
    }

    .printable-modal .print_table th, .printable-modal .print_table td {
        padding: 5px;
        font-size: 13px !important;
    }

    .print_table {
        margin-bottom: -1px;
    }

    .printable-modal address {
        font-weight: 900;
        text-align: center;
    }


    address {
        width: 500px;
    }

    .info {
        text-align: center;
        margin-right: 10px;
    }

        .info h4 {
            margin-top: 0px !important;
            font-weight: 600;
            font-size: 21px !important;
            line-height: 15px;
            padding-top: 10px;
        }

        .info p {
            margin: 0 0 3px !important;
            font-size: 13px;
            /*font-weight: bold;*/
        }

    .info-footer {
        text-align: left;
        margin-right: 10px;
    }

        .info-footer h4 {
            margin-top: 0px !important;
            font-weight: 600;
            font-size: 21px !important;
            line-height: 15px;
            padding-top: 10px;
        }

        .info-footer p {
            margin: 0 0 3px !important;
            font-size: 13px;
            /*font-weight: bold;*/
        }



    .companylogo {
        width: 57%;
        float: left;
        margin-top: 1px;
        margin-bottom: 13px;
    }

        .companylogo img {
            max-width: 100%;
            max-height: 50px;
            margin-right: 20px;
        }

    .companylogofooter {
        width: 100%;
        text-align:right;
      }

    .p_header {
        min-height: 80px;
    }

    .condition_fieldset {
        border: solid #ddd 1px;
    }

        .condition_fieldset legend {
            width: auto !important;
            font-size: 14px;
            font-weight: 600;
            padding: 5px;
            margin-bottom: 0px;
            border-bottom: none;
        }

    .invoice_title h2 {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }

    .invoice_footer_details ul {
        text-align: center;
        padding-left: 0px;
    }


        .invoice_footer_details ul li {
            display: inline-block;
            font-weight: 600;
            padding-top: 40px;
            padding-right: 29px;
            font-size: 12px;
        }

            .invoice_footer_details ul li:last-child {
                padding-right: 0px;
            }

    /*.narration {
    padding-top: 20px;
}*/

    .narration p {
        font-size: 12px;
    }


    .narration strong {
        color: #333;
    }

    .condition_fieldset ol {
        padding-left: 20px;
    }

        .condition_fieldset ol li {
            padding-bottom: 7px;
            font-size: 13px;
        }

    .print_table.fnce td {
        /*border-width: 0 1px 0 !important;*/
        vertical-align: top;
    }


    .meta {
        margin-bottom: 0px;
    }

    .by {
        font-weight: normal !important;
        padding-bottom: 5px;
    }




    print_table.fnce {
        margin-bottom: 0px !important;
        height: 250px;
    }

    .print_table.fnce th {
        background-color: #ddd;
    }



    .print_table.fnce td {
        /*border-width: 0 1px 0 !important;*/
        vertical-align: top;
    }





    .meta {
        margin-bottom: 0px;
    }

    .by {
        font-weight: normal !important;
        padding-bottom: 5px;
    }

    .narration {
        margin-bottom: 10px;
    }

    .print_table {
        /*border: solid #000 1px;*/
        border-collapse: collapse;
    }

        .print_table > tr:first-child > td,
        .print_table > tr:first-child > th,
        .print_table thead > tr:first-child > td,
        .print_table thead > tr:first-child > th,
        .print_table > thead:first-child > tr:first-child > td,
        .print_table > thead:first-child > tr:first-child > th {
            border-top: 0;
        }

        .print_table > thead > tr > td, .print_table > thead > tr > th {
            border-bottom-width: 1px;
        }


        .print_table > tbody > tr > td,
        .print_table > tbody > tr > th,
        .print_table > tfoot > tr > td,
        .print_table > tfoot > tr > th,
        .print_table > thead > tr > td,
        .print_table > thead > tr > th {
            /*border: 1px solid #000;*/
        }


    .print_document_title h3 {
        text-align: center;
    }

    .left-side {
        width: 40%;
        float: left
    }

    .right-side {
        width: 50%;
        float: left
    }


    .print_table.consignee th, .print_table.consignee td {
        border: none !important;
    }

    .print_table.consignee, .print_table.meta, .print_table.meta th, .print_table.meta td {
        border: none !important;
    }

    .bottom-footer {
        /*border-top: solid #ddd 1px;*/
        padding-top: 10px;
    }
}


/*@media print {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 20px; 
        background-color: white;
        text-align: center;
        z-index: 1000;
        border-bottom: 1px solid black;
    }
     .print-content {
        margin-top: 240px; 
        page-break-inside: auto;
    }

    .bottom-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        text-align: center;
        z-index: 1000;
    }

    .print_table {
        width: 100%;
        border-collapse: collapse;
        page-break-inside: auto;
    }
    .print_table tbody tr:nth-child(20n) {
          page-break-after: always;
    }

        .print_table tbody tr {
            page-break-inside: avoid;*/ /* Avoid breaking inside rows */
/*}*/

/* Custom spacer to simulate margin on the next page */
/*.spacer {
        height: 300px;
        display: none;*/ /* Hidden by default */
/*}*/

/* Show the spacer when a new page starts after a break */
/*.print_table tbody tr:nth-child(20n+1) .spacer {
        display: table-row;
    }

   




 
    @page {
        margin-top: 1mm;
    }*/
/*.companylogo {
        width: 20%;
        float: left;
        margin-right: 7px;
        margin-top: 1px;
        margin-bottom: 7px;
    }
    .companylogo img {
            max-width: 50%;
            max-height: 20px;
            margin-right: 10px;
     }*/
/*.companylogo {
        width: 57%;
        float: left;
        margin-right: 10px;
        margin-top: 1px;
        margin-bottom: 13px;
    }

        .companylogo img {
            max-width: 100%;
            max-height: 50px;
            margin-right: 20px;
        }*/

/*.left-side {
        width: 50%;
        float: left;
        padding-left: 30px;
        padding-right: 30px;
    }
    .right-side {
        width: 50%;
        float: left;
        padding-left:30px;
        padding-right:30px;
    }*/
/*.left-side {
        width: 50%;
        float: left;
    }
    .right-side {
        width: 50%;
        float: left;
    }
    .page-break + .print_table thead {
        margin-top: 300px;
    }

    .page-break {
        margin-top: 300px;
        padding-top: 300px;
    }

}*/




/*@media print {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .header-space {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        padding: 2px 0;
        box-sizing: border-box;
        z-index: 1000;
    }

    .bottom-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 2px 0;
        box-sizing: border-box;
        z-index: 1000;
    }


    .print-content {
        margin-top: 240px;
        margin-bottom: 170px;
    }

    .print_table {
        width: 100%;
        border-collapse: collapse;
        page-break-inside: auto;
    }

        .print_table th, .print_table td {
            padding: 8px;
            text-align: left;
        }

        .print_table tbody tr {
            page-break-inside: avoid;
        }

            .print_table tbody tr:nth-child(20n) {
                page-break-after: always;
            }
   
            @media print {
             body::before {
             display: block;
             height: 300px; 
        }
    }
    .spacer {
        height: 300px; 
        display: none;
    }

    .print_table tbody tr:nth-child(20n+1) .spacer {
        display: table-row;
    }
}*/

/*@media print {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .header-space {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        padding: 2px 0;
        text-align: center;
        box-sizing: border-box;
        z-index: 1000;
    }

    .bottom-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 2px 0;
        text-align: center;
        box-sizing: border-box;
        z-index: 1000;
    }

    .print-content {
        margin-top: 240px; 
        margin-bottom: 170px; 
        page-break-inside: auto;
    }

    .print_table {
        width: 100%;
        border-collapse: collapse;
        page-break-inside: auto;
    }

        .print_table th, .print_table td {
            padding: 8px;
            text-align: left;
        }

        .print_table tbody tr {
            page-break-inside: avoid;
        }

            .print_table tbody tr:nth-child(20n) {
                page-break-after: always;
            }

     @page {
        margin-top: 20mm;
    }

    .break-spacer {
        height: 300px;
        display: none;
    }

    .print_table tbody tr:nth-child(20n+1) .break-spacer {
        display: table-row;
    }
}*/

/*@media print {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .header-space {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        padding: 2px 0;
        text-align: center;
        box-sizing: border-box;
        z-index: 1000;
    }

    .bottom-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 2px 0;
        text-align: center;
        box-sizing: border-box;
        z-index: 1000;
    }

    .print-content {
        margin-top: 240px;*/ /* Adjust for the header height */
/*margin-bottom: 170px;*/ /* Adjust for footer space */
/*page-break-inside: auto;
    }

    .print_table {
        width: 100%;
        border-collapse: collapse;
        page-break-inside: auto;
    }

        .print_table th, .print_table td {
            padding: 8px;
            text-align: left;
        }*/

/* Ensure rows break properly */
/*.print_table tbody tr {
            page-break-inside: avoid;
        }*/

/* Page break after every 20 rows */
/*.print_table tbody tr:nth-child(20n) {
                page-break-after: always;
            }*/

/* Spacer to add padding after page break */
/*.print_table .spacer {
            height: 240px;*/ /* Adjust the height to add space after page break */
/*}*/

/* Show spacer after the page break */
/*.print_table tbody tr:nth-child(20n+1) .spacer {
            display: table-row;
        }*/

/* Ensure that every page has margin applied */
/*@page {
        margin-top: 20mm;
    }
}*/


/*@media print {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .header-space {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        padding: 2px 0;
        text-align: center;
        box-sizing: border-box;
        z-index: 1000;
    }

    .bottom-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 2px 0;
        text-align: center;
        box-sizing: border-box;
        z-index: 1000;
    }

    .print-content {
        margin-top: 240px;*/ /* Adjust for the header height */
/*margin-bottom: 170px;*/ /* Adjust for footer space */
/*page-break-inside: auto;
    }

    .print_table {
        width: 100%;
        border-collapse: collapse;
        page-break-inside: auto;
    }

        .print_table th, .print_table td {
            padding: 8px;
            text-align: left;
        }

    .spacer {
        height: 150px;*/ /* Adjust the height to add space after page break */
/*display: table-row;
    }
    .page-break {
        page-break-after: always;
    }
    tr.page-break {
        display: block;
        page-break-after: always;
        height: 1px;*/ /* Add small height to trigger the break */
/*}
    .print_table tbody tr {
        page-break-inside: avoid;
    }

        .print_table tbody tr:nth-child(20n) {
            page-break-after: always;
        }*/

/* Ensure that every page has margin applied */
/*@page {
        margin-top: 20mm;
    }
}*/





/*@media print {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @page {
        margin-top: 0.15mm;
        margin-bottom: 0.15mm;
    }

    #tblPrintTable {
        width: 100%;
        border-collapse: collapse;
        margin-top: 270px;
        margin-bottom: 0px;
        page-break-inside: auto;
    }

        #tblPrintTable thead {
            display: table-header-group;
            position: fixed;
            top: 300px;
            width: 100%;
            font-size: 13px;
            text-align: left;
            background-color: white;
            border-top: 1px solid #000000;
            border-bottom: 1px solid #000000;
            opacity: .8;*/
/*transform: rotate(300deg);
            -webkit-transform: rotate(300deg);*/
/*}

        #tblPrintTable tbody tr:nth-of-type(17n) {
            page-break-before: always;
            width: 100%;
        }

        #tblPrintTable tbody tr {
            page-break-inside: avoid;
        }

        #tblPrintTable tbody {
            margin-top: 30mm;
        }

    .page-break {
        page-break-after: always;
    }

    .header-space {
        position: fixed;
        top: 0;
        width: 90%;
        background-color: white;
        padding: 2px 0;
        text-align: center;
        box-sizing: border-box;
        z-index: 1000;
        top: 0px;
    }

    .bottom-footer {
        position: fixed;
        width: 90%;
        background-color: white;
        padding: 1px 1px;
        text-align: end;
        box-sizing: border-box;
        z-index: 1000;
        bottom: 0px;
    }

    .print-content {
        margin-top: 330px;
        margin-bottom: 0px;
        page-break-inside: auto;
    }

    #tblPrintTable th, #tblPrintTable td {
        padding: 8px;
        text-align: left;
    }

        #tblPrintTable th:nth-child(1),
        #tblPrintTable td:nth-child(1) {
            width: 12%;
        }

        #tblPrintTable th:nth-child(2),
        #tblPrintTable td:nth-child(2) {
            width: 9%;
        }

        #tblPrintTable th:nth-child(3),
        #tblPrintTable td:nth-child(3) {
            width: 30%;
        }

        #tblPrintTable th:nth-child(4),
        #tblPrintTable td:nth-child(4) {
            width: 26%;
        }

        #tblPrintTable th:nth-child(5),
        #tblPrintTable td:nth-child(5) {
            width: 10%;
        }

        #tblPrintTable th:nth-child(6),
        #tblPrintTable td:nth-child(6) {
            width: 10%;
        }

        #tblPrintTable th:nth-child(7),
        #tblPrintTable td:nth-child(7) {
            width: 10%;
        }

        #tblPrintTable th:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(6)):not(:nth-child(7)),
        #tblPrintTable td:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(6)):not(:nth-child(7)) {
            width: auto;
        }

    #tblPrintTable print_table {
        page-break-inside: auto;
        table-layout: fixed;
        width: 100%;
    }*/





/* #tblPrintTable tbody border-top-bottom-tbody {
            display: table-header-group;
            position: fixed;
            top: 0px;
            width: 100%;
            font-size: 13px;
            text-align: left;
            background-color: white;
            border-top: 1px solid #000000;
            border-bottom: 1px solid #000000;
        }*/


/* .pagination-button {
        padding: 10px 20px;
        background-color: #007bff; 
        color: white; 
        border: none;
        border-radius: 5px; 
        cursor: pointer;
        text-align: center;
    }

    .bottom-footer .pagination-button {
        padding: 10px 20px; 
        background-color: #007bff; 
        color: white;
        border: none;
        border-radius: 5px; 
        cursor: pointer;
        text-align: center;
    }*/
/*.border-top-bottom-tbody {
        padding-bottom:50px;
        margin-bottom:50px;
    }*/




/*#tblPrintTable thead {
        display: table-header-group;
    }
    #tblPrintTable tbody .border-top-bottom-tbody {
        position: relative;
        top: 0; 
        border-top: 1px solid black;*/
/* border-bottom: 1px solid black;*/
/*}
     .page-break {
        page-break-before: always;
    }
    .print-content {
        margin-top: 330px;
        margin-bottom: 0px;
        page-break-inside: avoid;
    }*/

/*}*/



/*@media print {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @page {
        margin-top: 0.15mm;
        margin-bottom: 0.15mm;
    }

    #tblPrintTable {
        width: 100%;
        border-collapse: collapse;
        margin-top: 270px;
        margin-bottom: 0px;
        page-break-inside: auto;
    }

        #tblPrintTable thead {
            display: table-header-group;
            position: fixed;
            top: 300px;
            width: 100%;
            font-size: 13px;
            text-align: left;
            background-color: white;
            border-top: 1px solid #000000;
            border-bottom: 1px solid #000000;
            opacity: .8;*/
/*transform: rotate(300deg);
            -webkit-transform: rotate(300deg);*/
/*}

        #tblPrintTable tbody tr:nth-of-type(17n) {
            page-break-before: always;
            width: 100%;
        }

        #tblPrintTable tbody tr {
            page-break-inside: avoid;
        }

        #tblPrintTable tbody {
            margin-top: 30mm;
        }

    .page-break {
        page-break-after: always;
    }

    .header-space {
        position: fixed;
        top: 0;
        width: 90%;
        background-color: white;
        padding: 2px 0;
        text-align: center;
        box-sizing: border-box;
        z-index: 1000;
        top: 0px;
    }

    .bottom-footer {
        position: fixed;
        width: 90%;
        background-color: white;
        padding: 1px 1px;
        text-align: end;
        box-sizing: border-box;
        z-index: 1000;
        bottom: 0px;
    }

    .print-content {
        margin-top: 330px;
        margin-bottom: 0px;
        page-break-inside: auto;
    }

    #tblPrintTable th, #tblPrintTable td {
        padding: 8px;
        text-align: left;
    }

        #tblPrintTable th:nth-child(1),
        #tblPrintTable td:nth-child(1) {
            width: 12%;
        }

        #tblPrintTable th:nth-child(2),
        #tblPrintTable td:nth-child(2) {
            width: 9%;
        }

        #tblPrintTable th:nth-child(3),
        #tblPrintTable td:nth-child(3) {
            width: 30%;
        }

        #tblPrintTable th:nth-child(4),
        #tblPrintTable td:nth-child(4) {
            width: 26%;
        }

        #tblPrintTable th:nth-child(5),
        #tblPrintTable td:nth-child(5) {
            width: 10%;
        }

        #tblPrintTable th:nth-child(6),
        #tblPrintTable td:nth-child(6) {
            width: 10%;
        }

        #tblPrintTable th:nth-child(7),
        #tblPrintTable td:nth-child(7) {
            width: 10%;
        }

        #tblPrintTable th:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(6)):not(:nth-child(7)),
        #tblPrintTable td:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(6)):not(:nth-child(7)) {
            width: auto;
        }

    #tblPrintTable print_table {
        page-break-inside: auto;
        table-layout: fixed;
        width: 100%;
    }
}*/







/*@media print {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @page {
        margin: 10mm;
    }

    #tblPrintTable {
        width: 100%;
        border-collapse: collapse;
        margin-top: 300px; 
        page-break-inside: auto;
    }

        #tblPrintTable thead {
            display: table-header-group;
            position: sticky;
            top: 0;
            width: 100%;
            font-size: 13px;
            text-align: left;
            background-color: white;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
        }

        #tblPrintTable tbody tr {
            page-break-inside: avoid;
        }

            #tblPrintTable tbody tr:first-of-type {
                margin-top: 300px; 
            }

    .page-break {
        page-break-before: always;
        margin-top: 300px; 
    }

    #tblPrintTable th,
    #tblPrintTable td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .header-space {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        padding: 5px;
        text-align: center;
        z-index: 1000;
    }

    .bottom-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 5px;
        text-align: center;
        z-index: 1000;
    }

    .print-content {
        margin-top: 20mm;
    }
}*/




/*@media print {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @page {
        margin: 10mm;
    }

    #tblPrintTable {
        width: 100%;
        border-collapse: collapse;
        margin-top: 300px;
        page-break-inside: auto;
    }

        #tblPrintTable thead {
            display: table-header-group;
            position: sticky;
            top: 0;
            width: 100%;
            font-size: 13px;
            text-align: left;
            background-color: white;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
        }

        #tblPrintTable tbody tr {
            page-break-inside: avoid;
        }

            #tblPrintTable tbody tr:first-of-type {
                margin-top: 300px;
            }

    .page-break {
        page-break-before: always;
        margin-top: 300px;
    }

    #tblPrintTable th,
    #tblPrintTable td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .header-space {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        padding: 5px;
        text-align: center;
        z-index: 1000;
    }

    .bottom-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 5px;
        text-align: center;
        z-index: 1000;
    }

    .print-content {
        margin-top: 20mm;
    }

}*/



/*@media print {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @page {
        margin: 10mm;
    }

    #tblPrintTable {
        width: 100%;
        border-collapse: collapse;
        page-break-inside: auto;
    }

        #tblPrintTable thead {
            display: table-header-group;
            font-size: 13px;
            text-align: left;
            background-color: white;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
        }

        #tblPrintTable tbody tr {
            page-break-inside: avoid;
        }

        #tblPrintTable th,
        #tblPrintTable td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }*/

/*  Add margin to the first row on each page except the first page */
/*.page-break::before {
        content: "";
        display: block;
        height: 300px;*/ /* Ensures 300px space at the top of every new page */
/*}*/

/* Ensure page breaks before specific rows */
/*.page-break {
        page-break-before: always;
    }*/

/*Remove margin for the first row on the first page*/
/*.first-page .page-break::before {
        height: 300px;
    }
}*/



/*@media print {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @page {
        margin-top: 0.50mm;
        margin-bottom: 0.50mm;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        display: table-header-group;
    }

    tbody {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }

    tr {
        page-break-inside: avoid;*/
/* page-break-before: auto;
        page-break-after: auto;*/
/*}

    tfoot {
        display: table-footer-group;
    }

    table, tr, td {
        page-break-inside: avoid;
    }

    .print_table {
        width: 100%;
        border-collapse: collapse;
        page-break-inside: auto;
        table-layout: fixed;
        table-layout: auto;
    }

    .header-space {
        position: fixed;
        top: 0;
        width: 90%;
        background-color: white;
        padding: 2px 0;
        text-align: center;
        box-sizing: border-box;
        z-index: 1000;
    }

    .bottom-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 1px 1px;
        text-align: end;
        box-sizing: border-box;
        z-index: 1000;
    }

    .print-content {
        margin-top: 330px;
        margin-bottom: 10px;
        page-break-inside: auto;
    }*/
/*.next-page-margin::before {
        content: "";
        display: block;
        height: 300px;
        margin-bottom: 10px;
        page-break-before: always; 
    }*/
/* .next-page-margin {
        page-break-before: always;
        height: 300px;
    }*/

/*.page-break-margin {
        height: 300px; 
        page-break-before: always;
        visibility: hidden;
    }*/

/*.nth-page-margin {
        page-break-before: always;
        margin-top: 300px; 
        visibility: hidden;
    }*/

/*.print_table th, .print_table td {
        padding: 8px;
        text-align: left;
    }

    .print_table th, .print_table td {
        width: auto;
    }

    .print_table thead {
        display: table-header-group;
    }

    .print_table tbody {
        display: table-row-group;
    }

    #tblPrintTable border-top-bottom-tbody tr {
        page-break-before: always;
    }*/
/*.print_table tbody tr {
         page-break-before: always; 
    }*/
/*  .second-page-header {
        margin-top: 700mm; 
    }*/
/*.second-page-spacer {
        height: 300px;
        page-break-before: always;
    }*/
/*@page:nth(2) {
         margin-top: 60mm;
    }*/
/*.print_table tbody tr {
        max-height: 10px;
        overflow: hidden;
        page-break-inside: avoid;
    }*/
/*.border-top-bottom-tbody {
        page-break-inside: avoid;
    }

    .next-page-margin {
        margin-top: 300px;
    }

    tr:nth-of-type(14n) {
        page-break-before: always;
    }*/

/* table tbody tr:nth-child(3) {
        page-break-after: always; 
    }*/


/* table tbody tr:nth-child(15n) {
        margin-top: 300px; 
    }*/




/*.page-break {
        page-break-after: always;
    }

    tr.page-break-after {
        page-break-after: always;
    }

    .new-page-margin::before {
        content: "";
        display: block;
        height: 300px;
        page-break-before: always;
    }

    tr.new-page-margin::before {
        content: "";
        display: table-row;
        height: 300px;
        visibility: hidden;
    }

    tbody tr {
        page-break-inside: avoid;
    }

    .spacer-row {
        height: 100px;
        display: table-row;
        visibility: hidden;
    }

    .print_table thead {
        display: table-header-group;
        position: fixed;
        position: fixed;
        top: 300px;
        width: 100%;
        font-size: 13px;
        text-align: left;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        padding: 0;
    }

        .print_table thead tbody tr {
            display: table-header-group;
            position: fixed;
            position: fixed;
            top: 300px;
            width: 100%;
            font-size: 13px;
            text-align: left;
            border-top: 1px solid #000000;
            border-bottom: 1px solid #000000;
            padding: 0;
        }

    .print_table tbody tr {
        display: table-row;*/
/* border-top: 1px solid #000000;*/
/*}



    .print_table th:nth-child(1),
    .print_table td:nth-child(1) {
        width: 12%;
    }

    .print_table th:nth-child(2),
    .print_table td:nth-child(2) {
        width: 9%;
    }

    .print_table th:nth-child(3),
    .print_table td:nth-child(3) {
        width: 30%;
    }

    .print_table th:nth-child(4),
    .print_table td:nth-child(4) {
        width: 26%;
    }

    .print_table th:nth-child(5),
    .print_table td:nth-child(5) {
        width: 10%;
    }

    .print_table th:nth-child(6),
    .print_table td:nth-child(6) {
        width: 10%;
    }

    .print_table th:nth-child(7),
    .print_table td:nth-child(7) {
        width: 10%;
    }

    .print_table th:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(6)):not(:nth-child(7)),
    .print_table td:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(6)):not(:nth-child(7)) {
        width: auto;
    }*/

/*  @page :nth(2), :nth(3), :nth(4), :nth(5) {
        margin-top: 300px;
    }*/

/*   @page :nth(2) {
        margin-top: 100mm;
    }
    
    @page :nth(3) {
        margin-top: 100mm;
    }

    @page :nth(4) {
        margin-top: 100mm;
    }

    @page :nth(5) {
        margin-top: 100mm;
    }*/
/**/



/*
    .export-table {
        overflow: visible !important;
    }
    table thead {
        display: table-row-group;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }*/
/*}*/




/*@media print {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .header-space {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        padding: 2px 0;
        text-align: center;
        box-sizing: border-box;
        z-index: 1000;
    }
    .bottom-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 3px 0;
        text-align: center;
        box-sizing: border-box;
        z-index: 1000;
    }
    .print-content {
        margin-top: 2px; 
        margin-bottom: 170px; 
        page-break-inside: auto;
    }
    thead {
        display: table-header-group; 
    }
    .print_table {
        width: 100%;
        border-collapse: collapse;
        page-break-inside: auto;
    }
    .print_table thead tr {
        border-top: 1px solid black; 
        border-bottom: 1px solid black; 
     }
    .print_table th, .print_table td {
       padding: 8px;
       text-align: left;
    }
    .spacer {
        height: 250px; 
        display: table-row;
    }
    .totalspacer {
        height: 250px;
        display: table-row;
    }
    .page-break {
        page-break-after: always;
    }
    tr.page-break {
        display: block;
        page-break-after: always;
        height: 0px; 
    }
    .print_table tbody tr {
        page-break-inside: avoid;
    }*/
/* .print_table tbody tr:nth-child(22n) {
        page-break-after: always;
    }*/
/*.print_table tbody tr:nth-child(22n):not(:last-child) {
        
        page-break-after: always;
    }
    .print_table tbody tr:last-child {
        page-break-after: auto;*/
/*    page-break-inside: avoid;*/
/*}
    @page {
        margin-top: 2mm;
        margin-bottom: 2mm;
    }
}*/





/*@media print {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .header-space {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        padding: 2px 0;
        text-align: center;
        box-sizing: border-box;
        z-index: 1000;
    }

    .bottom-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 3px 0;
        text-align: center;
        box-sizing: border-box;
        z-index: 1000;
    }*/

/* .print-content {
        margin-top: 2px;
        margin-bottom: 170px;
        page-break-inside: auto;
    }*/

/*.print_table {
        width: 100%;
        border-collapse: collapse;
        page-break-inside: auto;
    }

    .spacer {
        height: 250px;
        display: table-row;
    }

    .totalspacer {
        height: 250px;
        display: table-row;
    }
        .print_table thead tr {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

        .print_table th,
        .print_table td {
            padding: 8px;
            text-align: left;
        }

        .print_table tbody tr {
            page-break-inside: avoid;
        }*/

/* Break after every 22 rows */
/*.print_table tbody tr:nth-child(22n):not(:last-child) {
                page-break-after: always;
            }*/

/* Force a page break if there are 18 to 22 rows left on the last page */
/* .print_table tbody tr:nth-last-child(22):nth-child(n+15):first-child {
                page-break-before: always;
            }*/

/* .print_table tbody tr:nth-last-child(22) {
                page-break-before: always;
            }*/

/* Prevent extra page breaks after the last row */
/*.print_table tbody tr:last-of-type {
                page-break-after: auto;
            }*/

/* .print_table tbody tr:nth-last-child(22):nth-child(n+15) {
                page-break-before: always;
            }*/

/* .print_table tbody tr:nth-last-child(22):nth-child(n+15) {
                page-break-before: always;
            }*/

/*@page {
        margin-top: 2mm;
        margin-bottom: 2mm;
    }
}*/







@media print {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .header-space {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        padding: 2px 0;
        text-align: center;
        box-sizing: border-box;
        z-index: 1000;
    }

    .bottom-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 3px 0;
        text-align: left;
        box-sizing: border-box;
        z-index: 1000;
    }

    .print_table {
        width: 100%;
        border-collapse: collapse;
        page-break-inside: auto;
    }

    .spacer {
        height: 150px;
        display: table-row;
    }

    .totalspacer {
        height: 100px;
        display: table-row;
    }

    .print_table thead tr {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .print_table th,
    .print_table td {
        padding: 8px;
        text-align: left;
    }

    .print_table tbody tr {
        page-break-inside: avoid;
    }

        .print_table tbody tr:nth-child(15n):not(:last-child) {
            page-break-after: always;
        }

        .print_table tbody tr:last-of-type {
            page-break-after: auto;
        }

    @page {
        margin-top: 2mm;
        margin-bottom: 10mm;
        size: A4 portrait;
    }

    .info-footer {
        text-align: left;
    }

    .companylogo {
        width: 57%;
        float: left;
        margin-top: 1px;
        margin-bottom: 13px;
    }

        .companylogo img {
            max-width: 100%;
            max-height: 50px;
            margin-right: 20px;
        }

    .companylogofooter {
        width: 57%;
        float: left;
        margin-right: 0px;
        margin-bottom: 64px;
    }

    .hrboder {
        margin: 2px 0;
        border: 2px;
        border-top: 1px solid #121212;
        border-bottom: 0;
        margin-left: 150px;
    }

    .hrboderLeft {
        margin: 2px 0;
        border: 2px;
        border-top: 1px solid #121212;
        border-bottom: 0;
        margin-left: 150px;
    }

    .hrboderRight {
        margin: 18px 0;
        border: 2px;
        border-top: 1px solid #121212;
        border-bottom: 0;
        margin-left: 170px;
    }

    .tableFooter {
        width: 100%;
    }

    .tableFooters {
        width: 100%;
    }

    .tablefontColumn {
        float: right;
        display: inline-block;
        font-size: 12px;
        text-align: left;
    }

    .footerleft-side {
        width: 50%;
        float: left;
        font-size: 12px;
    }

    .footerright-side {
        width: 50%;
        float: left;
        font-size: 12px;
    }

    .GuestSignature {
        margin-top: 40px;
        margin-left: 20px;
        border: 2px;
        border-top: 1px solid #121212;
    }

    .right-side-signature {
        width: 50%;
        float: right;
        font-size: 12px;
    }

    .footer_info_Mh {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 12px;
        border-top: 1px solid #000;
        padding: 10px 0;
    }

        .footer_info_Mh:after {
            content: "Page " counter(page);
        }

    .footer_info_Mh {
        display: none;
    }

    table {
        page-break-inside: auto;
        border-collapse: collapse;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }

    tbody {
        display: table-row-group;
    }

    .print_table {
        width: 100%;
    }
    .billLeftSide {
        width: 42px;
    }
    .billPaddingLeftSide {
        padding-left: 10px;
    }
  /*  tfoot {
        page-break-before: always;
    }*/
}
