@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
	var workingContent = EngineContext.Current.Resolve<IWorkContext>();
}

<link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/saleschalanpra.css")" rel="stylesheet" media="print" />
<link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/saleschalanpra.css")" rel="stylesheet" />
<style>
	.header, .header-space,
	.footers, .footer-spaces {
		height: 105px;
	}

	.header {
		position: relative;
		top: 0;
	}

	.footer {
		/*position: fixed;*/
		position: relative;
		bottom: 0;
	}

	.companylogo img {
		max-width: 100% !important;
		max-height: 50px !important;
		margin-right: 20px !important;
	}

	.incoming-material-tr {
		border-top: 1px solid #333;
	}

	.incoming-material-td {
		border-right: 1px solid #333;
	}

	.left-side {
		width: 37% !important;
	}

	.text-font {
		font-size: 10px;
		color: #999;
	}

	.SN {
		width: 5%;
	}

	.INSPECTIONPARAMETERS {
		width: 25%;
	}

	.CHECKLISTITEMS {
		width: 25%;
	}

	.CHECKLISTITEMS_CHILD {
		width: 40.373%;
	}

	.STATUS {
		width: 18.5%;
	}

	.STATUS_CHILD {
		width: 29.9%;
	}

	.REMARKS {
		width: 18.5%;
	}
	.info {
		margin-right: 200px !important;
	}
</style>

<div class="printable-modal">
	<table>
		<thead class="p_header">
			<tr>
				<td>
					<div class="header-space">
						<div class="companylogo" style="width:20%;">
							<img alt="" src="~/Images/Birat.Jpeg" style="max-width: 115% !important; max-height: 70px !important;">
						</div>

						<div class="info">
							<h4> {{printCompanyInfo.companyName}}<br>{{printCompanyInfo.form_edesc}}</h4>
							<p>{{printCompanyInfo.address}}</p>
							<p>Ph.No. : {{printComnayInfo.TELEPHONE}}</p>

						</div>
						<div class="print_document_title">
							<h3 style="text-decoration-line:underline">Finished Goods Inspection</h3>
						</div>

						<div class="left-side" style="padding-top: 25px !important">
							<table class="print_table consignee">
								<tr>
									<td style="width:15%;text-align:left;" id="IncomingMaterialTes">Dispatch No</td>
									<td style="width:20%;text-align:left;">: {{DISPATCH_NO}}</td>
								</tr>
								<tr>
									<td style="width:15%;text-align:left;" id="IncomingMaterialTes">Product Name</td>
									<td style="width:20%;text-align:left;">: {{ITEM_EDESC}}</td>
								</tr>
								<tr>
									<td style="width:15%;text-align:left;" id="IncomingMaterialTes">Vendor Name</td>
									<td style="width:33%;text-align:left;">: {{VENDOR_NAME}}</td>
								</tr>
								<tr>
									<td style="width:15%;text-align:left;" id="IncomingMaterialTes">MFG</td>
									<td style="width:20%;text-align:left;">: {{MFG_DATE}}</td>
								</tr>
								<tr>
									<td style="width:15%;text-align:left;" id="IncomingMaterialTes">Quantity Received</td>
									<td style="width:20%;text-align:left;">: {{QUANTITY}}</td>
								</tr>
							</table>
							<table class="print_table consignee" style="width: 67%; margin: -135px 0px 0px 278px;">
								<tr>
									<td style="width:40%;text-align:left;">Date/Miti</td>
									<td style="width:24%;text-align:left;">: {{ CREATED_DATE | date:'dd-MMM-yyyy' }}</td>
								</tr>
								<tr>
									<td style="width:40%;text-align:left;">Date of Receipt</td>
									<td style="width:20%;text-align:left;">: {{RECEIPT_DATE | date:'dd-MMM-yyyy'}}</td>
								</tr>
								<tr>
									<td style="width:40%;text-align:left;">PO / Reference Number</td>
									<td style="width:20%;text-align:left;">: {{REFERENCE_NO}}</td>
								</tr>
								<tr>
									<td style="width:40%;text-align:left;">EXP</td>
									<td style="width:20%;text-align:left;">: {{ EXP_DATE | date:'dd-MMM-yyyy' }}</td>
								</tr>
							</table>
							<table class="print_table consignee" style="width: 100%; margin: -100px 0px 0px 468px;">
								<tr>
									<td style="width:40%;text-align:right;">Product Type</td>
									<td style="width:20%;text-align:left;">: {{PLANT_ID}}</td>
								</tr>
								<tr>
									<td style="width:40%;text-align:right;">GRN No</td>
									<td style="width:30%;text-align:left;">: {{GRN_NO}}</td>
								</tr>
								<tr>
									<td style="width:40%;text-align:right;">Batch / Lot Number</td>
									<td style="width:20%;text-align:left;">: {{BATCH_NO}}</td>
								</tr>
								<tr>
									<td style="width:40%;text-align:right;">Barcode / Best before code</td>
									<td style="width:20%;text-align:left;">: {{}}</td>
								</tr>
							</table>
						</div>
					</div>
				</td>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td>
					<div style="margin-top:65px;">
						<table class="print_table fnce" style="width:100%;border:1px solid black;">
							<thead>
								<tr>
									<th class="abc SN" rowspan="2"><b>S.No.</b></th>
									<th class="abc INSPECTIONPARAMETERS" rowspan="2"><b>Section</b></th>
									<th class="abc CHECKLISTITEMS" rowspan="2"><b>Field</b></th>
									<th class="abc STATUS" rowspan="2"><b>Notes</b></th>
									<th class="abc REMARKS" rowspan="2"><b>Remarks</b></th>
								</tr>
							</thead>
							<tbody>
								<tr class="grid-tr" ng-repeat="(key,row) in FinishedGoodsInspectionDetailsData">
									<td class="SN" style="border: 1px solid #000 !important;">
										<span>{{key + 1}}</span>
									</td>
									<td class="INSPECTIONPARAMETERS" style="border: 1px solid #000 !important;">
										<span>{{row.PARAMETERS}}</span>
									</td>
									<td colspan="3" style="padding: 0;">
										<table class="table table-inner" style="width: 100%;">
											<tr ng-repeat="(keys,rows) in row.FinishedGoodsInspectionDetailsList">
												<td class="condition-row CHECKLISTITEMS_CHILD">{{rows.ITEM_EDESC}}</td>
												<td ng-if="rows.COLUMN_HEADER === 'Packaging_Condition'" class="STATUS_CHILD">
													<span class="text-font">{{PACK_CONDITION}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Packaging_Condition'" class="condition-row-remarks">
													<span class="text-font">{{PACK_COND_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Label_Accuracy'" class="STATUS_CHILD">
													<span class="text-font">{{LABEL_ACCURACY}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Label_Accuracy'" class="condition-row-remarks">
													<span class="text-font">{{LABEL_ACC_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Product_Appearance'" class="STATUS_CHILD">
													<span class="text-font">{{PRODUCT_APPEARANCE}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Product_Appearance'" class="condition-row-remarks">
													<span class="text-font">{{PRODUCT_APP_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Dimensions_Weight_Check'" class="STATUS_CHILD">
													<span class="text-font">{{DIMENSIONS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Dimensions_Weight_Check'" class="condition-row-remarks">
													<span class="text-font">{{DIMENSIONS_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Compliance_Certificates'" class="STATUS_CHILD">
													<span class="text-font">{{COMPLIANCE_CERTIFICATES}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Compliance_Certificates'" class="condition-row-remarks">
													<span class="text-font">{{COMP_CERT_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Vendor_Test_Report'" class="STATUS_CHILD">
													<span class="text-font">{{VENDOR_TEST}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Vendor_Test_Report'" class="condition-row-remarks">
													<span class="text-font">{{VENDOR_TEST_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Sampling_Method'" class="STATUS_CHILD">
													<span class="text-font">{{SAMPLING_METHOD}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Sampling_Method'" class="condition-row-remarks">
													<span class="text-font">{{SAMP_METHOD_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Sample_Size'" class="STATUS_CHILD">
													<span class="text-font">{{SAMPLE_SIZE}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Sample_Size'" class="condition-row-remarks">
													<span class="text-font">{{SAMP_SIZE_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Number_Passed_Failed'" class="STATUS_CHILD">
													<span class="text-font">{{NUMBER_PASSED}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Number_Passed_Failed'" class="condition-row-remarks">
													<span class="text-font">{{NUMBER_PASSED_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Defect_Type'" class="STATUS_CHILD">
													<span class="text-font">{{DEFECT_TYPE}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Defect_Type'" class="condition-row-remarks">
													<span class="text-font">{{DEFECT_TYPE_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Action_Taken'" class="STATUS_CHILD">
													<span class="text-font">{{ACTION_TAKEN}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Action_Taken'" class="condition-row-remarks">
													<span class="text-font">{{ACTION_TAKEN_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Remarks'" class="STATUS_CHILD">
													<span class="text-font">{{REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Remarks'" class="condition-row-remarks">
													<span class="text-font">{{FINAL_REMARKS}}</span>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>
					<div style="display: flex; justify-content: space-between; text-align: center; padding-top: 10px !important;">
						<div style="width: 25%;">
							<p>{{CHECKED_BY}}</p>
							<p><b>Checked By</b></p>
						</div>
						<div style="width: 25%;">
							<p>{{CHECKED_BY}}</p>
							<p><b>QC Assistant</b></p>
						</div>
						<div style="width: 25%;">
							<p>{{AUTHORISED_BY}}</p>
							<p><b>Verified By</b></p>
						</div>
						<div style="width: 25%;">
							<p>{{POSTED_BY}}</p>
							<p><b>QC Head</b></p>
						</div>
					</div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
