@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
	var workingContent = EngineContext.Current.Resolve<IWorkContext>();
}

<link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/saleschalanpra.css")" rel="stylesheet" media="print" />
<link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/saleschalanpra.css")" rel="stylesheet" />
<style>
	.header, .header-space,
	.footers, .footer-spaces {
		height: 105px;
	}

	.header {
		position: relative;
		top: 0;
	}

	.footer {
		/*position: fixed;*/
		position: relative;
		bottom: 0;
	}

	.companylogo img {
		max-width: 100% !important;
		max-height: 50px !important;
		margin-right: 20px !important;
	}

	.incoming-material-tr {
		border-top: 1px solid #333;
	}

	.incoming-material-td {
		border-right: 1px solid #333;
	}
</style>

<div class="printable-modal">
	<table>
		<thead class="p_header">
			<tr>
				<td>
					<div class="header-space">
						<div class="companylogo" style="width:20%;">
							<img alt="" src="~/Images/Birat.Jpeg" style="max-width: 115% !important; max-height: 70px !important;">
						</div>

						<div class="info">
							<h4> {{printCompanyInfo.companyName}}<br>{{printCompanyInfo.form_edesc}}</h4>
							<p>{{printCompanyInfo.address}}</p>
							<p>Ph.No. : {{printComnayInfo.TELEPHONE}}</p>

						</div>
						<div class="print_document_title">
							<h3 style="text-decoration-line:underline">Hand Over Inspection Report</h3>
						</div>

						<div class="left-side" style="padding-top: 0px !important">
							<table class="print_table consignee">
								<tr>
									<td style="width:15%;text-align:left;" id="IncomingMaterialTes">Dispatch No</td>
									<td style="width:20%;text-align:left;">: {{DISPATCH_NO}}</td>
								</tr>
								<tr>
									<td style="width:15%;text-align:left;" id="IncomingMaterialTes">Date/Miti</td>
									<td style="width:20%;text-align:left;">: {{ CREATED_DATE | date:'dd-MMM-yyyy' }}</td>
								</tr>

								<tr>
									<td style="width:15%;text-align:left;">Packing Unit</td>
									<td style="width:20%;text-align:left;">: {{PACKING_UNIT}}</td>
								</tr>
							</table>
						</div>
						<div class="right-side" style="padding-top: 0px !important;">
							<table class="print_table consignee" style="width:100%;margin-bottom:5px;">
								<tr>
									<td style="width:40%;text-align:right;">Manual No  </td>
									<td style="width:20%;text-align:left;">: {{MANUAL_NO}}</td>
								</tr>
								<tr>
									<td style="width: 40%; text-align: right; ">
										Remarks
									</td>
									<td style="text-align:left; width:50%;">
										: {{REMARKS}}
									</td>
								</tr>
							</table>
						</div>
					</div>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<table class="print_table fnce" style="width:100%;border:1px solid black;">
						<thead>
							<tr>
								<th style="width:5%;" class="abc" rowspan="2"><b>S.No.</b></th>
								<th style="width:38.5%;" class="abc" rowspan="2"><b>Time Period</b></th>
								<th style="width:18.5%;" class="abc" rowspan="2"><b>Product Type</b></th>
								<th class="abc" style="width:18%;" rowspan="2"><b>Product Name</b></th>
								<th style="width:38.5%;" class="abc" rowspan="2"><b>Batch No</b></th>

								<th style="width:36%;" class="abc" colspan="2"><b>Loose Product</b></th>
								<th class="abc" style="width:36%;" colspan="2"><b>Unsealed Packet</b></th>
								<th style="width:36%;" class="abc" colspan="2"><b>Sealed Packet</b></th>
								<th style="width:36%;" class="abc" colspan="2"><b>Carton/Bag</b></th>
								<th class="abc" style="width:36%;" colspan="2"><b>Wrapper in printer</b></th>
								<th class="abc" style="width:36%;" colspan="2"><b>Remarks</b></th>
							</tr>
							<tr style="border-top: 1px solid #333;">
								<th style="width:18%;" class="abc"><b>Sample</b></th>
								<th class="abc" style="width:18%;"><b>Defect</b></th>
								<th style="width:18%;" class="abc"><b>Sample</b></th>
								<th style="width:18%;" class="abc"><b>Defect</b></th>
								<th class="abc" style="width:18%;"><b>Sample</b></th>
								<th style="width:18%;" class="abc"><b>Defect</b></th>
								<th style="width:18%;" class="abc"><b>Sample</b></th>
								<th class="abc" style="width:18%;"><b>Defect</b></th>
								<th style="width:18%;" class="abc"><b>Sample</b></th>
								<th style="width:18%;" class="abc"><b>Defect</b></th>
							</tr>
						</thead>
						<tbody>
							<tr class="grid-tr" ng-repeat="(key1,row) in childModels">
								<td style="border: 1px solid #000 !important;">
									<span>{{key1 + 1}}</span>
								</td>
								<td style="border: 1px solid #000 !important;">
									<span>{{childModels[key1]['TIME_PERIOD']}}</span>
								</td>
								<td style="border: 1px solid #000 !important;">
									<div>
										<span>{{childModels[key1]['PRODUCT_TYPE']}}</span>
									</div>
								</td>
								<td style="border: 1px solid #000 !important;">
									<div>
										<span>{{childModels[key1]['ITEM_EDESC']}}</span>
									</div>
								</td>
								<td style="border: 1px solid #000 !important;">
									<span>{{childModels[key1]['BATCH_NO']}}</span>
								</td>
								<td style="border: 1px solid #000 !important;">
									<div>
										<span>{{childModels[key1]['LOOSE_PRODUCT_SAMPLE']}}</span>
									</div>
								</td>
								<td style="border: 1px solid #000 !important;">
									<div>
										<span>{{childModels[key1]['LOOSE_PRODUCT_DEFECT']}}</span>
									</div>
								</td>
								<td style="border: 1px solid #000 !important;">
									<span>{{childModels[key1]['UNSEALED_PACKET_SAMPLE']}}</span>
								</td>
								<td style="border: 1px solid #000 !important;">
									<div>
										<span>{{childModels[key1]['UNSEALED_PACKET_DEFECT']}}</span>
									</div>
								</td>
								<td style="border: 1px solid #000 !important;">
									<div>
										<span>{{childModels[key1]['SEALED_PACKET_SAMPLE']}}</span>
									</div>
								</td>
								<td style="border: 1px solid #000 !important;">
									<span>{{childModels[key1]['SEALED_PACKET_DEFECT']}}</span>
								</td>
								<td style="border: 1px solid #000 !important;">
									<div>
										<span>{{childModels[key1]['BAG_SAMPLE']}}</span>
									</div>
								</td>
								<td style="border: 1px solid #000 !important;">
									<div>
										<span>{{childModels[key1]['BAG_DEFECT']}}</span>
									</div>
								</td>
								<td style="border: 1px solid #000 !important;">
									<div>
										<span>{{childModels[key1]['WRAPPER_SAMPLE']}}</span>
									</div>
								</td>
								<td style="border: 1px solid #000 !important;">
									<span>{{childModels[key1]['WRAPPER_DEFECT']}}</span>
								</td>
								<td style="border: 1px solid #000 !important;">
									<div>
										<span>{{childModels[key1]['REMARKS']}}</span>
									</div>
								</td>

</tbody>
					</table>
				</td>
			</tr>


		</tbody>
		<tfoot>
			<tr>
				<td>
					<div style="display: flex; justify-content: space-between; text-align: center; padding-top: 10px !important;">
						<div style="width: 25%;">
							<p>-----------------------------</p>
							<p>Checked By</p>
						</div>
						<div style="width: 25%;">
							<p>-----------------------------</p>
							<p>QC Assistant</p>
						</div>
						<div style="width: 25%;">
							<p>-----------------------------</p>
							<p>Verified By</p>
						</div>
						<div style="width: 25%;">
							<p>-----------------------------</p>
							<p>QC Head</p>
						</div>
					</div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
