@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
	var workingContent = EngineContext.Current.Resolve<IWorkContext>();
}

<link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/saleschalanpra.css")" rel="stylesheet" media="print" />
<link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/saleschalanpra.css")" rel="stylesheet" />
<style>
	.header, .header-space,
	.footers, .footer-spaces {
		height: 105px;
	}

	.header {
		position: relative;
		top: 0;
	}

	.footer {
		/*position: fixed;*/
		position: relative;
		bottom: 0;
	}

	/*table {
		width: 20%;
		table-layout: fixed;
		page-break-inside: avoid;
	}*/

	/*body {
		margin-top: 105px;
		margin-bottom: 105px;
	}*/

	/*commented because the format was inccorect after print*/
	/*.page {
		page-break-after: always;
	}*/

	/*#background {
		position: fixed;
		top: 30%;
		z-index: 0;
		display: block;
		min-height: 50%;
		min-width: 50%;
	}

	#content {
		position: absolute;
		left: 75%;
		z-index: 1;
	}

	#bg-text {
		color: lightgrey;
		font-size: 60px;
		opacity: .4;
		transform: rotate(300deg);
		-webkit-transform: rotate(300deg);
	}*/

	.companylogo img {
		max-width: 100% !important;
		max-height: 50px !important;
		margin-right: 20px !important;
	}

	.incoming-material-tr {
		border-top: 1px solid #333;
	}

	.incoming-material-td {
		border-right: 1px solid #333;
	}
</style>

@*<style>
		/*.header, .header-space,
			.footers, .footer-spaces {
				height: 185px;
			}
		*/
		.header {
			position: fixed;
			top: 0;
		}

		.footer {
			position: relative;
			bottom: 0;
		}

		#background {
			position: fixed;
			top: 30%;
			z-index: 0;
			display: block;
			min-height: 50%;
			min-width: 50%;
		}

		.fontsizedesign {
			font-size: 10px;
		}

		.large-font-table {
			font-size: 11px;
		}

			.large-font-table th,
			.large-font-table td {
				font-size: inherit;
			}

		#content {
			position: absolute;
			left: 75%;
			z-index: 1;
		}

		#bg-text {
			color: lightgrey;
			font-size: 60px;
			opacity: .4;
			transform: rotate(300deg);
			-webkit-transform: rotate(300deg);
		}

		.companylogo img {
			max-width: 115% !important;
			max-height: 70px !important;
			margin-right: 20px !important;
		}

		.left-side {
			padding-top: 10PX !important;
		}

		.tableFontandSize {
			font-family: 'Open Sans', Arial, Helvetica, sans-serif;
			font-weight: 400;
			padding: 10px;
			font-size: 13px !important;
			line-height: 1.5;
		}

		table {
			border-collapse: collapse;
		}

		thead {
			/*border-top: 1px solid #333;*/
			/*border-bottom: 1px solid #333;*/
			color: black;
		}

		.billHeader {
			width: 50px;
			font-size: 13px;
			text-align: left;
			border-top: 1px solid #000000;
			border-bottom: 1px solid #000000;
			padding: 0;
		}

		#tblPrintTable {
			margin-top: 0px;
			padding-top: 0px;
		}

		.totalAmountSize {
			font-weight: 900;
		}

		.billLeftSide {
			width: 70px;
		}

		.billLeftSideTable {
			margin-bottom: 5px;
			width: 100%;
			border-collapse: collapse;
			margin-top: 26px;
		}

		.hrboderLeft {
			margin: 0px 0;
			border: 2px;
			border-top: 1px solid #121212;
			border-bottom: 0;
			margin-left: 0px;
			margin-right: -50px;
		}

		.hrboderRight {
			margin: 0px 0;
			border: 2px;
			border-top: 1px solid #121212;
			border-bottom: 0;
			margin-left: 92px;
			margin-right: 69px;
		}

		.footerCheckOutTable {
			width: 100%;
			text-align: center;
		}

		.footerCheckOutColumn {
			width: 50%;
		}

		.billHeader {
			width: 50px;
			font-size: 13px;
			text-align: left;
			border-top: 1px solid #000000;
			border-bottom: 1px solid #000000;
			padding: 0;
		}
	</style>*@

<div class="printable-modal">
	<table>
		<thead class="p_header">
			<tr>
				<td>
					<div class="header-space">
						<div class="companylogo" style="width:20%;">
							<img alt="" src="~/Images/Birat.Jpeg" style="max-width: 115% !important; max-height: 70px !important;">
						</div>

						<div class="info">
							<h4> {{printCompanyInfo.companyName}}<br>{{printCompanyInfo.form_edesc}}</h4>
							<p>{{printCompanyInfo.address}}</p>
							<p>Ph.No. : {{printComnayInfo.TELEPHONE}}</p>

						</div>
						<div class="print_document_title">
							<h3 style="text-decoration-line:underline">Incoming Material(Sample)</h3>
						</div>


						<div class="left-side" style="padding-top: 0px !important">
							@*<tr>
								<td>*@
							<table class="print_table consignee">
								<tr>
									<td style="width:35%;text-align:left;" id="IncomingMaterialTes">Product Type</td>
									<td style="width:20%;text-align:left;">: {{item_code}}</td>
								</tr>

								<tr>
									<td style="width:35%;text-align:left;" id="IncomingMaterialTes">QC No</td>
									<td style="width:20%;text-align:left;">: {{TRANSACTION_NO}}</td>
								</tr>
								<tr>
									<td style=" text-align:left;">
										Manual No
									</td>
									<td style="text-align:left; width:50%;">
										: {{MANUAL_NO}}
									</td>
								</tr>
								<tr>
									<td style=" text-align:left;">
										Invoice No
									</td>
									<td style="text-align:left;">
										: {{invoice_no}}
									</td>

								</tr>

								@*<tr>
									<td style=" text-align:left;">
										GRN No
									</td>
									<td style="text-align:left;">
										: {{GRN_NO}}
									</td>

								</tr>*@
								<tr>
									<td style="width: 35%; text-align:left;">Received Qty </td>
									<td style="width:20%;text-align:left;">: {{quantity}}</td>
								</tr>

							</table>
							@*</div>*@
						</div>
						<div class="right-side" style="padding-top: 0px !important;">
							<table class="print_table consignee" style="width:100%;margin-bottom:5px;">
								<tr>
									<td style="width:35%;text-align:right;">Material :</td>
									<td style="width:20%;text-align:left;"> {{ item_edesc }}</td>
								</tr>
								<tr>
									<td style="width:35%;text-align:right;">QC Date :</td>
									<td style="width:20%;text-align:left;"> {{ QC_DATE | date:'dd-MMM-yyyy' }}</td>
								</tr>
								<tr>
									<td style="width:35%;text-align:right;">Vendor Name  :</td>
									<td style="width:20%;text-align:left;"> {{supplier_edesc}}</td>
								</tr>
								@*<tr>
									<td style="width:35%;text-align:right;">LC No  :</td>
									<td style="width:20%;text-align:left;"> {{to_location_code}}</td>
								</tr>*@

								@*<tr>
									<td style="text-align:right">
										GRN Date :
									</td>
									<td style="text-align:left;">
										{{RECEIPT_DATE | date:'dd-MMM-yyyy'}}
									</td>
								</tr>*@

								<tr>
									<td style="width:35%;text-align:right;">Material Name :</td>
									<td style="width:20%;text-align:left;"> {{item_edesc}}</td>
								</tr>
							</table>
						</div>
					</div>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<table class="print_table fnce" style="width:100%;border:1px solid black;">
						<thead>
							<tr>
								<th style="width:5%;" class="abc" rowspan="2"><b>S.No.</b></th>
								<th style="width:38.5%;" class="abc" rowspan="2"><b>Parameters</b></th>
								<th style="width:18.5%;" class="abc" rowspan="2"><b>Specification</b></th>
								<th class="abc" colspan="3" style="width:39%;"><b>Roll no.</b></th>
								<th style="width:20%;" class="abc" rowspan="2"><b>Remarks</b></th>
							</tr>
							<tr style="border-top: 1px solid #333;">
								<th style="width:13%;" class="abc"><b>1</b></th>
								<th style="width:13%;" class="abc"><b>2</b></th>
								<th style="width:13%;" class="abc"><b>3</b></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="incoming-material-td">1</td>
								<td class="incoming-material-td">Thickness (mm)</td>
								<td class="incoming-material-td">{{Thickness}}</td>
								<td class="incoming-material-td">{{Thickness1}}</td>
								<td class="incoming-material-td">{{Thickness2}}</td>
								<td class="incoming-material-td">{{Thickness3}}</td>
								<td class="incoming-material-td">{{Remarks1}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">2</td>
								<td class="incoming-material-td">Roll Diameter (mm)</td>
								<td class="incoming-material-td">{{RollDiameter}}</td>
								<td class="incoming-material-td">{{RollDiameter1}}</td>
								<td class="incoming-material-td">{{RollDiameter2}}</td>
								<td class="incoming-material-td">{{RollDiameter3}}</td>
								<td class="incoming-material-td">{{Remarks2}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">3</td>
								<td class="incoming-material-td">pH</td>
								<td class="incoming-material-td">{{PH}}</td>
								<td class="incoming-material-td">{{PH1}}</td>
								<td class="incoming-material-td">{{PH2}}</td>
								<td class="incoming-material-td">{{PH3}}</td>
								<td class="incoming-material-td">{{Remarks3}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">4</td>
								<td class="incoming-material-td">Unpleseant smell and odour</td>
								<td class="incoming-material-td">OK / Not OK</td>
								<td class="incoming-material-td">{{UnpleasantSmell1}}</td>
								<td class="incoming-material-td">{{UnpleasantSmell2}}</td>
								<td class="incoming-material-td">{{UnpleasantSmell3}}</td>
								<td class="incoming-material-td">{{Remarks4}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">5</td>
								<td class="incoming-material-td">Dust and dirt</td>
								<td class="incoming-material-td">OK / Not OK</td>
								<td class="incoming-material-td">{{DustDirt1}}</td>
								<td class="incoming-material-td">{{DustDirt2}}</td>
								<td class="incoming-material-td">{{DustDirt3}}</td>
								<td class="incoming-material-td">{{Remarks5}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">6</td>
								<td class="incoming-material-td">Damaging of Material</td>
								<td class="incoming-material-td">OK / Not OK</td>
								<td class="incoming-material-td">{{DamagingMaterial1}}</td>
								<td class="incoming-material-td">{{DamagingMaterial2}}</td>
								<td class="incoming-material-td">{{DamagingMaterial3}}</td>
								<td class="incoming-material-td">{{Remarks6}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">7</td>
								<td class="incoming-material-td">Core Damaging</td>
								<td class="incoming-material-td">OK / Not OK</td>
								<td class="incoming-material-td">{{CoreDamaging1}}</td>
								<td class="incoming-material-td">{{CoreDamaging2}}</td>
								<td class="incoming-material-td">{{CoreDamaging3}}</td>
								<td class="incoming-material-td">{{Remarks7}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">8</td>
								<td class="incoming-material-td">Width (mm)</td>
								<td class="incoming-material-td">{{SIZE_WIDTH}}</td>
								<td class="incoming-material-td">{{Width1}}</td>
								<td class="incoming-material-td">{{Width2}}</td>
								<td class="incoming-material-td">{{Width3}}</td>
								<td class="incoming-material-td">{{Remarks8}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">9</td>
								<td class="incoming-material-td">GSM of material</td>
								<td class="incoming-material-td">{{GSM}}</td>
								<td class="incoming-material-td">{{GSM1}}</td>
								<td class="incoming-material-td">{{GSM2}}</td>
								<td class="incoming-material-td">{{GSM3}}</td>
								<td class="incoming-material-td">{{Remarks9}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">10</td>
								<td class="incoming-material-td">Tensile CD</td>
								<td class="incoming-material-td">{{Tensile_CD}}</td>
								<td class="incoming-material-td">{{TensileCD1}}</td>
								<td class="incoming-material-td">{{TensileCD2}}</td>
								<td class="incoming-material-td">{{TensileCD3}}</td>
								<td class="incoming-material-td">{{Remarks10}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">11</td>
								<td class="incoming-material-td">Tensile MD</td>
								<td class="incoming-material-td">{{Tensile_MD}}</td>
								<td class="incoming-material-td">{{TensileMD1}}</td>
								<td class="incoming-material-td">{{TensileMD2}}</td>
								<td class="incoming-material-td">{{TensileMD3}}</td>
								<td class="incoming-material-td">{{Remarks11}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">12</td>
								<td class="incoming-material-td">Visual Inspection</td>
								<td class="incoming-material-td">OK / Not OK</td>
								<td class="incoming-material-td">{{VisualInspection1}}</td>
								<td class="incoming-material-td">{{VisualInspection2}}</td>
								<td class="incoming-material-td">{{VisualInspection3}}</td>
								<td class="incoming-material-td">{{Remarks12}}</td>
							</tr>

						</tbody>

					</table>
					<div style="padding-top: 10px !important;">
						<table>
							<tr>
								<td style="width: 35%; text-align: left; font-weight: bold;">Remarks: </td>
								<td style="width:20%;text-align:left;">{{REMARKS}}</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>


		</tbody>
		<tfoot>
			<tr>
				<td>
					<div style="display: flex; justify-content: space-between; text-align: center; padding-top: 10px !important;">
						<div style="width: 25%;">
							<p>-----------------------------</p>
							<p>Checked By</p>
						</div>
						<div style="width: 25%;">
							<p>-----------------------------</p>
							<p>QC Assistant</p>
						</div>
						<div style="width: 25%;">
							<p>-----------------------------</p>
							<p>Verified By</p>
						</div>
						<div style="width: 25%;">
							<p>-----------------------------</p>
							<p>QC Head</p>
						</div>
					</div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
