@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
	var workingContent = EngineContext.Current.Resolve<IWorkContext>();
}

<link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/saleschalanpra.css")" rel="stylesheet" media="print" />
<link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/saleschalanpra.css")" rel="stylesheet" />
<style>
	.header, .header-space,
	.footers, .footer-spaces {
		height: 105px;
	}

	.header {
		position: relative;
		top: 0;
	}

	.footer {
		/*position: fixed;*/
		position: relative;
		bottom: 0;
	}
	.companylogo_size {
		width: 13% !important;
	}

	.companylogo img {
		max-width: 100% !important;
		max-height: 50px !important;
		margin-right: 20px !important;
	}

	.incoming-material-tr {
		border-top: 1px solid #333;
	}

	.incoming-material-td {
		border-right: 1px solid #333;
	}

	.info_text {
		width: 83%;
	}
	.img_info {
		max-width: 115% !important;
		max-height: 70px !important;
	}
	.print_document_title {
		width: 100% !important;
	}
</style>

<div class="printable-modal">
	<table>
		<thead class="p_header">
			<tr>
				<td>
					<div class="header-space">
						<div class="companylogo companylogo_size">
							<img alt="" src="~/Images/Birat.Jpeg" class="img_info">
						</div>

						<div class="info info_text">
							<h4> {{printCompanyInfo.companyName}}<br>{{printCompanyInfo.form_edesc}}</h4>
							<p>{{printCompanyInfo.address}}</p>
							<p>Ph.No. : {{printComnayInfo.TELEPHONE}}</p>

						</div>
						<div class="print_document_title">
							<h3 style="text-decoration-line:underline">Raw Material</h3>
						</div>


						<div class="left-side" style="padding-top: 0px !important">
							@*<tr>
								<td>*@
							<table class="print_table consignee">
								<tr>
									<td style="width:35%;text-align:left;" id="IncomingMaterialTes">Product Type</td>
									<td style="width:20%;text-align:left;">: {{item_code}}</td>
								</tr>

								<tr>
									<td style="width:35%;text-align:left;" id="IncomingMaterialTes">QC No</td>
									<td style="width:20%;text-align:left;">: {{TRANSACTION_NO}}</td>
								</tr>
								<tr>
									<td style=" text-align:left;">
										Manual No
									</td>
									<td style="text-align:left; width:50%;">
										: {{MANUAL_NO}}
									</td>
								</tr>
								<tr>
									<td style=" text-align:left;">
										Invoice No
									</td>
									<td style="text-align:left;">
										: {{invoice_no}}
									</td>

								</tr>

								<tr>
									<td style=" text-align:left;">
										GRN No
									</td>
									<td style="text-align:left;">
										: {{GRN_NO}}
									</td>

								</tr>
								<tr>
									<td style="width: 35%; text-align:left;">Received Qty </td>
									<td style="width:20%;text-align:left;">: {{quantity}}</td>
								</tr>

							</table>
							@*</div>*@
						</div>
						<div class="right-side" style="padding-top: 0px !important;">
							<table class="print_table consignee" style="width:100%;margin-bottom:5px;">
								<tr>
									<td style="width:35%;text-align:right;">Material :</td>
									<td style="width:20%;text-align:left;"> {{ item_edesc }}</td>
								</tr>
								<tr>
									<td style="width:35%;text-align:right;">QC Date :</td>
									<td style="width:20%;text-align:left;"> {{ QC_DATE | date:'dd-MMM-yyyy' }}</td>
								</tr>
								<tr>
									<td style="width:35%;text-align:right;">Vendor Name  :</td>
									<td style="width:20%;text-align:left;"> {{supplier_edesc}}</td>
								</tr>
								<tr>
									<td style="width:35%;text-align:right;">LC No  :</td>
									<td style="width:20%;text-align:left;"> {{to_location_code}}</td>
								</tr>

								<tr>
									<td style="text-align:right">
										GRN Date :
									</td>
									<td style="text-align:left;">
										{{GRN_DATE | date:'dd-MMM-yyyy'}}
									</td>
								</tr>

								<tr>
									<td style="width:35%;text-align:right;">Material Name :</td>
									<td style="width:20%;text-align:left;"> {{item_edesc}}</td>
								</tr>
							</table>
						</div>
					</div>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<table class="print_table fnce" style="width:100%;border:1px solid black;">
						<thead>
							<tr>
								<th style="width:5%;" class="abc" rowspan="2"><b>S.No.</b></th>
								<th style="width:38.5%;" class="abc" rowspan="2"><b>Parameters</b></th>
								<th style="width:18.5%;" class="abc" rowspan="2"><b>Specification</b></th>
								<th class="abc" colspan="3" style="width:39%;"><b>Roll no.</b></th>
								<th style="width:20%;" class="abc" rowspan="2"><b>Remarks</b></th>
							</tr>
							<tr style="border-top: 1px solid #333;">
								<th style="width:13%;" class="abc"><b>1</b></th>
								<th style="width:13%;" class="abc"><b>2</b></th>
								<th style="width:13%;" class="abc"><b>3</b></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="incoming-material-td">1</td>
								<td class="incoming-material-td">Thickness (mm)</td>
								<td class="incoming-material-td">{{Thickness}}</td>
								<td class="incoming-material-td">{{Thickness1}}</td>
								<td class="incoming-material-td">{{Thickness2}}</td>
								<td class="incoming-material-td">{{Thickness3}}</td>
								<td class="incoming-material-td">{{Remarks1}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">2</td>
								<td class="incoming-material-td">Roll Diameter (mm)</td>
								<td class="incoming-material-td">{{RollDiameter0}}</td>
								<td class="incoming-material-td">{{RollDiameter1}}</td>
								<td class="incoming-material-td">{{RollDiameter2}}</td>
								<td class="incoming-material-td">{{RollDiameter3}}</td>
								<td class="incoming-material-td">{{Remarks2}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">3</td>
								<td class="incoming-material-td">pH</td>
								<td class="incoming-material-td">{{PH}}</td>
								<td class="incoming-material-td">{{PH1}}</td>
								<td class="incoming-material-td">{{PH2}}</td>
								<td class="incoming-material-td">{{PH3}}</td>
								<td class="incoming-material-td">{{Remarks3}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">4</td>
								<td class="incoming-material-td">Unpleseant smell and odour</td>
								<td class="incoming-material-td">OK / Not OK</td>
								<td class="incoming-material-td">{{UnpleasantSmell1}}</td>
								<td class="incoming-material-td">{{UnpleasantSmell2}}</td>
								<td class="incoming-material-td">{{UnpleasantSmell3}}</td>
								<td class="incoming-material-td">{{Remarks4}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">5</td>
								<td class="incoming-material-td">Dust and dirt</td>
								<td class="incoming-material-td">OK / Not OK</td>
								<td class="incoming-material-td">{{DustDirt1}}</td>
								<td class="incoming-material-td">{{DustDirt2}}</td>
								<td class="incoming-material-td">{{DustDirt3}}</td>
								<td class="incoming-material-td">{{Remarks5}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">6</td>
								<td class="incoming-material-td">Damaging of Material</td>
								<td class="incoming-material-td">OK / Not OK</td>
								<td class="incoming-material-td">{{DamagingMaterial1}}</td>
								<td class="incoming-material-td">{{DamagingMaterial2}}</td>
								<td class="incoming-material-td">{{DamagingMaterial3}}</td>
								<td class="incoming-material-td">{{Remarks6}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">7</td>
								<td class="incoming-material-td">Core Damaging</td>
								<td class="incoming-material-td">OK / Not OK</td>
								<td class="incoming-material-td">{{CoreDamaging1}}</td>
								<td class="incoming-material-td">{{CoreDamaging2}}</td>
								<td class="incoming-material-td">{{CoreDamaging3}}</td>
								<td class="incoming-material-td">{{Remarks7}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">8</td>
								<td class="incoming-material-td">Width (mm)</td>
								<td class="incoming-material-td">{{SIZE_WIDTH}}</td>
								<td class="incoming-material-td">{{Width1}}</td>
								<td class="incoming-material-td">{{Width2}}</td>
								<td class="incoming-material-td">{{Width3}}</td>
								<td class="incoming-material-td">{{Remarks8}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">9</td>
								<td class="incoming-material-td">GSM of material</td>
								<td class="incoming-material-td">{{GSM}}</td>
								<td class="incoming-material-td">{{GSM1}}</td>
								<td class="incoming-material-td">{{GSM2}}</td>
								<td class="incoming-material-td">{{GSM3}}</td>
								<td class="incoming-material-td">{{Remarks9}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">10</td>
								<td class="incoming-material-td">Tensile CD</td>
								<td class="incoming-material-td">{{Tensile_CD}}</td>
								<td class="incoming-material-td">{{TensileCD1}}</td>
								<td class="incoming-material-td">{{TensileCD2}}</td>
								<td class="incoming-material-td">{{TensileCD3}}</td>
								<td class="incoming-material-td">{{Remarks10}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">11</td>
								<td class="incoming-material-td">Tensile MD</td>
								<td class="incoming-material-td">{{Tensile_MD}}</td>
								<td class="incoming-material-td">{{TensileMD1}}</td>
								<td class="incoming-material-td">{{TensileMD2}}</td>
								<td class="incoming-material-td">{{TensileMD3}}</td>
								<td class="incoming-material-td">{{Remarks11}}</td>
							</tr>
							<tr class="incoming-material-tr">
								<td class="incoming-material-td">12</td>
								<td class="incoming-material-td">Visual Inspection</td>
								<td class="incoming-material-td">OK / Not OK</td>
								<td class="incoming-material-td">{{VisualInspection1}}</td>
								<td class="incoming-material-td">{{VisualInspection2}}</td>
								<td class="incoming-material-td">{{VisualInspection3}}</td>
								<td class="incoming-material-td">{{Remarks12}}</td>
							</tr>

						</tbody>

					</table>
					<div style="padding-top: 10px !important;">
						<table>
							<tr>
								<td style="width: 35%; text-align: left; font-weight: bold;">Remarks: </td>
								<td style="width:20%;text-align:left;">{{REMARKS}}</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>


		</tbody>
		<tfoot>
			<tr>
				<td>
					<div style="display: flex; justify-content: space-between; text-align: center; padding-top: 10px !important;">
						<div style="width: 25%;">
							<p>-----------------------------</p>
							<p>Checked By</p>
						</div>
						<div style="width: 25%;">
							<p>-----------------------------</p>
							<p>QC Assistant</p>
						</div>
						<div style="width: 25%;">
							<p>-----------------------------</p>
							<p>Verified By</p>
						</div>
						<div style="width: 25%;">
							<p>-----------------------------</p>
							<p>QC Head</p>
						</div>
					</div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
