@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
	var workingContent = EngineContext.Current.Resolve<IWorkContext>();
}

<link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/saleschalanpra.css")" rel="stylesheet" media="print" />
<link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/saleschalanpra.css")" rel="stylesheet" />
<style>
	.header, .header-space,
	.footers, .footer-spaces {
		height: 105px;
	}

	.header {
		position: relative;
		top: 0;
	}

	.footer {
		/*position: fixed;*/
		position: relative;
		bottom: 0;
	}

	.companylogo img {
		max-width: 100% !important;
		max-height: 50px !important;
		margin-right: 20px !important;
	}

	.incoming-material-tr {
		border-top: 1px solid #333;
	}

	.incoming-material-td {
		border-right: 1px solid #333;
	}
	.left-side {
		width: 37% !important;
	}
	.text-font {
		font-size: 10px;
		color: #999;
	}
	.SN{
		width:5%;
	}
	.INSPECTIONPARAMETERS {
		width: 25%;
	}
	.CHECKLISTITEMS {
		width: 25%;
	}
	.CHECKLISTITEMS_CHILD {
		width: 40.373%;
	}
	.STATUS {
		width: 18.5%;
	}
	.STATUS_CHILD {
		width: 29.9%;
	}
	.REMARKS {
		width: 18.5%;
	}
	.info {
		margin-right: 200px !important;
	}
</style>

<div class="printable-modal">
	<table>
		<thead class="p_header">
			<tr>
				<td>
					<div class="header-space">
						<div class="companylogo" style="width:20%;">
							<img alt="" src="~/Images/Birat.Jpeg" style="max-width: 115% !important; max-height: 70px !important;">
						</div>

						<div class="info">
							<h4> {{printCompanyInfo.companyName}}<br>{{printCompanyInfo.form_edesc}}</h4>
							<p>{{printCompanyInfo.address}}</p>
							<p>Ph.No. : {{printComnayInfo.TELEPHONE}}</p>

						</div>
						<div class="print_document_title">
							<h3 style="text-decoration-line:underline">Pre Dispatch Inspection</h3>
						</div>

						<div class="left-side" style="padding-top: 0px !important">
							<table class="print_table consignee">
								<tr>
									<td style="width:15%;text-align:left;" id="IncomingMaterialTes">Dispatch No</td>
									<td style="width:20%;text-align:left;">: {{DISPATCH_NO}}</td>
								</tr>
								<tr>
									<td style="width:15%;text-align:left;" id="IncomingMaterialTes">Customer Invoice No</td>
									<td style="width:20%;text-align:left;">: {{CUSTOMER_INVOICE_NO}}</td>
								</tr>
								<tr>
									<td style="width:15%;text-align:left;" id="IncomingMaterialTes">Driver Contact Number</td>
									<td style="width:20%;text-align:left;">: {{DRIVER_CONTACT_NO}}</td>
								</tr>
								<tr>
									<td style="width:15%;text-align:left;" id="IncomingMaterialTes">QC Inspector</td>
									<td style="width:20%;text-align:left;">: {{QC_INSPECTOR}}</td>
								</tr>
							</table>
							<table class="print_table consignee" style="width: 67%; margin: -110px 0px 0px 278px;">
								<tr>
									<td style="width:40%;text-align:left;">Date/Miti</td>
									<td style="width:20%;text-align:left;">: {{ CREATED_DATE | date:'dd-MMM-yyyy' }}</td>
								</tr>
								<tr>
									<td style="width:40%;text-align:left;">Transport Detail</td>
									<td style="width:20%;text-align:left;">: {{TRANSPORT_DETAIL}}</td>
								</tr>
								<tr>
									<td style="width:40%;text-align:left;">Vehicle No</td>
									<td style="width:20%;text-align:left;">: {{VEHICLE_NO}}</td>
								</tr>
							</table>
							<table class="print_table consignee" style="width: 100%; margin: -75px 0px 0px 468px;">
								<tr>
									<td style="width:40%;text-align:right;">Customer Name</td>
									<td style="width:20%;text-align:left;">: {{CUSTOMER_NAME}}</td>
								</tr>
								<tr>
									<td style="width:40%;text-align:right;">Driver Name</td>
									<td style="width:20%;text-align:left;">: {{DRIVER_NAME}}</td>
								</tr>
								<tr>
									<td style="width:40%;text-align:right;">Dispatch Person</td>
									<td style="width:20%;text-align:left;">: {{DISPATCH_PERSON}}</td>
								</tr>
							</table>
						</div>
					</div>
				</td>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td>
					<div style="margin-top:25px;">
						<table class="print_table fnce" style="width:100%;border:1px solid black;">
							<thead>
								<tr>
									<th class="abc SN" rowspan="2"><b>S.No.</b></th>
									<th class="abc INSPECTIONPARAMETERS" rowspan="2"><b>Inspection Parameters</b></th>
									<th class="abc CHECKLISTITEMS" rowspan="2"><b>Checklist Items</b></th>
									<th class="abc STATUS" rowspan="2"><b>Status Pass ()/ Fail (X)</b></th>
									<th class="abc REMARKS" rowspan="2"><b>Remarks</b></th>
								</tr>
							</thead>
							<tbody>
								<tr class="grid-tr" ng-repeat="(key,row) in PreDispatchItemsData">
									<td class="SN" style="border: 1px solid #000 !important;">
										<span>{{key + 1}}</span>
									</td>
									<td class="INSPECTIONPARAMETERS" style="border: 1px solid #000 !important;">
										<span>{{row.PARAMETERS}}</span>
									</td>
									<td colspan="3" style="padding: 0;">
										<table class="table table-inner" style="width: 100%;">
											<tr ng-repeat="(keys,rows) in row.PreDispatchInspectionDetailsList">
												<td class="condition-row CHECKLISTITEMS_CHILD">{{rows.ITEM_EDESC}}</td>
												<td ng-if="rows.COLUMN_HEADER === 'Dust_dirt_accumulation'" class="STATUS_CHILD">
													<span class="text-font">{{ISDUST_VEHICLE}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Dust_dirt_accumulation'" class="condition-row-remarks">
													<span class="text-font">{{VEHICLE_DUST_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'water_spill'" class="STATUS_CHILD">
													<span class="text-font">{{ISWATERSPILL_VEHICLE}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'water_spill'" class="condition-row-remarks">
													<span class="text-font">{{VEHICLE_WATERSPILL_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Cracks_and_holes'" class="STATUS_CHILD">
													<span class="text-font">{{ISCRACKSHOLES_VEHICLE}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Cracks_and_holes'" class="condition-row-remarks">
													<span class="text-font">{{VEHICLE_CRACKSHOLES_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'protruding_nails_or_pointed_object'" class="STATUS_CHILD">
													<span class="text-font">{{ISNAILS_VEHICLE}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'protruding_nails_or_pointed_object'" class="condition-row-remarks">
													<span class="text-font">{{VEHICLE_NAILS_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'leaking_roofs_or_wall'" class="STATUS_CHILD">
													<span class="text-font">{{ISLEAKWALL_VEHICLE}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'leaking_roofs_or_wall'" class="condition-row-remarks">
													<span class="text-font">{{VEHICLE_WALL_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Visual_defects_scratches_dents_cracks'" class="STATUS_CHILD">
													<span class="text-font">{{ISVISUALDEFECT_PRODUCT}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Visual_defects_scratches_dents_cracks'" class="condition-row-remarks">
													<span class="text-font">{{PRODUCT_DEFECT_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Dimensions_and_specifications'" class="STATUS_CHILD">
													<span class="text-font">{{ISDIMENSIONS_PRODUCT}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Dimensions_and_specifications'" class="condition-row-remarks">
													<span class="text-font">{{PRODUCT_DIMENSIONS_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Weight_and_tolerance_checks'" class="STATUS_CHILD">
													<span class="text-font">{{ISWEIGHTCHECK_PRODUCT}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Weight_and_tolerance_checks'" class="condition-row-remarks">
													<span class="text-font">{{PRODUCT_WEIGHT_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Correct_labeling_and_barcodes'" class="STATUS_CHILD">
													<span class="text-font">{{ISCORRECT_PACKAGING}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Correct_labeling_and_barcodes'" class="condition-row-remarks">
													<span class="text-font">{{PACKAGING_CORRECT_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Packaging_integrity_no_damage_sealed'" class="STATUS_CHILD">
													<span class="text-font">{{ISSEALED_PACKAGING}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Packaging_integrity_no_damage_sealed'" class="condition-row-remarks">
													<span class="text-font">{{PACKAGING_SEALED_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Quantity_per_box_carton_matches'" class="STATUS_CHILD">
													<span class="text-font">{{ISPERBOX_PACKAGING}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Quantity_per_box_carton_matches'" class="condition-row-remarks">
													<span class="text-font">{{PACKAGING_PERBOX_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Stacking'" class="STATUS_CHILD">
													<span class="text-font">{{ISSTACKING_PACKAGING}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Stacking'" class="condition-row-remarks">
													<span class="text-font">{{PACKAGING_STACKING_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Invoice_and_packing_list'" class="STATUS_CHILD">
													<span class="text-font">{{ISINVOICE_DOCUMENTATION}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Invoice_and_packing_list'" class="condition-row-remarks">
													<span class="text-font">{{DOCU_INVOICE_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Quality_assurance_certificates'" class="STATUS_CHILD">
													<span class="text-font">{{ISQUALITY_DOCUMENTATION}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Quality_assurance_certificates'" class="condition-row-remarks">
													<span class="text-font">{{DOCU_QUALITY_REMARKS}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Compliance_certificates_ISO_NS_etc'" class="STATUS_CHILD">
													<span class="text-font">{{ISCOMPLIANCE_DOCUMENTATION}}</span>
												</td>
												<td ng-if="rows.COLUMN_HEADER === 'Compliance_certificates_ISO_NS_etc'" class="condition-row-remarks">
													<span class="text-font">{{DOCU_COMP_REMARKS}}</span>
												</td>
											</tr>
										</table>
									</td>
									</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>
					<div style="display: flex; justify-content: space-between; text-align: center; padding-top: 10px !important;">
						<div style="width: 25%;">
							<p>-----------------------------</p>
							<p>Checked By</p>
						</div>
						<div style="width: 25%;">
							<p>-----------------------------</p>
							<p>QC Assistant</p>
						</div>
						<div style="width: 25%;">
							<p>-----------------------------</p>
							<p>Verified By</p>
						</div>
						<div style="width: 25%;">
							<p>-----------------------------</p>
							<p>QC Head</p>
						</div>
					</div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
