@{
    ViewBag.Title = "EmployeeSetup";
    Layout = null;
}

<style>
    .k-splitbar.k-splitbar-horizontal {
        width: 5px;
    }

    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }

    .k-splitter .k-scrollable {
        overflow-y: hidden !important;
    }

    .k-scrollable .k-widget.k-treeview {
        max-height: 444px;
        overflow: auto !important;
    }
</style>

<div class="col-md-12">
    <div id="splitter" ng-controller="EmployeeSetupCtrl">
        <div id="pane1">
            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/_employeeSetupPartial.cshtml")
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Initialize Splitter
        $("#splitter").kendoSplitter({
            panes: [
                { size: "29%", collapsible: true },
                { collapsible: true }
            ]
        });

        var splitter = $("#splitter").data("kendoSplitter");

        // Use a timeout to ensure the DOM is painted before setting Max
        setTimeout(function () {
            if (splitter) {
                // Ensure the element #pane1 exists before calling max
                if ($("#pane1").length > 0) {
                    splitter.max("#pane1", "500px");
                }
            }
        }, 200);

        $('.tblresponsive').slimScroll({
            height: '150px',
        });
    });
</script>