
@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
	var workingContent = EngineContext.Current.Resolve<IWorkContext>();
	Layout = "~/Areas/NeoERP.QCQAManagement/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en" class="no-js">
<head>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/Scripts/hotkeys.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/module/QCQAModule.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/DashboardQCQACtrl.js")"></script>
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
	<div class="busy-loader">
		<div id="preloader" class="loader"></div>
		<span style="color:white">Loading.....Please Wait.....</span>
	</div>
	<div id="myarea" ng-controller="DashboardQCQACtrl">
		<div class="clearfix"></div>
		<div class="">
			<div class="page-sidebar-wrapper">
				<div class="">
					<div>
						@Html.Partial("ParameterSetupList")
						@*@Html.Partial("QCQAInspectionSetup")*@
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>








