@{
	Layout = null;
}


<style>

	.custom-alert {
		display: none;
		position: fixed;
		top: 20px;
		right: 20px;
		background: #f8d7da;
		color: #721c24;
		padding: 12px 20px;
		border-radius: 4px;
		font-weight: 600;
		z-index: 99999;
	}



	.large-button {
		padding: 8px 24px;
		/*font-size: 18px;*/
		border-radius: 6px;
		background-color: #28a745;
		color: white;
		border: none;
		cursor: pointer;
		display: block; /* Ensures proper centering */
		margin: auto; /* Centers horizontally */
	}

	.textpadding {
		padding-left: 5px;
	}

	.material-font {
		font-size: 11px;
		width: 200px;
	}

	.kendo-row {
		border: 1px solid #ddd;
	}

	.material-align {
		margin-left: 50px;
	}

	.document_child_table .table_body, .document_child_table .child-table-head tr {
		display: table !important;
		width: 100% !important;
		table-layout: fixed !important;
	}
	.document_child_table td.btn-action {
		width: 8%;
	}
	th.remarks-label {
		width: 10%;
		white-space: nowrap;
	}

	td.remarks-value {
		width: 90%;
	}

		td.remarks-value input {
			width: 100%;
			box-sizing: border-box;
		}

	.responsive_tab_content .input-group-addon {
		padding: 4px 12px !important;
	}

	.table_body tr {
		display: table;
		table-layout: fixed;
	}

	.SNo,
	.SNo_child {
		width: 57px;
		min-width: 57px;
		max-width: 57px;
		text-align: right;
	}

	.TimePeriod {
		width: 96.27px !important;
	}

	.TIME_PERIOD_div {
		width: 96.27px !important;
	}

	.PRODUCT_TYPE, .PRODUCT_TYPE_div {
		width: 159px !important;
	}

	.ProductName, .ProductType, .ProductType_div, .ITEM_CODE_div, .ProductName_div, .ITEM_EDESC, .ITEM_EDESC_div {
		width: 159px !important;
	}

	.TotalQty {
		display: table-cell !important;
		width: 581px !important;
		white-space: nowrap;
	}

	.BatchNo,  .BATCH_NO_div {
		width: 110px !important;
	}
	.LooseProduct, .UnsealedPacket, .SealedPacket, .CartonBag, .WrapperInPrinter{
		width:110px !important;
	}

	.clsSupplierValue {
		width: 86px;
	}

	.LooseProduct_Sample, .LooseProduct_Defect, .UnsealedPacket_Sample, .UnsealedPacket_Defect, .SealedPacket_Sample, .SealedPacket_Defect, .CartonBag_Sample, .CartonBag_Defect, .WrapperInPrinter_Sample, .WrapperInPrinter_Defect, .LooseProduct_Sample_div, .LooseProduct_Defect_div, .UnsealedPacket_Sample_div, .UnsealedPacket_Defect_div, .SealedPacket_Sample_div, .SealedPacket_Defect_div, .CartonBag_Sample_div, .CartonBag_Defect_div, .WrapperInPrinter_Sample_div, .WrapperInPrinter_Defect_div, .LOOSE_PRODUCT_SAMPLE_div, .LOOSE_PRODUCT_DEFECT_div, .UNSEALED_PACKET_SAMPLE_div, .UNSEALED_PACKET_DEFECT_div, .SEALED_PACKET_SAMPLE_div, .SEALED_PACKET_DEFECT_div, .BAG_SAMPLE_div, .BAG_DEFECT_div, .WRAPPER_SAMPLE_div, .WRAPPER_DEFECT_div {
		width: 55px !important;
	}

	.LooseProduct_SampleTotal, .LooseProduct_DefectTotal, .UnsealedPacket_SampleTotal, .UnsealedPacket_DefectTotal, .SealedPacket_SampleTotal, .SealedPacket_DefectTotal, .CartonBag_SampleTotal, .CartonBag_DefectTotal, .WrapperInPrinter_SampleTotal, .WrapperInPrinter_DefectTotal {
		width: 55px !important;
		padding: 0px 4px !important;
	}

	.LooseProductTotal, .UnsealedPacketTotal, .SealedPacketTotal, .CartonBagTotal, .WrapperInPrinterTotal {
		width: 110px !important;
		padding: 0px 4px !important;
	}

	.REMARKS-child, .REMARKS_div {
		width: 190px !important;
	}

	@@media screen and (max-width: 1400px) {
		.SNo,
		.SNo_child {
			width: 57px;
			min-width: 57px;
			max-width: 57px;
			text-align: right;
		}

		.TimePeriod {
			width: 96.27px !important;
		}

		.TIME_PERIOD_div {
			width: 96.27px !important;
		}

		.PRODUCT_TYPE, .PRODUCT_TYPE_div {
			width: 159px !important;
		}

		.ProductName, .ProductType, .ProductType_div, .ITEM_CODE_div, .ProductName_div {
			width: 159px !important;
		}

		.TotalQty {
			display: table-cell !important;
			width: 581px !important;
			white-space: nowrap;
		}

		.BatchNo, .LooseProduct, .UnsealedPacket, .SealedPacket, .CartonBag, .WrapperInPrinter, .BATCH_NO_div {
			width: 110px !important;
		}

		.clsSupplierValue {
			width: 86px;
		}

		.LooseProduct_Sample, .LooseProduct_Defect, .UnsealedPacket_Sample, .UnsealedPacket_Defect, .SealedPacket_Sample, .SealedPacket_Defect, .CartonBag_Sample, .CartonBag_Defect, .WrapperInPrinter_Sample, .WrapperInPrinter_Defect, .LooseProduct_Sample_div, .LooseProduct_Defect_div, .UnsealedPacket_Sample_div, .UnsealedPacket_Defect_div, .SealedPacket_Sample_div, .SealedPacket_Defect_div, .CartonBag_Sample_div, .CartonBag_Defect_div, .WrapperInPrinter_Sample_div, .WrapperInPrinter_Defect_div, .LOOSE_PRODUCT_SAMPLE_div, .LOOSE_PRODUCT_DEFECT_div, .UNSEALED_PACKET_SAMPLE_div, .UNSEALED_PACKET_DEFECT_div, .SEALED_PACKET_SAMPLE_div, .SEALED_PACKET_DEFECT_div, .BAG_SAMPLE_div, .BAG_DEFECT_div, .WRAPPER_SAMPLE_div, .WRAPPER_DEFECT_div {
			width: 55px !important;
		}

		.LooseProduct_SampleTotal, .LooseProduct_DefectTotal, .UnsealedPacket_SampleTotal, .UnsealedPacket_DefectTotal, .SealedPacket_SampleTotal, .SealedPacket_DefectTotal, .CartonBag_SampleTotal, .CartonBag_DefectTotal, .WrapperInPrinter_SampleTotal, .WrapperInPrinter_DefectTotal {
			width: 55px !important;
			padding: 0px 4px !important;
		}

		.LooseProductTotal, .UnsealedPacketTotal, .SealedPacketTotal, .CartonBagTotal, .WrapperInPrinterTotal {
			width: 110px !important;
			padding: 0px 4px !important;
		}

		.REMARKS-child, .REMARKS_div {
			width: 190px !important;
		}
	}

	.btn-action a, .buttonadd, .buttondelete {
		border: solid #ddd 1px !important;
		background-color: #ddd !important;
		padding: 0px 3px 0px 3px !important;
		display: inline-block;
		font-size: 11px !important;
		margin-left: 2px !important;
		vertical-align: middle !important;
		vertical-align: -webkit-baseline-middle;
	}

	.btn-action {
		width: 100px !important;
	}

	.input-group .addon-iconbox {
		min-width: 23px;
		padding: 0px;
	}

	/*.date-width {
		width: 87px !important;
	}*/

	div.clsRemarks input{
		width: 90% !important;
	}

	.date-container {
		display: flex;
		flex-direction: column; /* label on top */
	}

	.date-label {
		margin-bottom: 6px; /* space below label */
		font-weight: 500;
	}

	.date-row {
		display: flex;
		gap: 12px; /* 👈 constant distance */
		align-items: center;
	}

	.nepali-wrapper {
		position: relative;
		display: inline-flex;
		align-items: center;
	}

	.nepali-calendar {
		padding-right: 30px; /* space for icon */
		height: 34px; /* match Kendo input height */
	}


	.calendar-icon-2 {
		position: absolute;
		right: 8px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 14px;
		color: #555;
		right: 9px !important;
		top: 10px !important;
		pointer-events: none;
	}

	.k-widget.k-datepicker {
		width: 50% !important;
	}

</style>

@*<link href="@Styles.Url("~/Areas/NeoERP.QCQAManagement/Content/QCQASetup.css")" rel="stylesheet" />*@
<div class="col-md-12 bodyController" ng-controller="HandOverInspectionList">
	<div class="portlet light form-fit bordered bottomspance">
		<div class="portlet box green-box main">
			<div class="portlet-title">
				<div class="caption">
					<a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/QuotationManagement/Home/Dashboard">
						<i class="fa fa-arrow-circle-left"></i>
					</a>
					<i class="fa fa-gift font-white-haze"></i>
					<span class="caption-subject font-white-haze bold uppercase">Handover Inspection Report</span>
				</div>
			</div>
			<div class="portlet-body light bg-inverse">
				<div id="ItemGrid">
					<div class="row" style="margin-bottom: 10px; margin-top: 10px;">
						<form id="registeredVehicle" name="registeredVehicle">
							<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform">
								<div class="form-group col-md-3 col-sm-3">
									<label for="element">Dispatch No:</label>
									<div>
										<input type="text" ng-model="DISPATCH_NO" ng-init="DISPATCH_NO='@ViewBag.QCNO'" disabled>
									</div>
								</div>
								<div class="form-group col-md-4 date-container">
									<label class="date-label">Date / Miti</label>
									<div class="date-row">
										<input id="englishdatedocument"
											   autocomplete="off"
											   class="englishdate"
											   kendo-date-picker
											   ng-model="CREATED_DATE"
											   k-options="monthSelectorOptions" />
										<div class="nepali-wrapper nopadding-left pl-1">
											<input type="text"
												   id="nepaliDate5"
												   class="nepali-calendar"
												   data-checkfor="englishdatedocument"
												   autocomplete="off"
												   onchange="ConvertNepToEng(this)"
												   next-on-tab />
											<i class="fa fa-calendar calendar-icon-2"></i>
										</div>
									</div>
								</div>
								<div class="form-group col-md-2 col-sm-2">
									<label for="element">Packing Unit</label>
									<div class="topsearch" style="display: block;">

										<select id="ddlPackingUnit" k-ng-model="PACKING_UNIT" kendo-drop-down-list
												k-options="ddlPackingUnit"
												class="ddlPackingUnit">
										</select>
									</div>
								</div>
								<div class="form-group col-md-1 col-sm-1">
									<label for="element">Manual No</label>
									<div>
										<input type="text" ng-model="MANUAL_NO" autocomplete="off" class="" name="WB_SLIP_NO" id="txtManualNo" />
									</div>
								</div>
								
							</div>
							<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform">
								<div class="form-group  col-md-12 col-sm-12">
									<label for="element">Remarks:</label>
									<div class="clsRemarks">
										<input type="text" ng-model="REMARKS" autocomplete="off" class="" name="WB_SLIP_NO" id="txtRemarks" />
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-content d-tab-content">
						<div class="tab-pane active" id="tab_15_1">
							<div class="table-responsive">
								<table class="document_child_table dynamic-table table-fixed dynamic_child_table dynamic_child_table6">
									<thead class="child-table-head">
										<tr>
											<th class="SNo">S/No</th>
											<th class="TIME_PERIOD_div">Time Period</th>
											<th class="ProductType_div">Product Type</th>
											<th class="ProductName">Product Name</th>
											<th class="BatchNo">Batch No</th>
											<th class="LooseProduct">Loose Product</th>
											<th class="UnsealedPacket">Unsealed Packet</th>
											<th class="SealedPacket">Sealed Packet</th>
											<th class="CartonBag">Carton/Bag</th>
											<th class="WrapperInPrinter">Wrapper in printer</th>
											<th class="Remarks-child">Remarks</th>

											<!-- Action column -->
											<th rowspan="2" class="btn-action" style="width:8%;">&nbsp;</th>
										</tr>

										<!-- Second row: Empty ths for alignment + subheaders -->
										<tr>
											<th class="SNo_child"></th>
											<th class="TIME_PERIOD_div"></th>
											<th class="ProductType"></th>
											<th class="ProductName"></th>
											<th class="BatchNo"></th>
											<th class="LooseProduct_Sample">Sample</th>
											<th class="LooseProduct_Defect">Defect</th>
											<th class="UnsealedPacket_Sample">Sample</th>
											<th class="UnsealedPacket_Defect">Defect</th>
											<th class="SealedPacket_Sample">Sample</th>
											<th class="SealedPacket_Defect">Defect</th>
											<th class="CartonBag_Sample">Sample</th>
											<th class="CartonBag_Defect">Defect</th>
											<th class="WrapperInPrinter_Sample">Sample</th>
											<th class="WrapperInPrinter_Defect">Defect</th>
											<th class="Remarks-child"></th>
											<th rowspan="2" class="btn-action" style="width:8%;">&nbsp;</th>
										</tr>
									</thead>
									<tbody class="table_body">

										<tr ng-repeat="(key,row) in HandOverItemsData" id="idDispatchItems">
											<td class="SNo_child" style="background-color: #eeeeee;">
												<div>
													<input type="text" style="text-align: right;" value="{{key + 1}}" class="form-control SNo_child TIME_PERIOD1" disabled />
												</div>
											</td>
											<td ng-repeat="item in row.element | orderBy: 'SERIAL_NO'" class="{{item.COLUMN_NAME| uppercase}}_div">
												<div ng-if="item.COLUMN_NAME ==='TIME_PERIOD'">
													<input type="text" id="item.COLUMN_NAME" placeholder="Enter" autocomplete="off" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
												</div>
												<div class="input-group" ng-if="item.COLUMN_NAME ==='PRODUCT_TYPE'">
													<input id="productType_{{key}}" ng-model="PRODUCT_TYPE"
														   autocomplete="off"
														   class="clsProductType" kendo-combo-box
														   product-index="{{key}}"
														   k-options="ItemCodeOption1"
														   k-min-length="3" />
													<span class="input-group-addon addon-iconbox PRODUCT_TYPE_{{key}} clsProductType PRODUCT_TYPE_{{key}}" style="cursor: pointer; text-align: right;">
														<i class="fa fa-search" data-toggle="tooltip" title="Search product"></i>
													</span>
												</div>
												<div class="input-group" ng-if="item.COLUMN_NAME ==='ITEM_EDESC'">
													<label type="hidden" ng-model="ITEM_CODE" class="hidProductNameCode_{{key}} productNameCode_{{key}}">{{ITEM_CODE}}</label>
													<input id="productName_{{key}}" ng-model="ITEM_CODE"
														   autocomplete="off"
														   class="clsSupplierValue" kendo-combo-box
														   product-name-index="{{key}}"
														   k-options="ItemCodeOption"
														   k-min-length="3" />
													<span class="input-group-addon addon-iconbox itemCode_{{key}} clsProductName ITEM_EDESC_{{key}}" style="cursor: pointer; text-align: right;">
														<i class="fa fa-search" data-toggle="tooltip" title="Search product"></i>
													</span>
												</div>
												<div class="input-group" ng-if="item.COLUMN_NAME === 'BATCH_NO'">
													<input type="hidden" ng-model="FORM_CODE" class="hidItemCode itemCode_{{key}}" />
													<input type="hidden" id="transactionNo_{{key}}" ng-model="TRANSACTION_NO" class="hidTransacitonNo" />
													<input id="batch_{{key}}" ng-model="BATCH_NO"
														   autocomplete="off"
														   class="clsSupplierValue" kendo-combo-box
														   batch-name-index="{{key}}"
														   k-options="ItemCodeBatchOption"
														   k-min-length="3" />
													<span class="input-group-addon addon-iconbox itemCode_{{key}} clsBatch {{item.COLUMN_NAME}}_{{key}}" style="cursor: pointer; text-align: right;">
														<i class="fa fa-search" data-toggle="tooltip" title="Search product"></i>
													</span>
												</div>
												<div ng-if="item.COLUMN_NAME ==='LOOSE_PRODUCT_SAMPLE'">
													<input type="text" id="item.COLUMN_NAME" placeholder="Enter" autocomplete="off" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="CalculateTotal(key)" />
												</div>
												<div ng-if="item.COLUMN_NAME ==='LOOSE_PRODUCT_DEFECT'">
													<input type="text" id="item.COLUMN_NAME" placeholder="Enter" autocomplete="off" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="CalculateTotal(key)" />
												</div>
												<div ng-if="item.COLUMN_NAME ==='UNSEALED_PACKET_SAMPLE'">
													<input type="text" id="item.COLUMN_NAME" placeholder="Enter" autocomplete="off" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="CalculateTotal(key)" />
												</div>
												<div ng-if="item.COLUMN_NAME ==='UNSEALED_PACKET_DEFECT'">
													<input type="text" id="item.COLUMN_NAME" placeholder="Enter" autocomplete="off" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="CalculateTotal(key)" />
												</div>
												<div ng-if="item.COLUMN_NAME ==='SEALED_PACKET_SAMPLE'">
													<input type="text" id="item.COLUMN_NAME" placeholder="Enter" autocomplete="off" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="CalculateTotal(key)" />
												</div>
												<div ng-if="item.COLUMN_NAME ==='SEALED_PACKET_DEFECT'">
													<input type="text" id="item.COLUMN_NAME" placeholder="Enter" autocomplete="off" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="CalculateTotal(key)" />
												</div>
												<div ng-if="item.COLUMN_NAME ==='BAG_SAMPLE'">
													<input type="text" id="item.COLUMN_NAME" placeholder="Enter" autocomplete="off" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="CalculateTotal(key)" />
												</div>
												<div ng-if="item.COLUMN_NAME ==='BAG_DEFECT'">
													<input type="text" id="item.COLUMN_NAME" placeholder="Enter" autocomplete="off" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="CalculateTotal(key)" />
												</div>
												<div ng-if="item.COLUMN_NAME ==='WRAPPER_SAMPLE'">
													<input type="text" id="item.COLUMN_NAME" placeholder="Enter" autocomplete="off" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="CalculateTotal(key)" />
												</div>
												<div ng-if="item.COLUMN_NAME ==='WRAPPER_DEFECT'">
													<input type="text" id="item.COLUMN_NAME" placeholder="Enter" autocomplete="off" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="CalculateTotal(key)" />
												</div>
												<div ng-if="item.COLUMN_NAME ==='REMARKS'">
													<input type="text" id="item.COLUMN_NAME" placeholder="Enter" autocomplete="off" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
												</div>
											</td>
											<td class="btn-action">
												<a href="" id="add_child_element" name="add_child_element" class="buttonadd" ng-click="add_child_element($index)"><i class="fa fa-plus" data-toggle="tooltip" title="Add row"></i></a>
												<a href="" id="remove_child_element" name="remove_child_element" class="buttondelete" ng-click="remove_child_element($index)"><i class="fa fa-trash" data-toggle="tooltip" title="Delete row"></i></a>
											</td>
										</tr>
										<tr><th class="TotalQty">Total Qty</th><td class="LooseProduct_SampleTotal"></td><td class="LooseProduct_DefectTotal"></td><td class="UnsealedPacket_SampleTotal"></td><td class="UnsealedPacket_DefectTotal"></td><td class="SealedPacket_SampleTotal"></td><td class="SealedPacket_DefectTotal"></td><td class="CartonBag_SampleTotal"></td><td class="CartonBag_DefectTotal"></td><td class="WrapperInPrinter_SampleTotal"></td><td class="WrapperInPrinter_DefectTotal"></td><td class="Remarks-child"></td><td class="btn-action"></td></tr>
										<tr><th class="TotalQty">Total Defect Rate:</th><td class="LooseProductTotal" colspan="2"><td class="UnsealedPacketTotal" colspan="2"></td><td class="SealedPacketTotal" colspan="2"></td><td class="CartonBagTotal" colspan="2"></td><td class="WrapperInPrinterTotal" colspan="2"></td><td class="Remarks-child" colspan="2"></td><td class="btn-action"></td></tr>
										<tr><th class="remarks-label">Overall Remarks</th><td class="remarks-value"><input id="txtOverAllRemarks" ng-model="OVERALL_REMARKS" autocomplete="off"  type="text"></td></tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-sm btn-green" ng-hide="panelMode === 'view'" id="savedocumentformdata" ng-click="saveDispatchInspection()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
				<i class="fa fa-floppy-o"></i> Save
			</button>
			<button type="button" class="btn btn-sm btn-danger" ng-click="ItemCancel()" data-dismiss="modal">
				<i class="fa-solid fa-xmark"></i> Cancel
			</button>
		</div>
	</div>
</div>
<script>
	var a = location.hash;
	var b = location.pathname;
	var url = (b + a);
	$(".active").removeClass();
	$("a[href='" + url + "']").parent().addClass("active");
	$("a[href='" + url + "']").parent().parent().slideDown("slow");
</script>
<script>
	function dateSet(date) {
		var month = date.getMonth() + 1;
		var day = date.getDate();
		date = date.getFullYear() + '/' +
			(('' + month).length < 2 ? '0' : '') + month + '/' +
			(('' + day).length < 2 ? '0' : '') + day;
		return date;
	}

	function setNepaliDateFromEnglish() {
		var engDate = $("#englishdatedocument").val();
		var formattedDate = moment(engDate, 'M/D/YYYY').format('DD-MMM-YYYY');
		$("#englishdatedocument").val(formattedDate);
		var formattedEngDate = moment(engDate, 'M/D/YYYY').format('YYYY-MM-DD');
		var nepaliDate = AD2BS(formattedEngDate);
		$("#issueNep").val(nepaliDate);
	}

	function NepaliDateFromEnglish() {
		var engDate = $("#validDt").val();
		var formattedDate = moment(engDate, 'M/D/YYYY').format('DD-MMM-YYYY');
		$("#validDt").val(formattedDate);

		var formattedEngDate = moment(engDate, 'M/D/YYYY').format('YYYY-MM-DD');
		var nepaliDate = AD2BS(formattedEngDate);
		$("#nepaliDate").val(nepaliDate);

		var issueDt = moment($("#englishdatedocument").val(), 'DD-MMM-YYYY');
		var validUntilDt = moment(engDate, 'M/D/YYYY');

		if (validUntilDt.isBefore(issueDt)) {
			displayPopupNotification("To be Deliver Date cannot be greater than Date/Miti date.", "error");
		}
	}

	function ConvertNepToEng(e) {
		var date = BS2AD($("#issueNep").val());
		var FormattedEngDate = moment(date).format('DD-MMM-YYYY');
		$("#englishdatedocument").val(FormattedEngDate);
	}

	$(".nepali-calendar").nepaliDatePicker({
		npdMonth: true,
		onFocus: true,
		npdYear: true,
		npdYearCount: 10,
		altFormat: "dd-MMM-YYYY",
		dateFormat: "dd-MMM-YYYY",
		onChange: function (evt) {
			var nepaliDate = $("#issueNep").val(); // Get the Nepali date value
			var engDate = BS2AD(nepaliDate); // Convert Nepali date to English date
			var formattedEngDate = moment(engDate).format('DD-MMM-YYYY'); // Format the English date
			$("#englishdatedocument").val(formattedEngDate); // Update the English date input field
		}
	});

	function NepToEng(e) {
		var date = BS2AD($("#nepaliDate").val());
		var FormattedEngDate = moment(date).format('DD-MMM-YYYY');
		$("#validDt").val(FormattedEngDate);
	}

	$(".nepali-calendar").nepaliDatePicker({
		npdMonth: true,
		onFocus: true,
		npdYear: true,
		npdYearCount: 10,
		altFormat: "dd-MMM-YYYY",
		dateFormat: "dd-MMM-YYYY",
		onChange: function (evt) {
			var nepalidate = $("#nepaliDate5").val();
			var Engdate = BS2AD(nepalidate);
			var cmpEngDate = moment(Engdate).format('YYYY/MM/DD');
			var FormattedEngDate = moment(Engdate).format('DD-MMM-YYYY');
			var date = new Date();
			var formBackDays = $('#hdnformBackDays').val();
			date.setDate(date.getDate() - formBackDays);
			var minDate = dateSet(date);
			var maxDate = dateSet(new Date());
			$("#englishdatedocument").val(FormattedEngDate);
		}
	});


</script>
<script type="text/javascript">
	$(document).ready(function () {
		var ddlUrl = window.location.protocol + "//" + window.location.host + "/api/HandOverInspectionAPI/GetPackingUnit"
		var defaultValue = "QC_Master_Setup";
		var ddlPackingUnit = $("#ddlPackingUnit").kendoDropDownList({
			optionLabel: "-- Select Product--",
			dataTextField: "MU_EDESC", // Field name for the dropdown text
			dataValueField: "MU_CODE", // Field name for the dropdown value
			autoBind: false, // Prevent auto-binding until we load the data
			filter: "contains",
			dataSource: {
				transport: {
					read: {
						url: ddlUrl,
						dataType: "json",
						success: function (data) {
							data.forEach(item => {
							});
							// Populate the dropdown
							ddlMaterials.data("kendoDropDownList").setDataSource(new kendo.data.DataSource({
								data: data
							}));
							ddlMaterials.data("kendoDropDownList").enable(true); // Enable dropdown after loading data
						},
						error: function (xhr, status, error) {
							console.error("Error loading dropdown data:", error);
						}
					}
				}
			},
			dataBound: function () {
				var dropdown = this;
				var items = dropdown.dataSource.data();
				var exists = items.some(function (item) {
					return item.TABLE_NAME === defaultValue;
				});

				if (exists) {
					dropdown.value(defaultValue);  // Set default value
				}
			},
			change: function (e) {
				var dropdown = e.sender;
				var selectedValue = dropdown.value();
				var scope = angular.element($("#ddlPackingUnit")).scope();
				scope.$apply(function () {
					scope.tableName = selectedValue;
				});
			}, height: 200
		}).data("kendoDropDownList");

		$(document).on('click', '.clsProductType', function (e) {
			e.preventDefault();
			var productIndex = $(this).closest('tr').find('input[product-index]').attr('product-index');
			ShowPopupListForProductType(productIndex)
		});
		function ShowPopupListForProductType(index) {
			$.get("/api/ProductSetupAPI/ProductTypeList", function (response) {
				if ($("#popupWindow").length === 0) {
					$("body").append('<div id="popupWindow"></div>');
				}
				$("#popupWindow").kendoWindow({
					width: "300px",
					height: "300px",
					title: "Select Product Type",
					visible: false,
					modal: true,
					actions: ["Close"]
				});
				var popupWindow = $("#popupWindow").data("kendoWindow");

				$.each(response, function (index, value) {

					let contentHtml =
						`<input type="text" id="searchInputText" placeholder="Search..." style="width: 35%;position: inherit; margin-bottom: 10px;margin-top: 4px; border: 1px solid #ccc;height: 25px;" />
							<table id=productTypeList class=voucher-list  border='1' style='border-collapse: collapse; width: 100%;'>
						<tr style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;height: 25px;">
						<td class=textpadding><b>Product Type</b></td>
					</tr>`
					$.each(response, function (index, value) {
						contentHtml += `<tr id='productTypeList' data-productType="${value.PRODUCT_TYPE}" style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;">
						<td class=textpadding>${value.PRODUCT_TYPE}</td>
						<td><button class="btnProductTypeClass batch-no large-button  data-productType=${value.PRODUCT_TYPE} type ="button">Ref</button></td>
					</tr>`;
					});
					contentHtml += "</table>"; // Closing the table tag
					popupWindow.content(contentHtml);
					popupWindow.center().open();
					$("#searchInputText").on("keyup", function () {
						var searchText = $(this).val().toLowerCase();
						$("#productTypeList tbody tr").each(function () {
							var rowText = $(this).find("td").map(function () {
								return $(this).text().toLowerCase();
							}).get().join(" "); // Join all cell values for a full-row search
							$(this).toggle(rowText.includes(searchText));
						});
					});
				});

				$("#productTypeList").on("click", "tr", function (e) {
					var selectedProduct = $(this).attr("data-productType");
					var combo = $("#productType_" + index).data("kendoComboBox");
					if (!combo)
						$('#productType_' + index).val(selectedProduct);
					else
						combo.text(selectedProduct);
					popupWindow.close(); // Close popup after selection
				});
				$(document).on("click", ".btnProductTypeClass", function (e) {
					e.preventDefault;
					var classes = this.classList;
					var selectedProduct = null;
					classes.forEach(function (token) {
						if (token.indexOf("data-productType=") === 0) {
							selectedProduct = token.substring("data-productType=".length);
						}
					});
					var combo = $("#productType_" + index).data("kendoComboBox");
					if (!combo)
						$('#productType_' + index).val(selectedProduct);
					else
						combo.text(selectedProduct);
					var inputSelector = `.ccustomer_${key}`;
					$(inputSelector).val(selectedProduct).trigger("input"); // Trigger input event for Angular binding
					popupWindow.close(); // Close popup after selection
				});
			});
		}
		$(document).on('click', '.clsProductName', function (e) {
			e.preventDefault();
			var productIndex = $(this).closest('.input-group').find('input[product-name-index]').attr('product-name-index');
			$.get("/api/ProductSetupAPI/ProductList?ProductType=" + $('#productType_' + productIndex).val() + "&Category_Code=" + "", function (response) {
				if ($("#popupWindow").length === 0) {
					$("body").append('<div id="popupWindow"></div>');
				}
				$("#popupWindow").kendoWindow({
					width: "300px",
					height: "300px",
					title: "Select Product Type",
					visible: false,
					modal: true,
					actions: ["Close"]
				});
				var popupWindow = $("#popupWindow").data("kendoWindow");
				$.each(response, function (index, value) {
					let contentHtml =
						`<input type="text" id="searchInputText" placeholder="Search..." style="width: 35%;position: inherit; margin-bottom: 10px;margin-top: 4px; border: 1px solid #ccc;height: 25px;" />
							<table id=productNameList class=voucher-list  border='1' style='border-collapse: collapse; width: 100%;'>
						<tr style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;height: 25px;">
						<td class=textpadding><b>Product Type</b></td>
					</tr>`
					$.each(response, function (index, value) {
						contentHtml += `<tr id='productNameList' data-transaction="${value.ITEM_EDESC}" data-batch="${value.ITEM_EDESC}" data-batch-value="${value.ITEM_CODE}" style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;">
						<td class=textpadding>${value.ITEM_EDESC}</td>
						<td hidden class=clshiddenItemCode>${value.ITEM_CODE}</td>
						<td><button class="btnProductNameClass batch-no large-button  data-productName=${value.ITEM_EDESC} type ="button">Ref</button></td>
					</tr>`;
					});
					contentHtml += "</table>"; // Closing the table tag
					popupWindow.content(contentHtml);
					popupWindow.center().open();
					$("#searchInputText").on("keyup", function () {
						var searchText = $(this).val().toLowerCase();
						$("#productNameList tbody tr").each(function () {
							var rowText = $(this).find("td").map(function () {
								return $(this).text().toLowerCase();
							}).get().join(" "); // Join all cell values for a full-row search
							$(this).toggle(rowText.includes(searchText));
						});
					});
				});

				$("#productNameList").on("click", "tr", function (e) {
					var selectedProduct = $(this).attr("data-batch");
					var selectedProductValue = $(this).attr("data-batch-value");
					var combo = $("#productName_" + productIndex).data("kendoComboBox");
					if (!combo)
						$('#productName_' + productIndex).val(selectedProduct);
					else
						combo.text(selectedProduct);
					//$('#productName_' + productIndex).val(selectedProduct);
					$('.hidProductNameCode_' + productIndex).val(selectedProductValue);
					popupWindow.close(); // Close popup after selection
				});

				$(document).on("click", ".btnProductNameClass", function () {
					var classes = this.classList;
					var selectedProduct = null;
					//$('#productType_' + productIndex).val(selectedProduct);
					classes.forEach(function (token) {
						if (token.indexOf("data-productName=") === 0) {
							selectedProduct = token.substring("data-productName=".length);
						}
					});
					var combo = $("#productName_" + productIndex).data("kendoComboBox");
					if (!combo)
						$('#productName_' + productIndex).val(selectedProduct);
					else
						combo.text(selectedProduct);
					var inputSelector = `.ccustomer_${key}`;
					$(inputSelector).val(selectedProduct).trigger("input"); // Trigger input event for Angular binding
					popupWindow.close(); // Close popup after selection
				});
			});
		});

		$(document).on('click', '.clsBatch', function (e) {
			e.preventDefault();
			var inputElement = $(this).closest('.input-group').find('.hidItemCode');
			var productIndex = $(this).closest('.input-group').find('input[batch-name-index]').attr('batch-name-index');
			$.get("/api/RawMaterialAPI/GetBatchNoByItemCode?ItemCode=" + $('.hidProductNameCode_' + productIndex).val(), function (response) {
				if ($("#popupWindow").length === 0) {
					$("body").append('<div id="popupWindow"></div>');
				}
				$("#popupWindow").kendoWindow({
					width: "800px",
					height: "300px",
					title: "Select Voucher",
					visible: false,
					modal: true,
					actions: ["Close"]
				});
				var popupWindow = $("#popupWindow").data("kendoWindow");

				$.each(response, function (index, value) {

					let contentHtml =
						`<input type="text" id="searchInputText" placeholder="Search..." style="width: 35%;position: inherit; margin-bottom: 10px;margin-top: 4px; border: 1px solid #ccc;height: 25px;" />
							<table id=voucherList class=voucher-list  border='1' style='border-collapse: collapse; width: 100%;'>
						<tr style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;height: 25px;">
						<td class=textpadding><b>REFERENCE NO</b></td>
						<td class=textpadding><b>BATCH NO</b></td>
						<td class=textpadding><b>QUANTITY</b></td>
						<td class=textpadding><b>UNIT PRICE</b></td>
					</tr>`
					$.each(response, function (index, value) {
						contentHtml += `<tr id='voucherList' data-transaction="${value.TRANSACTION_NO}" data-batch="${value.BATCH_NO}" style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;">
						<td class=textpadding>${value.REFERENCE_NO}</td>
						<td class=textpadding>${value.BATCH_NO}</td>

						<td class=textpadding>${value.QUANTITY}</td>
						<td class=textpadding>${value.UNIT_PRICE}</td>
						<td><button class="btnClass batch-no large-button  data-batch=${value.BATCH_NO} type ="button">Ref</button></td>
					</tr>`;
					});
					contentHtml += "</table>"; // Closing the table tag
					popupWindow.content(contentHtml);
					popupWindow.center().open();
					$("#searchInputText").on("keyup", function () {
						var searchText = $(this).val().toLowerCase();

						$("#voucherList tbody tr").each(function () {
							var rowText = $(this).find("td").map(function () {
								return $(this).text().toLowerCase();
							}).get().join(" "); // Join all cell values for a full-row search

							$(this).toggle(rowText.includes(searchText));
						});
					});
				});

				$("#voucherList").on("click", "tr", function (e) {
					var selectedBatch = $(this).attr("data-batch");
					var selectedTransactionNo = $(this).attr("data-transaction");
					//$('#batch_' + 0).val(selectedBatch);
					var combo = $("#batch_" + productIndex).data("kendoComboBox");
					if (!combo)
						$('#batch_' + productIndex).val(selectedBatch);
					else
						combo.text(selectedBatch);
					$('#transactionNo_' + productIndex).val(selectedTransactionNo);
					var inputSelector = `.ccustomer_${key}`;
					$(inputSelector).val(selectedBatch).trigger("input"); // Trigger input event for Angular binding
					popupWindow.close(); // Close popup after selection
				});
				$(document).on("click", ".btnClass", function () {
					var classes = this.classList;
					var selectedBatch = null;
					var selectedTransaction = null;
					classes.forEach(function (token) {
						if (token.indexOf("data-batch=") === 0) {
							selectedBatch = token.substring("data-batch=".length);
							selectedTransaction = token.substring("data-transaction=".length);
						}
					});
					//$('#batch_' + index).val(selectedBatch);
					var combo = $("#batch_" + productIndex).data("kendoComboBox");
					if (!combo)
						$('#batch_' + productIndex).val(selectedBatch);
					else
						combo.text(selectedBatch);
					$('#transactionNo_' + productIndex).val(selectedTransaction);
					var inputSelector = `.ccustomer_${key}`;
					$(inputSelector).val(selectedBatch).trigger("input"); // Trigger input event for Angular binding
					popupWindow.close(); // Close popup after selection
				});
			});
		});
		function ShowPopupList(itemCode, index, ItemName) {
			if (ItemName === "Batch") {
				$.get("/api/RawMaterialAPI/GetBatchNoByItemCode?ItemCode=" + itemCode, function (response) {
					if ($("#popupWindow").length === 0) {
						$("body").append('<div id="popupWindow"></div>');
					}
					$("#popupWindow").kendoWindow({
						width: "800px",
						height: "300px",
						title: "Select Voucher",
						visible: false,
						modal: true,
						actions: ["Close"]
					});
					var popupWindow = $("#popupWindow").data("kendoWindow");

					$.each(response, function (index, value) {

						let contentHtml =
							`<input type="text" id="searchInputText" placeholder="Search..." style="width: 35%;position: inherit; margin-bottom: 10px;margin-top: 4px; border: 1px solid #ccc;height: 25px;" />
							<table id=voucherList class=voucher-list  border='1' style='border-collapse: collapse; width: 100%;'>
						<tr style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;height: 25px;">
						<td class=textpadding><b>REFERENCE NO</b></td>
						<td class=textpadding><b>BATCH NO</b></td>
						<td class=textpadding><b>QUANTITY</b></td>
						<td class=textpadding><b>UNIT PRICE</b></td>
					</tr>`
						$.each(response, function (index, value) {
							contentHtml += `<tr id='voucherList' data-transaction="${value.TRANSACTION_NO}" data-batch="${value.BATCH_NO}" style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;">
						<td class=textpadding>${value.REFERENCE_NO}</td>
						<td class=textpadding>${value.BATCH_NO}</td>

						<td class=textpadding>${value.QUANTITY}</td>
						<td class=textpadding>${value.UNIT_PRICE}</td>
						<td><button class="btnClass batch-no large-button  data-batch=${value.BATCH_NO} type ="button">Ref</button></td>
					</tr>`;
						});
						contentHtml += "</table>"; // Closing the table tag
						popupWindow.content(contentHtml);
						popupWindow.center().open();
						$("#searchInputText").on("keyup", function () {
							var searchText = $(this).val().toLowerCase();
							$("#voucherList tbody tr").each(function () {
								var rowText = $(this).find("td").map(function () {
									return $(this).text().toLowerCase();
								}).get().join(" "); // Join all cell values for a full-row search

								$(this).toggle(rowText.includes(searchText));
							});
						});
					});

					$("#voucherList").on("click", "tr", function (e) {
						var selectedBatch = $(this).attr("data-batch");
						var selectedTransactionNo = $(this).attr("data-transaction");
						$('#batch_' + index).val(selectedBatch);
						$('#transactionNo_' + index).val(selectedTransactionNo);
						var inputSelector = `.ccustomer_${key}`;
						$(inputSelector).val(selectedBatch).trigger("input"); // Trigger input event for Angular binding
						popupWindow.close(); // Close popup after selection
					});
					$(document).on("click", ".btnClass", function () {
						var classes = this.classList;
						var selectedBatch = null;
						var selectedTransaction = null;

						// Loop through each token in classList and check for one that starts with "data-voucher="
						classes.forEach(function (token) {
							if (token.indexOf("data-batch=") === 0) {
								// Extract the part after "data-voucher="
								selectedBatch = token.substring("data-batch=".length);
								selectedTransaction = token.substring("data-transaction=".length);
							}
						});
						$('#batch_' + index).val(selectedBatch);
						$('#transactionNo_' + index).val(selectedTransaction);
						var inputSelector = `.ccustomer_${key}`;
						$(inputSelector).val(selectedBatch).trigger("input"); // Trigger input event for Angular binding
						popupWindow.close(); // Close popup after selection
					});
				});
			}
			else {
				$.get("/api/IncomingMaterialAPI/GetPending_VoucherDetailsByItemId?ItemCode=" + itemCode, function (response) {
					if ($("#popupWindow").length === 0) {
						$("body").append('<div id="popupWindow"></div>');
					}
					$("#popupWindow").kendoWindow({
						width: "800px",
						height: "300px",
						title: "Select Voucher",
						visible: false,
						modal: true,
						actions: ["Close"]
					});
					var popupWindow = $("#popupWindow").data("kendoWindow");

					$.each(response, function (index, value) {
						if (value.Voucher_No && value.Voucher_No.includes('BH')) {
							let contentHtml =
								`<input type="text" id="searchInputText" placeholder="Search..." style="width: 35%;position: inherit; margin-bottom: 10px;margin-top: 4px; border: 1px solid #ccc;height: 25px;" />
							<table id=voucherList class=voucher-list  border='1' style='border-collapse: collapse; width: 100%;'>
						<tr style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;height: 25px;">
					   <td class=textpadding><b>GRN NO</b></td>
						<td class=textpadding><b>GRN MITI</b></td>
						<td class=textpadding><b>SUPPLIER NAME</b></td>
						<td class=textpadding><b>INVOICE NO</b></td>
					</tr>`
							$.each(response, function (index, value) {
								contentHtml += `<tr id='voucherList' data-supplier="${value.SUPPLIER_CODE}" data-voucher="${value.Voucher_No}" style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;">
						<td class=textpadding>${value.Voucher_No}</td>
						<td class=textpadding>${value.MITI}</td>

						<td class=textpadding>${value.supplier_edesc}</td>
						<td class=textpadding>${value.invoice_no}</td>
						<td><button class="btnClass voucher-item large-button data-supplier="${value.SUPPLIER_CODE}"  data-voucher=${value.Voucher_No} type ="button">Ref</button></td>
					</tr>`;
							});
							contentHtml += "</table>"; // Closing the table tag
							popupWindow.content(contentHtml);
							popupWindow.center().open();
							$("#searchInputText").on("keyup", function () {
								var searchText = $(this).val().toLowerCase();

								$("#voucherList tbody tr").each(function () {
									var rowText = $(this).find("td").map(function () {
										return $(this).text().toLowerCase();
									}).get().join(" "); // Join all cell values for a full-row search

									$(this).toggle(rowText.includes(searchText));
								});
							});
						}
						else {
							let grn_ContentHtml =
								`<input type="text" id="searchInputText" placeholder="Search..." style="width: 35%;position: inherit; margin-bottom: 10px; border: 1px solid #ccc;height: 25px;" />
							<table id=voucherList class=voucher-list  border='1' style='border-collapse: collapse; width: 100%;'>
						<tr  style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;height: 25px;">
						<td class=textpadding><b>GATE ENTRY NO</b></td>
						<td class=textpadding><b>GATE ENTRY MITI</b></td>
						<td class=textpadding><b>SUPPLIER NAME</b></td>
						<td class=textpadding><b>INVOICE NO</b></td>
					</tr>`
							$.each(response, function (index, value) {
								grn_ContentHtml += `<tr id='voucherList' data-supplier="${value.SUPPLIER_CODE}" data-voucher="${value.Voucher_No}" style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;">
						<td class=textpadding>${value.Voucher_No}</td>
						<td class=textpadding>${value.MITI}</td>

						<td class=textpadding>${value.supplier_edesc}</td>
						<td class=textpadding>${value.invoice_no}</td>
						<td><button class="btnClass voucher-item large-button data-supplier="${value.SUPPLIER_CODE}"  data-voucher=${value.Voucher_No} " type ="button">Ref</button></td>
					</tr>`;
							});
							grn_ContentHtml += "</table>"; // Closing the table tag
							popupWindow.content(grn_ContentHtml);
							popupWindow.center().open();
							$("#searchInputText").on("keyup", function () {
								var searchText = $(this).val().toLowerCase();
								$("#voucherList tbody tr").each(function () {
									var rowText = $(this).find("td").map(function () {
										return $(this).text().toLowerCase();
									}).get().join(" "); // Join all cell values for a full-row search
									$(this).toggle(rowText.includes(searchText));
								});
							});
						}
					});

					$("#voucherList").on("click", "tr", function (e) {
						var selectedVoucher = $(this).attr("data-voucher");
						var selectedSupplier = $(this).attr("data-supplier");
						$('#idGRNNo').val(selectedVoucher);
						$.get("/api/IncomingMaterialAPI/MaterialDetailLists?VoucherNo=" + selectedVoucher, function (response_MatDetails) {
							if (ItemName === "RM") {
								$('#vendor_' + index).val(response_MatDetails[0].supplier_edesc);
								$('#supplierCode_' + index).val(response_MatDetails[0].SUPPLIER_CODE);
							}
							else {
								$('#txtInvoiceNo').val(response_MatDetails[0].invoice_no);
								$('#txtMaterialName').val(response_MatDetails[0].item_edesc);
								$('#txtVendorName').val(response_MatDetails[0].supplier_edesc);
								$('#txtLCNo').val(response_MatDetails[0].to_location_code);
								$('#txtReceivedQty').val(response_MatDetails[0].quantity);
								$('#txtQCAssistant').text(response_MatDetails[0].CreatedBy);
								$('#txtQCHead').text(response_MatDetails[0].CreatedBy);
								$('#txtManualNo').val(response_MatDetails[0].MANUAL_NO);
								$('#txtRemarks').val(response_MatDetails[0].Remarks);
							}

						});

						var inputSelector = `.ccustomer_${key}`;
						$(inputSelector).val(selectedVoucher).trigger("input"); // Trigger input event for Angular binding
						popupWindow.close(); // Close popup after selection
					});
					$(document).on("click", ".btnClass", function () {
						var classes = this.classList;
						var selectedVoucher = null;
						var selectedSupplier = null;
						classes.forEach(function (token) {
							if (token.indexOf("data-voucher=") === 0) {
								selectedVoucher = token.substring("data-voucher=".length);
								selectedSupplier = token.substring("data-supplier=".length);
							}
						});
						$('#idGRNNo').val(selectedVoucher);
						$.get("/api/IncomingMaterialAPI/MaterialDetailLists?VoucherNo=" + selectedVoucher, function (response_MatDetails) {
							if (ItemName === "RM") {
								$('#vendor_' + index).val(response_MatDetails[0].supplier_edesc);
								$('#supplierCode_' + index).val(response_MatDetails[0].SUPPLIER_CODE);
							}
							else {
								$('#txtInvoiceNo').val(response_MatDetails[0].invoice_no);
								$('#txtMaterialName').val(response_MatDetails[0].item_edesc);
								$('#txtVendorName').val(response_MatDetails[0].supplier_edesc);
								$('#txtLCNo').val(response_MatDetails[0].to_location_code);
								$('#txtReceivedQty').val(response_MatDetails[0].quantity);
								$('#txtQCAssistant').text(response_MatDetails[0].CreatedBy);
								$('#txtQCHead').text(response_MatDetails[0].CreatedBy);
								$('#txtManualNo').val(response_MatDetails[0].MANUAL_NO);
								$('#txtRemarks').val(response_MatDetails[0].Remarks);
							}
						});
						var inputSelector = `.ccustomer_${key}`;
						$(inputSelector).val(selectedVoucher).trigger("input"); // Trigger input event for Angular binding
						popupWindow.close(); // Close popup after selection
					});
				});
			}
		}
		var grid = $("#ItemGrid").data("kendoGrid");
	});
</script>


