@{
	Layout = null;

}
<style>
	.large-button {
		padding: 8px 24px;
		/*font-size: 18px;*/
		border-radius: 6px;
		background-color: #28a745;
		color: white;
		border: none;
		cursor: pointer;
		display: block; /* Ensures proper centering */
		margin: auto; /* Centers horizontally */
	}

	.textpadding {
		padding-left: 5px;
	}

	.material-font {
		font-size: 11px;
		width: 200px;
	}

	.kendo-row {
		border: 1px solid #ddd;
	}

	.material-align {
		margin-left: 50px;
	}

	.k-window {
		position: fixed !important;
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -50%) !important;
	}
</style>
<link href="@Styles.Url("~/Areas/NeoERP.QCQAManagement/Content/QCQASetup.css")" rel="stylesheet" />
<div class="col-md-12 bodyController" ng-controller="IncomingMaterialList">
	<div class="portlet light form-fit bordered bottomspance">
		<div class="portlet box green-box main">
			<div class="portlet-title">
				<div class="caption">
					<a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/QuotationManagement/Home/Dashboard">
						<i class="fa fa-arrow-circle-left"></i>
					</a>
					<i class="fa fa-gift font-white-haze"></i>
					<span class="caption-subject font-white-haze bold uppercase">Incoming Material(QC)</span>
				</div>
			</div>

			<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform" style="margin: 30px 0px 0px -15px;">
				<div class="form-group col-md-6 col-sm-6" style=" margin-left: -15px;">
					<label for="projectName" class="col-sm-12 col-form-label">Product Type</label>
					<div class="row" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.3rem;">
						<div class="col-md-3" style="flex: 1; margin-bottom: 5px; margin-left: 15px;">
							<div class="topsearch" style="display: block;">

								<select id="ddlProductType" k-ng-model="ITEM_CODE" kendo-drop-down-list
										k-options="ddlProductType"
										class="ddlProductType" style="width: 178px;">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="portlet-body light bg-inverse" style="padding-top:0px !important;">
				<label style="display: flex; justify-content: space-between; align-items: center; margin-top: 0px; margin-bottom: 0.3rem;">Select Material</label>
				<div class="row" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.3rem;">
					<div class="col-md-3" style="flex: 1; margin-bottom: 5px;">
						<div class="topsearch" style="display: block;">
							<select id="ddlMaterials" k-ng-model="MATERIAL_CODE" kendo-drop-down-list
									k-options="ddlMaterials"
									class="ddlMaterials">
							</select>
						</div>
					</div>
				</div>
				<div class="portlet-body light bg-inverse">
					<div id="ItemGrid" data-role="grid" class="k-grid k-widget k-display-block">

						<div class="row" style="margin-bottom: 10px; margin-top: 10px;">
							<form id="registeredVehicle" name="registeredVehicle">

								<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform">

									<div class="form-group col-md-3 col-sm-3">
										<label for="element">QC No:</label>
										<div>
											<input type="text" ng-model="QC_NO" class="material-font" name="WB_SLIP_NO" id="txtQCNo" disabled />
										</div>
									</div>
									<div class="form-group col-md-3 col-sm-3 material-align">
										<label for="element">QC Date</label>
										<div>
											<input id="iQC_DATE" class="englishdate" ng-model="QC_DATE" kendo-date-picker
												   k-options="qc_datePickerOptions" />
										</div>
									</div>
									<div class="form-group col-md-3 col-sm-3 material-align">
										<label for="element">Manual No</label>
										<div>
											<input type="text" ng-model="MANUAL_NO" class="material-font" name="WB_SLIP_NO" id="txtManualNo" disabled />
										</div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform">
									<div class="form-group  col-md-3 col-sm-3">
										<label for="element">Vendor Name:</label>
										<div>
											<input type="hidden" id="hidtxtVendorCode" />
											<input type="text" ng-model="supplier_edesc" class="material-font" name="WB_SLIP_NO" id="txtVendorName" disabled />
										</div>
									</div>
									<div class="form-group col-md-3 col-sm-3 material-align">
										<label for="element">LC No:</label>
										<div>
											<input type="text" ng-model="to_location_code" class="material-font" name="WB_SLIP_NO" id="txtLCNo" disabled />
										</div>
									</div>
									<div class="form-group col-md-3 col-sm-3 material-align">
										<label for="element">Invoice No:</label>
										<div>
											<input type="text" ng-model="invoice_no" class="material-font" name="WB_SLIP_NO" id="txtInvoiceNo" disabled />
										</div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform">
									<div class="form-group col-md-3 col-sm-3">
										<label for="element">GRN No:</label>
										<div>
											<input type="text" ng-model="GRN_NO" class="material-font" name="WB_SLIP_NO" id="idGRNNo" disabled />
										</div>
									</div>
									<div class="form-group col-md-3 col-sm-3 material-align">
										<label for="element">GRN Date</label>
										<div>
											<input id="idReceiptDate" class="englishdate" ng-model="GRN_DATE" kendo-date-picker style="width: 107% !important;"
												   k-options="receiptDate_datePickerOptions" disabled />
										</div>
									</div>
									<div class="form-group  col-md-3 col-sm-3 material-align">
										<label for="element">Received Qty:</label>
										<div>
											<input type="text" ng-model="quantity" class="material-font" name="WB_SLIP_NO" id="txtReceivedQty" disabled />
										</div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform">
									<div class="form-group  col-md-3 col-sm-3">
										<label for="element">Material Name:</label>
										<div>
											<input type="text" ng-model="item_edesc" class="material-font" name="WB_SLIP_NO" id="txtMaterialName" disabled />
										</div>
									</div>
									<div class="form-group  col-md-3 col-sm-3 material-align">
										<label for="element">Remarks:</label>
										<div>
											<input type="text" ng-model="Remarks" class="material-font" name="WB_SLIP_NO" id="txtRemarks" disabled />
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-sm btn-green" ng-hide="panelMode === 'view'" id="savedocumentformdata" ng-click="saveQCParameter()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
				<i class="fa fa-floppy-o"></i> Save
			</button>
		</div>
	</div>
</div>
<script>
	var a = location.hash;
	var b = location.pathname;
	var url = (b + a);
	$(".active").removeClass();
	$("a[href='" + url + "']").parent().addClass("active");
	$("a[href='" + url + "']").parent().parent().slideDown("slow");
</script>
<script type="text/javascript">
	$(document).ready(function () {
		// Initialize the dropdown list with data from API
		$(function () {
			var today = new Date();
			var datePicker = $('#idReceiptDate').kendoDatePicker({
				value: $('#idReceiptDate').val()
			})
		});
		$(function () {
			var today = new Date();
			var datePicker = $('#iQC_DATE').kendoDatePicker({
				value: $('#iQC_DATE').val()
			})
		});
		var ddlUrl = window.location.protocol + "//" + window.location.host + "/api/IncomingMaterialAPI/MaterialListsByCategory?CategoryCode=RM"
		var defaultValue = "QC_Master_Setup";
		var ddlMaterials = $("#ddlMaterials").kendoDropDownList({
			optionLabel: "-- Select Material--",
			dataTextField: "item_edesc", // Field name for the dropdown text
			dataValueField: "MATERIAL_CODE", // Field name for the dropdown value
			autoBind: false, // Prevent auto-binding until we load the data
			filter: "contains",
			dataSource: {
				transport: {
					read: {
						url: ddlUrl,
						dataType: "json",
						success: function (data) {
							data.forEach(item => {
							});
							// Populate the dropdown
							ddlMaterials.data("kendoDropDownList").setDataSource(new kendo.data.DataSource({
								data: data
							}));
							ddlMaterials.data("kendoDropDownList").enable(true); // Enable dropdown after loading data
						},
						error: function (xhr, status, error) {
							console.error("Error loading dropdown data:", error);
						}
					}
				}
			},
			dataBound: function () {
				var dropdown = this;
				var items = dropdown.dataSource.data();

				// Check if the default value exists in the data
				var exists = items.some(function (item) {
					return item.TABLE_NAME === defaultValue;
				});

				if (exists) {
					dropdown.value(defaultValue);  // Set default value
					//callNeewFieldAPI(defaultValue);
				}
			},
			change: function (e) {
				var dropdown = e.sender;
				var selectedValue = dropdown.value();
				// Update AngularJS scope
				var scope = angular.element($("#ddlMaterials")).scope();
				scope.$apply(function () {
					scope.tableName = selectedValue;
				});
			}, height: 200
		}).data("kendoDropDownList");
		var grid = $("#ItemGrid").data("kendoGrid");
		if (!grid) {
			grid = $("#ItemGrid").kendoGrid({
				dataSource: {
					data: [], // Empty initially, to be populated dynamically later
					schema: {
						model: {
							fields: {
								item_code: { type: "string" },
								item_edesc: { type: "string" },
								thickness: { type: "string" },
								GSM: { type: "string" },
								roll_1: { type: "string" },
								roll_2: { type: "string" },
								roll_3: { type: "string" }
							}
						}
					}
				},
				columns: [
					{ field: "item_code", title: "S. No", width: 50, headerAttributes: { style: "text-align: center;font-weight: bold;" } },
					{ field: "item_edesc", title: "Parameters", width: 150, headerAttributes: { style: "text-align: center;font-weight: bold;" } },
					{
						field: "Specification",
						title: "Specification",
						width: 200,
						headerAttributes: { style: "text-align: center;font-weight: bold;" },
						template: function (data) {
							alert(1);
							// Return the value based on item_edesc
							if (data.item_edesc === "Thickness (mm)") {
								return data.thickness;
							} else if (data.item_edesc === "Roll Diameter (mm)") {
								return data.GSM;
							}
							return "";
						}
					},
					{
						title: "Roll No",
						headerAttributes: { style: "text-align: center;font-weight: bold;" },
						columns: [
							{ field: "roll_1", title: "Roll 1", width: 70, headerAttributes: { style: "text-align: center;font-weight: bold;" } },
							{ field: "roll_2", title: "Roll 2", width: 70, headerAttributes: { style: "text-align: center;font-weight: bold;" } },
							{ field: "roll_3", title: "Roll 3", width: 70, headerAttributes: { style: "text-align: center;font-weight: bold;" } }
						]
					},
					{ field: "Remarks", title: "Remarks", width: 150, headerAttributes: { style: "text-align: center;font-weight: bold;" } }
				], rowTemplate: kendo.template(
					`<tr class="ng-scope kendo-row">
		<td style="text-align:right;">#: item_code #</td>
		<td>#: item_edesc #</td>
		
		<td class="thick#= item_code #"><input type="text" class="form-control thick#= item_code #" ng-model="thick#= item_code #" style="margin-left: -5px;"></td>
		<td class="roll1#= item_code #"><input type="text" class="form-control roll1#= item_code #" ng-model="roll1#= item_code #" style="margin-left: -5px;"></td>
		<td class="roll2#= item_code #"><input type="text" class="form-control roll2#= item_code #" ng-model="roll2#= item_code #" style="margin-left: -5px;"></td>
		<td class="roll3#= item_code #"><input type="text" class="form-control roll3#= item_code #" ng-model="roll3#= item_code #" style="margin-left: -5px;"></td>
		<td class="remarks#= item_code #"><input type="text" class="form-control remarks#= item_code #" ng-model="remarks#= item_code #" style="margin-left: -5px;width:165px;"></td>
	</tr>`
				),
				dataBound: function () {
					$('#ItemGrid .k-grid-content table[role="grid"]').css("border-collapse", "collapse");
				}
			}).data("kendoGrid");

			// Load data dynamically using an AJAX call or from any other source
			loadItemSpecData();
			//loadItemSpec(itemCode)
		}

		function loadItemSpecData() {

			// Example data with class names
			var dynamicData = [
				{ item_code: "1", item_edesc: "Thickness (mm)", thickness: "", GSM: "", roll_1: "", roll_2: "", roll_3: "" },
				{ item_code: "2", item_edesc: "Roll Diameter (mm)", thickness: "", GSM: "", roll_1: "", roll_2: "", roll_3: "" },
				/*{ item_code: "2", item_edesc: "Roll Diameter (mm)", roll_1: "", roll_1: "", roll_1: "", roll_2: "", roll_3: "" },*/
				{ item_code: "3", item_edesc: "pH", thickness: "", GSM: "", roll_1: "", roll_2: "", roll_3: "" },
				{ item_code: "4", item_edesc: "Unpleseant smell and odour", thickness: "", GSM: "", roll_1: "", roll_2: "", roll_3: "" },
				{ item_code: "5", item_edesc: "Dust and dirt", thickness: "", GSM: "", roll_1: "", roll_2: "", roll_3: "" },
				{ item_code: "6", item_edesc: "Damaging of Material", thickness: "", GSM: "", roll_1: "", roll_2: "", roll_3: "" },
				{ item_code: "7", item_edesc: "Core Damaging", thickness: "", GSM: "", roll_1: "", roll_2: "", roll_3: "" },
				{ item_code: "8", item_edesc: "Width (mm)", thickness: "", GSM: "", roll_1: "", roll_2: "", roll_3: "" },
				{ item_code: "9", item_edesc: "GSM of material", thickness: "", GSM: "", roll_1: "", roll_2: "", roll_3: "" },
				{ item_code: "10", item_edesc: "Tensile CD", thickness: "", GSM: "", roll_1: "", roll_2: "", roll_3: "" },
				{ item_code: "11", item_edesc: "Tensile MD", thickness: "", GSM: "", roll_1: "", roll_2: "", roll_3: "" },
				{ item_code: "12", item_edesc: "Visual Inspection", thickness: "", GSM: "", roll_1: "", roll_2: "", roll_3: "" }
			];

			var grid = $("#ItemGrid").data("kendoGrid");
			if (!grid) {
				return;
			}

			grid.dataSource.data(dynamicData);
		}
		function loadItemSpec(itemCode) {
			$.ajax({
				url: "/api/IncomingMaterialAPI/MaterialDetailLists?VoucherNo=" + itemCode,
				type: "GET",
				success: function (data) {
					// Loop through each item returned from the AJAX call
					var gridData = grid.dataSource.data(); // Get the current grid data
					data.forEach(function (item) {
						var gridRow = gridData.find(row => row.item_edesc === "Thickness (mm)");
						if (gridRow) {
							var dataItem = grid.dataSource.getByUid(gridRow.uid); // Get observable data item
							var formattedDate = kendo.toString(kendo.parseDate(item.RECEIPT_DATE, "yyyy-MM-dd"), "M/d/yyyy");
							var qcDate = kendo.toString(new Date(), "M/d/yyyy");
							$('#idReceiptDate').val(formattedDate);
							$('#iQC_DATE').val(qcDate);
						}
					});
				},
				error: function (xhr, status, error) {
					console.error("Error fetching item specs:", error);
				}
			});
		}

		function parseCustomDate(dateStr) {
			var parts = dateStr.split("/");
			if (parts.length === 3) {
				return new Date(parts[2], parts[0] - 1, parts[1]); // Month is zero-based
			}
			return null;
		}
		var bindingSelectedValue = null;

		$("#ddlMaterials").on('change', function (e) {
			e.preventDefault();
			var ddl = $("#ddlMaterials").data("kendoDropDownList");
			var selectedVal = ddl ? ddl.value() : $(this).val();

			// store current value
			bindingSelectedValue = selectedVal;

			// show popup for current selection
			if (selectedVal) {
				ShowPopupList(selectedVal);
			}

			// bind select once (do not rebind multiple times)
			ddl.unbind("select").bind("select", function (e) {
				// always use the last selected value
				ShowPopupList(bindingSelectedValue);
			});
		});

		function ShowPopupList(itemCode) {
			// Example: Fetch details from an API
			$.get("/api/IncomingMaterialAPI/GetVoucherDetailsByItemId?ItemCode=" + itemCode, function (response) {
				if ($("#popupWindow").length === 0) {
					$("body").append('<div id="popupWindow"></div>');
				}
				$("#popupWindow").kendoWindow({
					width: "800px",
					height: "300px",
					title: "Select Voucher",
					visible: false,
					modal: true,
					actions: ["Close"]
				});
				var popupWindow = $("#popupWindow").data("kendoWindow");

				$.each(response, function (index, value) {
					if (value.Voucher_No && value.Voucher_No.includes('BH')) {
						let contentHtml =
							`<input type="text" id="searchInputText" placeholder="Search..." style="width: 35%;position: inherit; margin-bottom: 10px;margin-top: 4px; border: 1px solid #ccc;height: 25px;" />
							<table id=voucherList class=voucher-list  border='1' style='border-collapse: collapse; width: 100%;'>
						<tr style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;height: 25px;">
					   <td class=textpadding><b>GRN NO</b></td>
						<td class=textpadding><b>GRN MITI</b></td>
						<td class=textpadding><b>SUPPLIER NAME</b></td>
						<td class=textpadding><b>INVOICE NO</b></td>
					</tr>`
						$.each(response, function (index, value) {
							contentHtml += `<tr id='voucherList' data-voucher="${value.Voucher_No}" style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;">
						<td class=textpadding>${value.Voucher_No}</td>
						<td class=textpadding>${value.MITI}</td>

						<td class=textpadding>${value.supplier_edesc}</td>
						<td class=textpadding>${value.invoice_no}</td>
						<td><button class="btnClass voucher-item large-button  data-voucher=${value.Voucher_No} type ="button">Ref</button></td>
					</tr>`;
						});
						contentHtml += "</table>"; // Closing the table tag
						popupWindow.content(contentHtml);
						popupWindow.center().open();
						$("#searchInputText").on("keyup", function () {
							var searchText = $(this).val().toLowerCase();
							$("#voucherList tbody tr").each(function () {
								var rowText = $(this).find("td").map(function () {
									return $(this).text().toLowerCase();
								}).get().join(" "); // Join all cell values for a full-row search
								$(this).toggle(rowText.includes(searchText));
							});
						});
					}
					else {
						let grn_ContentHtml =
							`<input type="text" id="searchInputText" placeholder="Search..." style="width: 35%;position: inherit; margin-bottom: 10px; border: 1px solid #ccc;height: 25px;" />
							<table id=voucherList class=voucher-list  border='1' style='border-collapse: collapse; width: 100%;'>
						<tr  style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;height: 25px;">
						<td class=textpadding><b>GATE ENTRY NO</b></td>
						<td class=textpadding><b>GATE ENTRY MITI</b></td>
						<td class=textpadding><b>SUPPLIER NAME</b></td>
						<td class=textpadding><b>INVOICE NO</b></td>
					</tr>`
						$.each(response, function (index, value) {
							grn_ContentHtml += `<tr id='voucherList' data-voucher="${value.Voucher_No}" style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;">
						<td class=textpadding>${value.Voucher_No}</td>
						<td class=textpadding>${value.MITI}</td>

						<td class=textpadding>${value.supplier_edesc}</td>
						<td class=textpadding>${value.invoice_no}</td>
						<td><button class="btnClass voucher-item large-button  data-voucher=${value.Voucher_No} " type ="button">Ref</button></td>
					</tr>`;
						});
						grn_ContentHtml += "</table>"; // Closing the table tag
						popupWindow.content(grn_ContentHtml);
						popupWindow.center().open();
						$("#searchInputText").on("keyup", function () {
							var searchText = $(this).val().toLowerCase();
							$("#voucherList tbody tr").each(function () {
								var rowText = $(this).find("td").map(function () {
									return $(this).text().toLowerCase();
								}).get().join(" "); // Join all cell values for a full-row search

								$(this).toggle(rowText.includes(searchText));
							});
						});
					}
				});
				function GetSpecificationDetails(response_MatDetails) {
					var smellValue = response_MatDetails[0].UNPLEASANT_SMELL_ODOUR;

					function getItemsDropdown(modelName, selectedValue) {
						return `
									<select class="${modelName}" ng-model="${modelName}">
										<option value="" ${selectedValue === "" ? "selected" : ""}></option>
										<option value="OK" ${selectedValue === "OK" ? "selected" : ""}>OK</option>
										<option value="Not OK" ${selectedValue === "Not OK" ? "selected" : ""}>Not OK</option>
									</select>
								`;
					}

					$('.thick4').html("OK / Not OK");
					$('.roll14').html(getItemsDropdown('UnpleasantSmell1', smellValue));
					$('.roll24').html(getItemsDropdown('UnpleasantSmell2', smellValue));
					$('.roll34').html(getItemsDropdown('UnpleasantSmell3', smellValue));

					var dustDirtValue = response_MatDetails[0].Dust_Dirt;
					$('.thick5').html("OK / Not OK");
					$('.roll15').html(getItemsDropdown('DustDirt1', dustDirtValue));
					$('.roll25').html(getItemsDropdown('DustDirt2', dustDirtValue));
					$('.roll35').html(getItemsDropdown('DustDirt3', dustDirtValue));

					var damagingMaterialValue = response_MatDetails[0].Damaging_Material;
					$('.thick6').html("OK / Not OK");
					$('.roll16').html(getItemsDropdown('DamagingMaterial1', damagingMaterialValue));
					$('.roll26').html(getItemsDropdown('DamagingMaterial2', damagingMaterialValue));
					$('.roll36').html(getItemsDropdown('DamagingMaterial3', damagingMaterialValue));

					var coreDamagingValue = response_MatDetails[0].Core_Damaging;
					$('.thick7').html("OK / Not OK");
					$('.roll17').html(getItemsDropdown('CoreDamaging1', coreDamagingValue));
					$('.roll27').html(getItemsDropdown('CoreDamaging2', coreDamagingValue));
					$('.roll37').html(getItemsDropdown('CoreDamaging3', coreDamagingValue));

					var visualInspectionValue = response_MatDetails[0].Visual_Inspection;
					$('.thick12').html("OK / Not OK");
					$('.roll112').html(getItemsDropdown('VisualInspection1', visualInspectionValue));
					$('.roll212').html(getItemsDropdown('VisualInspection2', visualInspectionValue));
					$('.roll312').html(getItemsDropdown('VisualInspection3', visualInspectionValue));
				}

				$("#voucherList").on("click", "tr", function () {

					var selectedVoucher = $(this).attr("data-voucher");
					$('#idGRNNo').val(selectedVoucher);
					$.get("/api/IncomingMaterialAPI/MaterialDetailLists?VoucherNo=" + selectedVoucher, function (response_MatDetails) {
						$('#txtQCNo').val(response_MatDetails[0].QC_NO);
						$('#txtInvoiceNo').val(response_MatDetails[0].invoice_no);
						$('#txtMaterialName').val(response_MatDetails[0].item_edesc);
						$('#hidtxtVendorCode').val(response_MatDetails[0].SUPPLIER_CODE);
						$('#txtVendorName').val(response_MatDetails[0].supplier_edesc);
						/*$('#txtLCNo').val(response_MatDetails[0].to_location_code);*/
						$('#txtLCNo').val(response_MatDetails[0].supplier_edesc);
						$('#txtReceivedQty').val(response_MatDetails[0].quantity);

						$('#txtQCAssistant').text(response_MatDetails[0].CreatedBy);
						$('#txtQCHead').text(response_MatDetails[0].CreatedBy);
						$('#txtManualNo').val(response_MatDetails[0].MANUAL_NO);
						$('#txtRemarks').val(response_MatDetails[0].REMARKS);

						if (response_MatDetails.length > 0) {
							$('.thick3').text("");
							$('.thick8').text("");
							$('.thick9').text("");
							$('.thick10').text("");
							$('.thick11').text("");
							$('.thick1').text(response_MatDetails[0].thickness);
							$('.thick3').text(response_MatDetails[0].PH);
							$('.thick8').text(response_MatDetails[0].SIZE_WIDTH);
							$('.thick9').text(response_MatDetails[0].GSM);
							$('.thick10').text(response_MatDetails[0].Tensile_CD);
							$('.thick11').text(response_MatDetails[0].Tensile_MD);
						}
						else {
							$('.thick1').text("");
							$('.thick3').text("");
							$('.thick8').text("");
							$('.thick9').text("");
							$('.thick10').text("");
							$('.thick11').text("");
						}
						GetSpecificationDetails(response_MatDetails);
					});

					var inputSelector = `.ccustomer_${key}`;
					$(inputSelector).val(selectedVoucher).trigger("input"); // Trigger input event for Angular binding
					loadItemSpec(selectedVoucher);
					popupWindow.close(); // Close popup after selection
				});

				$(document).on("click", ".btnClass", function () {
					var classes = this.classList;
					var selectedVoucher = null;

					// Loop through each token in classList and check for one that starts with "data-voucher="
					classes.forEach(function (token) {
						if (token.indexOf("data-voucher=") === 0) {
							// Extract the part after "data-voucher="
							selectedVoucher = token.substring("data-voucher=".length);
						}
					});
					$('#idGRNNo').val(selectedVoucher);
					$.get("/api/IncomingMaterialAPI/MaterialDetailLists?VoucherNo=" + selectedVoucher, function (response_MatDetails) {
						$('#txtQCNo').val(response_MatDetails[0].QC_NO);
						$('#txtInvoiceNo').val(response_MatDetails[0].invoice_no);
						$('#txtMaterialName').val(response_MatDetails[0].item_edesc);
						$('#txtVendorName').val(response_MatDetails[0].supplier_edesc);
						$('#hidtxtVendorCode').val(response_MatDetails[0].SUPPLIER_CODE);
						$('#txtLCNo').val(response_MatDetails[0].supplier_edesc);
						$('#txtReceivedQty').val(response_MatDetails[0].quantity);
						$('#txtQCAssistant').text(response_MatDetails[0].CreatedBy);
						$('#txtQCHead').text(response_MatDetails[0].CreatedBy);
						$('#txtManualNo').val(response_MatDetails[0].MANUAL_NO);
						$('#txtRemarks').val(response_MatDetails[0].REMARKS);

						if (response_MatDetails.length > 0) {
							$('.thick1').text(response_MatDetails[0].thickness);
							$('.thick3').text(response_MatDetails[0].PH);
							$('.thick8').text(response_MatDetails[0].SIZE_WIDTH);
							$('.thick9').text(response_MatDetails[0].GSM);
							$('.thick10').text(response_MatDetails[0].Tensile_CD);
							$('.thick11').text(response_MatDetails[0].Tensile_MD);
						}
						else {
							$('.thick1').text("");
							$('.thick3').text("");
							$('.thick8').text("");
							$('.thick9').text("");
							$('.thick10').text("");
							$('.thick11').text("");
						}
						GetSpecificationDetails(response_MatDetails);
					});
					// Update the corresponding textbox value dynamically

					var inputSelector = `.ccustomer_${key}`;
					$(inputSelector).val(selectedVoucher).trigger("input"); // Trigger input event for Angular binding
					loadItemSpec(selectedVoucher);
					popupWindow.close(); // Close popup after selection
				});
			});
		}

		var grid = $("#ItemGrid").data("kendoGrid");



		//function NewField(url) {
		//	$.get(url, function (response) {
		//		if (response && response.length > 0) {

		//			// Assuming you have already initialized the Kendo Grid:
		//			var grid = $("#ItemGrid").data("kendoGrid");

		//			// Update the grid's data source with the response data
		//			grid.dataSource.data(response);



		//			// Refresh the grid to render the new data
		//			grid.refresh();
		//		} else {
		//			// Handle case where no data is found
		//			var grid = $("#ItemGrid").data("kendoGrid");
		//			grid.dataSource.data([]);  // Clear data if no records
		//			grid.refresh();

		//		}
		//	}).fail(function (error) {
		//		var grid = $("#ItemGrid").data("kendoGrid");
		//		grid.dataSource.data([]);  // Clear data on error
		//		grid.refresh();
		//	});
		//}
	});
</script>

