@{
	Layout = null;
}
<style>
	.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a {
		background: rgb(67, 163, 46) !important;
		border-left: 4px solid #008000 !important;
		color: #ffffff;
	}
</style>
<link href="@Styles.Url("~/Areas/NeoERP.QCQAManagement/Content/QCQASetup.css")" rel="stylesheet" />
<div class="col-md-12 bodyController" ng-controller="QCQAInspectionSetup">
	<div class="portlet light form-fit bordered bottomspance">
		<div class="portlet box green-box main">
			<div class="portlet-title">
				<div class="caption">
					<a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/QuotationManagement/Home/Dashboard">
						<i class="fa fa-arrow-circle-left"></i>
					</a>
					<i class="fa fa-gift font-white-haze"></i>
					<span class="caption-subject font-white-haze bold uppercase">Sample Format for QC Inspection</span>
					@*<span class="caption-subject font-white-haze bold uppercase">Sample Format for QC Inspection</span>*@
				</div>
			</div>
			<div class="portlet-body light bg-inverse">
				<label style="display: flex; justify-content: space-between; align-items: center; margin-top: 2rem; margin-bottom: 0.3rem;">Select Table Name</label>
				<div class="row" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.3rem;">
					<div class="col-md-3" style="flex: 1;">
						<div class="topsearch" style="display: block;">
							<select id="ddlTableName" kendo-drop-down-list
									k-options="ddlTableName"
									class="ddlTableName">
							</select>
						</div>
					</div>
				</div>
				<label style="display: flex; justify-content: space-between; align-items: center; margin-top: 2rem; margin-bottom: 0.3rem;">New Field</label>
				<div class="row" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.3rem;">
					<div class="col-md-3" style="flex: 1;">
						<div class="topsearch" style="display: block;">
							@*<input id="ddlNewField" />*@
							<select id="ddlNewField" kendo-drop-down-list
									k-options="ddlNewField"
									class="ddlNewField">
							</select>
							<a class="btn dark-green btn-sm addcolor" id="addNewFieldBtn" ng-disabled="treenodeselected" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Processing..." href="javascript:;" style="margin-left: 25px;">
								<i class="fa fa-plus"></i> Add
							</a>
								<span class="pull-right">
									<button type="button" id="cancelTarget" name="cancelTarget" class="btn btn-default btn-sm" ng-click="Cancel();">Cancel</button>

									<button type="submit" id="saveQCQACreate" name="saveQCQACreate" ng-click="QCQACreate(QCQACreateForm.$valid)" class="btn btn-green btn-sm ng-binding">Save</button>
								</span>
						</div>
					</div>
				</div>
				<div id="kQCQAGrid">
				</div>
			</div>
			<div class="modal fade-out" id="qcqainspectionModal" data-backdrop="static" tabindex="-1" data-width="760">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</button>
							<h4 class="modal-title">
								<span class="fa fa-file"></span>
								Sample Format for QC Inspection
							</h4>
						</div>
						<div class="modal-body">
							<form name="projectForm" class="form" method="post" ng-submit="submitTender()" enctype="multipart/form-data" id="projectForm" novalidate>
								<input type="hidden" name="tenderId" id="tenderId" ng-model="ID">
								<div class="form-group row">
									<label for="projectName" class="col-sm-3 col-form-label">
										Column Name
									</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" ng-model="PREFIX" ng-readonly="panelMode === 'view'" required>
									</div>
								</div>
								<div class="form-group row">
									<label for="startDate" class="col-sm-3 col-form-label">Header</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" ng-model="SUFFIX" ng-readonly="panelMode === 'view'" required>
									</div>
								</div>
								<div class="form-group row">
									<label for="endDate" class="col-sm-3 col-form-label">
										Width
									</label>
									<div class="col-sm-7">
										<input type="number" class="form-control" ng-readonly="panelMode === 'view'" ng-model="BODY_LENGTH">
									</div>
								</div>


								<div class="form-group row">
									<label for="projectName" class="col-sm-3 col-form-label">
										Top
									</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" ng-model="PREFIX" ng-readonly="panelMode === 'view'" required>
									</div>
								</div>
								<div class="form-group row">
									<label for="startDate" class="col-sm-3 col-form-label">
										Left
									</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" ng-model="SUFFIX" ng-readonly="panelMode === 'view'" required>
									</div>
								</div>
								<div class="form-group row">
									<label for="endDate" class="col-sm-3 col-form-label">
										Master/Child
									</label>
									<div class="col-sm-7">
										<input type="number" class="form-control" ng-readonly="panelMode === 'view'" ng-model="BODY_LENGTH">
									</div>
								</div>
								<div class="form-group row">
									<label for="projectName" class="col-sm-3 col-form-label">
										Is Desc
									</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" ng-model="PREFIX" ng-readonly="panelMode === 'view'" required>
									</div>
								</div>
								<div class="form-group row">
									<label for="startDate" class="col-sm-3 col-form-label">
										Default Value
									</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" ng-model="SUFFIX" ng-readonly="panelMode === 'view'" required>
									</div>
								</div>
								<div class="form-group row">
									<label for="endDate" class="col-sm-3 col-form-label">
										Filter Value
									</label>
									<div class="col-sm-7">
										<input type="number" class="form-control" ng-readonly="panelMode === 'view'" ng-model="BODY_LENGTH">
									</div>
								</div>
								<input type="submit" class="hidden" id="btnProject" value="submit">
							</form>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-green" ng-hide="panelMode === 'view'" id="savedocumentformdata" ng-click="saveTender()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
								<i class="fa fa-floppy-o"></i> Save
							</button>
							<button type="button" class="btn btn-sm btn-danger" ng-click="ItemCancel()" data-dismiss="modal">
								<i class="fa-solid fa-xmark"></i> Cancel
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<script>
	var a = location.hash;
	var b = location.pathname;
	var url = (b + a);
	$(".active").removeClass();
	$("a[href='" + url + "']").parent().addClass("active");
	$("a[href='" + url + "']").parent().parent().slideDown("slow");
</script>
<script type="text/javascript">

	$(document).ready(function () {
		// Initialize the dropdown list with data from API

		var ddlUrl = window.location.protocol + "//" + window.location.host + "/api/QCQAAPI/TableLists"
		var defaultValue = "QC_Master_Setup";
		$("#ddlTableName").kendoDropDownList({
			optionLabel: "-- Select Table --",
			dataTextField: "TABLE_DESC",
			dataValueField: "TABLE_NAME",
			autoBind: true,
			filter: "contains",
			dataSource: {
				type: "json",
				serverFiltering: false,
				transport: {
					read: {
						url: ddlUrl,
					},
				}
			},
			dataBound: function () {
				var dropdown = this;
				var items = dropdown.dataSource.data();
				// Check if the default value exists in the data
				var exists = items.some(function (item) {
					return item.TABLE_NAME === defaultValue;
				});

				if (exists) {
					dropdown.value(defaultValue);  // Set default value
				}
			},
			change: function (e) {
				var dropdown = e.sender;
				var selectedValue = dropdown.value();
				// Update AngularJS scope
				var scope = angular.element($("#ddlTableName")).scope();
				scope.$apply(function () {
					scope.tableName = selectedValue;
				});
			}
		});

		var detailsUrl = window.location.protocol + "//" + window.location.host + "/api/QCQAAPI/GetQCQADetails?tableName=QC_Master_Setup";
		NewField(detailsUrl);

		var ddlNewFieldUrl = window.location.protocol + "//" + window.location.host + "/api/QCQAAPI/GetQCQADetailsByTableName?tableName=QC_Master_Setup";
		var ddlNewField = $("#ddlNewField").kendoDropDownList({
			optionLabel: "-- Select New Field --",
			dataTextField: "COLUMN_NAME", // Field name for the dropdown text
			dataValueField: "COLUMN_NAME", // Field name for the dropdown value
			autoBind: false, // Prevent auto-binding until we load the data
			filter: "contains",
			dataSource: {
				transport: {
					read: {
						 url: ddlNewFieldUrl,
						dataType: "json",
						success: function (data) {
							data.forEach(item => {
							});
							// Populate the dropdown
							ddlNewField.data("kendoDropDownList").setDataSource(new kendo.data.DataSource({
								data: data
							}));
							ddlNewField.data("kendoDropDownList").enable(true); // Enable dropdown after loading data
						},
						error: function (xhr, status, error) {
							console.error("Error loading dropdown data:", error);
						}
					}
				}
			}
		}).data("kendoDropDownList");

		$("#ddlTableName").on('change', function (e) {
			e.preventDefault;
			ddlNewFieldUrl = window.location.protocol + "//" + window.location.host + "/api/QCQAAPI/GetQCQADetails?tableName=" + this.value;
			NewField(ddlNewFieldUrl);
		});
		var grid = $("#kQCQAGrid").data("kendoGrid");

		function NewField(url) {
			$.get(url, function (response) {
				if (response && response.length > 0) {
					// Assuming you have already initialized the Kendo Grid:
					var grid = $("#kQCQAGrid").data("kendoGrid");
					// Update the grid's data source with the response data
					grid.dataSource.data(response);
					// Refresh the grid to render the new data
					grid.refresh();
				} else {
					// Handle case where no data is found
					var grid = $("#kQCQAGrid").data("kendoGrid");
					grid.dataSource.data([]);  // Clear data if no records
					grid.refresh();
				}
			}).fail(function (error) {
				var grid = $("#kQCQAGrid").data("kendoGrid");
				grid.dataSource.data([]);  // Clear data on error
				grid.refresh();
			});
		}

		// Ensure the grid is initialized
		if (grid === undefined) {
			grid = $("#kQCQAGrid").kendoGrid({
				dataSource: {
					data: [],  // Starting with an empty data array
					schema: {
						model: {
							fields: {
								COLUMN_NAME: { type: "string" },
								COLUMN_HEADER: { type: "string" },
								COLUMN_WIDTH: { type: "string" },
								TOP_POSITION: { type: "string" },
								LEFT_POSITION: { type: "number" },
								MASTER_CHILD_FLAG: { type: "string" },
								IS_DESC_FLAG: { type: "string" },
								DEFA_VALUE: { type: "string" },
								FILTER_VALUE: { type: "string" },
								DISPLAY_FLAG: { type: "string" }
							}
						}
					}
				},
				columns: [
					{
					field: "COLUMN_NAME", title: "Column Name", width: 200, attributes: { class: "clsColumnName" },headerAttributes: { class: "clsColumnNameHeader" } },
					/*{ field: "COLUMN_HEADER", title: "Header", width: 200 },*/
					{ field: "COLUMN_HEADER", title: "Header", width: 200, template: "<input type='text' class='form-control clsHeader' value='#= COLUMN_HEADER #' data-id='#= COLUMN_NAME #'>"},
					{ field: "COLUMN_WIDTH", title: "Width", width: 150, template: "<input type='text' class='form-control clsWidth' value='#= COLUMN_WIDTH #' data-id='#= COLUMN_NAME #'>" },
					{ field: "TOP_POSITION", title: "Top", width: 150, template: "<input type='text' class='form-control clsTopPosition' value='#= TOP_POSITION #' data-id='#= COLUMN_NAME #'>" },
					{ field: "LEFT_POSITION", title: "Left", width: 150, template: "<input type='text' class='form-control clsLeftPosition' value='#= LEFT_POSITION #' data-id='#= COLUMN_NAME #'>" },
					{
						field: "MASTER_CHILD_FLAG", title: "Master/Child", width: 150, template: "<select class='form-control dropdown-field clsMasterChildFlag' data-id='#= COLUMN_NAME #'>" +
							"<option value='M' # if(MASTER_CHILD_FLAG === 'M'){ # selected # } #>Master</option>" +
							"<option value='C' # if(MASTER_CHILD_FLAG === 'C'){ # selected # } #>Child</option>" +
							"</select>" },
					{
						field: "IS_DESC_FLAG", title: "IsDesc", width: 150, template: "<select class='form-control dropdown-field clsIsDescFlag' data-id='#= COLUMN_NAME #'>" +
							"<option value='Y' # if(IS_DESC_FLAG === 'Y'){ # selected # } #>Yes</option>" +
							"<option value='N' # if(IS_DESC_FLAG === 'N'){ # selected # } #>No</option>" +
							"</select>" },
					{ field: "DEFA_VALUE", title: "Default Value", width: 150, template: "<input type='text' class='form-control clsDefaValue' value='#= DEFA_VALUE #' data-id='#= COLUMN_NAME #'>" },
					{ field: "FILTER_VALUE", title: "Filter Value", width: 150, template: "<input type='text' class='form-control clsFilterValue' value='#= FILTER_VALUE #' data-id='#= COLUMN_NAME #'>" },
					{
						field: "DISPLAY_FLAG", title: "Display", width: 120, template: "<input type='checkbox' class='row-checkbox clsDisplayFlag' " +
							"data-id='#= COLUMN_NAME #' " +
							"data-value='#= DISPLAY_FLAG #' " +
							"value='Y' " + 
							"#= DISPLAY_FLAG === 'Y' ? 'checked' : '' # >"
					}
				], dataBound: function (e) {
				}, height: 400
			}).data("kendoGrid");
		}
		grid.refresh();

		// Event handler for adding a new row to the grid
		$("#addNewFieldBtn").on("click", function () {
			// Get the selected value from the dropdown
			var dropdown = $("#ddlNewField").data("kendoDropDownList");

			// Check if the dropdown exists and has a selected value
			if (dropdown) {
				var selectedNewField = dropdown.value(); // Get the selected value from the dropdown

				if (selectedNewField) {
					// Create a new row object with the selected field value
					var newRow = {
						COLUMN_NAME: selectedNewField,
						COLUMN_HEADER: "",
						COLUMN_WIDTH: "",
						TOP_POSITION: "",
						LEFT_POSITION: "",
						MASTER_CHILD_FLAG: "",
						IS_DESC_FLAG: "",
						DEFA_VALUE: "",
						FILTER_VALUE: "",
						DISPLAY_FLAG: "Y" // Default value for display
					};
					if (grid) {
						grid.dataSource.add(newRow); // Proper way to add a new row
						grid.refresh(); // Ensure the grid updates
						grid.table.find("tr:last")[0].scrollIntoView();
					} else {
					}

				} else {
					// If no new field is selected, show a warning
					//alert("Please select a new field to add.");
				}
			} else {
				//console.error("Dropdown not initialized properly.");
			}
		});
	});
</script>

