@{
	Layout = null;

}
<style>

	.large-button {
		padding: 8px 24px;
		/*font-size: 18px;*/
		border-radius: 6px;
		background-color: #28a745;
		color: white;
		border: none;
		cursor: pointer;
		display: block; /* Ensures proper centering */
		margin: auto; /* Centers horizontally */
	}

	.textpadding {
		padding-left: 5px;
	}

	.material-font {
		font-size: 11px;
		width: 200px;
	}

	.material-align {
		margin-left: 50px;
	}

#search {
    position: fixed;
    top: 0px;
    left: 0px width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
}

    #search.open {
        -webkit-transform: translate(0px, 0px) scale(1, 1);
        -moz-transform: translate(0px, 0px) scale(1, 1);
        -o-transform: translate(0px, 0px) scale(1, 1);
        -ms-transform: translate(0px, 0px) scale(1, 1);
        transform: translate(0px, 0px) scale(1, 1);
        opacity: 1;
        z-index: 5000 !important;
    }

    #search input[type="search"] {
        position: absolute;
        top: 50%;
        width: 100%;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0);
        font-size: 40px;
        font-weight: 300;
        text-align: center;
        border: 0px;
        margin: 0px auto;
        margin-top: -51px;
        padding-left: 30px;
        padding-right: 30px;
        outline: none;
    }

    #search .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 61px;
        margin-left: -45px;
    }

    #search .search-close {
        background-color: green;
        border-color: green;
        font-size: 21px;
        opacity: 1;
        padding: 0px 8px;
        position: fixed;
        right: 15px;
        top: 54px;
        color: #fff;
        border: solid green;
    }

.search-input a {
    display: inline-table;
}

.search-icon {
    color: #555555;
}

    .search-icon i:hover {
        color: forestgreen;
    }

.modal-dialog-box {
    width: 70%;
}

.search-grid .k-grid-content {
    max-height: 277px;
    min-height: 277px;
}

/*.ITEM_CODE-child, .ITEM_CODE_div {
    width: 14%;
}*/

/* Main table */
	/*.document_child_table_wrapper {
		max-height: 400px;*/ /* or whatever height you need */
		/*overflow-y: auto;
		overflow-x: hidden;*/ /* 🔥 prevents double X scroll */
	/*}*/
.document_child_table {
    border-collapse: collapse;
    table-layout: fixed;

    min-width: 1844px; /* ensure all columns, including REMARKS, fit */
    width: 100%;
    font-size: 10px;
}

/* Table headers */
.document_child_table thead.child-table-head th {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #f5f5f5;
    position: sticky;
    top: 0;
    z-index: 10;
    white-space: nowrap; /* prevent wrapping */
}

    .REMARKS-child, .REMARKS_div {
        width: 190px !important;
    }
	.SNo, .SNo_div {
		width: 71.1px !important;
	}
	
    .responsive_tab li {
        min-height: 36px;
    }
    .d-tab-content .table-responsive, .summary-table .table-responsive1 {
        border: none !important;
    }
	.table-responsive {
		border: solid #4276a4 1px;
		overflow-x: auto;
		overflow-y: hidden;
	}
    #productModal .modal-dialog, .modal-dialog {
        width: auto !important;
    }

	.table_body {
		overflow-x: hidden !important;
	}

	.modal-dialog-box {
		width: auto;
	}

    .expand .search-grid {
        width: 95% !important;
    }

    .nopadding-left {
        padding-left: 15px !important;
        /*margin-top:15px;*/
    }

    .input-group.date-picker {
        padding-left: 15px !important;
    }

    .page-content {
        height: auto !important;
    }

	.item_edesc, .SUPPLIER_EDESC, .item_edesc_div, .SUPPLIER_EDESC_div {
		width: 150px !important;
	}
	.BATCH_NO, .BATCH_NO_div, .ROLL_NO, .ROLL_NO_div {
		width: 150px !important;
		border-right: 2px solid #ddd;
	}
	.ROLL_NO_WIDTH, .ROLL_NO_div {
		width: 150.4px !important;
		border-right: 2px solid #ddd;
	}
	td.ROLL_NO_WIDTH input, td.ROLL_NO_div input {
			width: 144.4px !important;
		}
	.Parameters, .Specification, .Unit {
		width: 150px !important;
	}

	.GSM, .SIZE_WIDTH, .THICKNESS, .ACTUAL_SIZE_WIDTH, .ACTUAL_STRENGTH, .ACTUAL_THICKNESS, .GSM_div, .SIZE_WIDTH_div, .STRENGTH_div, .THICKNESS_div, .ACTUAL_GSM_div, .ACTUAL_SIZE_WIDTH_div, .ACTUAL_STRENGTH_div, .ACTUAL_THICKNESS_div {
		width: 80px !important;
		border-right: 2px solid #ddd;
	}
	.MD_STRENGTH, .CD_STRENGTH,.ACTUAL_MD_STRENGTH, .ACTUAL_CD_STRENGTH {
		width: 100px !important;
		border-right: 2px solid #ddd;
	}
	.MD_STRENGTH_div, .CD_STRENGTH_div, .ACTUAL_MD_STRENGTH_div, .ACTUAL_CD_STRENGTH_div {
		width: 101px !important;
		border-right: 2px solid #ddd;
	}
	td.GSM_WIDTH input, td.SIZE_WIDTH_WIDTH input, td.THICKNESS_WIDTH input {
		width: 72px !important;
	}
	td.MD_STRENGTH_WIDTH input, td.CD_STRENGTH_WIDTH input {
		width: 95px !important;
	}
	td.REMARKS-child input{
        width: 182px !important;
	}

	.ACTUAL_GSM, .ACTUAL_GSM_WIDTH, .ACTUAL_SIZE_WIDTH_WIDTH, .ACTUAL_STRENGTH, .ACTUAL_THICKNESS_WIDTH, .GSM_div, .SIZE_WIDTH_div, .STRENGTH_div, .THICKNESS_div, .ACTUAL_GSM_div, .ACTUAL_SIZE_WIDTH_div, .ACTUAL_STRENGTH_div, .ACTUAL_THICKNESS_div {
		width: 80px !important;
		border-right: 2px solid #ddd;
	}
	.GSM_WIDTH, .SIZE_WIDTH_WIDTH, .THICKNESS_WIDTH {
		width: 79px !important;
		border-right: 2px solid #ddd;
	}
	.MD_STRENGTH_WIDTH, .CD_STRENGTH_WIDTH, .ACTUAL_MD_STRENGTH_WIDTH, .ACTUAL_CD_STRENGTH_WIDTH, .MD_STRENGTH_div, .CD_STRENGTH_div, .ACTUAL_MD_STRENGTH_div, .ACTUAL_CD_STRENGTH_div {
		width: 102px !important;
		border-right: 2px solid #ddd;
	}

	.text-center{
        width:440px !important;
	}

	.btn-action {
		width: 100px !important;
	}


    .responsive_tab li {
        min-height: 36px;
    }
   
span.k-widget.k-combobox.k-header.referenceCustomer.ccustumer.cust.custumer.c.ng-pristine.ng-untouched.ng-valid.k-combobox-clearable.ng-empty {
    margin-top: -20px;
}


	.date-container {
		display: flex;
		flex-direction: column; /* label on top */
	}

	.date-label {
		margin-bottom: 6px; /* space below label */
		font-weight: 500;
	}

	.date-row {
		display: flex;
		gap: 2px; /* 👈 constant distance */
		align-items: center;
	}

	.nepali-wrapper {
		position: relative;
		display: inline-flex;
		align-items: center;
	}

	.nepali-calendar {
		padding-right: 30px; /* space for icon */
		height: 34px; /* match Kendo input height */
	}


	.calendar-icon-2 {
		position: absolute;
		right: 8px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 14px;
		color: #555;
		right: 9px !important;
		top: 10px !important;
		pointer-events: none;
	}

	.k-widget.k-datepicker {
		width: 50% !important;
	}

</style>
@*<link href="@Styles.Url("~/Areas/NeoERP.QCQAManagement/Content/QCQASetup.css")" rel="stylesheet" />*@
<div class="col-md-12 bodyController" ng-controller="RawMaterialList">
	<div class="portlet light form-fit bordered bottomspance">
		<div class="portlet box green-box main">
			<div class="portlet-title">
				<div class="caption">
					<a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/QuotationManagement/Home/Dashboard">
						<i class="fa fa-arrow-circle-left"></i>
					</a>
					<i class="fa fa-gift font-white-haze"></i>
					<span class="caption-subject font-white-haze bold uppercase">Daily Raw Material Testing Report</span>
				</div>
			</div>
			<div class="portlet-body light bg-inverse">				
				<div id="ItemGrid">
					<div class="row" style="margin-bottom: 10px; margin-top: 10px;">
						<form id="registeredVehicle" name="registeredVehicle">
							<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform">

								<div class="form-group col-md-3 col-sm-3">
									<label for="element">QC No:</label>
									<div>
										<input type="text" ng-model="QC_NO" ng-init="QC_NO='@ViewBag.QCNO'" disabled>
									</div>
								</div>
								<div class="form-group col-md-4 date-container">
									<label class="date-label">Date / Miti</label>

									<div class="date-row">
										<input id="englishdatedocument"
											   autocomplete="off"
											   class="englishdate"
											   kendo-date-picker
											   ng-model="CREATED_DATE"
											   k-options="monthSelectorOptions" />

										<div class="nepali-wrapper nopadding-left pl-1">
											<input type="text"
												   id="nepaliDate5"
												   class="nepali-calendar"
												   autocomplete="off"
                                                   data-checkfor="englishdatedocument"
												   onchange="ConvertNepToEng(this)"
												   next-on-tab />
											<i class="fa fa-calendar calendar-icon-2"></i>
										</div>
									</div>
								</div>
								<div class="form-group col-md-3 col-sm-3 material-align">
									<label for="element">Manual No</label>
									<div>
										<input type="text" ng-model="MANUAL_NO" class="material-font" autocomplete="off" name="WB_SLIP_NO" id="txtManualNo" />
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform">
								<div class="form-group col-md-3 col-sm-3">
									<label for="element">Product Type</label>
									<div class="topsearch" style="display: block;">

										<select id="ddlProductType" k-ng-model="selectedProductType" kendo-drop-down-list
												k-options="ddlProductType"
												class="ddlProductType" style="width: 178px;">
										</select>
									</div>
								</div>
								<div class="form-group col-md-4 col-sm-3">
									<label for="element">Production Batch No:</label>
									<div>
										<input type="text" ng-model="BATCH_NO" class="material-font" autocomplete="off" name="WB_SLIP_NO1" id="txtBatchNo" />
									</div>
								</div>
								<div class="form-group  col-md-3 col-sm-3 material-align">
									<label for="element">Remarks:</label>
									<div>
										<input type="text" ng-model="REMARKS" class="material-font" autocomplete="off" name="WB_SLIP_NO" id="txtRemarks" />
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-content d-tab-content">

						<div class="tab-pane active" id="tab_15_1">
							<div class="document_child_table_wrapper">
								<div class="table-responsive">
									<table class="document_child_table dynamic-table table-fixed dynamic_child_table dynamic_child_table6">

										<thead class="child-table-head">
											<tr>
												<th class="SNo">S/No</th>
												<!-- First 4 headers -->

												<th rowspan="2" ng-repeat="item in RawMaterialData[0].element.slice(0, 4) | orderBy: 'SERIAL_NO'"
													class="{{item.COLUMN_NAME}} {{item.COLUMN_NAME}}-child">
													{{item.COLUMN_HEADER}}
												</th>

												<!-- Super header -->
												<th colspan="5" class="text-center">Standard</th>

												<th colspan="5" class="text-center">Actual</th>
												<th rowspan="2" ng-repeat="item in RawMaterialData[0].element.slice(14, 15) | orderBy: 'SERIAL_NO'"
													class="{{item.COLUMN_NAME}} {{item.COLUMN_NAME}}-child">
													{{item.COLUMN_HEADER}}
												</th>

												<!-- Action column -->
												<th rowspan="2" class="btn-action" style="width:8%;">&nbsp;</th>
											</tr>

											<!-- Second row: Empty ths for alignment + subheaders -->
											<tr>
												<!-- 4 empty cells to align under the first 4 headers -->
												@*<th ng-repeat="n in [1,2,3,4]"></th>*@
												<th class="SNo"></th>
												<th class="item_edesc"></th>
												<th class="SUPPLIER_EDESC"></th>
												<th class="BATCH_NO"></th>
												<th class="ROLL_NO"></th>
												<!-- Actual subheaders -->
												<th ng-repeat="item in RawMaterialData[0].element.slice(4, 14) | orderBy: 'SERIAL_NO'"
													class="{{item.COLUMN_NAME}} {{item.COLUMN_NAME}}-child">
													{{item.COLUMN_HEADER}}
												</th>
												<th class="REMARKS-child"></th>
												<th rowspan="2" class="btn-action" style="width:8%;">&nbsp;</th>

											</tr>
										</thead>
										<tbody class="table_body" style="overflow-x: hidden;">

											<tr ng-repeat="(key,row) in childModels" id="idRawMaterial">
												<td class="SNo">
													<div>
														<input type="text" style="text-align: right;" value="{{key + 1}}" class="form-control SNo" disabled />
													</div>
												</td>
												<td class="text-align Parameters itemCode_{{key}}" value="{{row.ITEM_CODE}}">{{ row.ITEM_EDESC }}</td>
												<td class="text-align Specification Specification_{{key}}">
													<div class="input-group">
														<input type="hidden" ng-model="row.ITEM_CODE" value="{{row.ITEM_CODE}}" class="hidItemCode itemCode_{{key}}" />
														<input type="hidden" id="supplierCode_{{key}}" ng-model="row.SUPPLIER_CODE" class="hidSupplierCode" />
														<input id="vendor_{{key}}"
															   kendo-combo-box
															   k-options="ItemCodeOption"
															   k-on-data-bound="onComboBound(key)"
															   k-ng-model="row.SUPPLIER_CODE"
															   name="products"
															   k-data-text-field="'SUPPLIER_EDESC'"
															   k-data-value-field="'SUPPLIER_CODE'"
															   k-placeholder="'Select Material'"
															   k-filter="'contains'"
															   k-auto-bind="false"
															   k-suggest="false"
															   product-index="{{key}}" />
														<span class="input-group-addon addon-iconbox itemCode_{{key}} clsSupplier {{item.COLUMN_NAME}}_{{key}}" style="cursor: pointer; text-align: right;">
															<i class="fa fa-search" data-toggle="tooltip" title="Search product"></i>
														</span>
													</div>
												</td>

												<td class="text-align Unit Unit_{{key}}">
													<div class="input-group">
														<input type="hidden" ng-model="row.ITEM_CODE" value="{{row.ITEM_CODE}}" class="hidItemCode {{row.ITEM_CODE}}_{{key}}" />
														<input type="hidden" id="transactionNo_{{key}}" ng-model="TRANSACTION_NO" class="hidTransacitonNo" />
														<input id="batch_{{key}}" autocomplete="off"
															   kendo-combo-box
															   k-options="BatchOptions"
															   k-on-data-bound="onComboBound(key)"
															   k-ng-model="row.BATCH_NO"
															   name="products"
															   k-data-text-field="'BATCH_NO'"
															   k-data-value-field="'BATCH_NO'"
															   k-placeholder="'Select Material'"
															   k-filter="'contains'"
															   k-auto-bind="false"
															   k-suggest="false"
															   product-batch-index="{{key}}" />
														<span class="input-group-addon addon-iconbox itemCode_{{key}} clsBatch {{row.ITEM_CODE}}_{{key}}" style="cursor: pointer; text-align: right;">
															<i class="fa fa-search" data-toggle="tooltip" title="Search product"></i>
														</span>
													</div>
												</td>
												<td class="text-align ROLL_NO_WIDTH ROLL_NO_{{key}}"><input ng-model="childModels[key]['ROLL_NO']" ng-value="childModels[key]['ROLL_NO']" placeholder="Enter" autocomplete="off" class="ROLL_NO ROLL_NO_{{key}}" /></td>
												<td class="text-align GSM_WIDTH GSM_{{key}}">{{ row.GSM }}</td>
												<td class="text-align SIZE_WIDTH_WIDTH SIZE_WIDTH_{{key}}">{{ row.WIDTH }}</td>
												<td class="text-align MD_STRENGTH_WIDTH STRENGTH_MD_{{key}}">{{ row.STRENGTH_MD }}</td>
												<td class="text-align CD_STRENGTH_WIDTH STRENGTH_{{key}}">{{ row.STRENGTH }}</td>
												<td class="text-align THICKNESS_WIDTH THICKNESS_{{key}}">{{ row.THICKNESS }}</td>
												<td class="text-align GSM_WIDTH ACTUAL_GSM_{{key}}"><input ng-model="childModels[key]['ACTUAL_GSM']" ng-value="childModels[key]['ACTUAL_GSM']" placeholder="Enter" autocomplete="off" class="GSM ACTUAL_GSM_{{key}}" /></td>
												<td class="text-align SIZE_WIDTH_WIDTH ACTUAL_WIDTH_{{key}}"><input ng-model="childModels[key]['ACTUAL_WIDTH']" placeholder="Enter" autocomplete="off" class="SIZE_WIDTH ACTUAL_WIDTH_{{key}}" /></td>
												<td class="text-align MD_STRENGTH_WIDTH Results_{{key}}"><input ng-model="childModels[key]['ACTUAL_STRENGTH_MD']" placeholder="Enter" autocomplete="off" class="MD_STRENGTH ACTUAL_STRENGTH_MD_{{key}}" /></td>
												<td class="text-align CD_STRENGTH_WIDTH STRENGTH_{{key}}"><input ng-model="childModels[key]['ACTUAL_STRENGTH']" placeholder="Enter" autocomplete="off" class="CD_STRENGTH ACTUAL_STRENGTH_{{key}}" /></td>
												<td class="text-align THICKNESS_WIDTH THICKNESS_{{key}}"><input ng-model="childModels[key]['ACTUAL_THICKNESS']" placeholder="Enter" autocomplete="off" class="THICKNESS ACTUAL_THICKNESS_{{key}}" /></td>
												<td class="text-align REMARKS-child REMARKS_{{key}}"><input ng-model="childModels[key]['REMARKS']" placeholder="Enter" autocomplete="off" class="REMARKS_{{key}}" /></td>
												<td class="btn-action">
													<a href="" id="remove_child_element" name="remove_child_element" class="buttondelete" ng-click="remove_child_element($index)"><i class="fa fa-trash" data-toggle="tooltip" title="Delete row"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
                                </div>
							</div>
						</div>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-sm btn-green" ng-hide="panelMode === 'view'" id="savedocumentformdata" ng-click="saveRawMaterial()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
				<i class="fa fa-floppy-o"></i> Save
			</button>
			<button type="button" class="btn btn-sm btn-danger" ng-click="ItemCancel()" data-dismiss="modal">
				<i class="fa-solid fa-xmark"></i> Cancel
			</button>
		</div>
	</div>
</div>
<script>
	var a = location.hash;
	var b = location.pathname;
	var url = (b + a);
	$(".active").removeClass();
	$("a[href='" + url + "']").parent().addClass("active");
	$("a[href='" + url + "']").parent().parent().slideDown("slow");
</script>
<script>
	function dateSet(date) {
		var month = date.getMonth() + 1;
		var day = date.getDate();
		date = date.getFullYear() + '/' +
			(('' + month).length < 2 ? '0' : '') + month + '/' +
			(('' + day).length < 2 ? '0' : '') + day;
		return date;
	}

    function setNepaliDateFromEnglish() {
		var engDate = $("#englishdatedocument").val();
		var formattedDate = moment(engDate, 'M/D/YYYY').format('DD-MMM-YYYY');
		$("#englishdatedocument").val(formattedDate);
        var formattedEngDate = moment(engDate, 'M/D/YYYY').format('YYYY-MM-DD');
		var nepaliDate = AD2BS(formattedEngDate);
        $("#issueNep").val(nepaliDate);
	}

	function NepaliDateFromEnglish() {
		var engDate = $("#validDt").val();
		var formattedDate = moment(engDate, 'M/D/YYYY').format('DD-MMM-YYYY');
		$("#validDt").val(formattedDate);

		var formattedEngDate = moment(engDate, 'M/D/YYYY').format('YYYY-MM-DD');
		var nepaliDate = AD2BS(formattedEngDate);
		$("#nepaliDate").val(nepaliDate);

		var issueDt = moment($("#englishdatedocument").val(), 'DD-MMM-YYYY');
		var validUntilDt = moment(engDate, 'M/D/YYYY');

		if (validUntilDt.isBefore(issueDt)) {
			displayPopupNotification("To be Deliver Date cannot be greater than Date/Miti date.", "error");
		}
	}

	function ConvertNepToEng(e) {
		var date = BS2AD($("#issueNep").val());
		var FormattedEngDate = moment(date).format('DD-MMM-YYYY');
		$("#englishdatedocument").val(FormattedEngDate);
	}

	$(".nepali-calendar").nepaliDatePicker({
		npdMonth: true,
		onFocus: true,
		npdYear: true,
		npdYearCount: 10,
		altFormat: "dd-MMM-YYYY",
		dateFormat: "dd-MMM-YYYY",
		onChange: function (evt) {
			var nepaliDate = $("#issueNep").val(); // Get the Nepali date value
            var engDate = BS2AD(nepaliDate); // Convert Nepali date to English date
			var formattedEngDate = moment(engDate).format('DD-MMM-YYYY'); // Format the English date
			$("#englishdatedocument").val(formattedEngDate); // Update the English date input field
		}
	});

	function NepToEng(e) {
		var date = BS2AD($("#nepaliDate").val());
		var FormattedEngDate = moment(date).format('DD-MMM-YYYY');
		$("#validDt").val(FormattedEngDate);
    }

	$(".nepali-calendar").nepaliDatePicker({
		npdMonth: true,
		onFocus: true,
		npdYear: true,
		npdYearCount: 10,
		altFormat: "dd-MMM-YYYY",
		dateFormat: "dd-MMM-YYYY",
		onChange: function (evt) {
			var nepalidate = $("#nepaliDate5").val();
			var Engdate = BS2AD(nepalidate);
			var cmpEngDate = moment(Engdate).format('YYYY/MM/DD');
			var FormattedEngDate = moment(Engdate).format('DD-MMM-YYYY');
			var date = new Date();
			var formBackDays = $('#hdnformBackDays').val();
			date.setDate(date.getDate() - formBackDays);
			var minDate = dateSet(date);
            var maxDate = dateSet(new Date());
			$("#englishdatedocument").val(FormattedEngDate);
		}
	});
</script>
<script type="text/javascript">

    $(document).ready(function () {
		var ddlUrl = window.location.protocol + "//" + window.location.host + "/api/IncomingMaterialAPI/MaterialListsByCategory?CategoryCode=FG"
        var defaultValue = "QC_Master_Setup";
		var ddlMaterials = $("#ddlMaterials").kendoDropDownList({
			optionLabel: "-- Select Product--",
			dataTextField: "item_edesc", // Field name for the dropdown text
			dataValueField: "item_code", // Field name for the dropdown value
			autoBind: false, // Prevent auto-binding until we load the data
			filter: "contains",
			dataSource: {
				transport: {
					read: {
						url: ddlUrl,
						dataType: "json",
						success: function (data) {
							data.forEach(item => {
							});
							ddlMaterials.data("kendoDropDownList").setDataSource(new kendo.data.DataSource({
								data: data
							}));
							ddlMaterials.data("kendoDropDownList").enable(true); // Enable dropdown after loading data
						},
						error: function (xhr, status, error) {
							console.error("Error loading dropdown data:", error);
						}
					}
				}
			},
			dataBound: function () {
				var dropdown = this;
				var items = dropdown.dataSource.data();
				var exists = items.some(function (item) {
					return item.TABLE_NAME === defaultValue;
				});
				if (exists) {
					dropdown.value(defaultValue);  // Set default value
				}
			},
			change: function (e) {
				var dropdown = e.sender;
				var selectedValue = dropdown.value();
				var scope = angular.element($("#ddlMaterials")).scope();
				scope.$apply(function () {
					scope.tableName = selectedValue;
				});
			}, height: 200
		}).data("kendoDropDownList");


		var grid = $("#ItemGrid").data("kendoGrid");
        function parseCustomDate(dateStr) {
			var parts = dateStr.split("/");
			if (parts.length === 3) {
				return new Date(parts[2], parts[0] - 1, parts[1]); // Month is zero-based
			}
			return null;
        }

		$(document).on('click', '.clsSupplier', function (e) {
            e.preventDefault();
			var inputElement = $(this).closest('.input-group').find('.hidItemCode');
			var productIndex = $(this).closest('.input-group').find('input[product-index]').attr('product-index');
            var selectedVal =  inputElement.val(); // Get value from input
			//var selectedVal = $(this).val(); // Get selected value
			if (selectedVal) {
				ShowPopupList(selectedVal, productIndex,"RM"); // Show popup with details For Raw Materials
			}
        });
		$(document).on('click', '.clsBatch', function (e) {
            e.preventDefault();

			var selectedVal1 = $(this).closest('.input-group').find('.hidItemCode').val();

			var inputElement = $(this).closest('.input-group').find('.hidItemCode');
			var productIndex = $(this).closest('.input-group').find('input[product-batch-index]').attr('product-batch-index');
			var selectedVal = inputElement.val(); // Get value from input
			if (selectedVal) {
				ShowPopupList(selectedVal, productIndex, "Batch"); // Show popup with details For Raw Materials
			}
		});

		$("#ddlMaterials").on('change', function (e) {
            e.preventDefault;
			var selectedVal = $(this).val(); // Get selected value
            if (selectedVal) {
				ShowPopupList(selectedVal,0,"FG"); // Show popup with details For Finished Goods
			}
		});

        function ShowPopupList(itemCode,index,ItemName) {
            // Example: Fetch details from an API
            if (ItemName === "Batch") {
				$.get("/api/RawMaterialAPI/GetBatchNoByItemCode?ItemCode=" + itemCode, function (response) {
                    if ($("#popupWindow").length === 0) {
                        $("body").append('<div id="popupWindow"></div>');
                    }
                    $("#popupWindow").kendoWindow({
                        width: "800px",
                        height: "300px",
                        title: "Select Voucher",
                        visible: false,
                        modal: true,
                        actions: ["Close"]
                    });
                    var popupWindow = $("#popupWindow").data("kendoWindow");

                    $.each(response, function (index, value) {

                            let contentHtml =
                                `<input type="text" id="searchInputText" placeholder="Search..." style="width: 35%;position: inherit; margin-bottom: 10px;margin-top: 4px; border: 1px solid #ccc;height: 25px;" />
							<table id=voucherList class=voucher-list  border='1' style='border-collapse: collapse; width: 100%;'>
						<tr style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;height: 25px;">
                        <td class=textpadding><b>REFERENCE NO</b></td>
						<td class=textpadding><b>BATCH NO</b></td>
						<td class=textpadding><b>QUANTITY</b></td>
						<td class=textpadding><b>UNIT PRICE</b></td>
					</tr>`
                            $.each(response, function (index, value) {
								contentHtml += `<tr id='voucherList' data-transaction="${value.TRANSACTION_NO}" data-batch="${value.BATCH_NO}" style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;">
						<td class=textpadding>${value.REFERENCE_NO}</td>
						<td class=textpadding>${value.BATCH_NO}</td>

						<td class=textpadding>${value.QUANTITY}</td>
						<td class=textpadding>${value.UNIT_PRICE}</td>
						<td><button class="btnClass batch-no large-button data-index="${index}" data-transaction="${value.TRANSACTION_NO}"   data-batch="${value.BATCH_NO}" type ="button">Ref</button></td>
					</tr>`;
                            });
                            contentHtml += "</table>"; // Closing the table tag
                            popupWindow.content(contentHtml);
                            popupWindow.center().open();
                            $("#searchInputText").on("keyup", function () {
                                var searchText = $(this).val().toLowerCase();
                                $("#voucherList tbody tr").each(function () {
                                    var rowText = $(this).find("td").map(function () {
                                        return $(this).text().toLowerCase();
                                    }).get().join(" "); // Join all cell values for a full-row search
                                    $(this).toggle(rowText.includes(searchText));
                                });
                            });
                    });

                    $("#voucherList").on("click", "tr", function (e) {
                        var selectedBatch = $(this).attr("data-batch");
                        var selectedTransactionNo = $(this).attr("data-transaction");
						var combo = $("#batch_" + index).data("kendoComboBox");
						if (!combo)
							$('#batch_' + index).val(selectedBatch);
						else
							combo.text(selectedBatch);
						$('#transactionNo_' + index).val(selectedTransactionNo);
						var inputSelector = `.ccustomer_${index}`;
						$(inputSelector).val(selectedBatch).trigger("input"); // Trigger input event for Angular binding
                        popupWindow.close(); // Close popup after selection
                    });

					$(document).on("click", ".btnClass", function () {
						var finalindex = $(this).data("index");
						var selectedBatch = $(this).attr("data-batch");
						var selectedTransaction = $(this).attr("data-transaction");
						var combo = $("#batch_" + finalindex).data("kendoComboBox");
						if (!combo)
							$('#batch_' + finalindex).val(selectedBatch);
						else
							combo.text(selectedBatch);
						var lastPart = selectedTransaction.includes("/")
							? selectedTransaction.substring(selectedTransaction.lastIndexOf("/") + 1)
							: selectedTransaction;
						$('#transactionNo_' + finalindex).val(lastPart);
						var inputSelector = `.ccustomer_${finalindex}`;
						$(inputSelector).val(selectedBatch).trigger("input"); // Trigger input event for Angular binding
						popupWindow.close(); // Close popup after selection
                    });
                });
            }
            else {
				/*$.get("/api/IncomingMaterialAPI/GetPending_VoucherDetailsByItemId?ItemCode=" + itemCode, function (response) {*/
				$.get("/api/RawMaterialAPI/GetPending_RawMaterialsByItemId?ItemCode=" + itemCode, function (response) {
					if ($("#popupWindow").length === 0) {
						$("body").append('<div id="popupWindow"></div>');
					}
					$("#popupWindow").kendoWindow({
						width: "800px",
						height: "300px",
						title: "Select Voucher",
						visible: false,
						modal: true,
						actions: ["Close"]
					});
					var popupWindow = $("#popupWindow").data("kendoWindow");

					$.each(response, function (index, value) {
						console.log("i m", value);
						if (value.Voucher_No && value.Voucher_No.includes('BH')) {
							let contentHtml =
								`<input type="text" id="searchInputText" placeholder="Search..." style="width: 35%;position: inherit; margin-bottom: 10px;margin-top: 4px; border: 1px solid #ccc;height: 25px;" />
							<table id=voucherList class=voucher-list  border='1' style='border-collapse: collapse; width: 100%;'>
						<tr style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;height: 25px;">
					   <td class=textpadding><b>GRN NO</b></td>
						<td class=textpadding><b>GRN MITI</b></td>
						<td class=textpadding><b>SUPPLIER NAME</b></td>
						<td class=textpadding><b>INVOICE NO</b></td>
					</tr>`
							$.each(response, function (index, value) {
								contentHtml += `<tr id='voucherList' data-supplier="${value.SUPPLIER_CODE}" data-voucher="${value.Voucher_No}" style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;">
						<td class=textpadding>${value.Voucher_No}</td>
						<td class=textpadding>${value.MITI}</td>

						<td class=textpadding>${value.supplier_edesc}</td>
						<td class=textpadding>${value.invoice_no}</td>
						<td><button class="btnClass voucher-item large-button data-supplier="${value.SUPPLIER_CODE}"  data-voucher=${value.Voucher_No} type ="button">Ref</button></td>
					</tr>`;
							});
							contentHtml += "</table>"; // Closing the table tag
							popupWindow.content(contentHtml);
							popupWindow.center().open();
							$("#searchInputText").on("keyup", function () {
								var searchText = $(this).val().toLowerCase();
								$("#voucherList tbody tr").each(function () {
									var rowText = $(this).find("td").map(function () {
										return $(this).text().toLowerCase();
									}).get().join(" "); // Join all cell values for a full-row search
									$(this).toggle(rowText.includes(searchText));
								});
							});
						}
						else {
							let grn_ContentHtml =
								`<input type="text" id="searchInputText" placeholder="Search..." style="width: 35%;position: inherit; margin-bottom: 10px; border: 1px solid #ccc;height: 25px;" />
							<table id=voucherList class=voucher-list  border='1' style='border-collapse: collapse; width: 100%;'>
						<tr  style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;height: 25px;">
						<td class=textpadding><b>GATE ENTRY NO</b></td>
						<td class=textpadding><b>GATE ENTRY MITI</b></td>
						<td class=textpadding><b>SUPPLIER NAME</b></td>
						<td class=textpadding><b>INVOICE NO</b></td>
					</tr>`
							$.each(response, function (index, value) {
								grn_ContentHtml += `<tr id='voucherList' data-supplier="${value.SUPPLIER_CODE}" data-voucher="${value.Voucher_No}" style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;">
						<td class=textpadding>${value.Voucher_No}</td>
						<td class=textpadding>${value.MITI}</td>
						<td class=textpadding>${value.supplier_edesc}</td>
						<td class=textpadding>${value.invoice_no}</td>
						<td><button class="btnClass voucher-item large-button data-supplier="${value.SUPPLIER_CODE}"  data-voucher=${value.Voucher_No} " type ="button">Ref</button></td>
					</tr>`;
							});
							grn_ContentHtml += "</table>"; // Closing the table tag
							popupWindow.content(grn_ContentHtml);
							popupWindow.center().open();
							$("#searchInputText").on("keyup", function () {
								var searchText = $(this).val().toLowerCase();
								$("#voucherList tbody tr").each(function () {
									var rowText = $(this).find("td").map(function () {
										return $(this).text().toLowerCase();
									}).get().join(" "); // Join all cell values for a full-row search

									$(this).toggle(rowText.includes(searchText));
								});
							});
						}
					});

					$("#voucherList").on("click", "tr", function (e) {
                        var selectedVoucher = $(this).attr("data-voucher");
						var selectedSupplier = $(this).attr("data-supplier");
						$('#idGRNNo').val(selectedVoucher);
						$.get("/api/IncomingMaterialAPI/MaterialDetailLists?VoucherNo=" + selectedVoucher, function (response_MatDetails) {
                            if (ItemName === "RM") {
                                var combo = $("#vendor_" + index).data("kendoComboBox");
                                if (!combo)
                                    $('#vendor_' + index).val(response_MatDetails[0].supplier_edesc);
                                else
									combo.text(response_MatDetails[0].supplier_edesc);
								$('#supplierCode_' + index).val(response_MatDetails[0].SUPPLIER_CODE);
							}
                            else {
								$('#txtInvoiceNo').val(response_MatDetails[0].invoice_no);
								$('#txtMaterialName').val(response_MatDetails[0].item_edesc);
								$('#txtVendorName').val(response_MatDetails[0].supplier_edesc);
								$('#txtLCNo').val(response_MatDetails[0].to_location_code);
								$('#txtReceivedQty').val(response_MatDetails[0].quantity);
								$('#txtQCAssistant').text(response_MatDetails[0].CreatedBy);
								$('#txtQCHead').text(response_MatDetails[0].CreatedBy);
								$('#txtManualNo').val(response_MatDetails[0].MANUAL_NO);
								$('#txtRemarks').val(response_MatDetails[0].Remarks);
							}
						});
						var inputSelector = `.ccustomer_${key}`;
						$(inputSelector).val(selectedVoucher).trigger("input"); // Trigger input event for Angular binding
						popupWindow.close(); // Close popup after selection
					});
					$(document).on("click", ".btnClass", function () {
						var classes = this.classList;
                        var selectedVoucher = null;
						var selectedSupplier = null;
						classes.forEach(function (token) {
							if (token.indexOf("data-voucher=") === 0) {
                                selectedVoucher = token.substring("data-voucher=".length);
								selectedSupplier = token.substring("data-supplier=".length);
							}
						});
						$('#idGRNNo').val(selectedVoucher);
						$.get("/api/IncomingMaterialAPI/MaterialDetailLists?VoucherNo=" + selectedVoucher, function (response_MatDetails) {
							if (ItemName === "RM") {
								var combo = $("#vendor_" + index).data("kendoComboBox");
								if (!combo)
									$('#vendor_' + index).val(response_MatDetails[0].supplier_edesc);
								else
									combo.text(response_MatDetails[0].supplier_edesc);
								$('#supplierCode_' + index).val(response_MatDetails[0].SUPPLIER_CODE);
							}
							else {
								$('#txtInvoiceNo').val(response_MatDetails[0].invoice_no);
								$('#txtMaterialName').val(response_MatDetails[0].item_edesc);
								$('#txtVendorName').val(response_MatDetails[0].supplier_edesc);
								$('#txtLCNo').val(response_MatDetails[0].to_location_code);
								$('#txtReceivedQty').val(response_MatDetails[0].quantity);
								$('#txtQCAssistant').text(response_MatDetails[0].CreatedBy);
								$('#txtQCHead').text(response_MatDetails[0].CreatedBy);
								$('#txtManualNo').val(response_MatDetails[0].MANUAL_NO);
								$('#txtRemarks').val(response_MatDetails[0].Remarks);
							}
						});
						var inputSelector = `.ccustomer_${key}`;
						$(inputSelector).val(selectedVoucher).trigger("input"); // Trigger input event for Angular binding
						popupWindow.close(); // Close popup after selection
					});
				});
			}
		}
		var grid = $("#ItemGrid").data("kendoGrid");
	});
</script>

