<style>
    .modal-body {
        padding: 20px 25px;
    }

    .modal-header {
        padding: 12px 20px;
    }

    .fieldset-box {
        padding: 15px 20px !important;
        margin-bottom: 0px;
    }

    legend {
        font-size: 16px;
        font-weight: 600;
        padding: 0 8px;
        margin-bottom: 10px;
    }

    .row {
        margin-bottom: 8px;
    }

    .form-label {
        font-weight: 500;
    }

    .form-inline {
        display: flex;
        align-items: center;
        gap: 8px;
    }

        .form-inline label {
            min-width: 90px;
            vertical-align: middle;
        }

        .form-inline .form-control,
        .form-inline .form-select {
            flex: 1;
        }

    .form-control,
    .form-select {
        height: calc(1.5em + .75rem + 2px);
    }

    .input-icon {
        position: relative;
        display: flex;
        align-items: center;
        gap: 6px;
    }

        .input-icon i,
        .input-icon svg {
            cursor: pointer;
            margin-left: 5px;
        }

    .table {
        margin-bottom: 5px;
    }

        .table thead th {
            padding: 3px 5px !important;
            line-height: 1.2;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    .table {
        table-layout: fixed;
        width: 100%;
    }

        .table tbody td {
            white-space: normal;
        }


        .table th,
        .table td {
            vertical-align: middle !important;
            padding: 6px 8px;
        }

    .table-wrapper {
        max-height: 250px;
        overflow-y: auto;
    }

    .table > thead > tr > th, .table-hover th {
        font-size: 11px !important;
        font-weight: 1000 !important;
    }

    .btn {
        padding: 5px 14px;
    }

    .btn-sm {
        padding: 3px 10px;
    }

    .btn-calc {
        background-color: #f8d7da;
        border-color: #f5c2c7;
    }

    .highlight-input {
        background-color: #ffffcc;
    }

    .active-selected-resource-row {
        background-color: #428bca !important;
        cursor: pointer;
    }

    .text-center.mt-3 {
        margin-top: 20px !important;
        padding-bottom: 10px;
    }

    #productionPlanningNewAddModel .modal-body {
        max-height: calc(100vh - 85px);
        overflow-y: auto;
    }
</style>

@*<style>

        .form-label {
            font-weight: 500;
        }

        .form-control, .form-select {
            height: calc(1.5em + .75rem + 2px);
        }

        .table-wrapper {
            max-height: 250px;
            overflow-y: auto;
        }

        .highlight-input {
            background-color: #ffffcc;
        }

        .btn-calc {
            background-color: #f8d7da;
            border-color: #f5c2c7;
        }


        .active-selected-resource-row {
            background-color: #428bca !important;
            cursor: pointer;
        }
    </style>


    <style>
        .form-inline label {
            width: 70px;
            text-align: right;
            /*margin-right: 5px;*/
        }

        .form-inline .form-control {
            width: 60%;
            display: inline-block;
        }

        .row {
            margin-bottom: 15px;
        }

        .input-icon {
            position: relative;
        }

            .input-icon i {
                position: absolute;
                right: 10px;
                top: 8px;
                color: #555;
                cursor: pointer;
            }
    </style>*@


<!-- Modal HTML -->
<div id="productionPlanningNewAddModel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="margin-top:-3px;">&times;</button>
                <h5 class="modal-title">
                    {{dataObject.IsUpdateMode == "Edit"? 'Update Plan':'Add New'}}
                </h5>
            </div>
            <div class="modal-body">

                <div class="">
                    <fieldset class="fieldset-box" style="padding-left:10px; padding-right:10px;">
                        <legend>Plan Information</legend>

                        <div>

                            <!-- Row 1 -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-inline">
                                        <label for="f1" style="width:27%">Plan No</label>
                                        <input type="text" class="form-control" ng-model="formData.PlanNo" id="f1">
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding-left:6%;">
                                    <div class="form-inline">
                                        <span>
                                            <input class="form-check-input" type="radio"
                                                   id="itemBase" name="baseType"
                                                   ng-model="formData.BaseFlag" value="I"
                                                   ng-change="onBaseFlagChange('I')">
                                            <label class="form-check-label" for="itemBase">Item Base</label>
                                        </span>

                                        <span style="padding-left:2%;">
                                            <input class="form-check-input" type="radio"
                                                   id="orderBase" name="baseType"
                                                   ng-model="formData.BaseFlag" value="O"
                                                   ng-change="onBaseFlagChange('O')">
                                            <label class="form-check-label" for="orderBase">Order Base</label>
                                        </span>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-inline">
                                        <label for="f7" style="width:27%">Plan Date: </label>

                                        <input id="englishdatedocument1" kendo-date-picker
                                               ng-model="formData.planDateAd" style="width:40%;"
                                               k-options="monthSelectorOptionsSingle1" data-toggle="tooltip" title="Select date" />


                                        <input type="text" id="nepaliDate51"
                                               ng-model="formData.planDateBs"
                                               data-checkfor="englishdatedocument"
                                               onchange="ConvertNepToEng(this)"
                                               data-toggle="tooltip"
                                               title="Select date" class="nepali-calendar" style="width:30%;" />
                                        <i class="fa fa-calendar form-control-feedback calendar-icon-2"
                                           data-toggle="tooltip" title="Select date"></i>

                                    </div>
                                </div>
                            </div>

                            <!-- Row 2 -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-inline">
                                        <label for="f2" style="width:27%">Plan Name <span style="color:red;">*</span></label>
                                        <input type="text" class="form-control" ng-model="formData.PlanName">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-inline">
                                        @*<label for="f5">Item 5:</label>
                                            <input type="text" class="form-control" id="f5">*@
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-inline">
                                        <label style="width:27%" for="f8">Plan Based On</label>
                                        <select id="planType" class="form-select"
                                                ng-model="formData.PlanBaseOn"
                                                ng-options="plan.Value as plan.Name for plan in planOptions">
                                            <option value="">-- Please select --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- Row 3 -->
                            <div class="row">
                                <div class="col-md-4">

                                    <div class="form-inline input-icon">
                                        <label for="f3">{{formData.BaseFlag == 'O' ? 'Order No' : 'Product Name'}} <span style="color:red;">*</span> </label>
                                        <input type="text" class="form-control" ng-model="formData.ProductName" ng-show="formData.BaseFlag != 'O'">
                                        <input type="text" class="form-control" ng-model="formData.OrderNo" ng-show="formData.BaseFlag == 'O'">
                                        <span ng-click="OpenProductTreeView();" style="cursor:pointer;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                                                <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z" />
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    @*<div class="form-inline">
                                            <label for="f6">Item 6:</label>
                                            <input type="text" class="form-control" id="f6">
                                        </div>*@
                                </div>
                                <div class="col-md-4">
                                    <div class="form-inline input-icon">
                                        <label for="f9" style="width:27%">Resource Name</label>
                                        <input type="text" class="form-control" ng-model="formData.ResourceName">
                                        <span ng-click="OpenResourceSearchPopupModel();" style="cursor:pointer;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                                                <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z" />
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div>
                            <form>
                                @*<div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group row mb-3">
                                                <label for="itemName" class="col-sm-4 col-form-label">Plan No</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="formData.PlanNo">
                                                </div>
                                            </div>

                                            <div class="form-group row mb-3">
                                                <label for="itemName" class="col-sm-4 col-form-label">Plan Name <span style="color:red;">*</span> </label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="formData.PlanName">
                                                </div>
                                            </div>

                                            <div class="form-group row mb-3">
                                                <div ng-if="formData.BaseFlag=='I'">
                                                    <label for="itemName" class="col-sm-4 col-form-label">Product Name <span style="color:red;">*</span></label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" ng-model="formData.ProductName">
                                                    </div>
                                                </div>

                                                <div ng-if="formData.BaseFlag=='O'">
                                                    <label for="orderNo" class="col-sm-4 col-form-label">Order No <span style="color:red;">*</span></label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" ng-model="formData.OrderNo">
                                                    </div>
                                                </div>

                                                <div style="cursor:pointer;">
                                                    <span ng-click="OpenProductTreeView();">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                                                            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z" />
                                                        </svg>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>





                                        <div class="col-md-3">
                                            <div class="form-group row mb-3">
                                                <label for="itemName" class="col-sm-4 col-form-label"></label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                           id="itemBase" name="baseType"
                                                           ng-model="formData.BaseFlag" value="I">
                                                    <label class="form-check-label" for="itemBase">
                                                        Item Base
                                                    </label>
                                                </div>

                                                <div class="form-check form-check-inline">

                                                    <label for="itemName" class="col-sm-4 col-form-label"></label>
                                                    <input class="form-check-input" type="radio"
                                                           id="orderBase" name="baseType"
                                                           ng-model="formData.BaseFlag" value="O">
                                                    <label class="form-check-label" for="orderBase">
                                                        Order Base
                                                    </label>

                                                </div>
                                            </div>
                                        </div>





                                        <div class="col-md-5">
                                            <div class="form-group row mb-3">
                                                <label for="description" class="col-sm-4 col-form-label">Plan Date</label>
                                                <div class="col-sm-4">
                                                    <input id="englishdatedocument1" kendo-date-picker
                                                           ng-model="formData.planDateAd"
                                                           k-options="monthSelectorOptionsSingle1" data-toggle="tooltip" title="Select date" />
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" id="nepaliDate51" ng-model="formData.planDateBs" data-checkfor="englishdatedocument" onchange="ConvertNepToEng(this)" data-toggle="tooltip" title="Select date" class="nepali-calendar" />
                                                    <i class="fa fa-calendar form-control-feedback calendar-icon-2" data-toggle="tooltip" title="Select date"></i>
                                                </div>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label for="quantity" class="col-sm-4 col-form-label">Plan Based On </label>
                                                <div class="col-sm-8">
                                                    <select id="planType" class="form-select"
                                                            ng-model="formData.PlanBaseOn"
                                                            ng-options="plan.Value as plan.Name for plan in planOptions">
                                                        <option value="">-- Please select --</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label for="sourceName" class="col-sm-4 col-form-label">Resource Name </label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" ng-model="formData.ResourceName">
                                                </div>
                                                <div style="cursor:pointer;">
                                                    <span ng-click="OpenResourceSearchPopupModel();">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                                                            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z" />
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>*@

                                @* Related Item Order List*@
                                <div style="padding-top:1%;">
                                    <table style="border-collapse: collapse;" border="1" cellspacing="0" cellpadding="5" class="table table-bordered table-striped table-hover">
                                        <thead class="table-light">
                                            <tr style="background-color: #F3F3F3;">
                                                <th style="width: 5%;">Sr No</th>
                                                <th style="width: 8%;">Order Date</th>
                                                <th style="width: 15%;">Order No</th>
                                                <th style="width: 8%;">Delivery Date</th>
                                                <th>Item Name</th>
                                                <th>Customer Name</th>
                                                <th style="text-align:right; width: 8%;">Quantity</th>
                                                <th style="width: 5%;">Select</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*|| dataObject.IsUpdateMode == 'Edit'*@
                                            <tr ng-if="!dataObject.RelatedItemOrderList || dataObject.RelatedItemOrderList.length === 0 ">
                                                <td colspan="8" class="text-center"><span style="padding:10px;"></span></td>
                                            </tr>
                                            @*ng-if="dataObject.IsUpdateMode == ''*@
                                            <tr ng-repeat="order in dataObject.RelatedItemOrderList track by $index" ng-if="dataObject.RelatedItemOrderList && dataObject.RelatedItemOrderList.length">
                                                <td>{{ $index + 1 }}  </td>
                                                <td>{{ order.ORDER_DATE | date:'dd-MMM-yyyy' }}</td>
                                                <td>{{ order.ORDER_NO }}</td>
                                                <td>{{ order.DELIVERY_DATE | date:'dd-MMM-yyyy' }}</td>
                                                <td>{{ order.ITEM_EDESC  }}</td> <!-- fallback name if null -->
                                                <td>{{ order.CUSTOMER_EDESC }}</td>
                                                <td style="text-align:right;">{{ order.QUANTITY }}</td>
                                                <td><input type="checkbox" ng-model="order.selected" ng-change="onOrderChecked(order)"></td>
                                            </tr>



                                        </tbody>
                                    </table>
                                </div>

                                <div class="row" style="padding-top:10px;">
                                    <div class="col-md-4">
                                        <div class="form-inline">
                                            <label for="f1oq" style="width:26%">Order Quantity</label>
                                            <input type="text" class="form-control" ng-model="formData.OrderQuantity" id="f1oq">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-inline">
                                            <label for="f1Qty" style="width:35%">Plan Quantity <span style="color:red;">*</span> </label>
                                            <input type="text" class="form-control" ng-model="formData.PlanQuantity" id="f1Qty">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-inline">
                                            <button type="button" class="btn btn-danger" ng-click="getRawMaterialList();">Raw/Packing Material Calculation</button>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group row mb-3">
                                                <label for="orderQuantity" class="col-sm-4 col-form-label">Order Quantity</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control bg-warning-subtle" ng-model="formData.OrderQuantity">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group row mb-3">
                                                <label for="planQuantity" class="col-sm-4 col-form-label">Plan Quantity <span style="color:red;">*</span> </label>
                                                <div class="col-sm-4 d-flex">
                                                    <input type="text" class="form-control bg-warning-subtle me-2" ng-model="formData.PlanQuantity">
                                                </div>
                                                <div class="col-sm-4 d-flex">
                                                    <button type="button" class="btn btn-danger" ng-click="getRawMaterialList();">Raw/Packing Material Calculation</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                            </form>
                        </div>

                    </fieldset>

                    <br />
                    <div class="row" style="background-color:none; padding:0px 15px;">
                        <div>
                            <div class="row">
                                <!-- Top Left Section -->
                                <div class="col-md-9">
                                    <table class="table table-bordered" style="border-collapse: collapse;">
                                        <thead>
                                            <tr style="background-color: #F3F3F3;">
                                                <th>Godown</th>
                                                <th>Product Name</th>
                                                <th style="width:5%">Unit</th>
                                                <th style="width:9%" title="Stock Quantity">Stock Quantity</th>
                                                <th style="width:8%" title="LYCM Sale">LYCM Sale</th>
                                                <th style="width:13%" title="Production in Pipeline">Production in Pipeline</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="!dataObject.ProductionPipeLineDataList || dataObject.ProductionPipeLineDataList.length === 0">
                                                <td colspan="6" class="text-center">Pipeline items</td>
                                            </tr>
                                            <tr ng-repeat="item in dataObject.ProductionPipeLineDataList">
                                                <td>{{ item.LOCATION_EDESC }}</td>
                                                <td>{{ item.ITEM_EDESC || 'N/A' }}</td>
                                                <td>{{ item.MU_CODE }}</td>
                                                <td style="text-align:right; width:8%">{{ item.BALANCE_QUANTITY  }}</td>
                                                <td>{{  }}</td>
                                                <td style="text-align:right; width:8%">{{ item.PLAN_QUANTITY }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- Top Right Section -->
                                <div class="col-md-3">
                                    <table class="table table-bordered" style="border-collapse: collapse;">
                                        <thead>
                                            <tr style="background-color: #F3F3F3;">
                                                <th>Batch</th>
                                                <th style="text-align:right; width:30%">Quantity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="!dataObject.BatchInfoList || dataObject.BatchInfoList.length === 0">
                                                <td colspan="2" class="text-center">Details</td>
                                            </tr>
                                            <tr ng-repeat="item in dataObject.BatchInfoList" ng-if="dataObject.BatchInfoList && dataObject.BatchInfoList.length">
                                                <td>{{ item.BATCH_NO }}</td>
                                                <td style="text-align:right; width:8%">
                                                    @*{{ item.QUANTITY || 'N/A' }}*@
                                                    <input type="text" class="form-control input-sm" ng-model="item.QUANTITY " placeholder="Enter Qty">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="row">
                                <!-- Bottom Full Width Section -->
                                <div class="col-md-12">
                                    <table class="table table-bordered" style="border-collapse: collapse;">
                                        <thead>
                                            <tr style="background-color: #F3F3F3;">
                                                <th>Process</th>
                                                <th>Routine / BOM</th>
                                                <th>Product Name</th>
                                                <th style="width: 5%;">Unit</th>
                                                <th style="width: 7%; text-align: right;">Quantity</th>
                                                <th style="width: 9%; text-align: right;" title="RM/PM Reserved For Prod. in Pipeline">RM/PM Reserved For Prod. in Pipeline</th>
                                                <th style="width: 9%; text-align: right; " title="Require RM/PM for Production">Require RM/PM for Production</th>
                                                <th style=" text-align: center;" ng-if="selectedFormDetails.RequisitionFormCodeValue" title="All (Require RM/PM)">
                                                    <input type="checkbox" ng-model="dataObject.selectAllRequired" ng-change="toggleSelectAllRequired()" title="Select all" />
                                                    All (Require RM/PM)
                                                </th>
                                                <th style="width: 9%; text-align: right; " title="Variance in Stock">Variance in Stock</th>
                                                <th style=" text-align: center;" ng-if="selectedFormDetails.IndendFormCodeValue" title="All (Variance)">
                                                    <input type="checkbox" ng-model="dataObject.selectAllVariance" ng-change="toggleSelectAllVariance()" title="Select all variance" />
                                                    All (Variance)
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*{{groupedData|json}}*@
                                            <tr ng-repeat="group in groupedData" ng-if="groupedData.length">
                                                <td ng-if="group._typeRowspan" rowspan="{{group._typeRowspan}}">{{group.PROCESS_TYPE_EDESC}}</td>
                                                <td ng-if="group._processRowspan" rowspan="{{group._processRowspan}}">{{group.PROCESS_EDESC}}</td>
                                                <td>{{group.ITEM_EDESC}}</td>
                                                <td>{{group.INDEX_MU_CODE}}</td>
                                                <td style="text-align: right;">{{group.STOCK}}</td>
                                                <td style="text-align: right;">{{group.PLAN_QUANTITY | number:2}}</td>
                                                <td style="text-align: right;">{{group.REQUIRED_QUANTITY | number:2}}</td>
                                                <td style="text-align: center;" ng-if="selectedFormDetails.RequisitionFormCodeValue"><input type="checkbox" ng-model="group.isRequired" ng-change="onRequiredRowChange(group)" /></td>
                                                <td style="text-align: right;">{{(group.STOCK - (group.PLAN_QUANTITY + group.REQUIRED_QUANTITY )) | number:2}}  </td>
                                                <!-- NEW: Individual variance checkbox -->
                                                <td style="text-align: center;" ng-if="selectedFormDetails.IndendFormCodeValue">
                                                    <input type="checkbox" ng-model="group.isVarianceSelected" ng-change="onVarianceRowChange(group)" />
                                                </td>
                                            </tr>
                                            <tr ng-if="groupedData && groupedData.length">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align: center;" ng-if="selectedFormDetails.RequisitionFormCodeValue">
                                                    <button type="button" class="btn btn-sm btn-success" ng-click="generateRequisition()" style="text-wrap-mode: wrap;">Generate Requisition</button>
                                                </td>
                                                <td></td>
                                                <td style="text-align: center;" ng-if="selectedFormDetails.IndendFormCodeValue">
                                                    <button type="button" class="btn btn-sm btn-success" ng-click="generateVarianceReport()" style=" text-wrap-mode: wrap;">Generate Indent</button>
                                                </td>
                                            </tr>
                                            @*second try*@

                                            <!--<tr ng-repeat="item in dataObject.RawMaterialMainList track by $index">
                                            <td>{{ item.PROCESS_TYPE_EDESC }}  </td>
                                            <td>{{ item.PROCESS_EDESC }}</td>
                                            <td>{{ item.ITEM_EDESC }}</td>
                                            <td>{{ item.INDEX_MU_CODE }}</td>
                                            <td>{{ item.STOCK  }}</td>-->
                                              <!-- fallback name if null -->
                                            <!--<td>{{ item.PLAN_QUANTITY | number:2 }}</td>
                                                <td style="text-align: right;">{{ item.REQUIRED_QUANTITY | number:2 }}</td>
                                                <td style="text-align:right;">{{ (item.STOCK - (item.PLAN_QUANTITY + item.REQUIRED_QUANTITY )) | number:2}}</td>
                                            </tr>-->
                                            @*First try*@
                                            @*<tr ng-if="!dataObject.groupedItems || dataObject.groupedItems.length === 0">
                                                <td colspan="8" class="text-center"> Required quantity </td>
                                                </tr>
                                                <tr ng-repeat-start="(processType, processGroups) in dataObject.groupedItems"></tr>
                                                <tr ng-repeat-start="(routine, items) in processGroups">
                                                <td ng-if="$first" rowspan="{{ getTotalItemCount(processGroups) }}">
                                                {{ processType }}
                                                </td>
                                                <td ng-if="$first" rowspan="{{ items.length }}">
                                                {{ routine }}
                                                </td>
                                                <td>{{ items[0].ITEM_EDESC }}</td>
                                                <td>{{ items[0].INDEX_MU_CODE }}</td>
                                                <td style="text-align: right;">{{ items[0].STOCK  }}</td>
                                                <td style="text-align: right;">{{ items[0].PLAN_QUANTITY | number:2 }}</td>
                                                <td style="text-align: right;">{{ items[0].REQUIRED_QUANTITY | number:2 }}</td>
                                                <td style="text-align: right;">{{ (items[0].STOCK - (items[0].PLAN_QUANTITY + items[0].REQUIRED_QUANTITY )) | number:2}}</td>
                                                </tr>
                                                <tr ng-repeat="item in items.slice(1)">
                                                <td>{{ item.ITEM_EDESC }}</td>
                                                <td>{{ item.INDEX_MU_CODE }}</td>
                                                <td style="text-align: right;">{{ item.STOCK | number:2 }}</td>
                                                <td style="text-align: right;">{{ item.PLAN_QUANTITY | number:2}}</td>
                                                <td style="text-align: right;">{{ item.REQUIRED_QUANTITY | number:2 }}</td>
                                                <td style="text-align: right;">{{ (item.STOCK - (item.PLAN_QUANTITY + item.REQUIRED_QUANTITY ) ) | number:2 }}</td>
                                                </tr>
                                                <tr ng-repeat-end></tr>
                                                <tr ng-repeat-end></tr>*@

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary" ng-click="submitPlan()">Submit</button>
                </div>

                <!-- JSON Output Modal -->
                <div id="jsonOutputModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Selected Items JSON</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <pre style="white-space: pre-wrap; word-break: break-word; max-height: 60vh; overflow: auto;">{{ jsonPreview }}</pre>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" ng-click="copyJsonToClipboard()">Copy</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>
</div>



@*Tree model View*@
<div id="TreeViewPopupModel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Search </h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body container-fluid">



                <div class="row">
                    <div class="col-md-3 col-sm-3" style="height: 350px; overflow: scroll; overflow-x: hidden">
                        <!-- Left Column (small) -->
                        <div class="portlet light">
                            <div id="treeviewPPlan" kendo-tree-view="tree"
                                 k-data-source="treeData"
                                 k-on-change="onTreeSelect(dataItem)"
                                 k-options="treeOptions">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6" style="height: 350px; overflow: scroll; overflow-x: hidden ">
                        <!-- Middle Column (large) -->
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Item Code</th>
                                    <th>Item Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*  {{dataObject.productItemList|json}}*@
                                <tr ng-repeat="item in dataObject.productItemList" style="cursor:pointer;" ng-class="{ 'active-selected-resource-row': dataObject.SelectProductItem === item }"
                                    ng-click="$evalAsync(GetProductItemDetails(item,item.item_code,true))"
                                    ng-dblclick="SelectAndCloseProductPopup()">
                                    <td>{{ item.item_code }}</td>
                                    <td>{{ item.item_edesc }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="col-md-3 col-sm-3" style="height: 350px; overflow: scroll; overflow-x: hidden">
                        <!-- Right Column (small) -->
                        <div class="portlet light">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <tr>
                                        <th>Title</th>
                                        <th>Value</th>
                                    </tr>
                                    <tr>
                                        <td>Code</td>
                                        <td>{{dataObject.productItemDetails.CODE}}</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>{{dataObject.productItemDetails.NAME}}</td>
                                    </tr>
                                    <tr>
                                        <td>Category</td>
                                        <td>{{dataObject.productItemDetails.CATEGORY}}</td>
                                    </tr>
                                    <tr>
                                        <td>Unit</td>
                                        <td>{{dataObject.productItemDetails.UNIT}}</td>
                                    </tr>
                                    <tr>
                                        <td>HS Code</td>
                                        <td>{{dataObject.productItemDetails.HS_CODE}}</td>
                                    </tr>

                                    <tr ng-if="dataObject.productItemDetails && dataObject.productItemDetails.stockLocationInfo && dataObject.productItemDetails.stockLocationInfo.Quantity">
                                        <th>Location</th>
                                        <th>Stock</th>
                                    </tr>
                                    <tr ng-if="dataObject.productItemDetails && dataObject.productItemDetails.stockLocationInfo && dataObject.productItemDetails.stockLocationInfo.Quantity">
                                        <td>{{dataObject.productItemDetails.stockLocationInfo.LocationEdesc}}</td>
                                        <td>{{dataObject.productItemDetails.stockLocationInfo.Quantity}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    @*Tree Search*@
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="planQuantity" class="col-sm-2 col-form-label">Search  </label>
                            <div class="col-sm-8 d-flex">
                                <input type="text" class="form-control bg-warning-subtle me-2" ng-model="dataObject.ItemSearchText" ng-keypress="checkEnterItemSearch($event)">
                            </div>
                            <div>
                                <button class="btn btn-success" type="button" ng-click="searchProductItems()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>




@*Resource Model View*@
<div id="ResourceViewPopupModel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Search </h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body container-fluid">
                <div class="row">
                    <div class="col-md-12">






                        <div class="col-md-1">
                            <label class="control-label">Find</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="form-control" placeholder="Search..." ng-model="dataObject.SearchText">
                        </div>
                        <div class="col-md-2" style="">
                            <button class="btn btn-success" type="button" ng-click="searchResource()" style="height: 26px !important; padding-top: 4px !important;">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <br />



                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Resource Name</th>
                            <th>Resource No</th>
                            @*<th>Action</th>*@
                        </tr>
                    </thead>
                    <tbody ng-if="dataObject.ResourceList.length">



                        <!--<tr ng-repeat="resource in dataObject.ResourceList | filter:dataObject.SearchText"
                        ng-class="{ 'active-selected-resource-row': dataObject.SelectedResource === resource }"
                        ng-click="confirmResourceSelection(resource)">
                        <td>{{ resource.RESOURCE_EDESC }}</td>
                        <td>{{ resource.RESOURCE_CODE }}</td>-->
                        @*<td> Select</td>*@
                        <!--</tr>-->


                        <tr ng-repeat="resource in dataObject.ResourceList | filter:dataObject.SearchText"
                            ng-class="{ 'active-selected-resource-row': dataObject.SelectedResource === resource }"
                            ng-click="confirmResourceSelection(resource)">
                            <td>{{ resource.RESOURCE_EDESC }}</td>
                            <td>{{ resource.RESOURCE_CODE }}</td>
                        </tr>


                    </tbody>
                </table>

                <div class="text-right">
                    <button class="btn btn-primary" ng-click="confirmResourceSelection({},'ok')">OK</button>
                    <button class="btn btn-default" ng-click="confirmResourceSelection({},'cancle')">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>





@*Order search model*@
<div id="OrderSearchViewPopupModel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order List </h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body container-fluid">
                <div class="row">
                    <div class="col-md-12">


                        <div class="container">
                            <div class="col-md-12">
                                <div class="col-md-1">
                                    <label class="control-label">Find</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" placeholder="Search..." ng-model="dataObject.SearchText" ng-keydown="checkEnterOrderSearch($event)">

                                </div>
                                <div class="col-md-2" style="">
                                    <button class="btn btn-success" type="button" ng-click="searchOrder(dataObject.SearchText)" style="height: 26px !important; padding-top: 4px !important;">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div style="height: 350px; overflow: scroll; overflow-x: no-display; padding-top:10px;">
                            <table class="table table-bordered table-fixed">
                                <thead>
                                    <tr>
                                        <th>Order No</th>
                                        <th>Order Date</th>
                                        <th>Customer Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor:pointer;" ng-repeat="order in dataObject.OrderList"
                                        ng-class="{ 'active-selected-resource-row': dataObject.SelectedOrder === order }"
                                        ng-click="confirmOrderSelection(order,'')"
                                        ng-dblclick="confirmOrderSelection({},'ok')">
                                        <td>{{ order.ORDER_NO }}</td>
                                        <td>{{ order.ORDER_DATE | date:'M/d/yyyy' }}</td>
                                        <td>{{ order.CUSTOMER_EDESC }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="text-right">
                            <button class="btn btn-primary" ng-click="confirmOrderSelection({},'ok')">OK</button>
                            <button class="btn btn-default" ng-click="confirmOrderSelection({},'cancle')">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>